@charset "UTF-8";
/* CSS Document */


/* mEDIAQUERIES */

/* CUSTOM MQ for slider-heights */





@media screen and (max-width: 1920px) and (max-height: 1200px){
  :root{ font-size:16px;}
  .slider-wrapper { height: calc(75vh - 50px);}
  .slider-nav-wrapper {min-height: calc(25vh - 50px);}
  .slider-nav .nav-item-icon img{ width:7rem; height:7rem; margin: 0 2rem;}
  .animation-wrapper { max-width: 80rem; }
  .slider .sez-01-item > div:first-child { max-width:6rem;}
  .sez-02-item[aria-expanded="true"]:before {top: -2.5rem;}
  .collapse-wrapper > div.overflow-h { max-height: 55vh;}
}

@media screen and (max-width: 1440px) and (max-height: 1024px){
  :root{ font-size:12px;}
  .slider-wrapper { height: calc(75vh - 50px);}
  .slider-nav-wrapper {min-height: calc(25vh - 50px);}
  .slider-nav .nav-item-icon img{ width:8rem; height:8rem; margin: 0 2rem;}
  .animation-wrapper { max-width: 50rem; }
  .sez-01-item img { height: 5rem; width: 5rem;}
}


@media screen and (max-width: 1440px) and (max-height: 820px){
  .slider-wrapper { height: calc(80vh - 50px);}
  .slider-nav-wrapper {min-height: calc(20vh - 50px);}
  .slider-nav .nav-item-icon img{ width:6rem; height:6rem; margin: 0 2rem;}
  .slider .sez-01-item > div:first-child {
    max-width: 6rem;
  }
  .sez-01-item img { height: 6rem; width: 6rem;}
}

@media screen and (max-width: 1280px) and (max-height: 820px){
  .collapse-wrapper > div.overflow-h { max-height: inherit;}
  .slider-nav .nav-item-icon img {
    width: 4rem;
    height: 4rem;
    margin: 0;
  }
  .nav-item-megatrend-icon-mobile{
    position: absolute;
    top:-4rem;
  }
  :root{ font-size:13px;}
  .slider-wrapper { height: auto;}
  .slider-wrapper .slider > div{ height: auto; opacity:1!important; padding-top:2rem;padding-bottom:2rem; text-align: center;}
  .slider-nav-wrapper {height: calc(15vh - 50px);}
  .animation-wrapper { max-width: 40rem; }
  .slider-nav-wrapper.expanded {min-height: 100vh; height:100%; overflow:inherit;}
  .round { width: 4rem; height: 4rem;}
  .sez-01-item .round span, .sez-02-item:not([aria-expanded="false"]) .round span{ font-size:3rem!important}

  .sez-01 .p-2{ padding:1rem!important;}
  .sez-01 .mb-3{ margin-bottom:0!important;}
  .collapse-img-container { min-height:13rem;}
  .sez-01 .fz-40 { font-size:2rem!important;}
  .navbar-fixed-bottom {position:relative; margin-bottom: -1rem;}
  .bandiera-wrapper { padding:0; border-left:0; border-top:4px}
  .bandiera-wrapper h4 { margin:0;}
  .bandiera {
    padding: 0 1rem;
    overflow: hidden;
    display: block;
    vertical-align: middle;
    text-align: center;
    margin: 0 1rem;
    position: relative;
  }
  .bandiera:after {
    content: '';
    position: absolute;
    right:0;
}

  .nav-item-icon-mobile {
    border-radius:50%;
    margin-top: -5.7rem;
    margin-bottom:1rem;
  }
  .slider-wrapper .slider > div { padding-bottom:6rem;}
  .slider-wrapper .slider > div[class^="bg-cover"]{
    z-index:0!important;
  }
  .slider-wrapper .slider > div[class^="bg-color-"]:nth-child(1){
    z-index:2!important;
  }
  .slider-wrapper .slider > div[class^="bg-color-"]:nth-child(2){
    z-index:3!important;;
  }
  .slider-wrapper .slider > div[class^="bg-color-"]:nth-child(3){
    z-index:4!important;;
  }
  .slider-wrapper .slider > div[class^="bg-color-"]:nth-child(4){
    z-index:5!important;;
  }
  .slider-wrapper .slider > div[class^="bg-color-"]:nth-child(5){
    z-index:6!important;;
  }

  .bandiera:before {
    content:'';
    display: inline-block;
    vertical-align: middle;
    margin-left: 0;
    position: absolute;
    left:0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 2rem 0 2rem 1rem;
    border-color: transparent #007bff transparent transparent;
  }
  .bg-color-01 .bandiera:before {
      border-color: transparent transparent transparent #073586;
  }
  .bg-color-02 .bandiera:before {
      border-color: transparent transparent transparent #8DD3F0
  }

  .bg-color-03 .bandiera:before {
      border-color: transparent transparent transparent #80B827;
  }
  .bg-color-04 .bandiera:before {
      border-color: transparent transparent transparent #2ABBF0;
  }
  .bg-color-05 .bandiera:before {
      border-color: transparent transparent transparent #DDDDDD;
  }
  .sez-01-item img{ margin:0 auto; height:8rem; width:8rem}
  .sez-01-item .pl-1.text-left { text-align: center!important; margin-top:-1.5rem;}
  .close-collapse-mobile { position:absolute; right: .5rem; top:.5rem;}
  [class*="sez-0"] { margin: 0 -5px;}
  .nav .btn { white-space:normal; }
  .logoFondi img, .logoiShares img {
     max-width:150px;
     margin: 0 auto;
  }
  .slider-nav-wrapper.expanded [class^="nav-item-0"]:after {
    height: 10rem;
    width: 10rem;
    top: calc(50% - 5rem);
    left: calc(50% - 5rem);
  }
}
}

@media screen and (max-width: 800px) and (max-height: 768px){
  .slider .sez-01-item > div:first-child {
    max-width: 6rem;
    margin: 1rem auto;
  }
}
