@charset "UTF-8";
/* CSS Document */

/* SCROLLMAGIC SCENES */
    /* Hide Slidere*/

/* data-tab="soluzioni-investimento" */

.slider-wrapper.out {
    -webkit-transition:all 1s ease-in-out;
    -o-transition:all 1s ease-in-out;
    transition:all 1s ease-in-out;
    -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: center top;
        -ms-transform-origin: center top;
            transform-origin: center top;
    overflow:hidden;
}

.slider-nav-wrapper.expanded  .nav-iten-title {
    display: none;
}

.slider-nav-wrapper.expanded .nav-item-icon {
  position:relative;
  z-index: 10;
  text-align: center;
}
.slider-nav-wrapper.expanded .nav-item-icon:hover img{
  transform:scale(0);
}
.slider-nav-wrapper.expanded .nav-item-icon:hover{
  transform:scale(1);
}

.slider-nav-wrapper.expanded .nav-item-icon:before{
  content:attr(data-title);
  position: absolute;
  font-family: 'avenir_bold', arial, sans-serif;
  transform:scale(0);
  transition: transform .3s ease-in-out;
}
.slider-nav-wrapper.expanded .nav-item-icon:hover:before{
  transform:scale(1);
}

.slider-wrapper.out .container {
    -webkit-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
    opacity:0;
}


.slider-nav-wrapper.expanded {
    width:100%;
    height: 100vh;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    top:0;
    left: 0;
    background: #fff;
    position: relative;
    z-index: 10;
}

.slider-nav-wrapper.expanded .nav-item-00 {
    display:none;
}
.slider-nav-wrapper.expanded  [class^="nav-item-0"] img{
       -webkit-transform:scale(.8);
           -ms-transform:scale(.8);
               transform:scale(.8);
}


.slider-nav-wrapper.expanded [class^="nav-item-0"]{
    position: relative;
    overflow: visible;
    margin: 0;
}
.slider-nav-wrapper.expanded  [class^="nav-item-0"]:after{
    content:'';
    display: block;
    position: absolute;
    height: 17rem;
    width:17rem;
    background: url(images/svg-elements/bg-rounds.svg) no-repeat center center;
    background-size: contain;
    overflow: visible;
    z-index: 0;
    top:calc(50% - 8.5rem);
    left:calc(50% - 8.5rem);
}

.slider-nav-wrapper.expanded .container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    overflow: visible;
}

.slider-nav-wrapper.expanded .collapse-wrapper,
.slider-nav-wrapper.expanded .sez-tab{
    display:block;
    position: relative;
    z-index: 100;
}

[class^='sez-0'] .round,   [class^='sez-02'] button > div{
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    -o-transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.sez-01-item .round {
    position: relative;
    z-index: 10;
}

[class^='sez-0'][aria-expanded="true"] .round{
    -webkit-transform:scale(.7);
        -ms-transform:scale(.7);
            transform:scale(.7);
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
    background: #f1f1f1;
    color:inherit;
}

[data-collapse-position="collapse-bottom"] .sez-01-item:before {
    content:'';
    display:block;
    position:absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3rem 3rem 0 3rem;
    border-color: #fff transparent transparent transparent;
    bottom: 0;
    top:0;
    left: calc(50% - 3rem);
    -webkit-transform:scale(0);
        -ms-transform:scale(0);
            transform:scale(0);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index: 0;

}

[data-collapse-position="collapse-top"] .sez-01-item:before, .sez-02-item:before {
    content:'';
    display:block;
    position:absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 3rem 3rem 3rem;
    border-color: transparent transparent #fff transparent;
    bottom: 0;
    top:0;
    left: calc(50% - 3rem);
    -webkit-transform:scale(0);
        -ms-transform:scale(0);
            transform:scale(0);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index: 0;
}

[data-collapse-position="collapse-bottom"] .sez-01-item[aria-expanded="true"]:before{
    -webkit-transform:scale(1);
        -ms-transform:scale(1);
            transform:scale(1);
    bottom: -4.5rem;
    top:inherit;
}

[data-collapse-position="collapse-top"] .sez-01-item[aria-expanded="true"]:before{
    -webkit-transform:scale(1);
        -ms-transform:scale(1);
            transform:scale(1);
    top: -4.5rem;
    bottom:inherit;
}
.sez-02-item[aria-expanded="true"]:before{
    -webkit-transform:scale(1);
        -ms-transform:scale(1);
            transform:scale(1);
    top: -3.5rem!important;
    bottom:inherit;
}


[data-collapse-position="collapse-top"] [class^='sez-0'][aria-expanded="true"] .round + div.pt-0_5,
.sez-02-item[aria-expanded="true"] .round ~ div{
    -webkit-transform:scale(0);
        -ms-transform:scale(0);
            transform:scale(0);
}

[data-collapse-position="collapse-bottom"] [class^='sez-0'][aria-expanded="true"] > div.pb-0_5{
    -webkit-transform:scale(0);
        -ms-transform:scale(0);
            transform:scale(0);
}

[class^='sez-0'][aria-expanded="true"] .round [class*=icon]:before {
    content:'\e91b';
}

[class^='sez-02-item'][aria-expanded="true"] .round{
  border:0!important;
}


[data-tab="gamma-settoriale"]{
    -webkit-animation: hideSez-01 .3s forwards;
            animation: hideSez-01 .3s forwards;
}
[data-tab="gamma-settoriale"] .collapse-wrapper{
  margin-top:-2rem;
}


[data-tab="fondi-tematici"] [data-tab="gamma-settoriale"] {display:none!important;}
[data-tab="gamma-settoriale"] [data-tab="fondi-tematici"] {display:none!important;}


/* Classes for megatrend associati  ai fondi */
#sliderNavWrapper[data-tab="gamma-settoriale"] {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
#sliderNavWrapper[data-tab="gamma-settoriale"] [class^='nav-item-0'].megatrend-active{
  transform: scale(1.5)!important;
  position: relative;
  z-index: 50;
}


#sliderNavWrapper[data-tab="gamma-settoriale"] [class^='nav-item-0'].megatrend-active{
  transform: scale(1.5)!important;
  position: relative;
  z-index: 50;
}

#sliderNavWrapper[data-tab="gamma-settoriale"] [class^='nav-item-0'].megatrend-inactive{
  filter: grayscale(1);
  opacity: .5;
}



@-webkit-keyframes hideSez-01{from{opacity:0;}to{opacity:1;}}
@keyframes hideSez-01{from{opacity:0;}to{opacity:1;}}

/* CTA Video */
.cta-video-wrapper img {
  max-width: 120px;
  margin: 0 auto;
}
.cta-video-wrapper { position:relative; cursor: pointer;}
.cta-video-wrapper:before{
  content:'';
  background: url(images/svg-elements/video-play.svg) no-repeat center center;
  background-size: cover;
  position: absolute;
  top:calc(50% - 24px);
  left: calc(50% - 24px);
  display:inline-block;
  width:48px;
  height: 48px;
  border-radius: 50%;
  color:inherit;
  vertical-align: middle;
  line-height: 48px;
  transform: scale(0);
  opacity:.87
}
.cta-video-wrapper.stopped:before{
  -webkit-animation: appearPlay .5s ease-in-out forwards;
          animation: appearPlay .5s ease-in-out forwards;

}

@-webkit-keyframes appearPlay {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

@keyframes appearPlay {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

.cta-video-wrapper.stopped svg{ display: none!important;}
.cta-video {
  position: absolute;
  width: 135%;
  height: 135%;
  top: -18px;
  left: -23px;
  z-index: 0;
}


.loader {
  position: relative;
  margin: 0px auto;
  width: 200px;
  height:200px;
}
.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular-loader {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
}

.loader-path {
  stroke-dasharray: 150,200;
  stroke-dashoffset: -10;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}
@-webkit-keyframes color {
  0% {
    stroke: #fff;
  }
  40% {
    stroke: #fff;
  }
  66% {
    stroke: #fff;
  }
  80%, 90% {
    stroke: #fff;
  }
}
@keyframes color {
  0% {
    stroke: #fff;
  }
  40% {
    stroke: #fff;
  }
  66% {
    stroke: #fff;
  }
  80%, 90% {
    stroke: #fff;
  }
}


/* DIV'S ANIMATIONS */
.slick-current [data-step=default] { display:none;}
.slick-current [data-step=active] { display:block;}
