@charset "UTF-8";
/* CSS Document */

@import url(fonts/avenir/avenir.css);

:root {font-size:16px; }

body {
    font-family: 'avenir_light', arial, sans-serif;
    font-size: 16px;
}
*:focus {
    outline:none;
}

/* bottom-shadow */
.bottom-shadow {
  box-shadow: 0 10px 0 0 rgba(0,129,201, 1);
}
/* FONT-HELPER */
    .lh-1 { line-height:1;}

    .fw-black {
        font-family: 'avenir_black', arial, sans-serif;
    }
    .fw-bold {
        font-family: 'avenir_bold', arial, sans-serif;
    }
    .fw-regular {
        font-family: 'avenir_regular', arial, sans-serif;
    }
    .fw-light {
        font-family: 'avenir_light', arial, sans-serif;
    }

	 .fz-750, .fz-750 p {
	     font-size: .750rem!important;
	}
	 .fz-850, .fz-850 p {
	     font-size: .850rem!important;
	}
	 .fz-950, .fz-950 p {
	     font-size: .950rem!important;
	}
	 .fz-8 {
	     font-size: 0.5rem!important;
	}
	 .fz-9 {
	     font-size: 0.5625rem!important;
	}
	 .fz-10 {
	     font-size: 0.6875rem!important;
	}
	 .fz-11 {
	     font-size: 0.6875rem!important;
	}
	 .fz-12 {
	     font-size: 0.75rem!important;
	}
	 .fz-13 {
	     font-size: 0.8125rem!important;
	}
	 .fz-14 {
	     font-size: 0.875rem!important;
	}
	 .fz-15 {
	     font-size: 0.9375rem!important;
	}
	 .fz-16 {
	     font-size: 1rem!important;
	}
	 .fz-17 {
	     font-size: 1.0625rem!important;
	}
	 .fz-18 {
	    /* font-size: 1.125rem;
	     */
	     font-size: 1.125rem!important;
	}
	 .fz-19 {
	    /* font-size: 1.1875rem;
	     */
	     font-size: 1.1875rem!important;
	}
	 .fz-20 {
	    /* font-size: 20px;
	     */
	     font-size: 1.250rem!important;
	}
	 .fz-22 {
	    /*
	    /* font-size: 22px;
	     */
	     font-size: 1.375rem!important;
	}
	 .fz-24 {
	    /* font-size: 24px*/
	     font-size: 1.500rem!important;
	}
	 .fz-26 {
	    /*font-size: 26px;
	    */
	     font-size: 1.625rem!important;
	}
	 .fz-27 {
	    /*font-size: 27px;
	    */
	     font-size: 1.6875rem!important;
	}
	 .fz-28 {
	    /* font-size: 28px;
	     */
	     font-size: 1.750rem!important;
	}
	 .fz-30 {
	    /*font-size: 30px;
	    */
	     font-size: 1.875rem!important;
	}
	 .fz-32 {
	    /*font-size: 32px;
	    */
	     font-size: 2.000rem!important;
	}

	 .fz-34 {
	    /* font-size: 34px;
	     */
	     font-size: 2.125rem!important;
	}
	 .fz-36 {
	    /*font-size: 36px;
	    */
	     font-size: 2.250rem!important;
	}
	 .fz-38 {
	    /*font-size: 38px;
	    */
	     font-size: 2.375rem!important;
	}
	 .fz-40 {
	    /*font-size: 40px;
	    */
	     font-size: 2.500rem!important;
	}
	 .fz-42 {
	    /*font-size: 42px;
	    */
	     font-size: 2.625rem!important;
	}
	 .fz-44 {
	    /*font-size: 44px;
	    */
	     font-size: 2.750rem!important;
	}
	 .fz-46 {
	    /*font-size: 46px;
	    */
	     font-size: 2.875rem!important;
	}
	 .fz-48 {
	    /*font-size: 48px;
	    */
	     font-size: 3.000rem!important;
	}
	 .fz-50 {
	    /* font-size: 50px;
	    */
	     font-size: 3.125rem!important;
	}
	 .fz-56 {
	    /* font-size: 50px;
	    */
	     font-size: 3.5rem!important;
	}
	 .fz-60 {
	    /* font-size: 60px;
	    */
	     font-size: 3.750rem!important;
	}
	 .fz-64 {
	    /* font-size: 60px;
	    */
	     font-size: 4rem!important;
	}
	 .fz-70 {
	    /* font-size: 70px;
	     */
	     font-size: 4.375rem!important;
	}
	 .fz-72 {
	    /* font-size: 70px;
	     */
	     font-size: 4.5rem!important;
	}
	.fz-80 {
	    /* font-size: 80px;
	     */
	     font-size: 5rem!important;
	}
  .fz-90 {
	    /* font-size: 80px;
	     */
	     font-size: 5.6rem!important;
	}
  .fz-92 {
	    /* font-size: 80px;
	     */
	     font-size: 5.72rem!important;
	}
  .fz-94 {
	    /* font-size: 80px;
	     */
	     font-size: 5.84rem!important;
	}
  .fz-96 {
	    /* font-size: 80px;
	     */
	     font-size: 5.96rem!important;
	}

/* CUSTOM MARGINS  */

	html body .custom-margin-10 { margin:10px;}
	html body .m-0 { margin:0!important;}
	html body .mt-0 { margin-top:0!important;}
	html body .mr-0 { margin-right:0!important;}
	html body .mb-0 { margin-bottom:0!important;}
	html body .ml-0 { margin-left:0!important;}

	html body .m-0_5 { margin:.5rem}
	html body .m-1 { margin:1rem}
	html body .m-2 { margin:2rem}
	html body .m-3 { margin:3rem}

	html body .m-0_5 { margin:.5rem;}
	html body .m-1 { margin:1rem;}
	html body .m-1_5 { margin:1.5rem;}
	html body .m-2 { margin:2rem;}
	html body .m-2_5 { margin:2.5rem;}
	html body .m-3 { margin:3rem;}

	html body .ml-0_5 { margin-left:.5rem;}
	html body .ml--0_5 {margin-left:-.5rem}
	html body .ml-1 { margin-left:1rem;}
	html body .ml-1_5 { margin-left:1.5rem;}
	html body .ml-2 { margin-left:2rem;}
	html body .ml-2_5 { margin-left:2.5rem;}
	html body .ml-3 { margin-left:3rem;}

	html body .mt-0_5 { margin-top:.5rem;}
	html body .mt-1 { margin-top:1rem;}
	html body .pt-1_5 { margin-top:1.5rem;}
	html body .mt-2 { margin-top:2rem;}
	html body .mt-2_5 { margin-top:2.5rem;}
	html body .mt-3 { margin-top:3rem;}

	html body .mr-0_5 { margin-right:.5rem;}
	html body .mr-1 { margin-right:1rem;}
	html body .mr-1_5 { margin-right:1.5rem;}
	html body .mr-2 { margin-right:2rem;}
	html body .mr-2_5 { margin-right:2.5rem;}
	html body .mr-3 { margin-right:3rem;}

	html body .mb-0_5 { margin-bottom:.5rem;}
	html body .mb-1 { margin-bottom:1rem;}
	html body .mb-1_5 { margin-bottom:1.5rem;}
	html body .mb-2 { margin-bottom:2rem;}
	html body .mb-2_5 { margin-bottom:2.5rem;}
	html body .mb-3 { margin-bottom:3rem;}

	/* CUSTOM PADDINGS */
	html body .p-0 { padding:0!important;}
	html body .pt-0 {padding-top:0!important;}
	html body .pr-0 {padding-right:0!important;}
	html body .pb-0 {padding-bottom:0!important;}
	html body .pl-0 {padding-left:0!important;}

	html body .p-0_5 { padding:.5rem;}
	html body .p-1 { padding:1rem;}
	html body .p-1_5 { padding:1.5rem;}
	html body .p-2 { padding:2rem;}
	html body .p-2_5 { padding:2.5rem;}
	html body .p-3 { padding:3rem;}

	html body .pl-0_5 { padding-left:.5rem;}
	html body .pl-1 { padding-left:1rem;}
	html body .pl-1_5 { padding-left:1.5rem;}
	html body .pl-2 { padding-left:2rem;}
	html body .pl-2_5 { padding-left:2.5rem;}
	html body .pl-3 { padding-left:3rem;}

	html body .pt-0_5 { padding-top:.5rem;}
	html body .pt-1 { padding-top:1rem;}
	html body .pt-1_5 { padding-top:1.5rem;}
	html body .pt-2 { padding-top:2rem;}
	html body .pt-2_5 { padding-top:2.5rem;}
	html body .pt-3 { padding-top:3rem;}

	html body .pr-0_5 { padding-right:.5rem;}
	html body .pr-1 { padding-right:1rem;}
	html body .pr-1_5 { padding-right:1.5rem;}
	html body .pr-2 { padding-right:2rem;}
	html body .pr-2_5 { padding-right:2.5rem;}
	html body .pr-3 { padding-right:3rem;}

	html body .pb-0_5 { padding-bottom:.5rem;}
	html body .pb-1 { padding-bottom:1rem;}
	html body .pb-1_5 { padding-bottom:1.5rem;}
	html body .pb-2 { padding-bottom:2rem;}
	html body .pb-2_5 { padding-bottom:2.5rem;}
	html body .pb-3 { padding-bottom:3rem;}

    /* WIDTHS */
    .w-100vw {
        width:100vw;
    }

    /* HEIGHTS */
    .h-100 {
        height: 100%;
    }
    .h-100vh {
        height:calc(100vh - 100px);
    }
    .min-h-100vh {
        min-height:calc(100vh - 100px);
    }
    .h-59vh {
        height: 59vh;
    }
    .m-height-25 {
        min-height:25%;

    }


    /* BACKGROUND COLORS */

        /* COLORI GENERALI */
            /* Cover*/
            .bg-color-white { background-color:white;}
            .bg-color-white-alpha-50 {background-color: rgba(255,255,255, .5);}

            .bg-cover { background: url(images/background/cover-bg.png) no-repeat center center; background-size: cover;}
            /* Color 01 elements */
            .bg-color-01 { background-color:#073586;}

            /* Color 02 elements */
            .bg-color-02 { background-color:#8DD3F0;}

            /* Color 03 elements */
            .bg-color-03 { background-color:#80B827;}

            /* Color 04 elements */
            .bg-color-04 { background-color:#2ABBF0;}

            /* Color 04 elements */
            .bg-color-05 { background-color:#DDDDDD;}

        /* COLORI SEZIONE*/
            .sez-01-bg-color-01 {background-color:#0365C0; color:#fff;}

            .sez-01-bg-color-02 {background-color:#81BD41; color:#fff;}

      /* SEZIONE 02 colors */
        .sez-02-bg-color-01 { background: #013360; color:white;}
        .sez-02-bd-color-01 {border: 3px solid #013360}

        .sez-02-bg-color-02 { background: #0365C0; color:white;}
        .sez-02-bd-color-02 {border: 3px solid #0365C0}

        .sez-02-bg-color-03 { background: #DE6A10; color:white;}
        .sez-02-bd-color-03 {border: 3px solid #DE6A10}

        .sez-02-bg-color-04 { background: #00882B; color:white;}
        .sez-02-bd-color-04 {border: 3px solid #00882B}


        .sez-02-color-01 { color: #013360;}

        .sez-02-color-02 { color: #0365C0;}

        .sez-02-color-03 { color: #DE6A10;}

        .sez-02-color-04 { color: #00882B;}


/* COLORS*/
        /* */
        .color-white { color: #fff;}

        .color-01 { color:#073586;}

        .color-02 { color:#8DD3F0;}

        .color-03 { color:#80B827;}

        .color-04 { color:#2ABBF0;}

        .color-05 { color:#DDDDDD;}



/* FONTS */

/* BUTTONS */
button { border:none; background: none; -webkit-box-shadow: none; box-shadow: none;}
.btn-blk { padding:0 0 0 1rem; letter-spacing:2px; background:#ed8c01; text-transform: uppercase; display: inline-block; vertical-align: middle; color:#fff;}
.btn-blk * {display:inline-block; vertical-align: middle;color:#fff;}
.btn-blk:hover, .btn-blk:focus {background:#ed8c01; color:#fff;text-decoration: none;}


.btn-ishares{ padding:0 0 0 1rem; etter-spacing:2px; background:#0c3880; text-transform: uppercase; display: inline-block; vertical-align: middle; color:#fff;}
.btn-ishares * {display:inline-block; vertical-align: middle; color:#fff;}
.btn-ishares:hover, .btn-ishares:focus {background:#0c3880; color:#fff;text-decoration: none;}




/* OVERFLOWS */
    .overflow-h {
        overflow:hidden;
    }
    .overflow-x-h{
      overflow-x:hidden;
    }



/* FLEX */
    .flex-flow-row-wrap {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
    }

    .custom-flex-container {
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        height: 100%;
        -ms-flex-line-pack: end;
            align-content: flex-end;

    }
    .custom-flex-container div.image-container{
        width: 80%;
        margin: 0 auto;
    }





.slider.slick-initialized .slick-slide {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    height: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    -webkit-transform: none!important;
        -ms-transform: none!important;
            transform: none!important;
    position: relative;
    min-width: 100vw!important;
    width:100vw!important;
    overflow: hidden;
}

.slider-nav.slick-initialized .slick-slide, [class^='nav-item-0'] {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    height: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    -webkit-transform: none!important;
        -ms-transform: none!important;
            transform: none!important;
    position: relative;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
            transform-origin: center center;

}


#sliderNavWrapper:not(.expanded) .slider-nav.slick-initialized .slick-slide:not(.nav-item-00).slick-current:before{
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    top: -3rem;
    bottom: inherit;
    left: calc(50% - 3rem);
}
#sliderNavWrapper:not(.expanded) .slider-nav.slick-initialized .slick-slide:not(.nav-item-00):before{
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 3rem 3rem 3rem;
    border-color: transparent transparent #fff transparent;
    bottom: 0;
    top: 0;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index: 0;
}

.slider-wrapper {
    /* height: 75% */
}

.slider-nav-wrapper {
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
        -ms-flex-flow:row wrap;
            flex-flow:row wrap;
}


.slider-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.slider-nav .slick-track,
.slider-nav .slick-list { overflow:visible;}


.slider-nav .nav-item-icon, .nav-item-icon-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

}

.slider-nav .nav-item-icon img{
    -webkit-transform:scale(1);
        -ms-transform:scale(1);
            transform:scale(1);
    margin: 0 4rem;
    display: block;
    text-align: center;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    -o-transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}
.slider-nav .slick-current .nav-item-icon img{
    -webkit-transform:scale(1.2);
        -ms-transform:scale(1.2);
            transform:scale(1.2);
}
.slider-nav .nav-iten-title {
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    -o-transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
    font-size:1rem;
}
.slider-nav .slick-current .nav-iten-title{
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}
.slider {
    position:relative;
    height:100%;
}

.slider .slick-track {
    height:100%;

}
.slider-nav .slick-track {
    -webkit-transform:none!important;
        -ms-transform:none!important;
            transform:none!important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.bandiera-wrapper {}

.bandiera {
  padding:0 0 0 1.5rem;
  overflow: hidden;;
  line-height: 4rem;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  margin-left:-1rem;
}
/* .bandiera:after {
  content:'';
  display: inline-block;
  vertical-align: middle;
  margin-left: 1rem;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 2rem 1rem 2rem 0;
  border-color: transparent #007bff transparent transparent;
}

.bg-color-02 .bandiera{
    background-color:#80B826;
}
.bg-color-01 .bandiera:after {
    border-color: transparent #073586 transparent transparent;
}
.bg-color-02 .bandiera:after {
    border-color: transparent #8DD3F0 transparent transparent;
}
.bg-color-03 .bandiera{
    background-color:#D3DB00;
    color:#80B827;
}

.bg-color-03 .bandiera:after {
    border-color: transparent #80B827 transparent transparent;
}

.bg-color-04 .bandiera {
  background-color:#fff;
  color:#107FBF
}
.bg-color-04 .bandiera:after {
    border-color: transparent #2ABBF0 transparent transparent;
}

.bg-color-05 .bandiera {
  background-color:#91C141;
  color:#fff
}
.bg-color-05 .bandiera:after {
    border-color: transparent #DDDDDD transparent transparent;
}*/



@-webkit-keyframes ProgressDots{from{width:0px;}to{width:100%;}}
@keyframes ProgressDots{from{width:0px;}to{width:100%;}}





/* SEZEIONE ITEMS */

.sez-01-items {position: relative; z-index: 10;}
.sez-tab,
.collapse-wrapper {
    display:none;
}
[class*="sez-0"] {
    text-align:center;
}
.round {
    border-radius: 50%;
    width:7rem;
    height:7rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin:0 auto;
}

.btn:active, .btn:focus {
    outline:none!important;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.nav { border-radius: 0;}
.nav .btn {
    border:0;
    padding: 2rem;
    background: #f1f1f1;
    -webkit-box-shadow: none;
            box-shadow: none;
    color:rgba(0,0,0, .3);
    overflow: hidden;
    position: relative;
    z-index: 10;
}


.nav .btn.active {
    background: #fff;
    color: #0081C9;
    z-index: 20
}

.fast { -webkit-animation-duration: .5s; animation-duration: .5s}
.more-fast { -webkit-animation-duration: .3s; animation-duration: .3s}
.step-01 {
    -webkit-animation-delay: .2s;
            animation-delay: .2s;
}
.step-02 {
    -webkit-animation-delay: .4s;
            animation-delay: .4s;
}
.step-03 {
    -webkit-animation-delay: .6s;
            animation-delay: .6s;
}

.step-04 {
    -webkit-animation-delay: .8s;
            animation-delay: .8s;
}
.step-05 {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
}
.step-06 {
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s;
}
.step-07 {
    -webkit-animation-delay: 1.4s;
            animation-delay: 1.4s;
}

/* NO COMMIT */
.animation-wrapper > img{ max-width:680px;}
