//== Animations
//

@keyframes slidein-t-r {
  from {top: -200%; right: -200%}
  to {top: -25%; right: -50%}
}

@keyframes slidein-c-l {
  from {left: -200%;}
  to {left: 0}
}

.delayed--1 {
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}
.delayed--2 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.delayed--3 {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.delayed--4 {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.duration--1 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.duration--15 {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
.duration--2 {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.ifIsVisible {
  opacity: 0;
  &.animated {
    opacity: 1;
  }
}

// Topics

// energy

#energy{
  width: 165px;
  margin: 0 auto 20px;
  cursor: pointer;
}

.circle{
  padding: 30px;
}

#paleVento:hover{
  animation: ruota 4.5s ease;
  transform-origin: center;
  transform-box: fill-box;
}

#palevento:hover #vento{
  animation: ruota 8s ease;
  transform-origin: center;
  transform-box: fill-box;

}

@keyframes ruota{
  from{
    transform: rotateZ(0deg);
  }
  to{
    transform: rotateZ(360deg);
  }
}

#energy {
  .cls-1{fill:#fff;}
  .cls-2,.cls-5{fill:#1e4c9c;}
  .cls-3{fill:none;stroke:#1e4c9c;stroke-miterlimit:10;stroke-width:5px;}
  .cls-4{fill:#d2d8e9;}
  .cls-4,.cls-5{fill-rule:evenodd;}
}

// Digital

#digital{
  width: 125px;
  margin: 0 auto 20px;
  cursor: pointer;
}
#cerchi:hover #palline{
  animation: ruota 4s ease;
  animation-delay:0.3s;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes ruota{
  from{
    transform: rotateZ(0deg);
  }
  to{
    transform: rotateZ(-360deg);
  }
}
#cerchi:hover #mano{
  animation: move 0.6s;
}

#cerchi:hover #mano{
  animation: movee 0.7s;
}

@keyframes move{
  from{
    transform:translate(0,0);
  }
  to{
    transform:translate(0, -5px);
  }
}

@keyframes movee{
  from{
    transform:translate(0,-5px);
  }
  to{
    transform:translate(0, 0);
  }
}

#digital {
  .cls-1,.cls-5{fill:#fff;}
  .cls-1{opacity:0.6;}
  .cls-2{fill:#d1d8e9;}
  .cls-2,.cls-4{stroke:#0046ad;stroke-miterlimit:10;stroke-width:4px;}
  .cls-3{fill:#0046ad;}
  .cls-4{fill:none;}
}

// Fashion

#fashion{
  width: 150px;
  margin: 0 auto 20px;
  cursor: pointer;
}

#Sparkling1, #Sparkling2 {
  visibility: hidden;
}

#fashion:hover #Sparkling1 {
  visibility: visible;
  animation: spark 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

#fashion:hover #Sparkling2 {
  visibility: visible;
  animation: spark 0.5s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  animation-delay: 0.15s;
}

#triangoli1, #triangoli2{
  visibility: hidden;
}

#fashion:hover #triangoli1{
  visibility: visible;
}

#fashion:hover #triangoli2 {
  visibility: visible;
  animation: spark 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

@keyframes spark {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

#fashion {
  .cls-1,.cls-5,.cls-6,.cls-7{fill:#fff;}
  .cls-2{fill:none;}
  .cls-2,.cls-3,.cls-5,.cls-6,.cls-7,.cls-8,.cls-9{stroke:#0046ad;stroke-miterlimit:10;}
  .cls-2,.cls-3,.cls-5,.cls-6,.cls-8{stroke-width:4px;}
  .cls-3,.cls-8,.cls-9{fill:#d1d8e9;}
  .cls-3,.cls-5{fill-rule:evenodd;}
  .cls-4{fill:#0046ad;}
  .cls-7,.cls-9{stroke-width:3px;}
}

// Diversity

#diversity {
  width: 120px;
  margin: 0 auto 20px;
  cursor: pointer;
}

#color1,#color2{
  visibility: hidden;
}

#diversity:hover #color1{
  visibility: visible;
  animation: spark 15s cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

#diversity:hover #color2{
  visibility: visible;
  animation: spark 2s ease;
}

#diversity:hover #color3{
  visibility: visible;
  animation: spark 1s ;
}

@keyframes spark {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}
#diversity {
  .cls-1, .cls-2 {
    fill: #fff;
  }
  .cls-2, .cls-4 {
    stroke: #0046ad;
    stroke-miterlimit: 10;
    stroke-width: 4px;
  }
  .cls-3 {
    fill: #0046ad;
  }
  .cls-4, .cls-5 {
    fill: #d1d8e9;
  }
}

// healthcare

#healthcare{
  width: 105px;
  margin: 0 auto 20px;
  cursor: pointer;
}

#palline-centro{
  visibility: hidden;
}
#pallina_sx{
  visibility: hidden;
}
#pallina_dx{
  visibility: hidden;
}

#healthcare:hover #palline-centro{
  visibility: visible;
  transform: translate(-10px,-10px);
  transition: transform .3s ease-in-out;
}

#healthcare:hover #pallina_sx {
  visibility: visible;
  transform: translate(10px,10px);
  transition: transform .3s ease-in-out;
}

#healthcare:hover #pallina_dx {
  visibility: visible;
  transform: translate(10px,10px);
  transition: transform .3s ease-in-out;
}

#healthcare {
  .cls-1 {
    fill: #d1d8e9;
  }
  .cls-2 {
    fill: #0046ad;
  }
}

// account

#account{
  width: 135px;
  margin: 0 auto 20px;
  cursor: pointer;
}

#yen, #back2{
  visibility: hidden;
}

#account:hover #yen{
  visibility:visible;
  animation:slide 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}

@keyframes slide{
  from{
    transform: translateX(-300px);
  }
  to{
    transform: translateX(0px);
  }
}

#account:hover #back2{
  visibility: visible;
  animation: fadein 1s ease;
}

@keyframes fadein {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

#account {
  .cls-1 {
    fill: #d1d8e9;
  }
  .cls-1, .cls-2, .cls-3, .cls-5, .cls-6 {
    stroke: #0046ad;
    stroke-miterlimit: 10;
  }
  .cls-1, .cls-2, .cls-3 {
    stroke-width: 4.5px;
  }
  .cls-2 {
    fill: #fff;
  }
  .cls-3, .cls-5, .cls-6 {
    fill: none;
  }
  .cls-4 {
    fill: #0046ad;
  }
  .cls-5, .cls-6 {
    stroke-linecap: round;
  }
  .cls-5 {
    stroke-width: 4px;
  }
  .cls-6 {
    stroke-width: 3px;
  }
}

// estate

#estate{
  width: 95px;
  margin: 0 auto 20px;
  cursor: pointer;
}

#people_sx, #people_dx {
  visibility: hidden;
}

#estate:hover #people_sx{
  visibility: visible;
  animation: move 1s ease;
}

@keyframes move{
  from{
    transform:translate(0,-10px);
  }
  to {
    transform:translate(0px,0px);
  }
}

#estate:hover #people_dx{
  visibility: visible;
  animation: move2 1s ease;
  animation-delay: 0.1;
}

@keyframes move2{
  from{
    transform:translate(0,-8px);
  }
  to {
    transform:translate(0px,0px);
  }
}

#estate {
  .cls-1, .cls-2 {
    fill: #d1d8e9;
  }
  .cls-1, .cls-2, .cls-3 {
    stroke: #0046ad;
    stroke-miterlimit: 10;
  }
  .cls-1 {
    stroke-width: 3.5px;
  }
  .cls-2, .cls-3 {
    stroke-width: 4.2px;
  }
  .cls-3 {
    fill: none;
  }
  .cls-4 {
    fill: #0046ad;
  }
}

// sport

#sport{
  width: 140px;
  margin: 0 auto 20px;
  cursor: pointer;
}


#firework1, #firework2,#firework3, #linea {
  visibility: hidden;
}

#sport:hover #linea{
  visibility: visible;
  animation: line 0.1s;
}

#sport:hover #linea3{
  visibility: visible;
  animation: line3 0.1s;
}

@keyframes line {
  from{
    transform:translate(5px,5px);
  }
  to{
    transform: translate(0px,0px);
  }
}

@keyframes line3 {
  from{
    transform:translate(0px,5px);
  }
  to{
    transform: translate(0px,0px);
  }
}

#sport:hover #centro1{
  visibility: visible;
  animation: firework;
  animation-delay: 0.1s;
}

#sport:hover #fire{
  visibility: visible;
  animation: firework 0.5s ease;
  animation-delay: 0.5;
}

#sport:hover #centro2{
  visibility: visible;
  animation: firework;
  animation-delay: 0.5;
}

#sport:hover #fire2{
  visibility: visible;
  animation: firework 1s ease;
  animation-delay: 0.5;
}

#sport:hover #centro3{
  visibility: visible;
  animation: firework;
  animation-delay: 1s;
}

#sport:hover #fire3{
  visibility: visible;
  animation: firework 1s ease;
  animation-delay:2;
}

@keyframes firework {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

#sport {
  .st0 {
    fill: #0046AD;
  }
  .st1 {
    fill: none;
    stroke: #0046AD;
    stroke-width: 4;
    stroke-miterlimit: 10;
  }
  .st2 {
    fill: #D2D9EB;
  }
  .st3 {
    fill: #D2D9EB;
    stroke: #0046AD;
    stroke-width: 4;
    stroke-miterlimit: 10;
  }
  .st4 {
    fill: none;
    stroke: #0046AD;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-dasharray: 1, 3, 1, 2.5;
  }
  .st5 {
    fill: none;
    stroke: #0046AD;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-dasharray: 1, 3, 1, 2.5;
  }
  .st6 {
    fill: none;
    stroke: #0046AD;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-dasharray: 1, 3, 1, 2.5;
  }
  .st7 {
    fill: none;
    stroke: #0046AD;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    stroke-dasharray: 1, 3, 1, 3;
  }
  .st8 {
    fill: none;
    stroke: #0046AD;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    stroke-dasharray: 1, 3, 1, 3;
  }
  .st9 {
    opacity: 0.7;
    fill: #0046AD;
  }
  .st10 {
    opacity: 0.9;
    fill: #0046AD;
  }
}

// marketing

#marketing {
  width: 110px;
  margin: 0 auto 20px;
  cursor: pointer;
}

#contenuto2,#contenuto3 {
  opacity: 0%;
}

#marketing:hover #contenuto2{
  opacity: 100%;
  animation:slide 0.7s ease-in;
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

#marketing:hover #contenuto3{
  opacity: 100%;
  animation:slide2 1.2s cubic-bezier(0.36, 0, 0.66, -0.56);
}

@keyframes slide2 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

#marketing {
  .cls-1, .cls-8 {
    fill: none;
  }
  .cls-2, .cls-6 {
    fill: #0046ad;
  }
  .cls-3 {
    fill: #d1d8e9;
  }
  .cls-4, .cls-5, .cls-7 {
    fill: #fff;
  }
  .cls-4, .cls-6, .cls-7, .cls-8 {
    stroke: #0046ad;
    stroke-miterlimit: 10;
  }
  .cls-4, .cls-8 {
    stroke-width: 4px;
  }
  .cls-8 {
    stroke-linecap: round;
  }
}

// sustain

#sustain{
  width: 100px;
  margin: 0 auto 20px;
  cursor: pointer;
}

#foglia3,#sorriso {
  opacity: 0%;
}

#sustain:hover #foglia3{
  opacity: 100%;
  transform-origin: 55px;
  transform-box: fill;
  animation: bloom 2s cubic-bezier(0.25, 1, 0.5, 1);
}

@keyframes bloom {
  from{
    transform:translateY(12px);
    transform: scale(0);
  }
  to{
    transform:translateY(0);
    transform: scale(1);
  }
}

#sustain:hover #sorriso{
  animation: smile 3.2s;
  opacity: 100%;
}

@keyframes smile {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

#sustain {
  .cls-1 {
    fill: #0046ad;
  }
  .cls-2 {
    fill: #d2d9eb;
  }
  .cls-3 {
    fill: none;
    stroke: #0046ad;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 4px;
  }
}