//== Header
//

.is-scrolled {
  header.main-header {
    background-color:$white-alpha-90;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-animation-name: slideDownHeader;
    -webkit-animation-duration: 0.5s;
    animation-name: slideDownHeader;
    animation-duration: 0.5s;
    z-index: 999;
  }
}

header.main-header {
  position: absolute;
  width: 100%;
  height: 80px;
  color: $blue;
  padding: 23px 20px;
  z-index: 998;
  .container {
    position: relative;
  }
  .navbar-header {
    button {
      background: transparent;
      box-shadow: 0 0 0;
      border: 0;
      color: $blue;
      margin-top: 5px;
      &.mobile-collapse {
        @media screen and (max-width: 1200px) {
          display: block !important;
        }
      }
      &:active, &:focus {
        outline: 0;
      }
      &:not(.collapsed) {
        span.icon {
          &::before {
            content: "\e904";
          }
        }
      }
    }
  }
  .navbar-collapse {
    position: absolute;
    background-color: $white;
    top: 55px;
    left: 0;
    width: 100vw;
    min-height: calc(100vh - 50px);
    padding: 40px 0;
    &.mobile-collapse {
      .navbar-nav {
        text-align: center !important;
        width: 100% !important;
        .open {
          .dropdown-menu {
            @media screen and (max-width: 1200px) {
              position: static;
              float: none;
              width: auto;
              margin-top: 0;
              background-color: transparent;
              border: 0;
              -webkit-box-shadow: none;
            }
          }
        }
        li {
          @media screen and (max-width: 1200px) {
            width: 100%;
          }
        }
      }
    }
    &:not(.in) {
      display: none !important;
    }
    ul {
      li {
        margin: 25px 0;
        a {
          display: inline-block;
        }
      }
    }
  }
  .logo {
    max-width: 245px;
    margin-right: 20px;
    @media screen and (max-width: 1200px) {
      max-width: 143px;
    }
  }
  .list-inline {
    li {
      margin-right: 15px;
      a {
        //line-height: 40px;
        font-family: $font-family-opensans;
        @extend %font-12px;
        display: inline-block;
        &:not(.btn) {
          margin-top: 15px;
          @media screen and (max-width: 1200px) {
            margin-top: 10px;
          }
        }
        span {
          font-size: 20px;
        }
      }
      &:last-child {
        margin-right: 0;
      }
      .user {
        background-size: cover;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        overflow: hidden;
        position: relative;
        top: 10px;
      }
      .ntw {
        position: relative;
        top: -5px;
      }
    }
  }
  .mobile-nav {
    display: none;
    @media screen and (max-width: 1200px) {
      display: block;
    }
  }
  .desktop-nav {
    display: none;
    @media screen and (min-width: 1200px) {
      display: block;
    }
  }
}

@keyframes slideDownHeader {
  from {top: -170px; left:0;}
  to {top: 0;left:0;}
}