//== Font size conversion
//

$font-size-root: 16; // no units, you assume the font size base of most browsers is 16px.

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

// prem stands for px to rem.
@function prem($pxval, $base: $font-size-root) {
  @return strip-unit($pxval) / $base * 1.14rem;
}


//== Bottom align with flex
//

@mixin btm-align-wrapper() {
  display: flex;
  flex-direction: column;
}
@mixin btm-align-element() {
  margin-top: auto !important;
}
@mixin btm-align-grow() {
  flex-grow: 1;
}


@mixin hover {
  &:hover { @content; }
}

@mixin translate-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin dotted-list() {
  padding: 0 ($grid-gutter-width / 2);
  li {
    list-style: none;
    padding-left: 10px;
    position: relative;
    a {
      color: $blue;
      &:hover {
        color: $green;
      }
    }
    &::before {
      content: "";
      position: absolute;
      top: 7px;
      left: -5px;
      width: 8px;
      height: 8px;
      background-color: $green;
      border-radius: 50%;
    }
  }
}