// Sections

.section {
  position: relative;
  &.top-entry {
    @include media-breakpoint-down(sm) {
      padding-top: 200px;
    }
  }
  .filters-bar {
    padding: 20px 0 0;
    li {
      a {
        &.active {
          color: $blue !important;
          font-weight: 700;
        }
      }
    }
    .ancor-panel {
      &:not(.collapsed) {
        span {
          &::before {
            content: "\e904";
            color: $blue;
          }
        }
      }
    }
    .collapse, .collapsing {
      .filters-panel {
        border-top: 1px solid $light-gray;
        margin-top: 10px;
        padding: 20px 10px 30px;
        form {
          .lf-wrap {
          }
        }
        .d-flex {
          @include media-breakpoint-down(md) {
            flex-wrap: wrap;
          }
        }
        .f-col {
          margin-right: 5%;
          @include media-breakpoint-down(md) {
            flex-shrink: 1;
            min-width: 40%;
          }
          @include media-breakpoint-down(sm) {
            width: 100%;
            margin: 20px 0;
          }
          input[type="text"] {
            width: 100%;
            margin: 15px 0;
          }
          .formDateGroup {
            .date {
              input {
                max-width: 130px;
                width: auto;
              }
              & + .date {
                margin-left: 5px;
              }
            }
          }
        }
        .panel {
          min-width: 160px;
          border-bottom: 1px solid $light-gray;
          &.panel-flex {
            min-width: 300px;
            padding-top: 10px;
            min-height: 285px;
            max-height: 285px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            .lf-wrap {
              margin: 9px 30px 8px 0;
            }
          }
        }
        .scroll-panel {
          max-height: 230px;
          overflow: scroll;
          border-right: 1px solid $light-gray;
        }
      }
    }
  }
  &.vertical-label {
    h2.widget_title {
      position: absolute;
      top: 200px;
      left: -240px;
      color: $blue;
      transform: rotate(-90deg);
      font-family: $font-family-roboto;
      @extend %font-42px;
      z-index: 9;
      width: 400px;
      height: auto;
      text-align: right;
      display: block;
      @media screen and (max-width: 1600px) {
        transform: none;
        position: static;
        width: auto;
        height: auto;
        text-align: left;
        margin-bottom: 5px;
      }
    }
  }
  .slick-wrapper {
    z-index: 2;
    position: relative;
  }
  .external-news-wrap {
    .card--news {
      max-width: 730px;
      & > div {
        p {
          margin: 3px 0;
        }
      }
      .news-img {
        flex-shrink: 0;
        width: 220px;
        height: 190px;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
  .intestazione {
    padding: 50px;
    .row.d-flex {
      @include media-breakpoint-down(sm) {
        flex-direction: column-reverse;
        text-align: center;
      }
    }
  }
}

.section--events {
  position: relative;
  z-index: 9;
  h2 {
    @extend %font-48px;
    //margin-left: 15px;
  }
  .card--event {
    .smalltitle {
      margin-bottom: 5px;
    }
    .spacer-r-1 {
      position: relative;
      top: 2px;
    }
    .other-data {
      margin-top: 10px;
      display: none;
      .e-data {
        margin-top: 15px;
        .icon {
          margin-right: 10px;
          font-size: 26px;
        }
      }
    }
    .link-layer {
      .zoom--panel {
        position: absolute;
        top: -20px;
        left: 0;
        width: 100%;
        height: auto;
        box-shadow: 0 19px 20px -10px rgba($blue, 0.3);
        display: none;
        background: $white;
        &.in {
          display: block;
        }
        &.out {
          opacity: 0;
        }
        &.fadeIn {
          -webkit-animation: fadeIn 0.3s; /* Safari 4+ */
          -moz-animation:    fadeIn 0.3s; /* Fx 5+ */
          -o-animation:      fadeIn 0.3s; /* Opera 12+ */
          animation:         fadeIn 0.3s; /* IE 10+, Fx 29+ */
        }
        &.fadeOut {
          -webkit-animation: fadeIn 0.3s; /* Safari 4+ */
          -moz-animation:    fadeIn 0.3s; /* Fx 5+ */
          -o-animation:      fadeIn 0.3s; /* Opera 12+ */
          animation:         fadeIn 0.3s; /* IE 10+, Fx 29+ */
        }
        .image-wrap {
          height: 60px;
        }
        .smalltitle {
          margin-bottom: 20px;
        }
        .other-data {
          display: block;
          .btn {
            margin-top: 30px;
            margin-bottom: 20px;
          }
        }
        .hide--zoom {
          display: none;
        }
      }
      &:hover {
        .zoom--panel {
          //display: block;
        }
      }
    }
  }
  .slick-wrapper {
    margin-top: 15px;

    .slick-list {
      overflow: visible;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: $white;
        z-index: 2;
      }
    }
  }
}
.section--news {
  &::before {
    content: "";
    position: absolute;
    right: -35%;
    bottom: 0;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background: url("../img/sede.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    opacity: .3;
    z-index: 1;

  }
}

.card-list {
  margin: 0 -15px;
  .card {
    padding: 0 15px 20px;
    position: relative;
    .showZoom {
      display: none;
    }
    .close-layer {
      position: absolute;
      top: 10px;
      right: 10px;
      color: $white;
      font-size: 20px;
      z-index: 9999;
    }
    .absbr {
      position: absolute;
      bottom: 50px;
      right: 25px;
      /* height: 50px; */
      /* width: 50px; */
      z-index: 999;
      &.hide {
        display: none !important;
      }
    }
    .link-layer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 1;
      background: transparent;
      z-index: 99;
    }
    //opacity: 0;
    .image-wrap {
      height: 215px;
      overflow: hidden;
      background-repeat: no-repeat;
      background-size: cover;
      img {
        width: 100%;
        max-width: 100%;
      }
    }
    .event-content-wrap {
      padding: 50px 24px 20px;
      position: relative;
      background: $white;
      .abs {
        position: absolute;
        top: 25px;
        right: 25px;
      }
      .calendar-el {
        position: absolute;
        top: -40px;
        left: 25px;
        padding: 5px 20px 0;
      }
    }
    .news {
      position: relative;
      & + .news {
        margin-top: 30px;
      }
      .image-wrap {
        min-height: 265px;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: -moz-linear-gradient(top,  rgba(125,185,232,0) 0%, rgba(0,70,173,1) 80%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(0,70,173,1) 80%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%,rgba(0,70,173,1) 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#0046ad',GradientType=0 ); /* IE6-9 */
          opacity: .5;
        }
      }
      &.tall {
        height: 100%;
        margin-bottom: auto;
        @include media-breakpoint-down(md) {
          min-height: 400px;
        }
        @include media-breakpoint-down(sm) {
          min-height: 0;
        }
        .image-wrap {
          height: 100%;
        }
      }
      .text {
        color: $white;
        position: absolute;
        bottom: 0;
        padding: 0 20px 8px;
        font-family: $font-family-opensans;
        .data {
          @extend %font-14px;
          b {
            margin-right: 5px;
          }
        }
        p {
          @extend %font-20px;
          font-weight: 600;
          & + p {
            @extend %font-16px;
            font-weight: 400;
          }
        }
      }
    }
  }
}
.cardsnav {
  padding: 20px 0 50px;
  position: relative;
  z-index: 9;
  .slick-dots {
    padding: 0;
    display: flex;
    align-items: center;
    li {
      padding: 0 10px;
      a {
        cursor: pointer;
        @extend %font-16px;
        color: $gray;
      }
      &.slick-active {
        a {
          color: $blue;
          @extend %font-22px;
        }
      }
    }
  }
  .slick-arrow {
    background: $blue;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 6px 0;
    text-align: center;
    color: $white;
    cursor: pointer;
    &:hover {
      opacity: .8;
    }
    &.slick-disabled {
      opacity: .3;
      &:hover {
        opacity: .3;
      }
    }
    & + .slick-arrow {
      margin-left: 8px;
    }
  }
}

.sezione-eventi {
  .section--events {
    padding: 20px 50px;
    background: $white;
    @media screen and (max-width: 1200px) {
      padding: 20px 20px;
    }
    @include media-breakpoint-down(sm) {
      padding: 20px 0;
    }
    .slick-wrapper .slick-list {
      overflow: hidden;
    }
  }
  .top-entry .scheda > [class^="col-"] {
    &:first-child {
      position: absolute;
    }
    &:last-child {
      z-index: 3;
      top: 105px;
    }
  }
}

.bootstrap-datetimepicker-widget table {
  border: 1px solid $light-gray;
  thead tr th {
    &.prev {
      span {
        font-family: 'icomoon';
        &::before {
          content: "\e903";
        }
      }
    }
    &.next {
      span {
        font-family: 'icomoon';
        &::before {
          content: "\e902";
        }
      }
    }
  }
}

.sezione-community {
  .top-entry .scheda > [class^="col-"] {
    &:first-child {
      position: absolute;
    }
    &:last-child {
      z-index: 3;
      top: 105px;
    }
  }
}
.section--topics-community {
  .topics-list {
    flex-wrap: wrap;
    align-items: baseline;
    .el {
      flex: 1 0 calc(20%);
      text-align: center;
      margin: 50px 0;
      display: flex;
      flex-direction: column;
    }
  }
}

.isMobile {
 .card-list {
   .card {
     .showZoom {
       display: block;
     }
   }
 }
}