//== Typo
//

body {
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-family-opensans;
}

//== Separation standard
//

%bottom-50px {
  margin-bottom: ($spacer * 1.5);
  @include media-breakpoint-up(lg) {
    margin-bottom: ($spacer * 2.5);
  }
}

//== Icon
//

.icon {
  font-size: $icon-size;
  &--big {
    font-size: $icon-big-size;
  }
}

//== Line
//

hr {
  margin: ($spacer * .75) 0;
  border: none;
  border-top: 1px solid $hr-border-color;
  &.blue {
    border-color: $blue;
  }
}

//== Title font family
//

%font-title {
  font-family: $font-family-roboto;
  line-height: $headings-line-height;
  font-weight: 500;
}


a {
  color: $blue;
  &:hover {
    opacity: .8;
    text-decoration: none;
    color: $blue;
  }
}

h1 {
  font-family: $font-family-roboto;
  @extend %font-72px;
  font-weight: normal;
}
h2 {
  font-family: $font-family-roboto;
  @extend %font-32px;
  font-weight: normal;
  b {
    margin: 0 5px;
  }
}


.mid40 {
  font-family: $font-family-roboto;
  @extend %font-40px;
  font-weight: normal;
}
b.mid40 {
  font-weight: bold;
}

.date {
  font-family: $font-family-roboto;
  @extend %font-10px;
  font-weight: normal;
}
.smalltitle {
   font-family: $font-family-opensans;
  @extend %font-16px;
  font-weight: 600;
}
.midtext {
  font-family: $font-family-opensans;
  @extend %font-13px;
  font-weight: 400;
}
.small {
  @extend %font-12px;
}
.medium {
  @extend %font-14px;
  font-family: $font-family-opensans;
  font-weight: 600;
}
.extrasmall {
  @extend %font-8px;
}
.booksmall {

}
.xxl {
  @extend %font-104px;
}
.open {
  font-family: $font-family-opensans;
}
.roboto {
  font-family: $font-family-roboto;
}
.t-10 {
  @extend %font-10px;
}
.t-14 {
  @extend %font-14px;
}
.t-16 {
  @extend %font-16px;
}
.t-18 {
  @extend %font-18px;
}
.t-20 {
  @extend %font-20px;
}
.t-24 {
  @extend %font-24px;
}
.t-32 {
  @extend %font-32px;
}
.t-48 {
  @extend %font-48px;
}
.t-56 {
  @extend %font-56px;
}
.t-90 {
  @extend %font-90px;
}

.semib {
  font-weight: 600;
}