//== UI
//

.nav.nav-tabs {
  display: flex;
  .nav-item {
    min-width: 220px;
    @include media-breakpoint-down(sm) {
      min-width: 100px;
    }
    a {
      color: $gray;
      border: 0;
      text-align: center;
      &:hover, &:focus {
        background: transparent;
        color: $blue;
        border: 0;
      }
    }
    &.active {
      border: 0;
      a {
        color: $blue;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 3px;
          background-color: $blue;
        }
      }
    }
  }
}

.tab-content {
  .tab-pane.active {
    padding: 60px 0;
    ul.d-flex {
      flex-wrap: wrap;
    }
    li.bw {
      margin: 10px;
      text-align: center;
      @include media-breakpoint-down(md) {
        flex: 0 25%;
      }
      @include media-breakpoint-down(sm) {
        flex: 0 50%;
        margin: 20px 0;
      }
      @media (min-width: 1200px) {
        margin: 10px 30px;
      }
      a {
        img {
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
          opacity: .8;
          max-width: 160px;
        }
        &:hover {
          opacity: 1;
          img {
            -webkit-filter: none;
            filter:  none;
            opacity: 1;
          }
        }
      }
    }
  }
}

.icon {
  &.iconblue {
    border-radius: 50%;
    background-color: $blue;
    padding: 6px;
    width: 24px;
    height: 24px;
    display: inline-block;
    color: $white;
    font-size: 13px;
  }
}