/* CONTENT UPLOAD */
.wrapwidg.plugin_contentUpload .help-block {margin:0;}
.wrapwidg.plugin_contentUpload .modal-body, .user-edit.upload .bg-white {padding: 0; }

#selectgroup { border-radius:0;}

body .wrapwidg.plugin_contentUpload {background:transparent;}

.content-upload-widget-body [data-tt-oso-tagscluster]:after {
	content:'';
 	position:absolute;
	display:block;
	width:100%;
	border-bottom:5px solid #eaeaea;
 	left:0;
 	bottom:0;
 
}
.content-upload-widget-body textarea { resize: vertical; }

.content-upload-widget-body .form-group:not(.last-before-submit) {
	padding: 0 20px;
	background:white;
	margin-bottom:0;
	padding-bottom:15px;
}
.content-upload-widget-body .form-group:empty {
	visibility:hidden;
}

.content-upload-widget-body .form-group .form-group {
	padding:0;
}

.content-upload-widget-body .form-group.last-before-submit {
	border-left:10px solid #eaeaea;
 	background:transparent;
	margin-bottom:0;
	padding-bottom:15px;
}

.content-upload-widget-body .form-group.last-before-submit a.btn-tag {
	font-size:13px;
	padding:7px 10px;
	-webkit-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
	border-color:#DDDDDD;
}

.content-upload-widget-body [data-tt-oso-tagscluster]	{
	padding: 0 20px;
	background:white;
	margin-bottom:0;
	padding-bottom:15px;
 	position:relative;
}
.content-upload-widget-body .form-group.last-before-submit .tag-list-wrapper {
	padding:0;
}


.content-upload-widget-body h2 { 
	color:#755C82; 
}
.content-upload-widget-body [data-tt-oso-tagscluster] h2 { 
	text-transform:uppercase;
	font-size:14px;
}

.content-upload-widget-body .submit-row,
.content-upload-widget-body .publication-date-form{
	padding-top:20px!important;
}

.content-upload-widget-body .btn-tag {
	position:relative;
}


.content-upload-widget-body .btn-tag .icon-hamburger-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.3rem;
}

.btn-tag-list {
	margin-left:-2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
	background:#c30661!important;
}

.content-upload-widget-body .publication_date {
	border:0;
	padding-top:0;
	box-shadow: none;
	margin-top:20px;
	background:#fafafa;
}

.content-upload-widget-body .publication_date .control-label {
	color:#999;
	font-size:.9em;
}

.content-upload-widget-body .publication-date-form .btn{
	border:0;
	border-radius:0;
	background:#fafafa;
}
.content-upload-widget-body .publication-date-form .btn.active{
	color:#c30661;
}
/* GESTIONE NO SELECTED */
.content-upload-widget-body.no-selected .clearfix.w-100.d-flex .form-group:not(.required-choice){
	opacity:.3;
	pointer-events: none;
}


/* fix column generico */
.column_generico {
    margin-left: 0;
    margin-right: 0;
    padding-left: 5px;
    padding-right: 5px;
}

@media (max-width: 1024px) {
	.content-upload-widget-body .form-group.last-before-submit {
		border-left: 0!important;
		padding: 0 0 10px 0;
	}
		.content-upload-widget-body [data-tt-oso-tagscluster] {
		padding: 0 20px;
	}
	
}