@media (max-width: 1200px){

}
@media (max-width: 1024px){

}

@media (max-width: 767px){
	.ttcomponent-homepageBoxes.container .box-01 {min-width: 100%;}
	.ttcomponent-homepageBoxes.container .box-02 {min-width: 100%;}
	.ttcomponent-homepageBoxes.container .box-03 {min-width: 100%;}
}
