/* Component style rules */

.ttcomponent-coverImageText .esquire{color:#fff;}

.ttcomponent-coverImageText .esquire-message h2{color:#fff;}
.ttcomponent-coverImageText .esquire-message h3{color:#fff;}
.ttcomponent-coverImageText .esquire.dark{background:#000;}


.ttcomponent-coverImageText .mentions-input-box .mentions div{color:#FFF!important;}
.ttcomponent-coverImageText .esquire_row .esquire .esquire-message-container{color:#fff;}
.ttcomponent-coverImageText .esquire_row .esquire-message h2{color:#fff;}
.ttcomponent-coverImageText .user-email a{ font-weight:bolder;}

