/* Component basic layout rules */

.ttcomponent-coverImageText { 
	margin-bottom: -5vh;
	min-height: 40vh;
	z-index: 10;
}

.versions .ttcomponent-coverImageText {
	margin-left:10px;
	margin-right:10px;
}
.ttcomponent-coverImageText .esquire{
	-moz-transition:all .3s ease-in;
	-ms-transition:all .3s ease-in;
	-o-transition:all .3s ease-in;
	-webkit-transition:all .3s ease-in;
	height:auto;
	min-height:40vh;
	overflow:hidden;
	padding:0;
	position:relative;
	width:100%;
}
.ttcomponent-coverImageText .user .esquire{ 
	overflow:visible;
}
.ttcomponent-coverImageText .esquire .esquire-image-container > div{
	max-width: none; 
	opacity: .2;
	-webkit-filter: blur(0px) grayscale(100%);
	filter: blur(0px) grayscale(100%); 
	height: 100%; 
	width: 100%; 
	position: absolute;
}
.ttcomponent-coverImageText .esquire-color-container{
	height:100%;
	min-height:300px;
	opacity:0.45;
}
.ttcomponent-coverImageText .esquire-image-container{
	min-height:100%;
	overflow:hidden;
	text-align:center;
	width:100%; 
	position:absolute; 
	top:0;
}
.ttcomponent-coverImageText .esquire-message{
	height:100%;
	width:100%; 
}
.ttcomponent-coverImageText .esquire-message h2{
	font-family:'Montserrat', sans-serif; 
	font-weight:300;
	line-height:1;
	width:100%;
}
.ttcomponent-coverImageText .esquire-message h3{
	font-family:'Montserrat', sans-serif;
	font-weight:300; 
	font-size:1.5rem;
	line-height:1.3;
}
.ttcomponent-coverImageText .esquire-message-container{
	height:100%;
	min-height:40vh;
	z-index:10; 
	position:relative;
}
.ttcomponent-coverImageText .user .esquire-message-container{
	height:100%;
	min-height:40vh;
	z-index:10; 
	margin:0 auto;
}
