
@media (max-width: 1200px){
	.ttcomponent-coverImageText {
	}
}
@media (max-width: 1024px){

}

@media (max-width: 767px){
	.ttcomponent-coverImageText .esquire-message-container {
		max-height:inherit;
	}
	.ttcomponent-coverImageText .esquire-message {
		padding-top: 4rem;
		padding-bottom: 3rem;
		
	}

}

@media (max-height: 767px){
	.ttcomponent-coverImageText .esquire-message {
		padding-top: 4rem;
		padding-bottom: 3rem;
	}
}