
/* TEst V2*/
/* sidebar */
.all_dashboards{display:flex;flex-wrap:wrap;}
.all_dashboards .group_dashboard{width:30%;min-width:300px;}
.a_group_dash {display: flex;flex-direction: row;}
.a_group_dash > * {flex-grow:1;width:50%;}

[data-tt-widget-widget],.group_list .title{display:inline-block;}
.sub_panel_container > *,#code-challenge-form.read-only .form-group{text-align:center;}

/* FLEX general */
.flex-row {display:flex;flex-direction:row;}
.flex-wrap{flex-wrap:wrap;}
.flex-grower,.challengeHome > div{flex-grow:1;}

/* more */
.current_user {display: none;}
#creator_leaderboard > div{width:100%;}
.tt-suggestion.tt-selectable{cursor:pointer}
.tt-suggestion.tt-selectable.tt-cursor{background-color:#286090;color:white;}
[data-error]{transition-timing-function: ease;}
.wf-field-error{padding: 10px;}
[data-tt-widget-progress]{height:7px;margin-top:7px;}
[role="progressbar"]{background-color:green;height: 100%;border-radius: 15px;}
#home_groups_accordion{margin-top:20px;}
.file.output_fn i{color:#0079bcimportant;}
.group_submissions .submission_files .output_fn_stack i{font-size:30px}
.output_fn_stack strong{font-size:20px;color:white;margin-top: -12px;}
.text_shortener.restricted .content_restrictor{height:100%;}
.output_fn_stack{width:25px;}


/* MARGINS */
.m-bottom-40 {margin-bottom: 40px;}

.container.part_bottom {padding-top: 40px;}

.description label {display: none;}

.privateDescription, .description {margin-bottom: 40px;}

.form-group.row {margin-left:0;margin-right: 0;margin-bottom: 40px;}

.challenge_entry .cover-box {height: 100%;padding: 0;}
.cover-box-text .title label {display: none;}

#tutorial {background-color:#4982BA;border-radius: 0;margin: 0;position: relative;}
#tutorial button.close {position: absolute;top: 20px;right: 20px;opacity: 1;background: none;border: none;line-height: 28px;text-shadow: none;text-align: center;color:#fff;}
.show_tutorial_container {    position: absolute;z-index: 2;left: 20px;top: 20px;width: auto;}
.status_icon {position: absolute;top:20px;right:20px;width: 32px;height: 32px;border-radius: 50%;background: #fff;opacity: 0.8;text-align: center;line-height: 32px;font-size: 22px;}

/* comments */
.comment_hack .col-md-1 {display: none;}
.comment_hack .col-md-10 {width: 100%;padding:0;}
.comment_hack .col-md-12 {padding:0;}
.comment_body .gallery-item img {max-height: 128px;max-width: 128px;}
div[data-comment-actions="data-comment-actions"] {position: absolute;right: 0;bottom: 0;}
div[data-comment-actions="data-comment-actions"] .btn-default {background: none;}
.comment_hack ul.comments li {overflow: visible;}
.comment_hack ul.comments li .comment_body {background:#F3F3F3;border: none;padding: 10px;border-radius: 8px;}
.comment_hack .comments .media {border:none;overflow: visible;}
.comment_hack .comments .media .timestamp {position: absolute;right: 0;top: -5px;font-size: 11px;}
.comment_hack .comments .media .nick {font-weight: bold;font-size: 1.2em;padding-top: 5px;}
.comment_hack .file-list {border-top: none;padding-top: 0;}
.comment_hack .file-list-gallery .gallery-item {max-width: none;}
.comment_hack h2.section_title {display: none;}

#home_container .cover-box-text {margin: 100px 0 0 0;width: 100%;}
#home_container .countdown_widget {position: relative;padding: 10px 0 10px 40px;text-align: left;}
#tutorial .cover-box-text {margin: 100px 0 0 0;width: 100%;}
.flex-grower, #home_container > div {flex-basis:50%;}

.file-box {padding: 5px;background: #eee;border-radius: 4px;}
.file-box .file-icon {font-size: 32px;}
.file-box .file-name {pad: 0 10px;}
.file-box > .btn {background: none;}
.file-actions .btn {margin: 0 5px;padding: 5px;width: 32px;height: 32px;line-height: 32px;padding: 0;border-radius: 50%;}
.inout_container .btn-square {margin-bottom:10px;}

ul.comments {margin-bottom: 20px;}
[data-form-comment] .form-group {padding-left:42px;}
.list-unstyled.comments > li.media:first-child, .list-unstyled.comments li.media:not(:first-child) {padding:20px 0 0 0;margin: 0;}

.group_widget b {display: none;}
.group_widget .group_user p {display: none;}

.sidebar [data-tt-widget-widget] {display: block;}
.leader_board .list-group {width: 100%;}
.leader_board .list-group-item {line-height: 32px; padding:0; overflow:hidden;}
.leader_board .list-group-item > div {display:block; line-height: 32px; float:left; height:100%; padding:10px 5px;}
.leader_board .list-group-item .position {font-size: 22px;font-weight: bold;margin: 0;display: inline-block; width:52px; text-align:center; height:54px;}
 .leader_board .list-group-item .position > span{border-right: 1px solid rgba(0,0,0,.1); width:50px; display:block;}
.leader_board .list-group-item.my-group .position > span { border-color: rgba(255,255,255, .3)}
.leader_board .list-group-item b {display: inline-block; line-height:32px; font-size: 1.2em; padding-left: 4px;}
.list-group-item > .badge { float:none; height:32px; background:transparent; line-height:32px; color:inherit;}
.leader_board .list-group-item .leaderboard-info { padding-left:10px; max-width:58%;}
.leader_board .list-group-item .reached_on { font-style: italic; font-size: 70%;}
.leader_board .list-group-item .leaderboard-info .group-name,
.leader_board .list-group-item .leaderboard-info .reached_on { width:100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; display:block; max-width:200px;}
.leader_board .list-group-item:first-child { border-top-left-radius: 4px; border-top-right-radius: 4px; }
.leader_board .list-group-item:last-child { border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; }

.leader_board .list-group-item .leader-board-score {font-family: 'proxima_nova_altbold', sans-serif; font-size:1.2em; float:right; padding-right:15px;}


.leader_board .list-group-item .badge {
    display: inline-block;
    min-width: 40px;
    padding: 0px 8px;
    font-size: 12px;
    font-weight: bold;
    color: #666;
    line-height: 30px;
    vertical-align:middle;
    white-space: nowrap;
    text-align: center;
    background-color: transparent;
    border-radius: 60px;
    height:30px;
    margin-bottom:10px;
}
.leader_board .list-group-item .badge.value-equal { padding: 0.8em 0 0 6px; text-align: left;}
.leader_board .list-group-item .badge.value-equal > i {display:block; line-height:.3em}
.leader_board .list-group-item.my-group .badge {color: #fff;}

.leader_board .list-group-item .leader-board-info-name-data,
.leader_board .list-group-item .leader-board-andamento{
	float:left;
}
.leader_board .list-group-item .leader-board-andamento {width:54px; text-align:center;}
.leader-board-info-name-data > span { display:block; line-height:1.2; padding-left:10px;}


.leader_board .list-group-item .leader-board-info-name-data { }

.submission.avatar {width: 50px;height: 50px;margin: 0 10px 0 0;}
.group_submissions p {margin: 0;}
.submission_files {text-align: left;padding:10px 0;}
.submission_files .col-md-3 {padding: 0 4px 0;}
.submission_files i {font-size: 38px;}

.sidebar [data-form-comment] .form-group {padding-left: 0;}

.section-queue {padding: 0 40px;}
.flex-column{display:flex;flex-direction:column;}

/* trophy */
.fa.fa-trophy {height: 200px;width: 200px;margin: 0 0 20px 0;line-height: 128px;font-size: 64px;color: #aaa;background: url(https://LuisKuba.bitbucket.io/bg_squared.jpg);}
.fa.fa-trophy::before {display: none;}
.fa.fa-trophy::after {content:'';display:block;height: 200px;width: 200px;background: url(https://tf01-code-challenge.tamtamyserver.com/tamtamy/skins/code_challenge/graphic/trophy.svg) no-repeat center center; background-size: 50%;}
.podium .lead .position {font-size: 48px;margin-top: 40px;}
.podium .lead.first .position {font-family: 'proxima_nova_altblack', sans-serif;}
.podium_container {background: #0079bc;color: #fff;overflow: hidden;margin:0 0 80px;border-radius: 10px 10px;    box-shadow: 0 4px 0 rgba(0,0,0,0.1);}
.podium_decoration {float: left;width: 200px;height: 200px;text-align: center;line-height: 128px;position: relative;}
.podium_decoration .text {position: absolute;bottom: 0px;text-align: center;width: 100%;line-height: 32px;font-weight: bold;}
.podium {overflow: hidden;display:flex;flex-direction:row;}
.podium > span{ width:100%;flex-grow:1;text-align:center;align-items:center;}
.podium .score {height: 32px;width: auto;overflow: hidden;color: #fff;background: #0079bc;border-radius: 16px;line-height: 28px;font-size: 16px;text-align: center;padding:0 8px;    border: 2px solid #fff;font-weight: bold;display: inline-block;}

/* body */
body {background: #fff;font-family: 'Proxima Nova', sans-serif;font-size: 16px;}
#header {box-shadow: 0 3px 0px rgba(0,0,0,0.2);}
#header .logo {background: #fff url(https://LuisKuba.bitbucket.io/logo_tt_svg.svg) no-repeat left center;background-size: auto 60%;background-position: center center;height: 60px;width: 170px;border-right: 1px solid transparent;}
#container, .container {margin: 0 auto 20px;width: 100%;}
#footer {background: none;border:none;clear: left;min-height: 60px;margin: 0 auto;padding: 0;position: relative;text-align: left;}
#footer .footer {text-align: right;}
#footer .logo_reply {display: inline-block;width: 180px;height: 60px;background: url(https://tf01-code-challenge.tamtamyserver.com/tamtamy/skins/code_challenge/graphic/reply-corporate-logo.png) no-repeat left center;background-size: auto 70%;background-position: 10px 13px;text-indent: -9999px;text-align: left;}

/* fonts */
a, a:visited {color: #0079bc;}
a:hover {color: #0068a2;}
strong, b {font-family: 'proxima_nova_altbold', sans-serif;}
h4 {font-weight: bold;}
.title_claim {color: #0079bc;font-family: 'proxima_nova_altblack', sans-serif;font-size: 32px;}
.file_description .download{text-transform:uppercase;}
.sandbox_info{font-size: 85%;margin-bottom: 21px;}

/* home */
.show_tutorial_container {display: none;}
#home_container {height: calc(100vh - 119px) !important;}
.intro {height:90px;padding: 20px 20px;background: #4A4A4A;color: #fff;text-align: center;font-size: 20px;line-height: 25px;text-shadow: 0 1px 0 rgba(0,0,0,0.5);}
.intro > div {opacity: 0.3;}
.intro span {display: block;font-family: 'proxima_nova_altblack', sans-serif;font-size: 26px;}
.challengeHome #challenges_container.row{flex-wrap:wrap;}
.challengeHome .challenge_entry{flex-grow:3;display: flex;flex-direction: row;align-items: center;flex-basis: 70%;}
.challengeHome .challenge_entry[data-status="SANDBOXED"]{flex-grow:1;font-size:0.7em;flex-basis: 30%;}
.challengeHome .challenge_entry[data-status="REGISTRATION"]{flex-grow:1;font-size:0.7em;flex-basis: 30%;}
/** Remove the following when removing the complement */
#complement{
    height: 100%;
    flex-basis: 30%;
    display:flex;
    flex-direction:column;
}

#complement > *{
	flex-grow: 1;
}

#complement .video{
    position: relative;
    width: 640px;
    height: 0;
    padding-bottom: 365px;
}
#complement .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#complement .video-center{
	margin:0 auto;
	width:100%
	
}
#complement .lw-player{
    width: 100%;
    height: 100%;
}
    
#complement .lw-player img{
	width:100%;
}

/* home challenges */
.challenges_container {}
#home_container .cover-box-text {padding: 80px;text-align: left;}
.challengeHome .cover-box-text .title label {font-size: 24px;}
.challengeHome .cover-box-text .title {margin-bottom:10px;font-size: 1.65em;line-height: .875em;font-family: 'proxima_nova_altblack', sans-serif;}
.challengeHome .cover-box-text .subtitle {font-size: 0.87em;line-height: .875em;text-transform:uppercase;font-family: 'proxima_nova_altbold', sans-serif;}
.challengeHome .cover-box-text .description {font-size: 0.87em;line-height: 1.25em;}
[data-status="SANDBOXED"]:not([data-showimage]).cover-box .vignette {background: rgba(238, 238, 238, 0.98);}
[data-status="SANDBOXED"]:not([data-showimage]).cover-box .cover-box-text {color: #4A4A4A;text-shadow: none;}
.status_icon {color: #0079bc;background: none;border:1px solid #0079bc;}
.status_icon.ENDED {}

/* detail */
.view_mode .part_top {overflow: hidden;width: calc(100vw);margin:0;margin-left: calc(-100vw / 12);}
.part_top .col-xs-12 {padding: 0;}
.sub_panel_container {text-align: center;}
.row.description {font-size: 20px;line-height: 30px;}

/* subscirbe */
#subscription_panel {padding: 40px 0;text-align: left;}
#subscription_panel .nav-tabs {border:none;text-align: center;display: flex;font-family: 'proxima_nova_altblack', sans-serif;padding: 0;}
#subscription_panel .nav>li>a {padding: 30px 15px;}
#subscription_panel .nav-tabs>li {float: none;margin-bottom: -1px;flex-grow: 1;flex-basis:calc(100% / 3);background: #f5f5f5;border: none;}
#subscription_panel .nav-tabs>li a {color: #666;}
#subscription_panel .nav-tabs>li.active>a,
#subscription_panel .nav-tabs>li.active>a:hover,
#subscription_panel .nav-tabs>li.active>a:focus {border: 2px solid #0079bc;border-bottom:none;border-radius: 0;color: #0079bc;}
#subscription_panel .tab-content {padding: 40px 40px;border:2px solid #0079bc;border-top:none;border-radius: 0 0 20px 20px;}
#subscription_panel .tab-pane#group_select::before {content: '';display: block;background: url(https://tf01-code-challenge.tamtamyserver.com/tamtamy/skins/code_challenge/graphic/icon_group_selection.svg) no-repeat center center;background-size: contain;height: 128px;width: 100%;margin: 0 0 20px 0;}
#subscription_panel .tab-pane#group_creation::before {content: '';display: block;background: url(https://tf01-code-challenge.tamtamyserver.com/tamtamy/skins/code_challenge/graphic/icon_group_creation.svg) no-repeat center center;background-size: contain;height: 128px;width: 100%;margin: 0 0 20px 0;}
#subscription_panel .tab-pane#group_random::before {content: '';display: block;background: url(https://tf01-code-challenge.tamtamyserver.com/tamtamy/skins/code_challenge/graphic/icon_group_random.svg) no-repeat center center;background-size: contain;height: 128px;width: 100%;margin: 0 0 20px 0;}

/* join */
.join_request .wfActions {text-align:left;margin:0;margin-bottom:20px;}
.join_requests_container {display:flex;flex-wrap:wrap;flex-direction:row;}
.join_requests_container > .join_request {flex-basis: calc(100% / 3);padding:10px;}
.join_requests_container > .join_request .panel {border:1px solid #eee;border-radius: 4px;text-align: left;}
.join_requests_container > .join_request textarea {border: 1px solid #aaa;border-radius: 4px;width: 100%;}
.join_request .status {display: inline-block;border-radius:15px;background: #0079bc;color: #fff;font-weight: bold;text-transform: uppercase;font-size: 12px;padding: 2px 8px;}
.join_request .panel .panel-heading {background: #0079bc;color: #fff;border: none;font-weight: bold;}
.tab-pane#group_select {text-align: center;}
.tab-pane#group_creation {max-width: 460px;margin: 0 auto;text-align: center;}
.tab-pane#group_random {max-width: 460px;margin: 0 auto;text-align: center;}
.request_message {background: #f5f5f5;border-radius: 4px;padding: 10px;margin: 10px 0;}

/* cover art */
.challengeHome .cover-box-text {width:100%;}
.challengeHome #more_challenges .challenge_entry{flex-basis:30%;}
.challengeHome #challenges_container.flex-row{flex-basis:100%;max-width: 100%;}
.challengeHome .challenges_buttons_wrapper{position:fixed;bottom:0;}
.cover_box{max-width:150px;max-height:150px;}
.cover_box img{object-fit:contain;}
.cover-box {position: relative;overflow:hidden;}
.cover-box {background-size: cover !important;background-position: center center !important;background-color: #666;}
.cover-box img {display: none;}
.cover-box .vignette {position: absolute;top:0;left: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.6);}
.cover-box-text {position: relative;padding: 40px 50px;text-align: left;color: #fff;text-shadow: 0 2px 4px rgba(0,0,0,0.2);font-size: 24px;}
.cover-box-text .title label {font-weight: normal;font-size: 16px;text-transform: uppercase;}
.cover-box-text .title {font-size: 38px;text-transform: uppercase;font-weight: bold;}
.cover-box-text .subtitle label {display: none;}
.cover-box-text .subtitle {font-size: 30px;}
.cover-box-text .description label {display: none;}
.cover-box-text .description {font-size: 24px;}
.cover-box-text .status {vertical-align: top;padding: 0 10px;line-height: 32px;font-size:14px;background: #fff;color:#0079bc;border-radius: 16px;display: inline-block;text-shadow: none;opacity: 0.8;}

.part_top .cover-box-text .title label {font-size: 24px;}
.part_top .cover-box-text .title {max-width: 50%;margin-bottom:10px;font-size: 1.65em;line-height: .875em;font-family: 'proxima_nova_altblack', sans-serif;}
.part_top .cover-box-text .subtitle {max-width: 50%;font-size: 0.87em;line-height: .875em;text-transform:uppercase;font-family: 'proxima_nova_altbold', sans-serif;}
.part_top .cover-box-text .description {font-size: 0.87em;line-height: 1.25em;}

/* countdown */
.countdown{font-size: 38px;line-height: 28px;}
.countdown_widget {padding: 20px 0 0 0;}
.countdown > div{display:flex;flex-direction:row}
.countdown .time{flex-grow:1}
.countdown .time .label{font-size: 16px;font-weight: normal;line-height: 32px;}
.countdown_widget {position: absolute;top: 20px;right: 40px;text-align: center;}
.countdown {font-size: 1.65em;line-height: .875em;font-family: 'proxima_nova_altblack', sans-serif;padding: 10px 0;}
.countdown div {text-align: center;}

/* timeline */
.timeline {display:flex;flex-direction:row;}
.challenge-timeline{padding: 70px 0 0;margin: 0 !important;background: none;color: #fff;}
.timeline {background-image: linear-gradient(90deg, #A4E651 20%, #35C14F 84%);border-radius: 0;}
.timeline .segment{flex-grow:1;display:flex;height:40px;background:none;}
.timeline .node{width:0;height:40px;display:flex;flex-direction:column;position:relative;}
.timeline .completion{background:#0079bc;}
.timeline .node_description {position:absolute;transform:translate(-50%,0);bottom:50px;text-align:center;width:150px;}
.timeline .node_description p:first-child {font-weight: bold;}
.timeline .node_description p {margin: 0;}
.timeline .node:first-child .node_description {transform:translate(20%,0);}
.timeline .node:last-child .node_description {transform:translate(-120%,0);}

/* BTN */
.btn-square {font-size: 14px;white-space: normal;}
.btn-square i {font-size: 48px;display: block;margin: 0 0 20px 0;}
.btn-primary {color: #fff;background-color: #0079bc;border-color: #0079bc;}
.btn.btn-huge, .challenge_entry .btn.btn-default {margin:0 auto;font-family: 'proxima_nova_altbold', sans-serif;background: #0079bc;text-shadow:none;color:#fff;border: none;padding:30px 40px;font-size: 22px;font-weight: bold;text-transform: uppercase;}
.btn.btn-huge:hover, .challenge_entry .btn.btn-default:hover {background: #35C14F;}
[data-status="SANDBOXED"].challenge_entry .btn.btn-default {background: none;color: #0079bc;font-size: 18px;padding: 0;margin: 0;}
[data-status="SANDBOXED"].challenge_entry .btn.btn-default::after {display:inline-block;font: normal normal normal 14px/1 FontAwesome;content: "\f054";width: 24px;height: 24px;font-size: 24px;line-height: 24px;margin:0 0 0 4px;}
.readMore a, .readLess a {color: #0079bc;font-weight: bold;}
.readMore a i, .readLess a i {color: #666;}
.btn[disabled="disabled"] {display: none;}
.comment_hack .btn.pager-more {border: none;background: none;text-align: right;padding: 0 10px 0 0;}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {background: #0079bc;border-color: #0079bc;color: #fff;}
.btn-avatar {border-radius:50px;width:30px;height:30px;background-size:cover;border: none;}

/* learder board */
[data-tt-widget-widget="Challenge/ChallengeLeaderboard"]{width:100%;}
.show_full_lead{cursor:pointer}
.leader_board .list-group-item {border-radius: 0;border: none;background: #f5f5f5;}
.leader_board .list-group-item i { font-size:1.5em; line-height:32px; vertical-align:middle;}
.leader_board .list-group-item.my-group {background: #0079bc;color: #fff;}

/* widgets */
.clean_widget {background: none;border: none;margin: 0;padding: 0;}
.clean_widget .widget_padding {padding: 0;}
.clean_widget .widget_padding div {vertical-align: top;}

h2.widget_title {text-transform:none;margin-bottom:40px;border:none;font-size: 1.65em;line-height: .875em;font-family: 'proxima_nova_altblack', sans-serif;}
h2.widget_title i.fa {display: none;}
.sidebar .wrapwidg {border: none;padding: 0;margin-bottom: 80px;}
.sidebar .wrapwidg .widget_padding {padding: 0;}
h2.widget_title .tooltip{text-transform:none;}

/* Avatars */
.group_user .avatar {width: 48px;height: auto;max-width: 100%;border-radius: 50%;}
.submission.avatar {width: 48px;height: 48px;max-width: 100%;border-radius: 50%;}

/* groups */
.group_widget h2.widget_title {padding-right: 36px;position: relative;}
span.user_number {position: absolute;right: 0;top: 8px;height: 32px;width: 32px;overflow: hidden;color: #fff;background: #0079bc;border-radius: 50%;line-height: 32px;font-size: 20px;text-align: center;}
.group_list > div {display: inline;}
.group_user {display: inline-block;}
.pagination_elements .btn-default {border: none;}
.pagination_elements {display:flex;flex-direction:row-reverse;}

/* files */
.row.attachments {margin-bottom: 80px;}
ul.view_mode_files .buttons_wrapper{display:none!important}
.file {text-align: center;padding:10px 0;}
[data-tt-widget-widget="fileUploader"] {padding:10px 0;}
.modal .show_full_lead{display:none;}
[data-tt-widget-uploaded-files-list]{display:flex;flex-direction:row;max-width: 100%;flex-wrap: wrap;}
[data-tt-widget-uploaded-files-list] > li{flex-grow:0;text-align:center;margin: 0 auto;}
[data-tt-widget-uploaded-files-list] .file a {color: #666;}
.file_icon {float:none;height:60px;font-size:48px;text-align: center;}
.file_icon .file_tipe {display: none;}
.file_icon:before{font-family: FontAwesome;font-style: normal;font-weight: normal;margin:0 auto}
.file_icon.DOCUMENT:before{content:'\f15b';}
.file_icon.OTHER:before{content:'\f15b';}
.file_description {text-align:center;font-size: 12px;overflow: hidden;clear:both;padding: 0 10px;margin: 0;}
.file_description p {white-space: nowrap;text-overflow: ellipsis;display: block;margin-bottom: 15px;overflow: hidden;}
.file_description .download::before {content: '';display: inline-block;height: 20px;width: 20px;background: url(https://tf01-code-challenge.tamtamyserver.com/tamtamy/skins/code_challenge/graphic/icon_download.svg) no-repeat center center;background-size: contain;margin: 0 4px 0 0;}
.file .buttons_wrapper {border:none;padding: 10px 0;}
.file_card .file a::after {content: '';display: block;margin: 8px auto 0;height: 20px;width: 20px;background: url(https://tf01-code-challenge.tamtamyserver.com/tamtamy/skins/code_challenge/graphic/icon_download.svg) no-repeat center center;background-size: contain;}
.file_description .download {display: block;text-align: center;}
.inout_container .in_out {width: 25%;text-align: center;}
.output_fn_file {text-align: center;}
.iofile > *{display:inline-block;} 
/* material */
.attachments .file_icon {float:left;margin:0 10px 0 0;height: 48px;line-height: 48px;}
.attachments .file {text-align: center;padding: 10px 20px 10px 0;}
.attachments .file_description {text-align: left;clear: none;}
.attachments .file_description .download {display: block;text-align: left;}
.attachments .file_description p {margin-bottom: 10px;}
.attachments [data-tt-widget-uploaded-files-list] > li {flex-grow: 0;text-align: left;flex-basis: calc(100% / 3);}

/* subs */
.group_submissions .widget_padding {width: 100%;float: none;}
submission_files {padding:10px 0;}

/* FLEX 2 columns
.group_submissions .list-group {display: flex;flex-flow: row wrap;}
.group_submissions .list-group-item {flex-basis: 50%;border: none;padding: 20px;}
*/
.group_submissions .list-group {display: initial;flex-flow: row wrap;}
.group_submissions .list-group-item {flex-basis: 100%; /* max-width: 820px */;margin: 0 auto;border: none;}

.group_submissions .list-group-item > .file_card {border: 0;padding: 20px;border-radius: 4px;position: relative; background:#fafafa; display:flex;}
.group_submissions .list-group-item > .file_card .status .status-value { text-transform:uppercase; font-size: .78em; }
.group_submissions .list-group-item > .file_card .sub_total_score {font-family: 'proxima_nova_altblack', sans-serif; font-size: 1.2em; line-height: 1; display:block; text-align:center;}
.group_submissions .list-group-item > .file_card.SCORED { }
.group_submissions .list-group-item > .file_card.INVALID {}
.group_submissions .list-group-item > .file_card.LAMBDA_PROBLEM {border-color: red;}
.group_submissions .list-group-item > .file_card.REJECTED {border-color: red;}
.group_submissions .list-group-item > .file_card.SCORED .status{}
.group_submissions .list-group-item > .file_card.INVALID .status{}
.group_submissions .list-group-item > .file_card.LAMBDA_PROBLEM .status{}
.group_submissions .list-group-item > .file_card.REJECTED .status{}
.submissions_buttons_wrapper {display: block;clear: both;width: 100%;pad: 10px 0;text-align: center;}
.submissions_buttons_wrapper .btn.btn-primary[data-tt-widget-trigger="showMore"] {width: 100%; max-width: 820px; margin: 10px 0;fontweight:bold;}
.submissions_buttons_wrapper .btn.btn-primary[data-tt-widget-trigger="showMore"] i {margin:0 10px 0;} 
.submissions_buttons_wrapper .btn-default {border: none; background: none;font-size: 24px;padding: 0;}
.submission.avatar {position: absolute;top:8px;left: -24px;box-shadow: 0 2px 2px rgba(0,0,0,0.2);}
.total_score {display: none;}
.output_score {height: 32px;width: auto;overflow: hidden;color: #fff;background: #0079bc;border-radius: 16px;line-height: 28px;font-size: 16px;text-align: center;padding:0 8px;}
.file.output_fn strong {height: 32px;line-height: 32px;position:absolute;text-align:center;top:12px;}
.send_submission_panel .col-md-9, .send_submission_panel .col-md-3 {padding: 0;}
.send_submission_panel h4 + p {line-height: 20px;min-height: 40px;padding:0 20px 0 0;}
.fa-arrow-left{display:block!important}
.group_dashboard.comment_hack .widget_padding{padding:0}
.group_submissions p{margin:0}
.group_submissions .submission_files i{font-size: 40px;}
.group_submissions .fa-stack{height: 1.2em;line-height: 1.3em;}
.group_submissions .submission_files > *{flex-grow:1}
.group_submissions .filename{margin:0;}
.sub_panel_container{margin-top:20px;}
.group_submissions .list-group{ flex-wrap:wrap!important; }

#home_groups_accordion .group_submissions .list-group-item {flex-basis: 100%}
.submissions.available_actions {padding: 10px 0;}
i.fa.fa-info {height: 20px;width: 20px;line-height: 20px;text-align: center;border-radius: 50%;background: #666;color: #fff;font-size: 12px;}
.alert.alert-info i.fa.fa-info {background: #31708f;}

.group_submissions .file .fa-stack {display: inline-block;position: relative;}
.group_submissions .file .filename {display: none;}
.group_submissions .file a {display:inline-block;position:relative;}
.group_submissions .file a i {color: #666;}
.group_submissions .file span i {color: #aaa;}
.group_submissions .file a strong, .group_submissions .file span strong {font-size: 14px;color: #fff;}
.group_submissions .output_score {position:absolute;text-align:center;border:2px solid #fafafa;top:16px;right:-16px;}
.group_submissions .time {font-size: 11px; display:block; text-align:center;}
.missing_output{cursor: no-drop;}


/* files rules */
.missing_output{opacity:0.4;}
.file.missing {opacity: 0.3;}
.file.missing .file_description .download::before {content: '';display: inline-block;height: 20px;width: 20px;background: url(https://tf01-code-challenge.tamtamyserver.com/tamtamy/skins/code_challenge/graphic/icon_missed.svg) no-repeat center center;background-size: contain;margin: 0 4px 0 0;}
.file.missing .file_icon {color: #0079bc;}

.btn-toolbar {padding: 0 0 4px 0;}
.btn-toolbar button.btn {border-radius: 50% !important;width: 24px;height: 24px;text-align: center;line-height: 24px;padding: 0;}
.btn-toolbar button.btn:hover {background: #eee !important;color: #000;}
.btn-toolbar button.btn.btn-info {background: #0079bc;color: #fff;}

.inout_container.flex-row {flex-flow: row wrap;}
.uploading_output .file_upload .file::before {content: '';text-align:center;display: inline-block;height: 32px;width: 100%;background: url(https://tf01-code-challenge.tamtamyserver.com/tamtamy/skins/code_challenge/graphic/icon_upload.svg) no-repeat center center;background-size: contain;margin: 0;}
.output_fn_file .file {position: relative;}
.output_fn_file strong {position: absolute; left: 0;width: 100%;top: 50px;text-align: center;color: #fff;font-size: 12px;}

/* upload */
#code-challenge-form {}
.btn-file {padding: 20px 10px;margin: 0 5px;white-space: normal;font-size: 10px;background: #e0e5e8;color: #0079bc;font-weight: bold;border: 2px dashed #0079bc;text-transform: uppercase;}

/* waiting */
[data-role="RANDOM_QUEUE_USER"] {}
.icon_hourglass {display:block;height: 128px;margin-bottom:20px;background: url(https://tf01-code-challenge.tamtamyserver.com/tamtamy/skins/code_challenge/graphic/icon_hourglass.svg) no-repeat center center;background-size: auto 90%;}
 
 /* messages */
.file_box.INVALID i{color:red!important;opacity:0.6;}
.status.CANCELED {background: #aaa;}
.status.INVALID, .status.REJECTED {background: red;}
.request_message {border:1px dashed #ccc;}

/* read more */
.text_shortener{display:flex;flex-direction:column;}
.text_shortener.restricted .text_stack{overflow:hidden;max-height:200px;position:relative}
.text_shortener.restricted .content_restrictor:before{
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 41%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 41%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 41%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
content: "\00a0";
height: 100%;
position: absolute;
width: 100%;
}
.text_shortener.restricted .readMore{display:block;}
.text_shortener.restricted .readLess{display:none;}
.text_shortener .readMore{display:none;text-align:right;cursor:pointer;}
.text_shortener .readLess{display:block;text-align:right;cursor:pointer;}

.rules {line-height: 60px;font-weight: bold;padding: 0 10px 0 0;}
#challenge-rules-container {padding: 20px;}
#challenge-rules-container .challenge-rules-title {text-transform: uppercase;margin-bottom: 2em;font-family: 'proxima_nova_altblack', sans-serif;}
#challenge-rules-container .challenge-rules-title, .section-title {font-weight: bold;}
#challenge-rules-container article section {margin-bottom: 3em;}
#challenge-rules-container .challenge-rules-download {text-align: center;}
#challenge-rules-container .challenge-rules-download a[href] {color: white !important;}

/* Submission score 
[data-role="SANDBOX_COMPETITOR"] .sub_total_score{display:inline-block;}
[data-role="CREATOR"] .sub_total_score{display:inline-block;}
.sub_total_score{display:none;}*/

/* Team submissions title hack */
.team_submissions.widget_title:before{content:'Team submissions'}
[data-role='SANDBOX_COMPETITOR'] .team_submissions.widget_title:before{content:'My submissions'}


.card_info { 
	position:relative; 
    top:-20px;
    margin-bottom: -40px;
    right:-20px;
    background: #ccc;
    padding: 20px 0;
    overflow:hidden;
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
	min-width:120px;
}


.card_info > div { position:relative; z-index:10; text-align:center; padding-left:0; padding-right:0;}
.card_info  * { color:rgba(255,255,255, .7);}

div.code_challenge:not([data-role='SANDBOX_COMPETITOR']) .best .card_info .icon:after {
    content: '\f005';
    font-family: fontawesome;
    color: white;
    display: inline-block;
    top: -0.1em;
    position: absolute;
    right: 24px;
    font-size: 1.3em;
    background: #0079bc;
    width: 30px;
    height: 30px;
    border-radius: 30px;
}
.REJECTED .card_info,
.INVALID .card_info,
.LAMBDA_PROBLEM .card_info{
    background:#fd6464;
}


.PENDING_VALIDATION .card_info{
    background:#31708f;
}


.SCORED .card_info, 
.card_info.best-files{
    background:#0079bc;
}


.VALID .card_info {
    background:#0079bc;
}

.card_info.best-files .icon:before{ 
	content:'\f135';
	font-family: fontawesome;
    text-align: center;
    color: #fff;
    font-size: 2em;
    display: block;
    border: 2px solid #fff;
    width: 1.6em;
    margin: 0 auto 10px auto;
    height: 1.6em;
    line-height: 1.45;
    vertical-align: middle;
    border-radius: 50%;
    padding: 0;
}


.REJECTED .card_info .icon:before,
.INVALID .card_info .icon:before{ 
	content:'\f00d';
	font-family: fontawesome;
    text-align: center;
    color: rgba(255,255,255, .7);
    font-size: 2em;
    display: block;
    border: 2px solid rgba(255,255,255, .7);
    width: 1.6em;
    margin: 0 auto 10px auto;
    height: 1.6em;
    line-height: 1.45;
    vertical-align: middle;
    border-radius: 50%;
    padding: 0;
}

.SCORED .card_info .icon:before{ 
	content: '\f00c';
	font-family: fontawesome;
    text-align: center;
    color: rgba(255,255,255, .7);
    font-size: 2em;
    display: block;
    border: 2px solid rgba(255,255,255, .7);
    width: 1.6em;
    margin: 0 auto 10px auto;
    height: 1.6em;
    line-height: 1.6;
    vertical-align: middle;
    border-radius: 50%;
    padding: 0;
}



.file_box .output_score {
	height: 32px;
    width: auto;
    overflow: hidden;
    color: #fff;
    border-radius: 24px;
    line-height: 28px;
    font-size: 12px;
    text-align: center;
    padding: 0 8px;
    border-color: #fafafa!important;
    white-space: nowrap;
    display: block;
    text-align: center;
    min-width: 72px;
}
div.code_challenge:not([data-role='SANDBOX_COMPETITOR']) .file_box.best .output_score {background: #ffc716!important}

div.code_challenge:not([data-role='SANDBOX_COMPETITOR']) .file_box.best .output_score:before { 
	content:'\f005'; 
	font-family: fontawesome;
	color:white;
	display:inline-block; 
	margin-right:5px;
	
}

.status-mess { margin-bottom:20px:}


.group_submissions .score-value {
	    font-family: 'proxima_nova_altblack', sans-serif;
	    font-size:1.7em;
	    color:#fff;
}
.group_widget .submission_files_list  { position:relative; overflow:visible; margin-bottom:-20px;}
.group_widget .submission_files_list li .fa-plus-circle{ font-size:20px; color:#0079bc; background:#fff;}
.group_widget .submission_files_list li.output_score { 
	height: 32px;
    width: auto;
    overflow: hidden;
    color: #fff;
    background: #ffc716!important;
    border-radius: 24px;
    line-height: 32px;
    font-size: 12px;
    text-align: center;
    padding: 0 8px;
    border-color: #fafafa!important;
    white-space: nowrap;
    display: block;
    text-align: center;
    min-width: 72px;
    position: absolute;
    left: 24px;
    top: 19px;
    vertical-align: middle;
    min-width:inherit;
}


.submission_files_list{ position:relative;}
.submission_files_list .list-group-item > .file_card { }


.submission_files_list .file.text-center .c-inline-block:first-child{
	max-width:100%;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	font-size:.8em;
}

.submission_files_list  .file { position:relative; max-width:160px;}

.submission_files_list .fa.fa-plus-circle { position:relative; z-index:5; position:absolute; left:0; font-size:.8em;}
.group_widget .submission_files_list li .output_score { 
	height: 22px!important;
    width: auto;
    overflow: hidden;
    color: #fff;
    background: #ffc716!important;
    border-radius: 24px;
    line-height: 22px;
    font-size: 12px;
    text-align: center;
    padding: 0 6px;
    border-color: #fafafa!important;
    white-space: nowrap;
    display: block;
    min-width: inherit;
    float:left;
    
}

/* .group_widget .submission_files_list li {    
    margin-bottom: 20px;
} */

.group_widget .submission_files_list li .c-inline-block {
	display:inline-block;
}
.group_widget .submission_files_list li .c-inline-block + .c-inline-block { margin-left:7px;}
.group_widget .submission_files_list li .filename {
	display:block;
    text-align:left;
    width:100%;
    clear:both;
    font-weight:bold;
}

.group_widget .submission_files_list li .file > a.file_box  {
    display: inline-block;
    width: 90%;
    text-align: left!important;
    vertical-align: middle;
    padding: 15px;
    border-radius:4px;
}
.submission_files_list .author { 
	font-size:.8em;
	display:block;
	top: 0;
	left: 4px;
	position: relative;
	line-height:1.1;
	z-index:10;
	
}
a.draw-solution i,a.draw-solution:hover i { cursor:pointer!important;}

/* solution drawer */
.file_card .buttons-wrapper {display: block; padding-top: 2px;}
.file_card .file a::after {content: '';display: none;}
.file_card .file .buttons-wrapper a::after {content: '';display: block;margin: 8px auto 0;height: 20px;width: 20px;background: url(https://tf01-code-challenge.tamtamyserver.com/tamtamy/skins/code_challenge/graphic/icon_download.svg) no-repeat center center;background-size: contain;}
.file_card .file a.draw-solution::after {content: '';display: block;margin: 8px auto 0;height: 20px;width: 20px;background: none; background-size: contain;}
.file_card .file a.draw-solution i {font-size: 20px; line-height: 20px; top: -1px; position: relative; color: #666;}

.modal-drawer {
	text-align:center;
}
.modal-dialog.solution-drawer-modal {
    width: auto!important;
    display:inline-block;
}

.modal-dialog.solution-drawer-modal .modal-header {
    padding: 15px;
    border-bottom: 0;
    min-height: 16.42857143px;
}
.code-challenge-solution-drawer canvas.myCanvas {
    padding: 0px;
    margin: 0 0 20px 0;
    display: block;
    border: 0;
    border-radius: 0px;
    max-width: 100%;
    min-width: 100%;
    cursor: crosshair;
    position:relative;
}
.code-challenge-solution-drawer {
    text-align: center;
    padding: 0 15px;
}
.green-background {
	background:#0079bc;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    bottom: -15px;
    position: relative;
    padding:20px;
}
.code-challenge-solution-drawer .buttons-interact, .code-challenge-solution-drawer .buttons-download {
    margin: 0;
}
.modal-dialog.solution-drawer-modal  button.close {
    background: #FFF;
    border: 0!important;
    border-radius: 50%;
    height: 32px;
    line-height: 32px;
    text-align: center;
    width: 32px;
}

.code-challenge-solution-drawer ul {list-style: none; margin: 0; padding: 10px;}
.code-challenge-solution-drawer .btn-link { color:inherit;}
.code-challenge-solution-drawer .btn-white { color:rgba(255,255,255, .7);}
.code-challenge-solution-drawer .btn-link:hover,.code-challenge-solution-drawer .btn-link:focus,.code-challenge-solution-drawer .btn-link:active { text-decoration:none; color:#0079bc;}
.code-challenge-solution-drawer .btn-white:hover,.code-challenge-solution-drawer .btn-white:focus,.code-challenge-solution-white .btn-link:active { color:white;}
.canvas-loading:before { content:'\f110'; font-family:fontawesome; display:block; position:absolute; width:20px; height:20px; left:50%; margin-left:-10px; top:50%; margin-top: -10px;   
	-webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  transform-origin:center center;
  color:#0079bc;
 }
 
 
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.submission_files_list .fa.fa-plus-circle { z-index:5; position:absolute; left:0; font-size:1em; top:42px; color: #0079bc;}

.submission_files_list .c-inline-block + .c-inline-block > span {display:none!important;}



.submission_files_list .file a.ouptut_fn .c-inline-block > i  {
   font-size:1.5em;
   vertical-align:middle;
}

.submission_files_list .file .author{ color:transparent!important;}
.submission_files_list .file .author button { position:absolute; top:-10px; left:10px; display:block; width:24px!important; height:24px!important; border-radius:30px;}

.submission_files_list .file_box.best .output_score { border-color:white!important;}

.group_submissions .output_score {
    position: relative;
    text-align: center;
    border: 2px solid #fafafa;
    left:inherit;
    right:inherit;
    top: -16px;
    margin-bottom:-20px;

}
.submission_files_list .file.text-center .c-inline-block + .c-inline-block { position:relative; z-index:10;} 

.submission_files_list .file_card a.ouptut_fn::after { display:none;}
.submission_files_list .file_card a.ouptut_fn i {
    color: #0079bcimportant;
}
.submission_files_list .file_card a.ouptut_fn i::after { content:"</>"; font-size: .4em;
    position: absolute;
    bottom: 3px;
    left: 3px;
    color: white; 
}

#complement { background: #f5f5f5;}
#complement > * {flex-grow: inherit;}
#complement .user {flex-grow:1; } 
.users-online { width:100%; border-top:1px solid rgba(0,0,0, .2);}
.users-online h2 { font-size:2.7em; font-family: 'proxima_nova_altblack', sans-serif; color: #0079bc; text-align:center; display:inline-block; margin:0; line-height:2em}
.users-online div {font-family: 'Proxima Nova', sans-serif; font-weight:300;text-align:left; display:inline-block; line-height:5em; margin-left:10px;}

.time-list { padding-top:2em;  }
.time-list strong { font-family: 'proxima_nova_altblack', sans-serif; color: #0079bc; display:inline-block; }
.time-list li { margin-bottom:10px; line-height:1; list-style:none;}

/* RESPONSIVE */

@media (max-width:1560px) and (min-width:1320px){
	.leader_board .list-group-item .leaderboard-info .group-name,
	.leader_board .list-group-item .leaderboard-info .reached_on { max-width: 105px;}
	.leader_board .list-group-item .leader-board-andamento {width: 50px;}
    }

@media (max-width:1024px) {
    #mainwrap {overflow: hidden;}
    .challengeHome .challenge_entry {flex-grow:0;flex-basis: 50%;}
    .challengeHome .challenge_entry[data-status="SANDBOXED"]{flex-grow:0;flex-basis: 50%;}
    .challengeHome .challenge_entry[data-status="REGISTRATION"]{flex-grow:0;flex-basis: 50%;}
    .view_mode .part_top {overflow: hidden;width: 100%;margin: 0;margin-left: 0;}
    .group_submissions .list-group-item > .file_card .sub_total_score { width:100%; overflow:hidden; white-space: nowrap; text-overflow:ellipsis;}
	div.code_challenge:not([data-role='SANDBOX_COMPETITOR']) .best .card_info .icon:after {right: 0;}
	
	#challenges_container { flex-wrap: wrap;}
}

@media (max-width:1320px) and (min-width:769px) {
    .leader_board .list-group-item + .list-group-item { border-top:4px solid #fff!important;}
	.leader_board .list-group-item .leaderboard-info { padding-left: 10px; width: 70%; clear: right;}
    .leader_board .list-group-item .leader-board-info-name-data > span { padding:0;}
    .leader_board .list-group-item .leader-board-andamento { text-align:left; width:100%;}
    .leader_board .list-group-item .leader-board-score { float:left; padding-left:10px;}
    .leader_board .list-group-item .position { min-height:130px;}
    .leader_board .list-group-item .position > span { height:100%;}
   	.leader_board .list-group-item .badge { text-align:left; padding:0;}
}

@media (max-width:768px) {	
	.card_info .icon, .card_info_text { float:left; padding: 0 10px 0 20px;}
	.card_info_text { padding: 0 10px 0 30px;}
	.group_submissions .list-group-item > .file_card {display:block!important;}
	.card_info {
	    width:100%;
	    height:52%;
	    top:inherit;
	    bottom:0;
		border-top-right-radius:0;
		border-bottom-left-radius:4px;
		border-bottom-right-radius:4px;
	    margin-top: 0;
	    margin-bottom: -20px;
	    left: -20px;
	    width: calc(100% + 40px);
	}
	.card_info * {display:block; text-transform:uppercase;} 
	.group_submissions .list-group-item > .file_card .sub_total_score {text-align: left;}
	.card_info .status, .card_info .sub_total_score, .card_info .time { text-align:left; }
/* 	.file_card .icon { margin-left:-20px; margin-right:-20px;} */
	.best .card_info .icon:after { margin-left: -2.3em;}
	.card_info { margin-top: 20px;}
	
	.group_submissions .list-group-item > .file_card .status .sub_total_score { display: block;}
	div.code_challenge:not([data-role='SANDBOX_COMPETITOR']) .best .card_info .icon:after {
	    content: '\f005';
	    font-family: fontawesome;
	    color: white;
	    display: inline-block;
	    margin-right:0;
	    top: -0.1em;
	    right: 0;
	    margin-left:12px;
	    font-size: 1.3em;
	    background: #0079bc;
	    width: 30px;
	    height: 30px;
	    border-radius: 30px;
	}
	.file_box.best .output_score {
	    height: 32px;
	    width: auto;
	    overflow: hidden;
	    color: #fff;
	    background: #ffc716!important;
	    border-radius: 24px;
	    line-height: 28px;
	    font-size: 12px;
	    text-align: center;
	    padding: 0 8px;
	    border-color: #fafafa!important;
	    white-space: nowrap;
	    display: block;
	    text-align: center;
	    min-width: 64px;
	}
	.file output_fn .fa-file { margin-bottom: 16px;}
	.file_card .submission_files { margin: 0 -20px; }
	.group_submissions .output_score {
		position: relative;
	    top: -24px;
	    right: inherit;
	    display: block;
	    z-index: 10;
	    margin-bottom: -32px;
	}
	.submission.avatar {
	    position: absolute;
	    top: 8px;
	    left: -10px;
	    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	}
	.card_texts { padding-left:10px;}
	.group_widget .submission_files_list li .file > a.file_box  {
	    width: 88%;
	    text-align: left!important;
	    vertical-align: middle;
	    padding: 20px;
	    border-radius:4px;
	}
}



@media (max-width:640px) {
	.card_info .icon, .card_info_text { float:left; padding: 0 10px 0 20px;}
	.card_info_text { padding: 0 10px 0 30px;}
    .user_session {display: none;}
    #home_container {height: auto;}
    .challengeHome #challenges_container.flex-row {display: block;flex-basis: initial;flex-direction: initial;padding-bottom: 60px;}
    .challengeHome .challenge_entry {flex-grow: 0;display: block;flex-basis: initial;height: calc(100vh - 119px);}
    .challengeHome .challenge_entry[data-status="SANDBOXED"]{flex-grow:0;font-size:0.7em;flex-basis: initial;}
    .challengeHome .challenge_entry[data-status="REGISTRATION"]{flex-grow:0;font-size:0.7em;flex-basis: initial;}
    #home_container .cover-box-text {padding: 20px;text-align: left;}
    #home_container {height: auto !important;}
    .challengeHome .cover-box-text .description {font-size: 0.6em;}
    [data-tt-widget-uploaded-files-list] {flex-wrap: wrap;}
    [data-tt-widget-uploaded-files-list] > li {flex-basis: 50%;width: 50%;}
    .countdown_widget {position: relative;top: auto;right: auto;text-align: left;}
    .part_top .cover-box-text .title {max-width: none;}
    .part_top .cover-box-text .subtitle {max-width: none;}
    .timeline .node_description {font-size: 10px;width: 100px;}
    .timeline .node:first-child .node_description {transform: translate(0,0);}
    .timeline .node:last-child .node_description {transform: translate(-100%,0);}
    .timeline .node:nth-child(3) .node_description {transform: translate(-35%,0);}
    .timeline .node:nth-child(5) .node_description {transform: translate(-65%,0);}
    .group_submissions .list-group-item {flex-basis: 100%;}
    .inout_container .in_out {width: 50%;}
    .in_out [data-tt-widget-uploaded-files-list] > li {flex-basis: 100%;width: 100%;}
    .send_submission_panel .col-md-3 {padding-left: 15px;padding-right: 15px;}
    #subscription_panel .tab-content {padding: 20px;}
    .join_requests_container > .join_request {flex-basis: 100%;}
    #subscription_panel .nav>li>a {padding: 10px;font-size: 11px;text-transform: uppercase;line-height: 12px;min-height: 46px;margin: 0;}
    .row.description {font-size: 18px;line-height: 24px;}
    #footer {position: fixed;bottom:0;left:0;width:100%;background: #fff;}
    #home_container .cover-box-text {margin: 40px 0 0 0;width: 100%;text-align: center;}
    .challengeHome .challenge_entry:first-child:after {font-family: FontAwesome;content: "\f078";font-size:48px;color:#fff;position: absolute;left: calc(50% - 32px);bottom: 15px;width: 64px;height: 32px;line-height: 32px;text-align: center;opacity: 0.3;}
    
    .leader_board .list-group-item + .list-group-item { border-top:4px solid #fff!important;}
	.leader_board .list-group-item .leaderboard-info { padding-left: 20px; width: 80%; clear: right;}
    .leader_board .list-group-item .leader-board-info-name-data > span { padding:0;}
    .leader_board .list-group-item .leader-board-andamento { text-align:left; width:100%;}
    .leader_board .list-group-item .leader-board-score { float:left; padding-left:20px;}
    .leader_board .list-group-item .position { min-height:130px;}
    .leader_board .list-group-item .position > span { height:100%;}
    .leader_board .list-group-item .badge { text-align:left; padding:0;}
}

/* ribbon */
.ribbon {
  z-index: 13;
  position: absolute;
  right: -5px; top: -5px;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#2989d8 0%, #1e5799 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #1e5799;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #1e5799;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #1e5799;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #1e5799;
}

[data-competitor-class="KcUser"] .panel-title{
	color:purple;
}

#home_groups_accordion .panel-heading{
	position:relative;
}

.sandbox_note{
	padding:5px;
	background: linear-gradient(#2989d8 0%, #1e5799 100%);
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	border-radius:10px;
	text-transform: uppercase;
	
}

/*html body a {
    color: rgba(0, 121, 188, .8)!important;
}*/

.challenge_entry.challenge_data.cover-box:nth-child(1) .btn.btn-default{ color:white;}
.challenge_entry.challenge_data.cover-box:nth-child(1) .status_icon { border-color:#fff!important; color:#fff!important;}
