/* Component basic layout rules */

	.ttcomponent-listCards * { 
		color:white;
	}
	
	.ttcomponent-listCards .card {
		background: #fafafa;
		flex: 1 0 0px;
		height: auto;
		position:relative;
	}
	.ttcomponent-listCards .card:before {
		content:'';
		float:left;
		padding-top:100%;
		pointer-events:none;
	}
	.ttcomponent-listCards .card-block > div {
		position:relative;
		z-index:1
	}
	.ttcomponent-listCards .card-title { display:inline-block;}
	.ttcomponent-listCards .card-block:after {
		content:'';
		position:absolute;
		pointer-events:none;
		z-index:0;
		bottom:0;
		left:0;
		display:block;
		width:100%;
		height: 100%;
		pointer-events:none;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+16,0.7+80 */
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 16%, rgba(0,0,0,0.7) 80%, rgba(0,0,0,0.7) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 16%,rgba(0,0,0,0.7) 80%,rgba(0,0,0,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 16%,rgba(0,0,0,0.7) 80%,rgba(0,0,0,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 ); /* IE6-9 */
		
	}
	.ttcomponent-listCards .card .card-block { 
		position:relative; 
		z-index:0; 
		transition:transform .4s ease-in-out, box-shadow .3s ease-in-out;
	}
	.ttcomponent-listCards .card:hover .card-block {
		transform:scale(1.03);
		box-shadow: 0 5px 35px 0 rgba(0,0,0, .2);
		z-index:1;
	}


	