@font-face {
    font-family: "Helvetica Neue Light";
    src: url("./fonts/HelveticaNeue-Light.otf");
}
@font-face {
    font-family: "Helvetica Neue Bold";
    src: url("./fonts/HelveticaNeueBold.otf");
}
@font-face {
    font-family: "Helvetica Neue Medium";
    src: url("./fonts/HelveticaNeue-Medium.otf");
}
@font-face {
    font-family: "Helvetica Neue Thin";
    src: url("./fonts/HelveticaNeue-Thin.otf");
}
@font-face {
    font-family: "Helvetica Neue Italic";
    src: url("./fonts/HelveticaNeueItalic.ttf");
}
@font-face {
    font-family: "Libre Baskerville Italic";
    src: url("./fonts/LibreBaskerville-Italic.otf");
}
@font-face {
    font-family: "HelveticaNeueW02-Thin";
    src: url("./fonts/674411/30b6ffc3-3b64-40dd-9ff8-a3a850daf535.eot?#iefix");
    src: url("./fonts/674411/30b6ffc3-3b64-40dd-9ff8-a3a850daf535.eot?#iefix") format("eot"), url("./fonts/674411/96b33a5f-d3a7-4a34-b360-76867695bb83.woff2") format("woff2"), url("./fonts/674411/775a65da-14aa-4634-be95-6724c05fd522.woff") format("woff"), url("./fonts/674411/988eaaa7-5565-4f65-bb17-146b650ce9e9.ttf") format("truetype"), url("./fonts/674411/3503a1a6-91c3-4c42-8e66-2ea7b2b57541.svg#3503a1a6-91c3-4c42-8e66-2ea7b2b57541") format("svg");
}
@font-face {
    font-family: "HelveticaNeueW02-45Ligh";
    src: url("./fonts/694015/88fcd49a-13c7-4d0c-86b1-ad1e258bd75d.eot?#iefix");
    src: url("./fonts/694015/88fcd49a-13c7-4d0c-86b1-ad1e258bd75d.eot?#iefix") format("eot"), url("./fonts/694015/7732d6de-bd05-4c17-ae43-99e9a02edf31.woff2") format("woff2"), url("./fonts/694015/9a2e4855-380f-477f-950e-d98e8db54eac.woff") format("woff"), url("./fonts/694015/fa82d0ee-4fbd-4cc9-bf9f-226ad1fcbae2.ttf") format("truetype"), url("./fonts/694015/48d599a6-92b5-4d43-a4ac-8959f6971853.svg#48d599a6-92b5-4d43-a4ac-8959f6971853") format("svg");
}
@font-face {
    font-family: "HelveticaNeueW02-55Roma";
    src: url("./fonts/694021/0b3a3fca-0fad-402b-bd38-fdcbad1ef776.eot?#iefix");
    src: url("./fonts/694021/0b3a3fca-0fad-402b-bd38-fdcbad1ef776.eot?#iefix") format("eot"), url("./fonts/694021/b4cd926c-1a31-4785-b261-1db1a68c521e.woff2") format("woff2"), url("./fonts/694021/d5af76d8-a90b-4527-b3a3-182207cc3250.woff") format("woff"), url("./fonts/694021/1d238354-d156-4dde-89ea-4770ef04b9f9.ttf") format("truetype"), url("./fonts/694021/b68875cb-14a9-472e-8177-0247605124d7.svg#b68875cb-14a9-472e-8177-0247605124d7") format("svg");
}
@font-face {
    font-family: "HelveticaNeueW02-75Bold";
    src: url("./fonts/694033/db853e0e-929b-4272-b420-c946c954cf3a.eot?#iefix");
    src: url("./fonts/694033/db853e0e-929b-4272-b420-c946c954cf3a.eot?#iefix") format("eot"), url("./fonts/694033/2a5cf81d-ffbe-4c76-8982-270592fb36b0.woff2") format("woff2"), url("./fonts/694033/4a9c62ab-b359-4081-8383-a0d1cdebd111.woff") format("woff"), url("./fonts/694033/db5f9ba6-05a4-433a-9461-0a6f257a0c3a.ttf") format("truetype"), url("./fonts/694033/25e09910-ffc3-4fc4-b0d1-db9a95dface8.svg#25e09910-ffc3-4fc4-b0d1-db9a95dface8") format("svg");
}
