/* Component basic layout rules */

.tt-component-avatarImg {
	min-height: 40px;
	min-width: 40px;
	background-color:rgba(0,0,0, .1);
	background-size: cover;
	border-radius: 50%;
	display: inline-block;
}

.tt-component-avatarImg.small{
	max-height: 40px;
	max-width: 40px;
}

.tt-component-avatarImg.medium{
	max-height: 60px;
	max-width: 60px;
}

.tt-component-avatarImg.big{
	max-height: 120px;
	max-width: 120px;
}

