@media (max-width: 1200px){

}
@media (max-width: 1024px){

}

@media (max-width: 767px){
/* 	.ttcomponent-breadcrumbs:after { */
/* 		content:''; */
/* 		display:block; */
/* 		width:25px; */
/* 		height:100%; */
/* 		Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5f8fa+0,f5f8fa+100&0+0,1+100 */
/* 		background: -moz-linear-gradient(left, rgba(245,248,250,0) 0%, rgba(245,248,250,1) 100%); FF3.6-15 */
/* 		background: -webkit-linear-gradient(left, rgba(245,248,250,0) 0%,rgba(245,248,250,1) 100%); Chrome10-25,Safari5.1-6 */
/* 		background: linear-gradient(to right, rgba(245,248,250,0) 0%,rgba(245,248,250,1) 100%); W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/* 		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f5f8fa', endColorstr='#f5f8fa',GradientType=1 ); IE6-9 */
/* 		z-index:1; */
/* 		position:absolute; */
/* 		right:0; */
/* 		top:0; */
/* 	} */
}

