/* Component style rules */

	#header .wrapwidg.plugin_navigation { 
		background:none;
	}
	.ttcomponent-breadcrumbs ul li > a {color:inherit; }
	.content .ttcomponent-breadcrumbs span { 
		font-weight: 400;
	}
	.content .ttcomponent-breadcrumbs *,
	.content .ttcomponent-breadcrumbs ul li:last-child > a,
	.group .ttcomponent-breadcrumbs *,
	.group .ttcomponent-breadcrumbs ul li:last-child > a { 
		color:#fff !important;
	}