 :root {
     font-size: 16px;
}


/* COLORS */

    /* BACKGROUNDS */
        .bankerWrapper .bg-gray-01 {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#656c7e+0,495061+100 */
            background: rgb(101,108,126); /* Old browsers */
            background: -moz-linear-gradient(45deg, rgba(101,108,126,1) 0%, rgba(73,80,97,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(45deg, rgba(101,108,126,1) 0%,rgba(73,80,97,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(45deg, rgba(101,108,126,1) 0%,rgba(73,80,97,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#656c7e', endColorstr='#495061',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        }
 .bankerWrapper .bg-gray-02 {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#454a5a+0,202632+100 */
            background: rgb(69,74,90); /* Old browsers */
            background: -moz-linear-gradient(45deg, rgba(69,74,90,1) 0%, rgba(32,38,50,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(45deg, rgba(69,74,90,1) 0%,rgba(32,38,50,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(45deg, rgba(69,74,90,1) 0%,rgba(32,38,50,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454a5a', endColorstr='#202632',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        }


 .bankerWrapper .bg-gray-03 {
             background-color: #9b9b9b;
        }
 .bankerWrapper .bg-gray-04 {
             background-color: #262626;
        }
 .bankerWrapper .bg-gray-05 {
             background-color: #F0F0F1;
        }
 .bankerWrapper .bg-gray-06 {
             background-color: #4d4d4d;
        }
 .bankerWrapper .bg-gold {
             background-color:#F7B63B;
        }
    /* END BACKGROUNDS */
    
    /* FONT-COLORS  */
 .bankerWrapper .color-primary {
            color:#f36f20;
        }
 .bankerWrapper .color-gold {
            color:#F7B63B;
        }
 .bankerWrapper .color-dark{
            color:#262626!important;
        }

 .bankerWrapper .text-gray-01 {
             color: #808080 !important;
        }
 .bankerWrapper .text-gray-02 {
             color: #5d5d5d !important;
        }
 .bankerWrapper .text-gray-03 {
             color: #9b9b9b !important;
        }
 .bankerWrapper .text-gray-04 {
             color: #262626 !important;
        }
    /* END FONT-COLORS  */

/* END COLORS */




/* FONTS WEIGHT HELPERS */

 .bankerWrapper .fw-Light {
    font-weight: 300;
}
 .bankerWrapper .fw-Regular {
    font-weight: 400;
}
 .bankerWrapper .fw-SemiBold {
    font-weight: 600;
}
 .bankerWrapper .fw-Bold {
    font-weight: 700;
}
 .bankerWrapper .fw-ExtraBold {
    font-weight: 800;
}

/* END FONTS FAMILY HELPERS */

/* LINE HEIGHTS */
 .bankerWrapper .lh-1 {line-height: 1;}
 .bankerWrapper .lh-1-1 {line-height: 1.1;}
 .bankerWrapper .lh-1-2 {line-height: 1.2;}

 .bankerWrapper .lh-2 {line-height: 2;}
/* END LINE HEIGHTS */

/* FONTS STYE HELPERS */
 .bankerWrapper .fs-italic{
    font-style: italic; 
}
/* END FONTS STYE HELPERS */


/* FONTS SIZE HELPERS */

 .bankerWrapper .fz-850, .bankerWrapper .fz-850, .bankerWrapper .lnr.fz-850 {
		font-size: .850rem!important;
	}
 .bankerWrapper .fz-950, .bankerWrapper .fz-950 p, .bankerWrapper .lnr.fz-950 {
		font-size: .950rem!important;
	}
 .bankerWrapper .fz-10, .bankerWrapper .lnr.fz-10 {
		font-size: 0.625rem!important;
	}
 .bankerWrapper .fz-11, .bankerWrapper .lnr.fz-11 {
		font-size: 0.6875rem!important;
	}
 .bankerWrapper .fz-12, .bankerWrapper .lnr.fz-12 {
		font-size: 0.75rem!important;
	}
 .bankerWrapper .fz-13, .bankerWrapper .lnr.fz-13 {
		font-size: 0.8125rem!important;
	}
 .bankerWrapper .fz-14, .bankerWrapper .lnr.fz-14 {
		font-size: 0.875rem!important;
	}
 .bankerWrapper .fz-15, .bankerWrapper .lnr.fz-15 {
		font-size: 0.9375rem!important;
	}
 .bankerWrapper .fz-16, .bankerWrapper .lnr.fz-16 {
		font-size: 1rem!important;
	}
 .bankerWrapper .fz-18, .bankerWrapper .lnr.fz-18 {
		/* font-size: 1.125rem; */
		font-size: 1.125rem!important;
	}
 .bankerWrapper .fz-20, .bankerWrapper .lnr.fz-20 {
		/* font-size: 20px; */
		font-size: 1.250rem!important;
	}
 .bankerWrapper .fz-22, .bankerWrapper .lnr.fz-22 {
		/* /* font-size: 22px; */
		font-size: 1.375rem!important;
	}
 .bankerWrapper .fz-24, .bankerWrapper .lnr.fz-24 {
		/* font-size: 24px*/
		font-size: 1.500rem!important;
	}
 .bankerWrapper .fz-26, .bankerWrapper .lnr.fz-26 {
		/*font-size: 26px;*/
		font-size: 1.625rem!important;
	}
 .bankerWrapper .fz-28, .bankerWrapper .lnr.fz-28 {
		/* font-size: 28px; */
		font-size: 1.750rem!important;
	}
 .bankerWrapper .fz-30, .bankerWrapper .lnr.fz-30 {
		/*font-size: 30px;*/
		font-size: 1.875rem!important;
	}
 .bankerWrapper .fz-32, .bankerWrapper .lnr.fz-32 {
		/*font-size: 32px;*/
		font-size: 2.000rem!important;
	}
 .bankerWrapper .fz-34, .bankerWrapper .lnr.fz-34 {
		/* font-size: 34px; */
		font-size: 2.125rem!important;
	}
 .bankerWrapper .fz-36, .bankerWrapper .lnr.fz-36 {
		/*font-size: 36px;*/
		font-size: 2.250rem!important;
	}
 .bankerWrapper .fz-38, .bankerWrapper .lnr.fz-38 {
		/*font-size: 38px;*/
		font-size: 2.375rem!important;
	}
 .bankerWrapper .fz-40, .bankerWrapper .lnr.fz-40 {
		/*font-size: 40px;*/
		font-size: 2.500rem!important;
	}
 .bankerWrapper .fz-42, .bankerWrapper .lnr.fz-42 {
		/*font-size: 42px;*/
		font-size: 2.625rem!important;
	}
 .bankerWrapper .fz-44, .bankerWrapper .lnr.fz-44 {
		/*font-size: 44px;*/
		font-size: 2.750rem!important;
	}
 .bankerWrapper .fz-46, .bankerWrapper .lnr.fz-46 {
		/*font-size: 46px;*/
		font-size: 2.875rem!important;
	}
 .bankerWrapper .fz-48, .bankerWrapper .lnr.fz-48 {
		/*font-size: 48px;*/
		font-size: 3.000rem!important;
	}
 .bankerWrapper .fz-60, .bankerWrapper .lnr.fz-60 {
		/* font-size: 60px;*/
		font-size: 3.750rem!important;
	}
 .bankerWrapper .fz-70, .bankerWrapper .lnr.fz-70 {
		/* font-size: 70px; */
		font-size: 4.375rem!important;
	}

/* END FONTS SIZE HELPERS */


 .bankerWrapper a[data-toggle="collapse"]:after {
    content:'';
    display:inline-block;
    transition: transform .3s ease-in-out;
    transform-origin: center center;
    line-height: 0;
    vertical-align: middle;
    margin-left: .5rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: #262626 transparent transparent transparent;
    
}
 .bankerWrapper a[data-toggle="collapse"][aria-expanded="true"]:after {
    content:'';
    display:inline-block;
    transform: rotate(180deg);
    line-height: 0;
    vertical-align: middle;
    margin-left: .5rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: #262626 transparent transparent transparent;
    
}

/* BTN HELPERS */
 .bankerWrapper .btn {border-radius:0;}

 .bankerWrapper .btn-outline {
    border:1px solid #7B7F89;
    color:white;
    background-color:transparent;
}
 .bankerWrapper .btn-outline:not(.disabled) {
    border:1px solid #fff;
    color:white;
}
 .bankerWrapper .btn-light:not(:disabled):not(.disabled).active:focus,
 .bankerWrapper .btn-light:not(:disabled):not(.disabled):active:focus,
 .bankerWrapper .show>.btn-light.dropdown-toggle:focus{
    color:white;
    background: #fff;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.4);
}
 .bankerWrapper .btn-light.disabled, .btn-light:disabled {
    border-color: #6e737d;
}

 .bankerWrapper .btn-light,
 .bankerWrapper .btn-light:hover { background-color:white; outline: none;}
 .bankerWrapper .btn-light:active,
 .bankerWrapper .btn-light:focus {
    background-color:#3a404b!important;
    color:white!important;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1);
}

 .bankerWrapper .btn-dark {color:white; outline: none;     background-color: #343a40;}
 .bankerWrapper .btn-dark:focus,
 .bankerWrapper .btn-dark:active{ background-color:#3a404b;}


 .bankerWrapper .btn-shadowed {
    border: 1px solid #E6E6E6;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
}
 .bankerWrapper .btn-shadowed:hover {
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1)!important;
}


 .bankerWrapper .btn-light.btn-proceed:not(.disabled):hover,
 .bankerWrapper .btn-light.btn-proceed:not(.disabled):active,
 .bankerWrapper .btn-light.btn-proceed:not(.disabled):focus{ background:#fff!important; color:rgb(33, 37, 41)!important;}

 .bankerWrapper .btn-proceed::after {
    content: "\e87a";
    font-family: 'Linearicons-Free';
    display:inline-block;
    width:16px;
    height:16px;
    text-align: center;
    line-height: 16px;
    color:white;
    border-radius: 50px;
    background-color:#7B7F89;
    font-size:.6rem;
}

 .bankerWrapper .btn-share {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 114px;
    width: 85px;
    right: -1rem;
    padding: 0;
    top:-1px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background:#4AAC76;
    border: 1px solid #279458;
}

 .bankerWrapper .btn-share.off {
    background:#F2F3F5;
    border: 1px solid #BFC5C9;
}

 .bankerWrapper .btn-share.off *{
    color:#4D4D4D;
}

 .bankerWrapper .btn-share * {
    color:white;
}

 .bankerWrapper .btn-share [class*='-on-danube']:after {
    content:attr(title);
    display:block;
    padding:.5rem;
    font-family: "Open Sans", Arial, sans-serif;
    font-style: italic;
    font-size:.7rem;
    white-space: normal;
    letter-spacing: 0.22px;
    text-align: center;
    line-height: 14px;
}
 .bankerWrapper .btn-share.off [class*='-on-danube']:after {
    content:attr(title);
    font-style: normal;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 700;
    white-space: normal;
}

 .bankerWrapper .btn.disabled {
    background-color:transparent;
    color:#6c757d;    
}
 .bankerWrapper .btn.disabled * {
     color:#6c757d;
}
 .bankerWrapper .btn.disabled:after {
     color:#343a40!important;
}
 .bankerWrapper .text-underline {
        text-decoration: underline;
}

 .bankerWrapper  a {
     color: #4A90E2;
     text-decoration: none!important;
     background-color: transparent;
}
 .bankerWrapper  a:hover {
     color: #4A90E2;
     text-decoration: none;
}
 .bankerWrapper  h5 {
     font-size: 1.35rem;
}
 .bankerWrapper  .text-muted {
     color: #9b9b9b!important;
}
 .bankerWrapper  .bg-image {
     background-image: url("../../images/bkg-definitivo.jpg");
     background-position: center -120px;
     background-repeat: no-repeat;
     background-size: cover;
}
 body {
     color: #4D4D4D;
     background-color:#F1F2F6; 
     padding-top: 70px;
     padding-bottom:120px;
     font-family: "Open Sans", Arial, sans-serif;
}
 .bankerWrapper  .font-weight-bold, strong {
     font-family: "Helvetica Neue Bold", Arial, sans-serif;
}
 .bankerWrapper .font-weight-medium {
     font-family: "Helvetica Neue Medium", Arial, sans-serif;
}
 .bankerWrapper .jumbotron {
     min-height: 180px;
     padding-top: 2rem;
     padding-bottom: 2rem;
     margin-bottom: 0;
     background-color: #fff;
     overflow: hidden;
     border-radius: 0;
}
 .bankerWrapper  .badge {
     border-radius: 40px;
     padding: .55em 1em;
     font-size: .7rem;
     vertical-align: middle;
     line-height: 1;
}

 body[data-section="4"] {
     background-position: 50% 0;
     -webkit-transition: background .8s ease-in-out;
     -o-transition: background .8s ease-in-out;
     transition: background .8s ease-in-out;
     -webkit-transition-delay: 1s;
     -o-transition-delay: 1s;
     transition-delay: 1s;
}
 [id^=section]:not(.current-section) {
     display: none;
}
 div#preloader {
     position: fixed;
     left: 0;
     top: 0;
     z-index: 999;
     width: 100vw;
     height: 100vh;
     overflow: visible;
     background: url('../../images/radial-preloader_animated.svg') no-repeat center center;
     background-size: 90px auto;
}
 #danubeSimulator-frame.cover {
     width: 1024px;
     height: 768px;
     margin: 0 auto;
     -webkit-box-shadow: 0 0 80px 0 rgba(0,0,0,.2);
     box-shadow: 0 0 80px 0 rgba(0,0,0,.2);
}
 .z-top {
     position: relative;
     z-index: 10;
}
 .z-bottom {
     z-index: 0;
}
 .border-bottom-custom {
     border-bottom: 1px solid rgba(255,255,255, .5)!important;
}

 #section-04 {
     position: relative 
}
 .bankerWrapper .custom-bg-position {
     content: '';
     display: block;
     width: 100%;
     height: 60vh;
     background: white;
     position: fixed;
     bottom: 0;
     left: 0;
     z-index: 0;
     pointer-events: none;
}
 .bankerWrapper .bottom-collapse-trigger {
     position: absolute;
     bottom: 0;
     width: 100%;
     left: 0;
}
 .bankerWrapper footer {
     padding-top: 3rem;
     padding-bottom: 3rem;
}
 .bankerWrapper footer p {
     margin-bottom: .25rem;
}
 .bankerWrapper .box-shadow {
     -webkit-box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
     box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
 .bankerWrapper main > section {
     position: relative;
}
 .bankerWrapper .media {
     position: relative;
}

 .bankerWrapper .media .btn-more {
     position: absolute;
     bottom: 0;
     margin: 0;
     line-height: 1 
}

/* nav arrows */
 .bankerWrapper .jumbotron .lnr-arrow-left {
     font-size: 1.7rem;
}
 .bankerWrapper .nav-arrow {
     position: absolute;
     height: 100%;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
}
 .bankerWrapper .nav-prev {
     left: 30px;
     top: 0;
}
 .bankerWrapper .nav-next {
     right: 30px;
     top: 0 
}
/* Some helper classes */
 .bankerWrapper h1 {
     font-weight: normal;
}
 body.banker-app .bankerWrapper header nav:not(.timeline) a {
     color: white;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     height: 70px;
}
 body.banker-app .bankerWrapper header a .lnr {
     font-size: 1.7rem;
}
 .bankerWrapper .display-5 {
     font-size: 2.5rem;
}
 .bankerWrapper .input-group-addon.custom {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     padding: .375rem .75rem;
     margin-bottom: 0;
     font-size: 1rem;
     font-weight: 400;
     line-height: 1.5;
     color: #495057;
     text-align: center;
     white-space: nowrap;
     background-color: #fff;
     border: 1px solid #ced4da;
     border-left: 0;
     border-top-left-radius: 0;
     border-bottom-left-radius: 0;
     border-radius: .25rem;
}

 .bankerWrapper .input-ok { border-right:0!important;}
 .bankerWrapper .input-ok {
    font-size: 20px;
    color: #262626;
    letter-spacing: 0.38px;
    line-height: 18px;
    font-weight: 600;
}
 .bankerWrapper .input-group-text { background:white; border-left:0; border-top-right-radius: 4px!important; border-bottom-right-radius: 4px!important;}
 .bankerWrapper .input-group-text > img {
    width: 16px;
    height: auto;
}



 .bankerWrapper  .card {
     -webkit-transition: all .5s ease-in-out;
     -o-transition: all .5s ease-in-out;
     transition: all .5s ease-in-out;
    border: 1px solid #BFC5C9;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.10);
    border-radius: 4px;
}
 .bankerWrapper  .equal-height-items > div {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: stretch!important;
         -ms-flex-align: stretch!important;
             align-items: stretch!important;
}
 .bankerWrapper .equal-height-items > div .card {
     width: 100%;
}
 .bankerWrapper .card-top-border:before {
     content: '';
     display: block;
     width: calc(100% - 20px);
     height: 7px;
     border-radius: 10px;
     background: #F36F20;
     margin: 10px;
}
 .bankerWrapper .card-top-border + .card-body { padding-top:0;}
 .bankerWrapper .rounded-0 {
     border-radius: 0;
}
 .bankerWrapper  .rounded-1 {
     border-radius: 10px;
}
 .bankerWrapper .rounded-2 {
     border-radius: 80px;
}
/* Colors */



/* Gradiente */
..bankerWrapper bg-orange-gradient {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f36f20+0,f08e00+100 */
background: rgb(243,111,32); /* Old browsers */ /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(243,111,32,1) 0%,rgba(240,142,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: -webkit-gradient(linear, left top, right top, from(rgba(243,111,32,1)),to(rgba(240,142,0,1)));
background: -o-linear-gradient(left, rgba(243,111,32,1) 0%,rgba(240,142,0,1) 100%);
background: linear-gradient(to right, rgba(243,111,32,1) 0%,rgba(240,142,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f36f20', endColorstr='#f08e00',GradientType=1 ); /* IE6-9 */
}
 .bankerWrapper .btn-orange-gradient {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f36f20+0,f08e00+100 */
background: rgb(243,111,32); /* Old browsers */ /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(243,111,32,1) 0%,rgba(240,142,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: -webkit-gradient(linear, left top, right top, from(rgba(243,111,32,1)),to(rgba(240,142,0,1)));
background: -o-linear-gradient(left, rgba(243,111,32,1) 0%,rgba(240,142,0,1) 100%);
background: linear-gradient(to right, rgba(243,111,32,1) 0%,rgba(240,142,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f36f20', endColorstr='#f08e00',GradientType=1 ); /* IE6-9 */
	color:white;
}
/*btn share */

 .bankerWrapper .btn.choice[data-text][aria-pressed="false"]:before {
     content:attr(data-text);
     display: inline-block;
     text-align: center 
}

 .bankerWrapper .btn.choice[data-text][aria-pressed="true"]:before {
     content:'\e862';
     font-family: 'Linearicons-Free';
     -webkit-animation: fadeInInintro .5s ease forwards, rotateInfinite 2s linear infinite;
             animation: fadeInInintro .5s ease forwards, rotateInfinite 2s linear infinite;
     -webkit-transform-origin: center center;
         -ms-transform-origin: center center;
             transform-origin: center center;
     font-size: 2rem;
     position: absolute;
     line-height: 2rem;
     padding: 0;
     width:2rem;
     height:2rem;
     top:calc( 50% - 1rem );
     left:calc( 50% - 1rem );
}




 .bankerWrapper .btn-share[aria-pressed="false"]:before {
     content:attr(data-text);
     display: inline-block;
     text-align: center 
}

 .bankerWrapper .btn-share[aria-pressed="true"]:before {
     content:'\e83b';
     font-family: 'Linearicons-Free';
/*     -webkit-animation: fadeInInintro .5s ease forwards, rotateInfinite 2s linear 7;
             animation: fadeInInintro .5s ease forwards, rotateInfinite 2s linear 7;
     -webkit-transform-origin: center center;
         -ms-transform-origin: center center;
             transform-origin: center center;*/
     font-size: 2rem;
     position: absolute;
     line-height: 2rem;
     padding: 0;
     width:2rem;
     height:2rem;
     top:calc( 50% - 1rem );
     left:calc( 50% - 1rem );
}
 @-webkit-keyframes fadeInInintro{
     0% {
        opacity:0
    }
     100% {
        opacity:1
    }
}
 @keyframes fadeInInintro{
     0% {
        opacity:0
    }
     100% {
        opacity:1
    }
}
 @-webkit-keyframes rotateInfinite{
     0% {
        -webkit-transform:rotate(0deg);
                transform:rotate(0deg);
    }
     100% {
        -webkit-transform:rotate(180deg);
                transform:rotate(180deg);
    }
}
 @keyframes rotateInfinite{
     0% {
        -webkit-transform:rotate(0deg);
                transform:rotate(0deg);
    }
     100% {
        -webkit-transform:rotate(180deg);
                transform:rotate(180deg);
    }
}


 .bankerWrapper .btn-animated {-webkit-transition: all .3s ease-in-out;-o-transition: all .3s ease-in-out;transition: all .3s ease-in-out;}
 .bankerWrapper .btn-animated:hover{
	-webkit-box-shadow: 0 12px 24px 0 rgba(0,0,0,.2)!important;
	box-shadow: 0 12px 24px 0 rgba(0,0,0,.2)!important;
	-webkit-transform: translateY(-1px);
	    -ms-transform: translateY(-1px);
	        transform: translateY(-1px);
}
 .bankerWrapper .btn-animated:active{
	-webkit-transform: translateY(0px);
	    -ms-transform: translateY(0px);
	        transform: translateY(0px);
}


/* Primary */
 .bankerWrapper  .text-primary {
     color: #f36f20!important;
}
 .bankerWrapper  .bg-primary {
     background-color: #f36f20!important;
}
 .bankerWrapper  .btn-primary {
     color: #fff;
     background-color: #f36f20;
     border-color: #f36f20;
}

 .bankerWrapper .btn-primary:hover, .bankerWrapper .btn-primary:active, .btn-primary:focus, .bankerWrapper .btn-primary:not(:disabled):not(.disabled).active, .bankerWrapper .btn-primary:not(:disabled):not(.disabled):active, .bankerWrapper .show>.btn-primary.dropdown-toggle {
     color: #fff;
     background-color: #f36f20;
     border-color: #f36f20;
     -webkit-box-shadow: none;
             box-shadow: none; 
}
 .bankerWrapper .btn-primary:not(:disabled):not(.disabled).active:focus, .bankerWrapper .btn-primary:not(:disabled):not(.disabled):active:focus, .bankerWrapper .show>.btn-primary.dropdown-toggle:focus, .bankerWrapper .btn-primary.focus, .btn-primary:focus {
     -webkit-box-shadow: none;
             box-shadow: none; 
    /*0 0 0 0.2rem rgba(243,111,32,.5)*/
    ;
}
 .bankerWrapper .btn-primary:hover {
	background-color: #ca4f08;
    border-color: #ca4f08;
    -webkit-box-shadow: none;
            box-shadow: none;
}




/* Secondary */
 .bankerWrapper .text-secondary {
     color: #e6e6e6!important;
}
 .bankerWrapper  .bg-secondary {
     background-color: #e6e6e6!important;
}
 .bankerWrapper .btn-secondary {
     color: inherit;
     background-color: #e6e6e6;
     border-color: #e6e6e6;
	 padding:.7rem 1.7rem;
}
 .bankerWrapper .btn-secondary:hover, .bankerWrapper .btn-secondary:active, .bankerWrapper .btn-secondary:focus, .bankerWrapper .btn-secondary:not(:disabled):not(.disabled).active, .bankerWrapper .btn-secondary:not(:disabled):not(.disabled):active, .bankerWrapper .show>.btn-secondary.dropdown-toggle {
     color: inherit;
     background-color: #e6e6e6;
     border-color: #e6e6e6;
}
 .bankerWrapper .btn-secondary:not(:disabled):not(.disabled).active:focus, .bankerWrapper .btn-secondary:not(:disabled):not(.disabled):active:focus, .bankerWrapper .show>.btn-secondary.dropdown-toggle:focus, .bankerWrapper .btn-secondary.focus, .bankerWrapper .btn-secondary:focus {
     -webkit-box-shadow: none!important 
    /* 0 0 0 0.2rem rgba(243,111,32,.5)*/
    ;
             box-shadow: none!important 
    /* 0 0 0 0.2rem rgba(243,111,32,.5)*/
    ;
}
/* Success */
 .bankerWrapper .text-success {
     color: #5cb483!important;
}
 .bankerWrapper  .bg-success {
     background-color: #5cb483!important;
}
 .bankerWrapper .btn-success {
     color: inherit;
     background-color: #5cb483;
     border-color: #5cb483;
}
 .bankerWrapper .btn-success:hover, .bankerWrapper .btn-success:active, .bankerWrapper .btn-success:focus, .bankerWrapper .btn-success:not(:disabled):not(.disabled).active, .bankerWrapper .btn-success:not(:disabled):not(.disabled):active, .bankerWrapper .show>.btn-success.dropdown-toggle {
     color: #fff;
     background-color: #5cb483;
     border-color: #5cb483;
}
 .bankerWrapper .btn-success:not(:disabled):not(.disabled).active:focus, .bankerWrapper .btn-success:not(:disabled):not(.disabled):active:focus, .bankerWrapper .show>.btn-success.dropdown-toggle:focus, .bankerWrapper .btn-success.focus, .bankerWrapper .btn-success:focus {
     -webkit-box-shadow: 0 0 0 0.2rem rgba(243,111,32,.5);
             box-shadow: 0 0 0 0.2rem rgba(243,111,32,.5);
}
/* Success Outline */
 .bankerWrapper .btn-outline-success {
     color: #5cb483;
     background-color: transparent;
     background-image: none;
     border-color: #5cb483;
}
 .bankerWrapper .btn-outline-success:hover, .bankerWrapper .btn-outline-success:active, .bankerWrapper .btn-outline-success:focus, .bankerWrapper .btn-outline-success:not(:disabled):not(.disabled).active, .bankerWrapper .btn-outline-success:not(:disabled):not(.disabled):active, .bankerWrapper .show>.btn-outline-success.dropdown-toggle {
     color: #5cb483;
     background-color: transparent;
     background-image: none;
     border-color: #5cb483;
}
 .bankerWrapper .btn-outline-success:not(:disabled):not(.disabled).active:focus, .bankerWrapper .btn-outline-success:not(:disabled):not(.disabled):active:focus, .bankerWrapper .show>.btn-outline-success.dropdown-toggle:focus, .bankerWrapper .btn-outline-success.focus, .bankerWrapper .btn-outline-success:focus {
     -webkit-box-shadow: 0 0 0 0.2rem rgba(243,111,32,.5);
             box-shadow: 0 0 0 0.2rem rgba(243,111,32,.5);
}



/* Success Outline */
 .bankerWrapper .btn-outline-secondary {
     color: inherit;
     background-color: transparent;
     background-image: none;
     border-color: #e6e6e6;
}
 .bankerWrapper .btn-outline-secondary:hover, .bankerWrapper .btn-outline-secondary:active, .bankerWrapper .btn-outline-secondary:focus, .bankerWrapper .btn-outline-secondary:not(:disabled):not(.disabled).active, .bankerWrapper .btn-outline-secondary:not(:disabled):not(.disabled):active, .bankerWrapper .show>.btn-outline-secondary.dropdown-toggle {
     color: inherit;
     background-color: transparent;
     background-image: none;
     border-color: #e6e6e6;
}
 .bankerWrapper .btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .bankerWrapper .btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .bankerWrapper .show>.btn-outline-secondary.dropdown-toggle:focus, .bankerWrapper .btn-outline-secondary.focus, .bankerWrapper .btn-outline-secondary:focus {
     -webkit-box-shadow: 0 0 0 0.2rem rgba(243,111,32,.5);
             box-shadow: 0 0 0 0.2rem rgba(243,111,32,.5);
}



/* Option Selected */
 .bankerWrapper  button.btn.select-product[data-text] {
     position: relative;
}

 .bankerWrapper  button.btn.select-product[data-text]:not([aria-pressed="true"]):before {
     content: attr(data-text);
     display: inline-block;
}

 .bankerWrapper  button.btn.select-product[data-text][aria-pressed="true"]:before {
     font-family: 'Linearicons-Free';
     content: '\e912';
     display: inline-block;
     font-size: 3rem;
     position: absolute;
     top: calc(50% - 2.3rem );
     left: calc(50% - 1.3rem );
     -webkit-animation: successIcon .3s forwards ease-in-out;
             animation: successIcon .3s forwards ease-in-out;
}

 .bankerWrapper button.btn.select-product[aria-pressed="true"], button.btn.select-product[aria-pressed="true"].active{
     display: inline-block;
     color: #5cb483;
     background-color: #d8d8d8;
     border-color:#d8d8d8;
     -webkit-box-shadow: none!important;
             box-shadow: none!important;
     overflow: hidden;
	 min-height: 65px;
}
 .bankerWrapper .dropdown-toggle::after {
    font-family: 'Linearicons-Free';
    display: inline-block;
    width: 0;
    height: 0;
    margin-left:.5rem;
    text-align: center;
    vertical-align: middle;
    border: 0;
    content: "\e874";
    float: right;
    line-height: .35;
    font-size: .7rem;
     
}
 .bankerWrapper .bg-stripe {
     position: relative;
}
 .bankerWrapper .bg-stripe > div {
     position: relative;
     z-index: 5;
}
 .bankerWrapper .bg-stripe:after {
     content: '';
     display: block;
     position: absolute;
     height: 56%;
     width: 100%;
     background: #f5f5f5;
     bottom: 17%;
     left: 0;
     z-index: 0;
}
 .bankerWrapper .bg-gradient-01 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4f2ee+0,ede9e7+100 */
     background: rgb(244,242,238);
    /* Old browsers */
    /* FF3.6-15 */
     background: -webkit-linear-gradient(left, rgba(244,242,238,1) 0%, rgba(237,233,231,1) 100%);
    /* Chrome10-25,Safari5.1-6 */
     background: -webkit-gradient(linear, left top, right top, from(rgba(244,242,238,1)), to(rgba(237,233,231,1)));
     background: -o-linear-gradient(left, rgba(244,242,238,1) 0%, rgba(237,233,231,1) 100%);
     background: linear-gradient(to right, rgba(244,242,238,1) 0%, rgba(237,233,231,1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f2ee', endColorstr='#ede9e7', GradientType=1 );
    /* IE6-9 */
}

/* tags */
 .bankerWrapper [data-filter=all] {
     -webkit-transition: all 1s ease;
     -o-transition: all 1s ease;
     transition: all 1s ease;
}
 .bankerWrapper [class*=bg-gradient] .tag-wrapper .btn:not(:disabled):not(.disabled).btn-success, [class*=bg-gradient] .tag-wrapper .btn:not(:disabled):not(.disabled):active {
     color: #fff;
     background-color: #5cb483;
     border-color: #5cb483;
}
 .bankerWrapper .tag-wrapper .btn, .tag-wrapper .btn:focus {
     padding-left: 1.3rem;
     padding-right: 1.3rem;
     margin-bottom: 7px;
     margin-right: 7px;
     -webkit-box-shadow: none!important;
     box-shadow: none!important;
}
 .bankerWrapper  [class*=bg-gradient] .tag-wrapper .btn:not(:disabled):not(.disabled), [class*=bg-gradient] .tag-wrapper .btn:focus {
     padding-left: 1.5rem;
     padding-right: 1.5rem;
     margin-bottom: 7px;
     margin-right: 7px;
     background-color: transparent;
     -webkit-box-shadow: none!important;
     box-shadow: none!important;
     border-color: #e6e6e6;
}
 .bankerWrapper [class*=bg-gradient] .tag-wrapper .btn:not(:disabled):not(.disabled):hover, [class*=bg-gradient] .tag-wrapper .btn:not(:disabled):not(.disabled):active {
     color: #fff;
     background-color: #5cb483;
     border-color: #5cb483;
}
/* Accordion Cards */
 .bankerWrapper .nav-pills a {
     background: white;
}
 .bankerWrapper .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
     background: #f36f20;
}
 .bankerWrapper  #accordion .card + .card, #accordion .card-header + .card {
     border-top: 0!important;
}
/* other */
 .bankerWrapper  .no-p-events {
     pointer-events: none;
}
 .bankerWrapper  .p-events {
     pointer-events: all;
}
 .bankerWrapper  .overflow-h {
     overflow: hidden!important 
}
 .bankerWrapper .transitioned {
     -webkit-transition: all 1s ease-in-out;
     -o-transition: all 1s ease-in-out;
     transition: all 1s ease-in-out;
}
 .bankerWrapper .scan-wrapper {
     height: 400px;
     background: #fff url(../../images/banker/bg-scan.png) no-repeat center center;
     background-size: contain;
     border: 1px solid #5d5d5d;
}
 .bankerWrapper .scanned:not(.d-none) .scaned-images{
     position:relative;
}
 .bankerWrapper .scanned:not(.d-none) .scaned-images:after{
     font-family: 'Linearicons-Free';
     content:'\e912';
     display: block;
     margin: 0 auto;
     color: #fff;
     width:40px;
     height: 40px;
     background: #58b582;
     border-radius: 20px;
     z-index: 10;
     font-size: 2rem;
     line-height: 40px;
}
 .bankerWrapper .navbar {
     height: 70px;
}
 body.banker-app .bankerWrapper .timeline-horizontal .timeline-item:not(:last-child):after {
     color: white;
     line-height: 1.9;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     height: 70px;
}
 body.client-app .bankerWrapper a {
     /*color: white;*/
}
 .bankerWrapper .lnr-paperclip{
    transform: rotate(45deg);
    display: inline-block;
    vertical-align: middle;
}

 .bankerWrapper  .timeline-horizontal .timeline-item:not(:last-child):after .lnr {
     font-size: 1.75rem;
     vertical-align: middle;
}
 .bankerWrapper .full-width {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
}
 .bankerWrapper .full-width-vw {
     width: 100vw;
}
 .bankerWrapper .full-width .btn {
     -moz-flex: 1;
     -ms-flex: 1;
     -o-flex: 1;
     -webkit-box-flex: 1;
     flex: 1;
}
/* custom animations */
 @-webkit-keyframes pulse-primary {
     0% {
         -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
         box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
    }
     70% {
         -webkit-box-shadow: 0 0 0 10px rgba(255,255,255, 0);
         box-shadow: 0 0 0 10px rgba(255,255,255, 0);
    }
     100% {
         -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
         box-shadow: 0 0 0 0 rgba(255,255,255, 0);
    }
}
 @keyframes pulse-primary {
     0% {
         -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
         box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
    }
     70% {
         -webkit-box-shadow: 0 0 0 10px rgba(255,255,255, 0);
         box-shadow: 0 0 0 10px rgba(255,255,255, 0);
    }
     100% {
         -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
         box-shadow: 0 0 0 0 rgba(255,255,255, 0);
    }
}
 @-webkit-keyframes pulse-secondary {
     0% {
         -webkit-box-shadow: 0 0 0 0 rgba(124,124,124, 0.4);
    }
     70% {
         -webkit-box-shadow: 0 0 0 10px rgba(124,124,124, 0);
    }
     100% {
         -webkit-box-shadow: 0 0 0 0 rgba(124,124,124, 0);
    }
}
 @keyframes pulse-secondary {
     0% {
         -webkit-box-shadow: 0 0 0 0 rgba(124,124,124, 0.4);
         box-shadow: 0 0 0 0 rgba(124,124,124, 0.4);
    }
     70% {
         -webkit-box-shadow: 0 0 0 10px rgba(124,124,124, 0);
         box-shadow: 0 0 0 10px rgba(124,124,124, 0);
    }
     100% {
         -webkit-box-shadow: 0 0 0 0 rgba(124,124,124, 0);
         box-shadow: 0 0 0 0 rgba(124,124,124, 0);
    }
}
 .bankerWrapper .attention {
     -webkit-animation: pulse 1s forwards, pulse-primary 2s infinite;
     animation: pulse 1s forwards, pulse-primary 2s infinite;
}
/* Sequences */
 .bankerWrapper .speed-1 .animated {
     -webkit-animation-duration: .8s!important;
     animation-duration: .8s!important;
     -webkit-animation-timing-function: ease;
     animation-timing-function: ease;
}
 .bankerWrapper .speed-2 .animated {
     -webkit-animation-duration: .4s!important;
     animation-duration: .4s!important;
     -webkit-animation-timing-function: ease;
     animation-timing-function: ease;
}
 .bankerWrapper  .speed-3 .animated {
     -webkit-animation-duration: .2s!important;
     animation-duration: .2s!important;
     -webkit-animation-timing-function: ease;
     animation-timing-function: ease;
}

 .bankerWrapper .speed-1 {
	 -webkit-animation-duration: .1s!important;
     animation-duration: .1s!important;
}

 .bankerWrapper .speed-2 {
	 -webkit-animation-duration: .4s!important;
     animation-duration: .4s!important;
}

 .bankerWrapper .speed-3 {
	 -webkit-animation-duration: .2s!important;
     animation-duration: .2s!important;
}

 .bankerWrapper .animation-group {
     -webkit-animation-duration: 0.4s;
     animation-duration: 0.4s;
}
 .bankerWrapper  .animation-group:nth-of-type(1) {
     -webkit-animation-delay: 0.1s;
     animation-delay: 0.1s;
}
 .bankerWrapper .animation-group:nth-of-type(2) {
     -webkit-animation-delay: 0.16s;
     animation-delay: 0.16s;
}
 .bankerWrapper  .animation-group:nth-of-type(3) {
     -webkit-animation-delay: 0.22s;
     animation-delay: 0.22s;
}
 .bankerWrapper .animation-group:nth-of-type(4) {
     -webkit-animation-delay: 0.28s;
     animation-delay: 0.28s;
}
 .bankerWrapper .animation-group:nth-of-type(5) {
     -webkit-animation-delay: 0.34s;
     animation-delay: 0.34s;
}
 .bankerWrapper .animation-group:nth-of-type(6) {
     -webkit-animation-delay: 0.40s;
     animation-delay: 0.40s;
}
 .bankerWrapper .animation-group:nth-of-type(7) {
     -webkit-animation-delay: 0.46s;
     animation-delay: 0.46s;
}
 .bankerWrapper .animation-group:nth-of-type(8) {
     -webkit-animation-delay: 0.52s;
     animation-delay: 0.52s;
}
 .bankerWrapper  .animation-group:nth-of-type(9) {
     -webkit-animation-delay: 0.58s;
     animation-delay: 0.58s;
}
 .bankerWrapper .animation-group:nth-of-type(10) {
     -webkit-animation-delay: 0.64s;
     animation-delay: 0.64s;
}
 .bankerWrapper .zoomIn {
     -webkit-animation-duration: 0.4s;
     animation-duration: 0.4s;
}
 .bankerWrapper  .zoomIn:nth-of-type(1) {
     -webkit-animation-delay: 0.1s;
     animation-delay: 0.1s;
}
 .bankerWrapper  .zoomIn:nth-of-type(2) {
     -webkit-animation-delay: 0.16s;
     animation-delay: 0.16s;
}
 .bankerWrapper  .zoomIn:nth-of-type(3) {
     -webkit-animation-delay: 0.22s;
     animation-delay: 0.22s;
}
 .bankerWrapper  .zoomIn:nth-of-type(4) {
     -webkit-animation-delay: 0.28s;
     animation-delay: 0.28s;
}
 .bankerWrapper  .zoomIn:nth-of-type(5) {
     -webkit-animation-delay: 0.34s;
     animation-delay: 0.34s;
}
 .bankerWrapper .zoomIn:nth-of-type(6) {
     -webkit-animation-delay: 0.40s;
     animation-delay: 0.40s;
}
 .bankerWrapper  .zoomIn:nth-of-type(7) {
     -webkit-animation-delay: 0.46s;
     animation-delay: 0.46s;
}
 .bankerWrapper  .zoomIn:nth-of-type(8) {
     -webkit-animation-delay: 0.52s;
     animation-delay: 0.52s;
}
 .bankerWrapper .zoomIn:nth-of-type(9) {
     -webkit-animation-delay: 0.58s;
     animation-delay: 0.58s;
}
 .bankerWrapper  .zoomIn:nth-of-type(10) {
     -webkit-animation-delay: 0.64s;
     animation-delay: 0.64s;
}
 .bankerWrapper .collapse-filters[aria-expanded=false]:before {
     content: attr(data-open);
     display: inline-block;
     margin-right: 10px;
     text-transform: uppercase;
}
 .bankerWrapper .collapse-filters[aria-expanded=true]:before {
     content: attr(data-close);
     display: inline-block;
     margin-right: 10px;
     text-transform: uppercase;
}
 .bankerWrapper  .collapse-filters[aria-expanded=false]:after {
     content: '\e874';
     font-family: 'Linearicons-Free';
     display: inline-block;
}
 .bankerWrapper  .collapse-filters[aria-expanded=true]:after {
     content: '\e873';
     font-family: 'Linearicons-Free';
     display: inline-block;
}

 .bankerWrapper .view-fees {  font-size:1.3rem;}

 .bankerWrapper .view-fees[aria-expanded=false]:before{
	content:attr(data-open);
	display:inline-block;
}
 .bankerWrapper .view-fees[aria-expanded=true]:before{
	content:attr(data-close);
	display:inline-block;
}

 .bankerWrapper .view-fees[aria-expanded]:after{
	font-family: 'Linearicons-Free';
	display:inline-block;
	width: 32px;
	height:32px;
	border-radius: 40px;
	border:1px solid #ccc;
	line-height: 32px;
	text-align: center;
	font-size:1rem;
}


 .bankerWrapper .view-fees[aria-expanded=true]:after{
	content:"\e874";

}
 .bankerWrapper .view-fees[aria-expanded=false]:after{
	content:"\e873";
}



/* Timeline */
 .bankerWrapper .timeline-header { min-height: 67px;}
 .bankerWrapper  .timeline, .bankerWrapper .timeline-horizontal {
     list-style: none;
     position: relative;
     padding: 0;
}
 .bankerWrapper .timeline a {
     color: inherit;
}
 .bankerWrapper .timeline.scaled .lnr {
     font-size: 2rem;
}
 .bankerWrapper .timeline .current + div small {
     font-weight: bold;
}
 .bankerWrapper  .timeline .timeline-item {
     position: relative;
     color: white;
}
 .bankerWrapper .timeline .timeline-item > .step-icon {
	-webkit-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}
 .bankerWrapper .timeline .timeline-item:not(.active) > .step-icon {
     opacity: .6 
}
 .bankerWrapper .timeline .timeline-item.active > .step-icon {
     opacity: 1;
     color: white 
}
 .bankerWrapper  .timeline .timeline-item:before, .timeline .timeline-item:after {
     content: "";
     display: table;
}
 .bankerWrapper .timeline .timeline-item:after {
     clear: both;
}
 .bankerWrapper  .timeline .timeline-item .timeline-badge, .bankerWrapper .timeline-badge {
     color: #fff;
     width: 40px;
     height: 40px;
     line-height: 38px;
     font-size: 1rem;
     text-align: center;
     background-color: transparent;
     border: 2px solid white;
     z-index: 100;
     border-top-right-radius: 50%;
     border-top-left-radius: 50%;
     border-bottom-right-radius: 50%;
     border-bottom-left-radius: 50%;
}
 .bankerWrapper .timeline .timeline-item .timeline-badge.current {
     background-color: white;
     color: #5d5d5d;
}
 .bankerWrapper .timeline .timeline-item .timeline-badge.btn-success, .bankerWrapper .timeline-badge.btn-success {
     background-color: #58b582;
     border-color: #58b582;
     font-size: 2rem;
     color: #fff;
}
 .bankerWrapper .timeline .timeline-item .timeline-badge.btn-success:before, .bankerWrapper .timeline-badge.btn-success:before {
     font-family: 'Linearicons-Free';
     display: inline-block;
     content: "\e912";
     color: #fff;
     line-height: 38px;
     -webkit-animation: successIcon .3s forwards ease-in-out;
             animation: successIcon .3s forwards ease-in-out;
}
 @-webkit-keyframes successIcon {
     0% {
         -webkit-transform:scale(0);
                 transform:scale(0);
    }
     100% {
         -webkit-transform:scale(1);
                 transform:scale(1);
    }
}
 @keyframes successIcon {
     0% {
         -webkit-transform:scale(0);
                 transform:scale(0);
    }
     100% {
         -webkit-transform:scale(1);
                 transform:scale(1);
    }
}
 .bankerWrapper .timeline-horizontal {
     list-style: none;
     position: relative;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
}
 .bankerWrapper #section-03 .timeline-horizontal .timeline-item {
     margin: 0 30px;
}
 .bankerWrapper .timeline-horizontal .timeline-item {
     margin: 0 20px;
     vertical-align: bottom;
     text-align: center;
}
 .bankerWrapper .timeline-horizontal .timeline-item .timeline-badge {
     margin: 0 auto 7px auto;
}
 body.banker-app .bankerWrapper .timeline-horizontal .timeline-item:not(:last-child):after {
     content: '';
     display: block;
     height: 1px;
     width: 100%;
     background: white;
     position: absolute;
     top: 30%;
     left: calc(50% + 50px);
     width: 100px 
}
/* Tabs */
 .bankerWrapper .custom-tabs .card-body {
     padding: .5rem 1rem;
}
 .bankerWrapper .custom-tabs [role=tablist] a {
     position: relative;
     border-right: 1px solid #dee2e6;
}
 .bankerWrapper .custom-tabs [role=tablist] a.active,.bankerWrapper .custom-tabs [role=tablist] a:hover {
     background: #f36f20;
     color: white;
     -webkit-transition: background .5s ease;
     -o-transition: background .5s ease;
     transition: background .5s ease;
     border-right: 1px solid white;
}
 .bankerWrapper .custom-tabs [role=tablist] a.active::before, .bankerWrapper .custom-tabs [role=tablist] a:hover::before {
     content: '';
     display: block;
     position: absolute;
     top: calc( 50% - 5px);
     right: 0;
     width: 0;
     height: 0;
     border-style: solid;
     border-width: 5px 8px 5px 0;
     border-color: transparent #fff transparent transparent;
}
 .bankerWrapper .nav-link {
     color: inherit;
     padding: .5rem 2rem;
}
 .bankerWrapper .nav-link.active {
     font-weight: bold;
}
 .bankerWrapper .nav-tabs {
     border: 0;
}
 


/* Tabs light */
 .bankerWrapper .nav-tabs.tabs-light .nav-item.show .nav-link, .bankerWrapper .nav-tabs.tabs-light .nav-link.active {
     color: white;
     background-color: transparent;
     border-color: transparent;
     opacity: 1;
}
 .bankerWrapper .nav-tabs .nav-item.show .nav-link, .bankerWrapper .nav-tabs .nav-link.active {
     background-color: #fff;
     border-color: transparent;
}
 .bankerWrapper .nav-tabs.nav-tabs-vertical .nav-item.show .nav-link, .bankerWrapper .nav-tabs.nav-tabs-vertical .nav-link.active {
     background-color: #fff;
     border-color: #fff;
	 position: relative;
	 z-index: 10;
	 color:#f36f20;
    -webkit-box-shadow: -6px 0px 6px 0 rgba(0,0,0, .1 );
    box-shadow: -6px 0px 6px 0 rgba(0,0,0, .1 );
	margin-right: -2px;
}
 .bankerWrapper .nav-tabs.nav-tabs-vertical .nav-item.show .nav-link.nav-link-signed,.bankerWrapper .nav-tabs.nav-tabs-vertical .nav-link.active.nav-link-signed {
	 color:rgb(77,77,77);
}

 .bankerWrapper .nav-tabs.nav-tabs-vertical .nav-item.show .nav-link:after, .bankerWrapper .nav-tabs.nav-tabs-vertical .nav-link.active:after {
	 content:'\e876';
	 font-family: 'Linearicons-Free';
	 vertical-align: middle;
	 float: right;
	 line-height: 2.1;
	 color:#333;
	 margin-left:2rem;
}

 .bankerWrapper .nav-tabs.tabs-light .nav-link.active:after {
     content: '';
     display: block;
     height: 3px;
     margin-top: .5rem;
     width: 100%;
     background-color: white;
}
 body:not(.banker-app) .bankerWrapper .nav-tabs.tabs-light .nav-link {
     border: 1px solid transparent;
     border-top-left-radius: .25rem;
     border-top-right-radius: .25rem;
     color: white;
     opacity: .4;
}
 body:not(.banker-app) .bankerWrapper .nav-tabs.tabs-light .nav-item.show .nav-link {
     color: white;
}
 .bankerWrapper  .nav-tabs.tabs-light {
     border-bottom: none;
}
 body.banker-app .bankerWrapper .nav-tabs.tabs-light .nav-link {
     border: 1px solid transparent;
     font-size: .7rem;
     line-height: 2.5;
     color: inherit;
}

 .bankerWrapper .nav-tabs.nav-tabs-vertical .nav-link:focus, .bankerWrapper .nav-tabs.nav-tabs-vertical .nav-link:hover {
    border-color: transparent;
}

 .bankerWrapper .nav-tabs:not(.nav-tabs-vertical) .nav-item.show .nav-link, .bankerWrapper .nav-tabs:not(.nav-tabs-vertical) .nav-link.active {
     color: #F36F20!important;
}
 .bankerWrapper .nav-tabs:not(.nav-tabs-vertical) .nav-item.show .nav-link:after, .bankerWrapper .nav-tabs:not(.nav-tabs-vertical) .nav-link.active:after {
     content: '';
     display: block;
     height: 4px;
     border-radius: 2px;
     background: #F36F20;
     position: relative;
     bottom: -15px 
}

 .bankerWrapper .nav-tabs.nav-tabs-vertical .nav-item{position:relative; display:flex;}
 .bankerWrapper .nav-tabs.nav-tabs-vertical .nav-link{display:flex;justify-content: space-start; align-items: center; width:calc(100% + 22px); }
 .bankerWrapper .nav-tabs.nav-tabs-vertical .nav-item:after {
    content: '';
    display: block;
    width: 70%;
    margin: 0 auto;
    height: 1px;
    background-color: #ccc;
    position: absolute;
    bottom: 0;
	left:15%;
}
 .bankerWrapper .nav-tabs.nav-tabs-vertical .nav-link:not(.nav-link-signed):before {
    display: inline-block;
    content: "";
    background-color: transparent;
    margin-right: 15px;
    width: 20px;
    height: 20px;
    line-height: 21px;
    font-size: 1rem;
    text-align: center;
    margin-left: -20px;
}

 .bankerWrapper .nav-tabs.nav-tabs-vertical .nav-item.show .nav-link,
 .bankerWrapper .nav-tabs.nav-tabs-vertical .nav-tabs .nav-link.active {
    background-color: #fff;
    border-color: transparent;
    width: calc(100% + 2px);
    position: relative;
    z-index: 1;
	-webkit-box-shadow: -6px 0px 6px 0 rgba(0,0,0, .1 );
    box-shadow: -6px 0px 6px 0 rgba(0,0,0, .1 );
	padding-left:20px;
	
}

/* Cards */

 .bankerWrapper .card .btn-group button{ border-top-left-radius: 0; border-top-right-radius: 0; }
 .bankerWrapper .card .btn-group button:first-child{ border-bottom-left-radius: 10px; }
 .bankerWrapper .card .btn-group button:last-child{ border-bottom-right-radius: 10px; }
 body:not(.banker-app) .bankerWrapper .card-body {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
}

 body:not(.banker-app) .bankerWrapper .card-body.n-flex {
     display: block;
}
 .bankerWrapper .card-bottom:before {
     content: '';
     display: block;
     position: absolute;
     top: -10px;
     width: 0;
     height: 0;
     border-style: solid;
     border-width: 0 10px 10px 10px;
     border-color: transparent transparent #f4f2ee transparent;
}
 .bankerWrapper .card-bottom {
     position: relative;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4f2ee+0,ede9e7+100 */
	background: rgb(244,242,238); /* Old browsers */ /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(244,242,238,1) 0%,rgba(237,233,231,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: -webkit-gradient(linear, left top, right top, from(rgba(244,242,238,1)),to(rgba(237,233,231,1)));
	background: -o-linear-gradient(left, rgba(244,242,238,1) 0%,rgba(237,233,231,1) 100%);
	background: linear-gradient(to right, rgba(244,242,238,1) 0%,rgba(237,233,231,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f2ee', endColorstr='#ede9e7',GradientType=1 ); /* IE6-9 */
     margin: 20px -1.25rem -1.25rem -1.25rem;
     padding: 1.3rem;
     width: calc(100% + 2.6rem);
     -ms-flex-item-align: end;
     align-self: flex-end;
}
 .bankerWrapper .card-text {
     padding-bottom: 5px;
     padding-top: 5px;
}
 .bankerWrapper .best-choice p {
     margin: 0;
     background: #58b582;
     position: relative;
     z-index: 10;
     padding: 10px 20px;
     -webkit-animation: ribbon-front .3s;
     animation: ribbon-front .3s;
	 color:white;
	 font-family:'Helvetica Neue Bold', Arial, sans-serif; 
}
 .bankerWrapper .best-choice {
     position: absolute;
     right: -10px;
     top: 3rem;
     font-size: 1rem;
     text-transform: uppercase;
     z-index: 5;
}
 .bankerWrapper .best-choice:before {
     content: '';
     position: absolute;
     display: block;
     right: 0;
     top: 8px;
     width: 10px;
     height: 100%;
     background: #3b875d;
     -webkit-transform: skewY(-45deg);
     -ms-transform: skewY(-45deg);
     transform: skewY(-45deg);
     z-index: 0;
}
/* Right MENU */
 .bankerWrapper .accordion-wrapper .card-body {
     padding-left: 40px;
     padding-right: 40px;
}
 .bankerWrapper .accordion-wrapper .btn[aria-expanded=false]:after {
     content: '\e874';
     font-family: 'Linearicons-Free';
     float: right;
}
 .bankerWrapper .accordion-wrapper .btn[aria-expanded=true]:after {
     content: '\e873';
     font-family: 'Linearicons-Free';
     float: right;
}
 .bankerWrapper .fixed-bottom .accordion-wrapper .btn[aria-expanded=false]:after {
     content: '\e873';
     font-family: 'Linearicons-Free';
     float: right;
}
 .bankerWrapper .fixed-bottom .accordion-wrapper .btn[aria-expanded=true]:after {
     content: '\e874';
     font-family: 'Linearicons-Free';
     float: right;
}
 .bankerWrapper  aside .accordion-wrapper .btn:before {
     content: '';
     display: inline-block;
     width: 10px;
     height: 10px;
     border-radius: 40px;
     margin-right: 10px 
}
 .bankerWrapper .accordion-wrapper .btn.new-tip:before {
     background-color: #f36f20;
}
 .bankerWrapper .aside {
     position: fixed;
     top: 70px;
     right: 0;
     bottom: 0;
     z-index: 1;
     width: 350px;
     background-color: #EDEDED;
     -webkit-transform: translateX(100%);
     -ms-transform: translateX(100%);
     transform: translateX(100%);
     -webkit-transition: -webkit-transform .3s;
     transition: -webkit-transform .3s;
     -o-transition: transform .3s;
     transition: transform .3s;
     transition: transform .3s, -webkit-transform .3s;
}
 .bankerWrapper  .accordion {
     overflow: auto;
     height: 100%;
}
 .bankerWrapper  #aside-ctrl:checked ~ .aside {
     -webkit-transform: translateX(0);
     -ms-transform: translateX(0);
     transform: translateX(0);
}
 .bankerWrapper .aside-ctrl--label {
     position: absolute;
     top: 50%;
     max-width: 50px;
     right: 100%;
     -webkit-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     transform: translateY(-50%);
     background-color: #f36f20;
     color: #fff;
     cursor: pointer;
     z-index: 0;
     -webkit-transition: all .3s linear;
     -o-transition: all .3s linear;
     transition: all .3s linear;
     text-align: center;
}
 .bankerWrapper .aside-ctrl--label::before {
     font-family: 'Linearicons-Free';
     content: '\e90e';
     display: block;
     text-align: center;
     border-bottom: 1px solid white;
     padding: 10px 10px 10px 13px;
     font-size: 2rem;
}
 .bankerWrapper .aside-ctrl--label::after {
     content: 'Tips';
     display: block;
     padding: 20px 0;
     -webkit-transform: rotate(-90deg);
         -ms-transform: rotate(-90deg);
             transform: rotate(-90deg);
}
 .bankerWrapper #aside-ctrl:checked ~ .aside .aside-ctrl--label::before {
     content: '\e876';
     font-size: 1rem;
     padding: 18px 18px 18px 18px;
}
 .bankerWrapper #aside-ctrl:checked ~ .aside .aside-ctrl--label::after {
     content: 'Close';
     padding: 33px 10px 33px 8px;
}
 .bankerWrapper .aside-ctrl--reset {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     z-index: 1;
     opacity: 0;
     visibility: hidden;
     background-color: #000;
     -webkit-transition: all .3s;
     -o-transition: all .3s;
     transition: all .3s;
}
 .bankerWrapper .main-wrapper {
     -webkit-transition: -webkit-transform .3s;
     transition: -webkit-transform .3s;
     -o-transition: transform .3s;
     transition: transform .3s;
     transition: transform .3s, -webkit-transform .3s;
}
/*#aside-ctrl:checked ~ .main-wrapper {
     -webkit-transform: translateX(-350px);
     transform: translateX(-350px);
}
 */
/* Dots */
 .bankerWrapper .dot {
     color: #fff;
     width: 60px;
     height: 60px;
     line-height: 62px;
     font-size: 2rem;
     text-align: center;
     background-color: #eee;
     z-index: 100;
     border-top-right-radius: 50%;
     border-top-left-radius: 50%;
     border-bottom-right-radius: 50%;
     border-bottom-left-radius: 50%;
     -webkit-transition: all .5s ease-in-out;
     -o-transition: all .5s ease-in-out;
     transition: all .5s ease-in-out;
}
 .bankerWrapper  [data-completed] .dot {
     background: #5cb483;
}
 .bankerWrapper  [data-completed] .dot:before {
     font-family: 'Linearicons-Free';
     display: inline-block;
     content: "\e912";
     color: #fff;
     line-height: 60px;
     font-size:3rem;
     -webkit-animation: successIcon .3s forwards ease-in-out;
             animation: successIcon .3s forwards ease-in-out;
}
/*.dot:after{
     height: 0;
     transition: height .5s ease-in-out;
     z-index: 0 
}
 [data-completed]:first-child .dot:after{
     content:'';
     display:block;
     width:4px;
     position: absolute;
     height:100%;
     top:100%;
     left:calc(50% - 2px);
     background: #f36f20;
}
 [data-completed] + [data-completed] .dot:after{
     content:'';
     display:block;
     width:4px;
     position: absolute;
     height:100%;
     top:100%;
     left:calc(50% - 2px);
     background: #f36f20;
}
 [data-completed] + .card:not([data-completed]) .dot:after{
     content:'';
     display:block;
     width:4px;
     position: absolute;
     height:100%;
     top:-100%;
     left:calc(50% - 2px);
     background: #f36f20;
}
 */
/* Proposal */
/* [id^=proposal]:not(.active), [id^=proposal]:not(.active) .filter{
     display:none;
}
 */
 .bankerWrapper  .radial-preloader {
     width: 80px;
     position: absolute;
     top: calc(50% - 25px);
     left: calc(50% - 25px);
     z-index: 10;
}
 .bankerWrapper .imageOut {
     -webkit-animation: animatedBackground .5s ease-in forwards;
     animation: animatedBackground .5s ease-in forwards;
}
 @-webkit-keyframes animatedBackground {
     0% {
         background-size: 100% auto;
    }
     100% {
         background-size: 120% auto;
    }
}
 @keyframes animatedBackground {
     0% {
         background-size: 100% auto;
    }
     100% {
         background-size: 120% auto;
    }
}
 .bankerWrapper  #app-container .full-height {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: horizontal;
     -webkit-box-direction: normal;
     -ms-flex-direction: row;
     flex-direction: row;
     -webkit-box-align: stretch;
     -ms-flex-align: stretch;
     align-items: stretch;
    /* align items in Cross Axis */
     -ms-flex-line-pack: stretch;
     align-content: stretch;
    /* Extra space in Cross Axis */
     height: 100vh;
}
 .bankerWrapper .full-height {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: horizontal;
     -webkit-box-direction: normal;
     -ms-flex-direction: row;
     flex-direction: row;
     -webkit-box-pack: start;
     -ms-flex-pack: start;
     justify-content: flex-start;
    /* align items in Main Axis */
     -webkit-box-align: stretch;
     -ms-flex-align: stretch;
     align-items: stretch;
    /* align items in Cross Axis */
     -ms-flex-line-pack: stretch;
     align-content: stretch;
    /* Extra space in Cross Axis */
     height: 100vh;
}
/* Client */
 .bankerWrapper .simulateDanube {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
}
 .bankerWrapper .simulateDanube body {
}
 .bankerWrapper .device {
     border-radius: 60px;
}
 .bankerWrapper .device-placehoder {
     position: relative;
     z-index: 0;
     overflow: hidden;
}
 .bankerWrapper .device-placehoder > img {
     display: block;
     width: 259px;
}
 .bankerWrapper  .device-placehoder > img.device-screen:not(.active) {
     opacity: 0;
}
 .bankerWrapper  .custom-list button.btn {
     text-decoration: none!important;
     width: 100%;
     border-radius: 5px;
     position: relative;
     overflow: hidden;
}
 .bankerWrapper  .custom-list button.btn:not(.active) {
     color: inherit;
     -webkit-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}
 .bankerWrapper .custom-list button.btn.active {
     color: white!important;
}
 .bankerWrapper .custom-list button.btn.active:after {
     content: '';
     position: absolute;
     display: block;
     height: 100%;
     width: 0;
     left: 0;
     top: 0;
     opacity: 0;
     background: rgba(255,255,255, .5);
     -webkit-animation: list-elment-over .1s forwards ease-in-out;
     animation: list-elment-over .1s forwards ease-in-out;
}
 @-webkit-keyframes list-elment-over {
     0% {
         opacity:0;
         width:0;
    }
     100% {
         opacity:1;
         width:100%;
    }
}
 @keyframes list-elment-over {
     0% {
         opacity:0;
         width:0;
    }
     100% {
         opacity:1;
         width:100%;
    }
}
/* Progress bar */
 .bankerWrapper .progress-bar-c {
     height: 4px;
     width: 0;
     color: #fff;
     background-color: #f36f20;
     -webkit-transition: all .5s ease-in;
     -o-transition: all .5s ease-in;
     transition: all .5s ease-in;
     border-radius: 4px;
}
 .bankerWrapper [id^=section-] .progress-c {
     margin-bottom: -13px;
     background-color: rgba(255,255,255,1);
}
 .bankerWrapper .progress-c {
     height: 4px;
     width: 100%;
     background-color: rgba(255,255,255,1);
     border-radius: 8px;
}
 .bankerWrapper .device-screen {
     position: absolute;
     top: 0;
     z-index: 0;
}
 .bankerWrapper .device-screen.active {
     z-index: 1;
}
 .bankerWrapper .fake-next-btn {
     position: fixed;
     bottom: calc( 50% - 30px);
	 text-align: center;
     right: 0;
     z-index: 100;
     width: 60px;
     height: 60px;
	 line-height: 60px;
	 background: rgba(255, 255, 255, .1);
}
 .bankerWrapper .fake-next-btn:before {
	 font-family: 'Linearicons-Free';
     content: '\e876';
     color: white;
	 font-size:1.3rem;
     display: block;
     padding: 0 5px;
	 line-height: 60px;
	 cursor: pointer;
	 
}

/* Placeholder effects */
 .bankerWrapper .form-control:focus {
     border-color: #ccc;
}
 .bankerWrapper .float-label-control input{ font-family: "Helvetica Neue Medium";}

 .bankerWrapper .float-label-control {
     position: relative;
     margin-bottom: 1.5em;
}
 .bankerWrapper .float-label-control ::-webkit-input-placeholder {
     color: transparent;
}
 .bankerWrapper .float-label-control :-moz-placeholder {
     color: transparent;
}
 .bankerWrapper .float-label-control ::-moz-placeholder {
     color: transparent;
}
 .bankerWrapper .float-label-control :-ms-input-placeholder {
     color: transparent;
}
 .bankerWrapper .float-label-control input:-webkit-autofill, .float-label-control textarea:-webkit-autofill {
     background-color: transparent !important;
     -webkit-box-shadow: 0 0 0 1000px white inset !important;
     box-shadow: 0 0 0 1000px white inset !important;
}
 .bankerWrapper .float-label-control input, .float-label-control textarea, .float-label-control label {
     font-size: 1.3rem;
     box-shadow: none;
     -webkit-box-shadow: none;
}
 .bankerWrapper .float-label-control input:focus, .float-label-control textarea:focus {
     box-shadow: none;
     -webkit-box-shadow: none;
     border-bottom-width: 2px;
	 	
}
 .bankerWrapper .float-label-control textarea:focus {
     padding-bottom: 4px;
}
 .bankerWrapper .float-label-control input, .float-label-control textarea {
     display: block;
     width: 100%;
     padding: .375rem 0;
     border: none;
     border-radius: 0px;
     border-bottom: 1px solid #ccc;
     outline: none;
     margin: 0px;
     background: none;
}
 .bankerWrapper .float-label-control textarea {
     padding: 0.1em 0em 5px 0em;
}
 .bankerWrapper .float-label-control label {
     position: absolute;
     font-weight: normal;
     top: -1rem;
     left: 0;
     font-size:1rem;
     color: #aaaaaa;
     z-index: 0;
     -webkit-animation: float-labels 300ms none ease-out;
     animation: float-labels 300ms none ease-out;
    /* There is a bug sometimes pausing the animation. This avoids that.*/
     animation-play-state: running !important;
     -webkit-animation-play-state: running !important;
}
 .bankerWrapper .float-label-control input.empty + label, .float-label-control textarea.empty + label {
     top: 1rem;
     font-size: 1rem;
     padding-left: 0rem;
     animation: none;
     -webkit-animation: none;
}
 .bankerWrapper .float-label-control input:not(.empty) + label, .float-label-control textarea:not(.empty) + label {
     z-index: 1;
}
 .bankerWrapper .float-label-control input:not(.empty):focus + label, .float-label-control textarea:not(.empty):focus + label {
     color: #aaaaaa;
}
 .bankerWrapper .float-label-control.label-bottom label {
     -webkit-animation: float-labels-bottom 300ms none ease-out;
     animation: float-labels-bottom 300ms none ease-out;
}
 .bankerWrapper .float-label-control.label-bottom input:not(.empty) + label, .float-label-control.label-bottom textarea:not(.empty) + label {
     top: 3em;
}
 @keyframes float-labels {
     0% {
         opacity: 1;
         color: #aaa;
         top: 0.1em;
         font-size: 1.5rem;
    }
     20% {
         font-size: 1.5rem;
         opacity: 0;
    }
     30% {
         top: 0.1em;
    }
     50% {
         opacity: 0;
         font-size: 0.85rem;
    }
     100% {
         top: -1em;
         opacity: 1;
    }
}
 @-webkit-keyframes float-labels {
     0% {
         opacity: 1;
         color: #aaa;
         top: 0.1em;
         font-size: 1.5rem;
    }
     20% {
         font-size: 1.5rem;
         opacity: 0;
    }
     30% {
         top: 0.1em;
    }
     50% {
         opacity: 0;
         font-size: 0.85rem;
    }
     100% {
         top: -1em;
         opacity: 1;
    }
}
 @keyframes float-labels-bottom {
     0% {
         opacity: 1;
         color: #aaa;
         top: 0.1em;
         font-size: 1.5rem;
    }
     20% {
         font-size: 1.5rem;
         opacity: 0;
    }
     30% {
         top: 0.1em;
    }
     50% {
         opacity: 0;
         font-size: 0.85rem;
    }
     100% {
         top: 3em;
         opacity: 1;
    }
}
 @-webkit-keyframes float-labels-bottom {
     0% {
         opacity: 1;
         color: #aaa;
         top: 0.1em;
         font-size: 1.5rem;
    }
     20% {
         font-size: 1.5rem;
         opacity: 0;
    }
     30% {
         top: 0.1em;
    }
     50% {
         opacity: 0;
         font-size: 0.85rem;
    }
     100% {
         top: 3em;
         opacity: 1;
    }
}
 .bankerWrapper  .float-label-control .input-group>.custom-file, .bankerWrapper .float-label-control .input-group>.custom-select, .bankerWrapper .float-label-control .input-group>.form-control,.bankerWrapper .float-label-control .input-group-addon.custom{
     border:0;
     border-bottom:1px solid #ccc;
     border-radius: 0;
}
 .bankerWrapper .float-label-control .form-control:disabled, .bankerWrapper .float-label-control .form-control[readonly] {
     background-color: transparent;
     border:1px solid #ccc;
     opacity: .8;
     padding-left:1rem;
}
 .bankerWrapper .float-label-control .form-control:disabled, .bankerWrapper .float-label-control .form-control[readonly] + label {
     margin-top:-5px;
}


 .bankerWrapper ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-style: italic;
  font-weight: 300;
  color:#808080;
}
 .bankerWrapper ::-moz-placeholder { /* Firefox 19+ */
   font-style: italic;
   font-weight: 300;
    color:#808080;
}
 .bankerWrapper :-ms-input-placeholder { /* IE 10+ */
   font-style: italic;
   font-weight: 300;
   color:#808080;
}
 .bankerWrapper :-moz-placeholder { /* Firefox 18- */
   font-style: italic;
   font-weight: 300;
   color:#808080;
}
 .bankerWrapper .form-control {height:50px; border:1px solid #E6E6E6;}
 .bankerWrapper .form-control:disabled, .form-control[readonly] {
    background-color: #F5F5F5;
    opacity: 1;
}

/* DatePicker custom */
 .bankerWrapper .datepicker table tr td.active, .bankerWrapper .datepicker table tr td.active.disabled, .bankerWrapper .datepicker table tr td.active.disabled:hover, .bankerWrapper .datepicker table tr td.active:hover{
     background:#f36f20!important;
}
 .bankerWrapper .datepicker td, .bankerWrapper .datepicker th{
     padding:1rem;
}

 .bankerWrapper .cta-bottom a{
	font-size:1.4rem;
}
 .bankerWrapper .cta-bottom-info {
	color:white;
	background-color: rgba(255, 255, 255, 0.6);
	font-size:1.2rem;
	right: 2.97rem;
}

 .bankerWrapper .h-65-vh {
	height: 65vh;
}

.client-app .bankerWrapper  .current-section .tab-content .tab-pane {
	height: 100%;
	position: relative;
}

.client-app .bankerWrapper .current-section .tab-content .tab-pane .lnr-expand:before {
	font-size:1.5rem!important;
}
 .bankerWrapper .text-scroll {
	height: 465px;
	padding: 2rem;
	margin: 1rem 1rem 0 1rem;
	overflow-y: auto;
	min-height: 43vh;
}
 .bankerWrapper .text-scroll:before{
	content:'';
	display:block;
	position: absolute;
	top:14px;
	left:0;
	width:calc(100% - 30px);
	height: 20px;
	z-index: 5;
	pointer-events: none;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100 */ /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)),to(rgba(255,255,255,0)));
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
	
}

 .bankerWrapper .tools{
	position: absolute;
    bottom: 0;
    width: 100%;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+8&0+0,1+8 */
background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 10%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 10%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 10%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	transition: all .5s ease;
}


 .bankerWrapper .btn-choice:before{
	content:attr(data-text);
	border-radius:0;
}
 .bankerWrapper .btn-choice.cancel{
	background:white;
}



 .bankerWrapper .btn-secondary.btn-choice.confirm.active{
    -webkit-box-shadow: none!important;
            box-shadow: none!important;
    border: 0;
	color:white;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f36f20+0,f08e00+100 */
	background: rgb(243,111,32); /* Old browsers */ /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(243,111,32,1) 0%,rgba(240,142,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: -webkit-gradient(linear, left top, right top, from(rgba(243,111,32,1)),to(rgba(240,142,0,1)));
	background: -o-linear-gradient(left, rgba(243,111,32,1) 0%,rgba(240,142,0,1) 100%);
	background: linear-gradient(to right, rgba(243,111,32,1) 0%,rgba(240,142,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f36f20', endColorstr='#f08e00',GradientType=1 ); /* IE6-9 */
}



 .bankerWrapper .btn-sign[aria-pressed="false"]:before{
	content:attr(data-text);
}

 .bankerWrapper .btn-sign[aria-pressed="true"]{
	background-color: transparent!important;
    -webkit-box-shadow: none!important;
            box-shadow: none!important;
    border: 0;
}

 .bankerWrapper .btn-sign[aria-pressed="true"]:after{
	content:attr(data-signed);
	color:#58b582;
	font-size:1.2rem;
	
}
 .bankerWrapper .btn-sign[aria-pressed="true"]:before{
	font-family: 'Linearicons-Free';
    display: inline-block;
    content: "\e912";
    color: #fff;
    -webkit-animation: successIcon .3s forwards ease-in-out;
            animation: successIcon .3s forwards ease-in-out;
	background-color: #58b582;
	margin-right:10px;
    width: 20px;
    height: 20px;
    line-height: 21px;
    font-size: 1rem;
    text-align: center;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
	
}
 .bankerWrapper .nav-link-signed.active, .nav-link-signed.active{
	-webkit-box-shadow: -6px 0px 6px 0 rgba(0,0,0, .1 ); 
	        box-shadow: -6px 0px 6px 0 rgba(0,0,0, .1 );
}
 .bankerWrapper .nav-link-signed:before{
	font-family: 'Linearicons-Free';
    display: inline-block;
    content: "\e912";
    color: #fff;
    -webkit-animation: successIcon .3s forwards ease-in-out;
    animation: successIcon .3s forwards ease-in-out;
    background-color: #58b582;
    margin-right: 15px;
    width: 20px;
    height: 20px;
	min-width: 20px;
    line-height: 21px;
    font-size: 1rem;
    text-align: center;
    margin-left: -30px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
 .bankerWrapper .nav-link-signed:after{
	display:none;
}



 .bankerWrapper .nav-link-signed:after{
	font-family: 'Linearicons-Free';
	content:'\e876';
	vertical-align: middle;
	float: right;
	margin-right:-20px;
}


 .bankerWrapper .numeric-keyboard{
	margin:-1px;
	overflow:hidden;
}
 .bankerWrapper .numeric-keyboard .numbers > .key {
	-webkit-box-flex:1;
	    -ms-flex:1;
	        flex:1; 
	padding:17px 70px; 
	border:1px solid #ccc;
	text-align: center;	
	font-family: "Helvetica Neue Medium";
	font-size:2.7rem;
	-webkit-transition:all .5s ease;
	-o-transition:all .5s ease;
	transition:all .5s ease;
}
 .bankerWrapper .numeric-keyboard input {
    height: 9.5rem;
    width: 100%;
    border: 0;
    padding: 1rem 5rem;
    font-size: 2rem;
	color:#9b9b9b;
	letter-spacing: .25rem;
}
 .bankerWrapper .numeric-keyboard .numbers > .key,
 .bankerWrapper .numeric-keyboard .numbers > .key + .key{
	margin-left: -1px;
	margin-bottom: -1px;
}

 .bankerWrapper .numeric-keyboard .numbers > .key:hover{
	background:rgba(0,0,0, .2);
}
 .bankerWrapper .numeric-keyboard .numbers > .key:active {
	background:rgba(0,0,0, .4);
}
 .bankerWrapper .numeric-keyboard .numbers > .key .lnr { font-size:2rem;}

body {
    counter-reset: section;
}

 .bankerWrapper .list-counter { padding:.5rem 0}

 .bankerWrapper .list-counter.radio::before {
 	counter-increment: section;
    content: counter(section);
    display: inline-block;
    width: 32px;
    height: 32px;
    font-size: 1rem;
    border-radius: 50%;
    text-align: center;
    line-height: 2.2;
    color: #f36f20;
    border: 1px solid #f36f20;
    vertical-align: middle;
	margin-right:1rem;
}
 .bankerWrapper .lnr-diamond-separator{ font-size: 1.3rem; color:#f56f00;}

 .bankerWrapper .form-row>.col, .form-row>[class*=col-] {
    padding-right: 15px;
    padding-left: 15px;
}

 .bankerWrapper .loading:before{
	font-family: 'Linearicons-Free';
	content:'\e862';
	display:block;
	position: absolute;
	width:80px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	vertical-align: middle;
	top: calc(50% - 40px);
	left:calc(50% - 40px);
	color:rgba(0,0,0, .2);
	font-size:4rem;
     -webkit-animation: fadeInInintro .5s ease forwards, rotateInfinite 2s linear infinite;
             animation: fadeInInintro .5s ease forwards, rotateInfinite 2s linear infinite;
     -webkit-transform-origin: center center;
         -ms-transform-origin: center center;
             transform-origin: center center;
}


 .bankerWrapper .avatar-foto {
	display:block;
	border-radius:100%;
	width:40px;
	height: 40px;
	vertical-align: middle;
}



/* NEW ELEMENTS */

 .bankerWrapper .timeline .timeline-item span::before {
    content: '';
    display:inline-block; 
    width:12px;
    height: 12px;
    color:white;
    border:2px solid rgba(67, 73, 89, .5);
    border-radius: 30px;
    line-height: 26px;
    text-align: center;
    font-size: 0.625rem;
    margin-right: .5rem;
}


 .bankerWrapper .timeline .timeline-item.seed span::before {
 	counter-increment: section;
    content: counter(section);
    display:inline-block; 
    border:none;
    width:26px;
    height: 26px;
    color:white;
    border-radius: 30px;
    background-color:#F36F20;
    line-height: 26px;
    text-align: center;
    font-size: 0.625rem;
    margin-right: .5rem;
    font-weight: 300;
}
 .bankerWrapper .timeline .timeline-item.seed.current span::before {
    display:inline-block; 
    border:none;
    width:26px;
    height: 26px;
    color:white;
    border-radius: 30px;
    background-color:#F36F20;
    line-height: 26px;
    text-align: center;
    font-size: 0.625rem;
    margin-right: .5rem; 
}


 .bankerWrapper .timeline .timeline-item.seed:not(.current) span::before {
    content:"\e912";
    font-family: 'Linearicons-Free';
    display:inline-block; 
    border:none;
    width:26px;
    height: 26px;
    color:white;
    border-radius: 30px;
    background-color:#656C7E;
    line-height: 26px;
    text-align: center;
    font-size: 0.825rem;
    margin-right: .5rem; 
}

 .bankerWrapper .timeline .nav-link { color:#4D4D4D;}
 .bankerWrapper .timeline .timeline-item.current {
    font-weight: 700;
    text-decoration: underline;
}
 .bankerWrapper .timeline .timeline-item.seed {
    font-weight: 700;
}

 .bankerWrapper .breadcrumb { background:none;}
 .bankerWrapper .breadcrumb-item:not(:last-child) {
    font-weight: 700;
}
 .bankerWrapper .breadcrumb-item + .breadcrumb-item::before {
    font-family: 'Linearicons-Free';
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: inherit;
    content: "\e874";
    transform: rotate(-90deg);
}

/* Tables */
 .bankerWrapper .table {
    font-size:14px;
}
 .bankerWrapper .table td{
    padding: 1rem 0;
}
 .bankerWrapper .bg-gray-01 .table td,
 .bankerWrapper .bg-gray-02 .table td,
 .bankerWrapper .bg-gray-03 .table td,
 .bankerWrapper .bg-gray-04 .table td{
    color:white;
}
 .bankerWrapper .table tr:first-child > td { border:0; }


 .bankerWrapper .info-note {
    background:white;
    padding:.5rem 1rem;
    position: relative;
}
 .bankerWrapper .info-note::before {
    content:'';
    display:block;
    width:10px;
    height: 10px;
    position: absolute;
    top:-5px;
    left:1.2rem;
    transform: rotate(45deg);
    background: white;
}
 .bankerWrapper .info-note span{ display:inline-block; vertical-align: middle; line-height: 14px;}
 .bankerWrapper .info-note span::before {
    content:'i';
    display:inline-block;
    width:16px;
    height: 16px;
    line-height: 14px;
    border-radius:40px;
    border:1px solid #4d4d4d;
    vertical-align: middle;
    text-align: center;
    margin-right: .5rem;
    font-size:.6rem
}

 .bankerWrapper .icon-circle {
    display:inline-block;
    width:48px;
    height: 48px;
    vertical-align: middle;
    line-height: 48px;
    border-radius: 50px;
    text-align: center;
}
 .bankerWrapper .icon-circle span:before {
    font-size:24px;
    line-height: 48px
}
/* CARDS */
 .bankerWrapper .card-header { background-color: transparent; padding:0; border-bottom:0; position: relative; z-index: 5;}
 .bankerWrapper .card-header .media-left{padding:2rem 0rem 2rem 2rem;}
 .bankerWrapper .card-header .media-body { padding:2rem 2rem 2rem 0;}


 .bankerWrapper .t-bordered { border-top:1px solid #CCCCCC;}
 .bankerWrapper .b-bordered { border-bottom:1px solid #CCCCCC;}


/* CUSTOM CHECK */
 .bankerWrapper .custom-control-label { color:white;}
 .bankerWrapper .custom-control-label::before {
    position: absolute;
    top: .25rem;
    left: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #dee2e6;
}

 .bankerWrapper .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #4AAC76;
    border-radius:2px;
}
 .bankerWrapper .custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    background-color: #4AAC76;
    border-radius:2px;
}
 .bankerWrapper .custom-checkbox .custom-control-label::before {    border-radius:0;}
 .bankerWrapper .custom-control-input:disabled~.custom-control-label::before {
    background-color: transparent;
    border: 1px solid #6c757d;
    border-lef:0;
}