//== Button
//

.btn {
  font-family: $font-family-sans-serif;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 500;
  color: $black;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid $black;
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);

  @include hover {
    color: $black;
    text-decoration: none;
  }

  .inverted-color & {
    color: $white;
    border-color: $white;
    @include hover {
      color: $white;
    }
  }

  &:focus,
  &.focus {
    outline: 0;
    @include box-shadow(none);
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: .5;
    @include box-shadow(none);
  }

  // Opinionated: add "hand" cursor to non-disabled .btn elements
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}




// Colors

.btn--white {
  background: $white;
  border-color: $white;
  color: $black !important;
  &:hover {
    color: $black !important;
    background: $white;
    opacity: .8;
  }
}

.btn--blue {
  background: $blue;
  border-color: $blue;
  color: $white !important;
  box-shadow: 0 4px 8px 0 rgba($blue, 0.2);
  &:hover {
    color: $white !important;
    background: $blue;
    opacity: .8;
  }
}

.btn--transp {
  background: transparent;
  border: 1px solid $blue;
  color: $blue;
  &:hover {
    color: $white !important;
    background: $blue;
    opacity: .8;
  }
}




// Sizes

.btn--big {
  @include media-breakpoint-up(md) {
    @include button-size($btn-big-padding-y, $btn-big-padding-x, $btn-big-font-size, $btn-big-line-height, $btn-big-border-radius);
  }
}

.btn--big-xl {
  @include media-breakpoint-up(xl) {
    @include button-size($btn-big-padding-y, $btn-big-padding-x, $btn-big-font-size, $btn-big-line-height, $btn-big-border-radius);
  }
}

.btn--small {
  padding: 7px 10px;
  text-align: center;
}