//== Community Map
//

.section--map-community {
  height: 850px;
  @include media-breakpoint-down(md) {
    height: 550px;
  }
  @media screen and (max-width: 1200px) and (min-width: 769px) {
    height: 650px;
  }
  @include media-breakpoint-down(sm) {
    height: 550px;
  }
}
.map {
  border-radius: 50%;
  background-color: $blue;
  width: 1500px;
  height: 1500px;
  position: absolute;
  left: 15%;
  top: -700px;
  overflow: hidden;
  display: flex;
  z-index: 9;
  @include media-breakpoint-down(md) {
    width: 900px;
    height: 900px;
    left: 12%;
    top: -300px;
  }
  @media screen and (max-width: 1200px) and (min-width: 769px) {
    width: 1000px;
    height: 1000px;
    left: 12%;
    top: -400px;
  }
  @include media-breakpoint-down(sm) {
    width: 700px;
    height: 700px;
    left: -30%;
    top: -200px;
  }
  .navigation {
    position: absolute;
    top: 750px;
    left: 100px;
    z-index: 99;
    @include media-breakpoint-down(md) {
      top: 295px;
    }
    @media screen and (max-width: 1200px) and (min-width: 769px) {
      top: 395px;
    }
  }
  .map-layer {
    width: 100%;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin: auto auto 150px;
    @include media-breakpoint-down(md) {
      height: 255px;
      margin: auto 0 100px -70px;
    }
    @media screen and (max-width: 1200px) and (min-width: 769px) {
      height: 300px;
      margin: auto auto 100px;
    }
    @include media-breakpoint-down(sm) {
      height: 155px;
      margin: auto 0 100px -70px;
    }
    &.hidden {
      opacity: 0;
    }
    &.map-layer--continent, &.map-layer--country {
      height: 500px;
      @media screen and (max-width: 1200px) and (min-width: 769px) {
        height: 400px;
        margin: auto auto 100px;
      }
    }
    .circle {
      display: block;
      background: $white;
      //box-shadow: 0px 0px 0px 3px rgba($white, .5);
      border: 1px solid $gray;
      position: absolute;
      border-radius: 50%;
      text-align: center;
      @extend %font-18px;
      color: $blue;
      font-weight: 700;
      padding: 0;
      min-width: 25px;
      min-height: 25px;
      line-height: 25px;
      label {
        margin-bottom: 0;
      }
    }
    &.map-layer--world {
      background-image: url("../img/world.svg");
    }
  }
  a {
    cursor: auto;
    label {
      display: inline-block;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
    &:hover {
      opacity: 1;
      label {
        opacity: .8;
      }
    }
    &.backmap, &.viewallmap {
      cursor: pointer;
      &:hover {
        color: $white;
      }
    }
  }
  .modal-close {
    position: absolute;
    top: -15px;
    left: -15px;
    width: 50px;
    height: 50px;
    display: block;
    z-index: 9;
    border-radius: 50%;
    background-color: $white;
    cursor: pointer;
    padding: 9px;
  }
  .map-modal {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: $white;
    text-align: left;
    z-index: 9;
    .card {
      padding: 0;
      display: flex;
      .image-wrap {
        width: 120px;
        height: 156px;
        flex-shrink: 0;
      }
      .event-content-wrap {
        padding-top: 10px;
        & > div {
          line-height: 1;
        }
      }
    }
  }
}
