//== Palette
//

.white {
  color: $white;
}
.black {
  color: $black !important;
}
.blue {
  color: $blue !important;
}
.gray {
  color: $gray !important;
}
.green {
  color: $green !important;
}

.bg--white {
  background-color: $white;
}
.bg--blue {
  background-color: $blue;
}
.bg--black {
  background-color: $black;
}
.bg--ultralight {
  background-color: $bg-ciano;
}
.inverted-color {
  &, a {
    color: $white;
  }
}
