extends master.pug
block body
    - var isprivata = true

block header
    include partials/header.pug

block content
    div#pg-wrapper.main-content
        div.container-fluid
            include partials/sections/top-hp

            include partials/sections/events

            include partials/sections/news

            include partials/sections/external-news


    include partials/footer.pug