/*======== CHAPTER ========*/

#chapterTopicCard-container {
  .btn + .btn {
    margin-left: 20px;
  }
  .cardContainer.card-topic-container {
    margin-top: 100px;
    p {
      font-family: $font-family-opensans;
      @extend %font-20px;
    }
  }
}

.media_gallery_container {
  .dropdown-advanced-filter {
    .filters-data {
      margin-left: 0;
    }
    .filters-action .btn {
      padding: 7px 10px !important;
      margin: auto;
      & + .btn {
        margin-left: 10px;
      }
    }
  }
  .parent.carousel_file {
    flex-wrap: wrap;
    .child {
      height: 290px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      &:nth-child(1), &:nth-child(4), &:nth-child(5) {
        width: 65%;
      }
      &:nth-child(2), &:nth-child(3), &:nth-child(6) {
        width: 35%;
      }
    }
  }
}