/*======== FORM ========*/

.lf-wrap {
  display: block;
  position: relative;
  padding-left: 24px;
  margin: 16px 0;
  cursor: pointer;
  font-size: prem(10px);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: $black;
  font-weight: normal;
  line-height: 16px;
  text-transform: uppercase;
  &:first-child {
    margin-top: 5px;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  &:hover input ~ .checkmark {
    background-color: rgba($light-gray, .5);
  }

  input:checked ~ .checkmark {
    background-color: $blue;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: transparent;
    border: 1px solid $light-ciano;

  }

  input:checked ~ .checkmark:after {
    display: block;
  }

  &.lf-wrap--radio {
    .checkmark {
      border-radius: 50%;
    }
  }

  &.lf-wrap--check {
    input {
      height: 0;
      width: 0;
    }
  }
}

.actions {
  .btn--transpgreen {
    padding: 5px 10px 5px;
  }
  .btn + .btn {
    margin-left: 10px;
  }
}

select {
  display: block;
  box-sizing: border-box;
  margin: 0;
  //border: 1px solid #aaa;
  box-shadow: 0 0 0 0 rgba(0,0,0,.04);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('../img/chevron-down.svg');
  //linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
  height: 30px;
  padding: 5px 10px;
  font-size: prem(10px);
  text-transform: uppercase;
  line-height: 1.5;
  border-radius: 3px;
  padding-right: 25px !important;
  border: 0;
  border-bottom: 1px solid $light-ciano;
  font-family: $font-family-opensans;
  color: $gray;
  &.input-sm {
    height: 30px;
    font-size: prem(10px);
    line-height: 1.5;
  }
  &::-ms-expand {
    display: none;
  }
  &:hover {

  }
  &:focus {
    outline: 0;
  }
  option {
    font-weight:normal;
  }
}

input, textarea {
  font-size: prem(10px);
  &::placeholder {
    opacity: .6;
    font-weight: 300;
    font-size: prem(10px);
    text-transform: uppercase;
  }
  &:focus {
    outline: 0;
  }
  color: $gray;
  padding: 5px 5px 4px 0;
  border: 0;
  border-bottom: 1px solid $light-ciano;
}
.input-row {
  margin-bottom: 30px;
}
[class^="col-"] {
  textarea {
    width: 100%;
  }
  input {
    width: 100%;
    &[type=radio], &[type=checkbox] {
      width: auto;
    }
  }
  .small-text {
    color: $blue;
  }
}

.select-wrap {
  position: relative;
  line-height: 31px;
  border: 1px solid rgba($blue, .5);
  select {
    color: $blue;
    padding: 4px 5px 4px;
    border: 0;
    width: 100%;
    background: transparent;
    line-height: 31px;
    font-family: $font-family-sans-serif;
    font-weight: normal;
    display: inline-block;
    font-size: prem(12px);
    cursor: pointer;
    &:hover {
      text-decoration: none;
    }
    .dropdown-menu {
      width: 100%;
    }
    &:focus {
      outline: none;
    }
  }
  &::after {
    content: "";
    border: 0;
    background: $white url("../img/chevron-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px;
    height: 90%;
    position: absolute;
    right: 4px;
    top: 2px;
    line-height: 38px;
    background-position-y: center;
  }
}

.input-group {
  position: relative;
  .input-group-addon {
    position: absolute;
    right: 6px;
    top: 20px;
  }
}

.form-control {
  display: block;
  width: 100%;
  height: auto;
  padding: 3px 10px;
  font-size: 12px;
  color: $gray;
  border: 1px solid $light-gray;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
}

.bootstrap4  {
  .v-select input[type=search], .v-select input[type=search]:focus {
    height: 38px;
    font-family: $font-family-opensans;
  }
  .v-select.single .selected-tag {
    font-family: $font-family-opensans;
  }
  .tag_token {
    background-color: $light-blue;
    border-radius: 20px;
    font-size: prem(10px);
    color: $blue;
    font-weight: 600;
    padding-right: 25px;
    .tag_remover {
      border: 0;
      background: transparent;
      position: relative;
      &::before {
        font-family: 'icomoon' !important;
        content: "\ea29";
        color: $blue;
        position: relative;
        top: 0;
        right: -10px;
        font-size: 8px;
      }
    }
  }
  .form-group {
    label {
      color: $gray;
      font-size: prem(11px);
      text-transform: uppercase;
      margin-bottom: 0;
      font-weight: 500;
    }

    .v-select .dropdown-toggle {
      border: 0;
    }

    input {
      font-size: prem(17px) !important;
      color: $blue;
      &::placeholder {
        opacity: .6;
        font-weight: 300;
        font-size: prem(14px);
        text-transform: uppercase;
      }
      &:focus {
        outline: 0;
      }
      padding: 0 5px 4px 0 !important;
      border: 0;
      border-bottom: 1px solid $light-ciano !important;
      border-radius: 0;
      &[readonly] {
        font-size: prem(17px);
        border: 0 !important;
        opacity: .8;
        background-color: transparent;
        color: $blue;
      }
    }
  }
}