// HP

.main-content {
  padding-top: 0;
}

.section.section--small {
  .top-entry {
    .scheda {
      height: 50vh;
      min-height: 300px;
      max-height: 400px;
      @include media-breakpoint-down(lg) {
        height: 50vh;
      }
      @include media-breakpoint-down(md) {
        //height: 520px;
      }
      @include media-breakpoint-down(sm) {

      }
      @media (max-width:$screenTabletPortrait) {
        &.align-items-center {
          align-items: flex-start;
        }
      }
      .square-mask {
        position: absolute;
        right: -20%;
        top: -50%;
        width: calc(45% * 1.2);
        padding-bottom: calc(45% * 1.2);
        border-radius: 50%;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: contain;

        @media screen and (max-width: 800px) {
          right: -45vw;
          top: 7%;
          width: 100%;
          padding-bottom: 100%;
        }

        @media screen and (max-width: 767px) {
          right: -65vw;
          top: 7%;
          width: 140%;
          padding-bottom: 140%;
        }
        &.reverse {

        }
      }
    }
    &.isLogged {
      .scheda {
        .square-mask {
          position: absolute;
          right: -20%;
          top: -50%;
          width: calc(45% * 1.2);
          padding-bottom: calc(45% * 1.2);
          border-radius: 50%;
          overflow: hidden;
          background-repeat: no-repeat;
          background-size: contain;

          @media screen and (max-width: 800px) {
            right: -45vw;
            top: 7%;
            width: 100%;
            padding-bottom: 100%;
          }

          @media screen and (max-width: 767px) {
            right: -65vw;
            top: 7%;
            width: 140%;
            padding-bottom: 140%;
          }
        }
      }
    }
  }
}

#hero-zone {
  .top-entry {
    .scheda {
      p {
        @media (max-width:$screenSmartphone-max) {
          //display: none;
        }
      }
    }
  }
}

.top-entry {
  &.top-entry-contentdetail {
    &#hero-zone h1 {
      @media (max-width: $screenTabletLandscape) {
        text-shadow: 0 0 10px rgba(255,255,255, 1), 0 0 10px rgba(255,255,255, 1), 0 0 10px rgba(255,255,255, 1), 0 0 10px rgba(255,255,255, 1), 0 0 20px rgba(255,255,255, 1), 0 0 30px rgba(255,255,255, 1), 0 0 40px rgba(255,255,255, 1);
      }
    }
    .scheda {
      & > [class^="col-"]:first-child {
        @media (max-width:$screenSmartphone-max) {
          margin-top: -7vh;
        }
      }
    }
  }
  &.slider-reversed {
    &#hero-zone .slick-dots {
      width: 100%;
      display: flex !important;
      justify-content: flex-end;
    }
    .scheda > [class^="col-"]:last-child {
      z-index: 2;
    }
    .scheda > [class^="col-"]:first-child {
      z-index: 1;
    }
    .text-wrap {
      @media (max-width: $screenTabletLandscape) {
        max-width: 50vw;
        margin-left: -50px;
      }
      @include media-breakpoint-down(sm) {
        padding: 0;
        margin-left: 20vw;
        max-width: 75vw;
      }
      &:first-child {
        margin-top: -40px;
      }
    }
    .row-flex.scheda .square-mask {
      right: inherit;
      left: -30%;
      @media (max-width:$screenSmartphone-max) {
        left: -65%;
      }
    }
  }
  .text-wrap {
    h1 {
      @extend %font-58px;
    }
    &.s-text {
      h1 {
        @extend %font-58px-small;
      }
    }
    &.m-text {
      h1 {
        @extend %font-58px-medium;
      }
    }
    &.l-text {
      h1 {
        @extend %font-58px-large;
      }
    }
  }
  .scheda {
    height: 50vh;
    min-height: 400px;
    max-height: 400px;
    @include media-breakpoint-down(lg) {
      height: 50vh;
    }
    @include media-breakpoint-down(md) {
      //height: 530px;
    }
    @include media-breakpoint-down(sm) {

    }
    @media (max-width:$screenTabletPortrait) {
      &.align-items-center {
        align-items: flex-start;
      }
    }

    & > [class^="col-"] {
      @include media-breakpoint-down(sm) {
        top: 0;
        position: absolute;
        left: 0;
      }
    }
    & > [class^="col-"]:first-child {
      z-index: 2;
      opacity: 1;
      @include media-breakpoint-down(sm) {
        position: static;
      }
    }
    .square-mask {
      position: absolute;
      right: -30%;
      top: -40%;
      width: calc(60% * 1.2);
      padding-bottom: calc(60% * 1.2);
      border-radius: 50%;
      overflow: hidden;
      background-repeat: no-repeat;
      background-size: contain;

      @media screen and (max-width: 800px) {
        right: -45vw;
        top: 7%;
        width: 100%;
        padding-bottom: 100%;
      }

      @media screen and (max-width: 767px) {
        right: -65vw;
        top: 7%;
        width: 140%;
        padding-bottom: 140%;
      }
      &.reverse {

      }
    }
    h1 {

      @media screen and (min-width: 1000px) {
        max-width: 70vw;
      }
      @media screen and (min-width: 1400px) {
        max-width: 75vw;
      }
      @media (max-width:$screenTabletPortrait) {
        margin-top: 40px;
      }
      @media (max-width:$screenSmartphone-max) {

      }
    }
  }
  h1 {
    color: $blue;
    line-height: 1;
    margin: 0;
    & + h1 {

    }
  }
  h2 {
    max-width: 730px;
  }

  &.top-entry--community {
    position: relative;
    &::before {
      position: absolute;
      width: 500px;
      left: 100%;
      top: 0;
      height: 100%;
      content: "";
      background-color: $white;
    }
  }
  &.isLogged {
    .scheda {
      .square-mask {
        position: absolute;
        right: -35%;
        top: -35%;
        width: calc(50% * 1.2);
        padding-bottom: calc(50% * 1.2);
        border-radius: 50%;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: contain;

        @media screen and (max-width: 800px) {
          right: -45vw;
          top: 7%;
          width: 100%;
          padding-bottom: 100%;
        }

        @media screen and (max-width: 767px) {
          right: -65vw;
          top: 7%;
          width: 140%;
          padding-bottom: 140%;
        }
      }
    }
  }
}

.slider-section.slider-section-hp {
  .top-entry {
    .scheda {
      height: 70vh;
      max-height: none;
      @media (max-width:$screenTabletLandscape) {
        max-height: 400px;
      }
      @include media-breakpoint-down(lg) {
        height: 60vh;
      }
      @include media-breakpoint-down(md) {
        //height: 530px;
      }
      @include media-breakpoint-down(sm) {

      }
      .square-mask {
        right: -30%;
        top: -20%;
        @media screen and (max-width: 800px) {
          right: -45vw;
          top: 7%;
          width: 100%;
          padding-bottom: 100%;
        }

        @media screen and (max-width: 767px) {
          right: -65vw;
          top: 7%;
          width: 140%;
          padding-bottom: 140%;
        }
        &.reverse {

        }
      }
    }
    &.isLogged {
      .scheda {
        height: 50vh;
        max-height: 450px;
        @media (max-width:$screenTabletLandscape) {
          max-height: 400px;
        }
        @include media-breakpoint-down(lg) {
          height: 40vh;
        }
        @include media-breakpoint-down(md) {
          //height: 530px;
        }
        @include media-breakpoint-down(sm) {

        }
        .square-mask {
          /*
          position: absolute;
          right: -30%;
          top: -20%;
          width: calc(60% * 1.2);
          padding-bottom: calc(60% * 1.2);
          border-radius: 50%;
          overflow: hidden;
          background-repeat: no-repeat;
          background-size: contain;

          @media screen and (max-width: 800px) {
            right: -45vw;
            top: 7%;
            width: 100%;
            padding-bottom: 100%;
          }

          @media screen and (max-width: 767px) {
            right: -65vw;
            top: 7%;
            width: 140%;
            padding-bottom: 140%;
          }
          */
          &.reverse {

          }
        }
      }
    }
  }
}

.top-entry.top-entry--small {
  .top-entry .scheda {
    min-height: 400px;
    @media (max-width:$screenTabletPortrait) {
      min-height: 470px;
      &.align-items-center {
        align-items: flex-start;
      }
    }
    .square-mask {
      position: absolute;
      right: -24%;
      top: -25%;
      width: calc(45% * 1.2);
      padding-bottom: calc(45% * 1.2);
      border-radius: 50%;
      overflow: hidden;
      background-repeat: no-repeat;
      background-size: contain;

      @media screen and (max-width: 1024px) {
        right: -35vw;
        top: 10%;
        width: calc(55% * 1.2);
        padding-bottom: calc(55% * 1.2);
      }

      @media screen and (max-width: 800px) {
        right: -45vw;
        top: 7%;
        width: 100%;
        padding-bottom: 100%;
      }


      @media screen and (max-width: 767px) {
        right: -65vw;
        top: 7%;
        width: 140%;
        padding-bottom: 140%;
      }
      &.reverse {

      }
    }
    & > [class^="col-"]:first-child {
      .text-wrap {
        max-width: 70%;
        @media (max-width:$screenSmartphone-max) {
          max-width: 65%;
        }
      }
    }
  }
}

.top-entry.top-entry-detail-event {
  .scheda {
    @media screen and (max-width: 1200px) {
      padding: 0 35px;
    }
  }
}