//== Lists
//

.list-unstyled {
  @include list-unstyled;
}

ul.row {
  @include list-unstyled;
  margin-bottom: 0;
}





// Inline turns list items into inline-block

.list-inline {
  @include list-unstyled;
  margin: 0;
  li {
    display: inline-block;
  }
}


.circle {
  span {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    padding: 8px;
  }
  &.blue {
    span {
      background-color: $blue;
      color: $white;
    }
  }
}