//== Community Map
//

#ChaptersMap_body {
  .noover {
    .map-circle {
      .navigation {
        //left: 160px;
        @media screen and (max-width: 1500px) {
          //left: 140px;
        }
        @media screen and (max-width: 1419px) {
          //left: 5px;
        }
        @media (max-width: $screenTabletLandscape) {
          //left: 0;
        }
      }
    }
  }
}

.section--map-community {

}
.map {
  border-radius: 50%;
  background-color: $blue;
  width: 1800px;
  height: 1800px;
  position: absolute;
  left: 0;
  top: -655px;
  //overflow: hidden;
  display: flex;
  z-index: 9;
  @media screen and (max-width: 1200px) and (min-width: 769px) {
    width: 1200px;
    height: 1200px;
    left: 3%;
    top: -400px;
  }
  @include media-breakpoint-down(md) {
    width: 1100px;
    height: 1100px;
    left: 2%;
    top: -300px;
  }
  @media (max-width:$screenSmartphone-max) {
    width: 700px;
    height: 700px !important;
    left: 2%;
    top: -200px;
    min-height: 700px;
  }
  .navigation {
    position: absolute;
    top: 845px;
    left: 100px;
    z-index: 99;
    @include media-breakpoint-down(md) {
      top: 295px;
    }
    @media screen and (max-width: 1200px) and (min-width: 769px) {
      top: 395px;
    }
    .nm-ch {
      text-transform: capitalize;
      margin-top: 8px;
      display: inline-block;
    }
  }
  .map-wrap {
    width: 100%;
    height: 45%;
    margin-top: auto;
    display: flex;
    min-height: 750px;
    margin-left: 16vw;
    @media screen and (max-width: 1200px) and (min-width: 769px) {
      height: 57%;
      min-height: 700px;
    }
    @media screen and (max-width: 1025px) and (min-width: 1023px) {
      margin-left: -20vw;
    }
    @media screen and (max-width: 1022px) and (min-width: 833px) {
      margin-left: -40vw;
    }
    @media screen and (max-width: 1400px) and (min-width: 1026px) {
      margin-left: -10vw;
    }
    @include media-breakpoint-down(md) {
      min-height: 500px;
    }
    @media (max-width:$screenSmartphone-max) {
      min-height: 400px;
    }
  }
  .map-layer {
    width: 60vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin: auto auto;

    @include media-breakpoint-down(md) {
      height: 255px;
      margin: auto 0 100px auto;
    }
    @media screen and (max-width: 1200px) and (min-width: 769px) {
      height: 300px;
      margin: auto auto auto;
    }
    @media (max-width:$screenTabletPortrait) {
      height: 100px;
      width: 35%;
      margin: auto auto auto auto;
      position: absolute;
      left: 5%;
      top: 25%;
    }
    @media (max-width:$screenSmartphone-max) {
      width: 96vw;
      left: 2vw;
      margin: auto 0 100px auto;
    }
    &.hidden {
      opacity: 0;
    }
    .popover {
      position: absolute;
      width: 150px;
      height: 30px;
      text-align: center;
      background-color: $white;
      color: $blue;
      padding: 2px;
      text-transform: capitalize;
      left: -1000px;
      top: -1000px;
      display: block;
      min-width: 0;
    }
    .loadedsvg {
      background: url("../img/loader.gif");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 40px;
      width: 100%;
      height: 100%;
      min-height: 300px;
      svg {
        background-color: $blue;

        width: 100%;
        height: auto;

      }
      &.loaded {
        background: transparent;
      }
    }
    &.map-layer--continent {

      &[c-name="europa"] {
        width: 50vw;
        @media screen and (max-width: 1200px) and (min-width: 769px) {
          width: 60vw;
          margin-top: 70px;
        }
        @media (max-width:$screenTabletPortrait) {
          width: 67vw;
          left: 11%;
          top: 23%;
        }
        @media (max-width:$screenSmartphone-max) {
          width: 96vw;
          left: 2vw;
          margin: auto 0 100px auto;
        }
      }
      &[c-name="america"] {
        width: 30vw;
        @media screen and (max-width: 1200px) and (min-width: 769px) {
          width: 30vw;
        }
        @media (max-width:$screenTabletPortrait) {
          width: 44vw;
          left: 13%;
        }
        @media (max-width:$screenSmartphone-max) {
          width: 96vw;
          left: 2vw;
          margin: auto 0 100px auto;
        }
      }
      &[c-name="asia-oceania"] {
        width: 40vw;
        @media screen and (max-width: 1200px) and (min-width: 769px) {
          //width: 30vw;
        }
        @media (max-width:$screenTabletPortrait) {
          width: 50vw;
          left: 13%;
        }
        @media (max-width:$screenSmartphone-max) {
          width: 96vw;
          left: 2vw;
          margin: auto 0 100px auto;
        }
      }
      &[v-cont="nordamerica"] {
        .loadedsvg #brasile, .loadedsvg #cile {
          display: none;
        }
      }
      &[v-cont="sudamerica"] {
        .loadedsvg {
          #california, #ontario, #texas, #massachussets, #illinois, #florida, #newyork, #washington, #washingtonDC {
            display: none;
          }
        }
      }
      &[v-cont="asia-oceania"] {
        .loadedsvg {
          #australia-2 {
            display: none;
          }
        }
      }
      &[v-cont="australia"] {
        #india, #penisola_arabica, #vietnam, #giappone, #malesia, #singapore, #hongkong, #cina {
          display: none;
        }
      }
    }
    &.map-layer--country {
      width: 35vw;
      position: relative;
      @media screen and (max-width: 1200px) and (min-width: 769px) {
        width: 25vw;
      }
      .loadedsvg {
        text-align: center;
        svg {
          @media (max-width:$screenSmartphone-max) {
            width: auto;
            height: 100%;
            margin: auto;
          }
        }
      }
      .loadedsvg #citta g, .openDetail {
        cursor: pointer;
      }
      .modale {
        position: absolute;
        width: 450px;
        height: 200px;
      }
      .loadedsvg g:not(#map), .loadedsvg g:not(#citta) {
        cursor: pointer;
      }
      @media (max-width:$screenSmartphone-max) {
        width: 95vw;
        left: 5vw;
        margin: auto 0 100px auto;
        position: absolute;
      }

      &[c-name="russia"] {
        width: 60vw;
        @media screen and (max-width: 1200px) and (min-width: 769px) {
          //width: 70vw;
        }
        @media (max-width:$screenTabletPortrait) {
          //width: 60vw;
        }
        @media (max-width:$screenSmartphone-max) {
          width: 90vw;
          .loadedsvg {
            svg {
              width: 100%;
              height: auto;
            }
          }
          //left: 27vw;
        }
      }
      &[c-name="washington"], &[c-name="massachussets"] {
        //width: 40vw;
        @media screen and (max-width: 1200px) and (min-width: 769px) {
          //width: 10vw;
        }
        @media (max-width:$screenTabletPortrait) {
          //width: 28vw;
        }
        @media (max-width:$screenSmartphone-max) {
          width: 90vw;
          .loadedsvg {
            svg {
              width: 100%;
              height: auto;
            }
          }
          //left: 27vw;
        }
      }
      &[c-name="italia"] {
        width: 35vw;
        @media screen and (max-width: 1200px) and (min-width: 769px) {
          width: 35vw;
        }
        @media (max-width:$screenTabletPortrait) {
          width: 42vw;
        }
        @media (max-width:$screenSmartphone-max) {
          width: 96vw;
          left: 2vw;
          margin: auto 0 100px auto;
        }
      }

      &[c-name="portogallo"] {
          width: 20vw;
        @media screen and (max-width: 1200px) and (min-width: 769px) {

        }
        @media (max-width:$screenTabletPortrait) {
          width: 30vw;
        }
        @media (max-width:$screenSmartphone-max) {
          width: 95vw;
        }
      }
      &[c-name="cile"] {
        width: 20vw;
        @media screen and (max-width: 1200px) and (min-width: 769px) {
          width: 25vw;
        }
        @media (max-width:$screenTabletPortrait) {
          width: 30vw;
        }
        @media (max-width:$screenSmartphone-max) {

        }
      }
      &[c-name="vietnam"] {
        width: 20vw;
        @media screen and (max-width: 1200px) and (min-width: 769px) {
          width: 20vw;
        }
        @media (max-width:$screenTabletPortrait) {
          width: 25vw;
        }
        @media (max-width:$screenSmartphone-max) {
          width: 96vw;
          left: 2vw;
          margin: auto 0 100px auto;
        }
      }
      /*
      &[c-name="germania"] {
        width: 20vw;
        @media screen and (max-width: 1200px) and (min-width: 769px) {
          width: 15vw;
        }
        @media (max-width:$screenTabletPortrait) {
          width: 30vw;
        }
        @media (max-width:$screenSmartphone-max) {
          width: 52vw;
          left: 27vw;
        }
      }

      &[c-name="turchia"] {
        svg {
          width: 140%;
        }
        @media screen and (max-width: 1200px) and (min-width: 769px) {
          //width: 15vw;
        }
        @media (max-width:$screenTabletPortrait) {
          width: 30vw;
        }
        @media (max-width:$screenSmartphone-max) {
          width: 96vw;
          left: 2vw;
          margin: auto 0 100px auto;
        }
      }
      &[c-name="inghilterra"], &[c-name="lussemburgo"] {
        width: 25vw;
        @media screen and (max-width: 1200px) and (min-width: 769px) {
          width: 20vw;
        }
        @media (max-width:$screenTabletPortrait) {
          width: 35vw;
        }
        @media (max-width:$screenSmartphone-max) {
          width: 65vw;
          left: 20vw;
        }
      }
      &[c-name="illinois"] {
        width: 20vw;
        @media screen and (max-width: 1200px) and (min-width: 769px) {
          width: 15vw;
        }
        @media (max-width:$screenTabletPortrait) {
          width: 30vw;
        }
        @media (max-width:$screenSmartphone-max) {
          width: 96vw;
          left: 2vw;
          margin: auto 0 100px auto;
        }
      }

      */
    }
    .goto {
      cursor: pointer;
    }
    &.map-layer--world {

    }
  }
  a {
    cursor: auto;
    label {
      display: inline-block;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
    &:hover {
      opacity: 1;
      label {
        opacity: .8;
      }
    }
    &.backmap, &.viewallmap {
      cursor: pointer;
      &:hover {
        color: $white;
      }
    }
  }
  .modal-close {
    position: absolute;
    top: 75px;
    left: -5px;
    width: 30px;
    height: 30px;
    display: block;
    z-index: 9;
    border-radius: 50%;
    background-color: $blue;
    color: $white;
    cursor: pointer;
    padding: 5px;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 1) !important;
    span {
      font-size: 14px;
      &::before {
        color: $white;
      }
    }
  }
  .map-modal {
    position: absolute;
    top: 15px;
    left: 50px;
    background-color: $white;
    text-align: left;
    z-index: 9;
    border: 1px solid $blue;
    @media (max-width:$screenTabletLandscape) {
      top: 120px !important;
      left: -50%;
      transform: translateX(10%);
    }
    @media (max-width:$screenSmartphone-max) {
      position: fixed;
      left: 55%;
      transform: translateX(-50%);
      bottom: 100px;
      z-index: 999;
      top: auto !important;

      max-height: 170px;
      overflow: hidden;
      max-width: 95vw;

    }
    .m-card {
      padding: 0;
      display: flex;
      flex-direction: row;
      min-width: 420px;
      max-width: 420px;
      @media (max-width:$screenSmartphone-max) {
        min-width: 95vw;
        max-width: 95vw;
      }
      .image-wrap {
        width: 130px;
        height: 170px;
        flex-shrink: 0;
        background-position: center;
        background-color: $light-gray;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .event-content-wrap {
        padding-top: 10px;
        padding-left: 15px;
        width: 70%;
        & > div {
          line-height: 1;
          max-width: 95%;
          min-height: 15px;
          overflow: hidden;
          text-overflow: ellipsis;
          @media (max-width:$screenSmartphone-max) {
            max-width: 90%;
          }
          &.chapter-description {
            //--lh: 1.1rem;
            //line-height: var(--lh);
            //--max-lines: 3;
            //max-height: calc(var(--lh) * var(--max-lines));
            line-height: 1.1;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 95%;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            background: #fff;
            max-height: 45px;
          }
        }
      }
    }
    .btn {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  }
  .tooright {
    .map-modal {
      transform: translateX(-55%);
      top: -100px !important;
      @media (max-width:$screenTabletLandscape) and (min-width:$screenSmartphone-max) {
        top: 0 !important;
        transform: translateX(-15%);
      }
      @media (max-width:$screenSmartphone-max) {
        left: 55%;
        transform: translateX(-50%);
        top: auto !important;
      }
    }
  }
  .toobottom {
    .map-modal {
      top: -100px !important;
      @media (max-width:$screenTabletLandscape) and (min-width:$screenSmartphone-max) {
        top: -100px !important;
      }
      @media (max-width:$screenSmartphone-max) {
        top: auto !important;
      }
    }
  }

}
