//== news
//

.top-entry-contentslist {
  .top-entry .scheda {
    height: 50vh;
    .timestamp {
      margin: 8% 0 10px;
      .day {
        font-weight: 700;
      }
      .month {
        text-transform: uppercase;
      }
    }
    h1 {
      @extend %font-58px-news;
      white-space: inherit !important;
    }
    .slideInLeft {
      .actions {
        margin-left: -20px !important;
        .fa-share-alt {
          font-size: 22px !important;
        }
      }
    }

    & > [class^="col-"]:first-child {
      .text-wrap {
        max-width: 70%;
        padding-left: 45px;
        @media screen and (max-width: 1400px) {
          max-width: 80%;
        }
        @include media-breakpoint-up(md) {
          max-width: 80%;
        }
        @include media-breakpoint-down(sm) {
          padding-left: 35px;
        }
      }
    }
  }
}

.news-body-detail {
  z-index: 9;
  .content_details.content_details_editorial {
    padding-top: 0;
    & > div {
      display: none;
      &.content_text {
        display: block;
        width: 100%;
        padding: 0;
        .content-description {
          @extend %font-18px;
          p {
            @extend %font-16px;
            color: $gray;
          }
        }
        .content-tag {
          margin-top: 45px;
          h2.section_title {
            display: none;
            & + div {
              a {
                padding: 5px 12px;
                border-radius: 20px;
                background-color: #EEF2F8;
                color: $gray;
                font-weight: 400;
                text-transform: capitalize;
                font-size: 14px;
                margin-right: 5px;
              }
            }
          }
        }
        .share.jssocials {
          display: none;
        }
      }
    }
  }
}

.related_content {
  align-items: center;
  margin-bottom: 20px;
  .thumb {
    width: 150px;
    height: 150px;
    padding: 0;
    flex-shrink: 0;
    margin-right: 20px;
    a {
      display: block;
      width: 100%;
      max-height: 150px !important;
    }
    div {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  .text_content {
    div.timestamp {
      text-transform: uppercase;
    }
    h2 {
      margin: 5px 0;
      a {
        font-family: $font-family-opensans;
      }
    }
  }
}

.section.section-contentslist {
  .filter-free-search-container {
     input {

     }
  }
  .filters-bar .sidebar li a.free-search-icon {
    display: block !important;
  }
  .contents_wrapper {
    display: flex;
    flex-wrap: wrap;
    @media (max-width:$screenTabletLandscape) {
      margin: 0;
    }
    & > div {
      width: calc(25% - 30px);
      margin: 15px;
      flex-shrink: 0;
      @media (max-width:$screenTabletLandscape) {
        width: calc(33.3% - 30px);
        margin: 0 15px;
      }
      @media (max-width:$screenTabletPortrait) {
        width: calc(50% - 30px);
        margin: 0 15px;
      }
      @media (max-width:$screenSmartphone-max) {
        width: calc(100% - 50px);
        margin: 0 30px;
      }
      .contentslist_content {
        display: flex;
        flex-direction: column;
        height: 100%;
        .thumb {
          height: auto;
          margin-bottom: 15px;
          float: none;
          a {
            width: 100%;
            display: inline-block;
          }
        }
        .text_content {
          padding: 0 25px;
          margin-bottom: auto;
          .title {
            h2 {
              margin: 10px 0;
              font-size: prem(16px) !important;
            }
          }
        }
        .actions {
          padding: 10px 20px;
          margin-right: auto;
          margin-left: 0 !important;
          button {
            padding: 10px 5px;
            .icon-bookmark {
              font-size: 16px;
              color: $blue;
            }
            .fa-share-alt {
              font-size: 16px !important;
            }
          }
        }
        .timestamp {
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: -30px;
            left: 0;
            width: 80px;
            height: 20px;
            background-color: $white;
          }
          span {
            &.day {
              font-weight: 700;
            }
            &.month {
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
  .wrappager {
    .pager {
      float: none;
      justify-content: center;
    }
  }
}

.section--videolibrary {
  .wrappager {
    padding: 20px 15px;
  }
  &.padding-section {
    padding: 20px 50px !important;
    background: #FFFFFF;
  }
  .contents_wrapper {
    display: flex;
    flex-wrap: wrap;
    & > div {
      width: calc(33.33% - 30px);
      margin: 15px;
      flex-shrink: 0;
      @media (max-width:$screenTabletPortrait) {
        width: 100%;
        margin: 15px 0;
        padding: 0 15px;
      }
      .news-wrapper {
        height: 300px;
        display: flex;
        align-items: flex-end;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgb(0,70,173);
          background: -moz-linear-gradient(0deg, rgba(0,70,173,0.8533788515406162) 20%, rgba(0,70,173,0) 100%);
          background: -webkit-linear-gradient(0deg, rgba(0,70,173,0.8533788515406162) 20%, rgba(0,70,173,0) 100%);
          background: linear-gradient(0deg, rgba(0,70,173,0.8533788515406162) 20%, rgba(0,70,173,0) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0046ad",endColorstr="#0046ad",GradientType=1);
          opacity: 1;
        }
        .link-layer {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 9;
        }
        .news {
          padding: 25px;
          color: $white;
          z-index: 2;
          max-width: 100%;
          .text {
            .d-flex {
              align-items: flex-end;
              .news-description {
                margin-bottom: 0;
                padding-right: 20px;
                max-width: 85%;
              }
              .icon {
                background-color: $white;
                padding: 9px 8px 8px 10px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                color: $blue;
                font-size: 24px;
                display: block;
              }
            }
          }
        }
      }
    }
  }
}

.section.top-entry.top-entry-contentslist.top-entry-contentdetail {
  .scheda {
    h1 {

    }
  }
}

.template-Bocconi_news_from_UniBocconi {
  .card.card--news {
    & > div {
      &:last-child {
        width: calc(70% - 2rem);
      }
    }
  }
  .smalltitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}