//== Palette
//

.white {
  color: $white;
}
.red {
  color: red;
}
.black {
  color: $black !important;
}
.blue {
  color: $blue !important;
}
.gray {
  color: $gray !important;
}
.green {
  color: $green !important;
}

.bg--white {
  background-color: $white !important;
}
.bg--transp {
  background-color: transparent !important;
}
.bg--blue {
  background-color: $blue;
}
.bg--black {
  background-color: $black;
}
.bg--ultralight {
  background-color: $bg-ciano !important;
}
.inverted-color {
  &, a {
    color: $white;
  }
}

.bg--lightblue {
  background-color: $light-blue !important;
}
