//== Profile
//

#vue_registration_spinner {
  .spinner {
    transform: scale(.5) !important;
  }
}

.esquire-message-container {
  .esquire-message {
    .badge {
      top: auto;
      bottom: 0px;
      right: auto;
      left: 10px;
      & + .badge {
        left: auto;
        right: 10px;
      }
    }
    .img--avatar {
      .initials {
        display: inline-block;
        background-color: $white;
        color: $blue;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        @extend %font-44px;
        line-height: 150px;
        text-align: center;
        border: 4px solid $blue;
      }
    }
  }
}



.section.section--chapters-profile {
  padding: 20px !important;
  .group-list-cards {
    justify-content: flex-start;
    width: calc(100% + 10px);
    margin: 0;
    @media (max-width:$screenSmartphone-max) {
      width: 100%;
      flex-direction: column;
      margin: auto;
    }
  }
  .ttcomponent-listCards {
    & > div {
      flex-grow: 1;
      margin: 0 10px;
      max-height: 200px;
      width: calc(33.3% - 20px);
      overflow: hidden;
      .card {
        max-height: 200px;
      }
      @media screen and (max-width: 1450px) {
        margin: 0 5px;
        width: calc(33.3% - 10px);
      }
      @media (max-width:$screenTabletLandscape) {
        margin: 0 10px;
        width: calc(33.3% - 20px);
      }
      @media (max-width:$screenSmartphone-max) {
        width: 100%;
        max-width: none;
        min-width: 0;
        margin: 30px auto;
      }
    }
  }
}

.section--topics-profile {
  .group-list-cards {
    @media (max-width:$screenSmartphone-max) {
      display: flex;
      width: 100%;
      flex-direction: column;
      margin: auto;
    }
  }
  .ttcomponent-listCards {
    & > div {
      width: 33.3%;
      max-width: 33.3%;
      min-width: 33.3%;
      @media (max-width:$screenSmartphone-max) {
        width: 100%;
        max-width: none;
        margin: 30px auto;
      }
      .card.group-card {
        @media (max-width:$screenSmartphone-max) {
          margin: 0;
          height: auto;
          max-height: 150px;
        }
      }
    }
  }
}

.section--contacts-profile {
  .contacts-list {
    flex-wrap: wrap;
    .user-contact-pane {
      background-color: #EEF1F8;
      margin: 10px;
      @media (max-width:$screenTabletLandscape) {
        width: calc(48% - 16px);
        //margin: 10px 0;
      }
      @media (max-width:$screenSmartphone-max) {
        width: calc(100% - 20px);
      }
    }
  }
}

.container-fluid.section.section--contacts-profile {
  padding: 0 40px !important;
  @media (max-width:$screenTabletPortrait) {
    padding: 0 15px 0 15px !important;
  }
  .container-fluid.section.section--contacts-profile {
    padding: 0 !important;
    @media (max-width:$screenTabletLandscape) {
      padding: 0 0px 0 0px !important;
      width: 102% !important;
    }
  }
}

.section.user-profile-container {
  &::before {
    height: 1350px;
    @media (max-width:$screenTabletLandscape) {
      height: 800px;
    }
  }
  .profile-screen-name {
    @extend %font-40px;
  }
  h2 {
    margin: 30px 0 0;
  }
  & > .widget_padding {
    width: 100%;
    padding-top: 100px;
  }
}

.plugin_userActivity {
  padding: 0 !important;
  margin: 0 !important;
  & > .widget_padding {
    padding-top: 0 !important;
    margin-bottom: 30px;
    .activity-counters {
      .activity-counter-item {
        flex-grow: 0;
        margin: 0 15px;
        background: $white;
        border-radius: 50%;
        width: 140px;
        height: 140px;
        display: block;
        flex: inherit;
        .icon {
          font-size: 38px;
          color: $blue;
          font-family: 'icomoon' !important;
          display: block;
        }
        &:nth-child(1) {
          .icon {
            &::before {
              content: "\ea3e";
            }
          }
        }
        &:nth-child(2) {
          .icon {
            &::before {
              content: "\ea41";
            }
          }
        }
        &:nth-child(3) {
          .icon {
            &::before {
              content: "\ea40";
            }
          }
        }
        &:nth-child(4) {
          .icon {
            &::before {
              content: "\ea3f";
            }
          }
        }
        .activity-title {
          color: $blue;
          border-bottom: 1px solid $blue;
          padding-bottom: 5px;
        }
        .activity-count {
          font-family: $font-family-opensans;
          line-height: 32px;
          @extend %font-24px;
        }
      }
    }
  }
}

.back-to-profile {
  text-align: right;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  & > .widget_padding {
    padding-top: 0 !important;
  }
  .btn {
    position: relative;
    &::before {
      position: absolute;
      top: 5px;
      left: -10px;
      content: "\e60d";
      font-family: 'icomoon' !important;
      color: $blue;
      font-size: 20px;
    }
  }
}

.back-to-profile-view {
  text-align: right;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  & > .widget_padding {
    padding-top: 0 !important;
  }
  .btn {
    position: relative;
    &::before {
      position: absolute;
      top: 3px;
      left: -27px;
      content: "\ea48";
      font-family: 'icomoon' !important;
      color: $blue;
      font-size: 32px;
    }
  }
}

.section--chapters-profile, .section--topics-profile {
  .ttcomponent-listCards {
    min-height: 250px;
  }
}

.plugin_contactsList.section--contacts-profile {
  .n-label {
    @media (max-width:$screenTabletPortrait) {
      margin-left: 20px;
    }
  }
}

.section--chapters-profile, .section--topics-profile, .plugin_contactsList {
  min-height: 350px;
  .n-label {
    color: $blue;
    font-size: 5rem;
    margin-right: 5px;
    font-weight: 600;
  }
  .widget_title {
    font-size: 2rem !important;
    width: 100px;
    display: inline-block !important;
  }
}

.section--topics-profile {
  .group-list-cards {
    .card {
      svg {
        width: 115px !important;
      }
    }
  }
}

#app {
  min-height: 500px;
}


#app.bootstrap4 {
  .container-fluid {
    @media (max-width:$screenTabletLandscape) {
      width: 100% !important;
      padding: 0;
    }
  }
  input[name=date] {
    &::placeholder {
      font-size: 11px;
    }
  }
  .baa-light {
    div.col-md-12 {
      padding: 30px 20px;
    }
    p {
      strong {
        color: $blue;
      }
    }
  }
  .tab-content>.tab-pane {
    padding-bottom: 20px;
  }
  label {
    font-weight: 500;
    font-size: prem(11px);
  }
  a {
    color: $blue;
  }
  .custom-control-input:checked~.custom-control-label:before {
    border-color: $blue;
    background-color: $blue;
  }
  .custom-radio .custom-control-label:before {
    border-radius: 0;
  }
  .custom-radio .custom-control-input:checked~.custom-control-label:after {
    background: transparent;
  }

  .custom-radio .custom-control-label:before {
    margin-top: -2px;
  }

  .card {
    border: 1px solid $light-blue !important;
    padding-bottom: 30px;
    min-height: 100px;
    &.mb-3 {
      margin-bottom: 30px !important;
    }
    .card-header-profile {
      background-color: $white;
      border-radius: 0 !important;
      border-bottom: 3px solid $light-blue;
      position: relative;
      padding: 26px 30px 30px;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 4px;
        height: 60px;
        background-color: $blue;
      }
      .d-flex {
        align-items: center;
      }
      .icon-round-gray-light {
        width: 64px;
        height: 64px;
        display: inline-block;
        background-color: $light-blue;
        font-size: 30px;
        line-height: 64px;
        color: $blue;
        margin-right: 20px;
        border-radius: 50%;
        text-align: center;
        &.icon-p-key {
          font-size: 24px;
        }
      }
    }
    .tabs {
      .nav.nav-tabs {
        border: 0;
        position: absolute;
        top: 45px;
        right: 0;
        @media (max-width:$screenTabletPortrait) {
          position: static;
          margin: 35px 0 20px;
        }
        .nav-item {
          min-width: 0;
          & + .nav-item {
            margin-left: 30px;
          }
          &:nth-child(1) {
            .nav-link {
              &::before {
                content: "\ea44";
              }
            }
          }
          &:nth-child(2) {
            .nav-link {
              &::before {
                content: "\ea49";
              }
            }
          }
          .nav-link {
            position: relative;
            padding: 10px 25px 0 50px;;
            @extend %font-18px;
            font-weight: 600;
            text-transform: uppercase;
            color: $gray;
            &::before {
              position: absolute;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
              font-family: 'icomoon' !important;
              color: $gray;
              font-weight: 500;
              font-size: 40px;
            }
            &.active {
              color: $blue;
              &::before {
                color: $blue;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
    .card-body {
      padding: 26px 30px 0;
      .custom-control.custom-switch {
        position: relative;
        top: -35px;
        label.custom-control-label {
          font-weight: 500;
          font-size: prem(11px);
        }
      }
      .tag_list {
        display: inline;
        padding-left: 0;
        & + a {
          position: relative;
          top: 2px;
          display: inline-block;
          width: 24px;
          height: 24px;
          background-color: $blue;
          border-radius: 50%;
          text-align: center;
          color: $white;
          font-size: 13px;
          line-height: 24px;
          i {
            &::before {
              content: "\e936";
              font-family: 'icomoon' !important;
              position: relative;
              left: 1px;
            }
          }
        }
      }
    }
  }
}

.user-profile-container {
  .esquire-message-container {
    .avatar-container {
      img.user_avatar {
        max-width: none;
        max-height: none;
      }
      .change-photo-btn {
        position: absolute;
        top: -8px;
        right: -30px;
      }
      .btn.btn-file.btn-coverGroup.fa-cog {
        border: 0;
        font-size: 20px;
        color: $blue;
        font-family: 'icomoon' !important;
        &::before {
          content: "\e704";
        }
      }
    }
    .group-description {
      a {
        @extend %font-10px;
        font-weight: 600;
        color: $gray;
        text-transform: uppercase;
      }
    }
  }
}

.plugin_bacUserProfile {
  margin-top: 0 !important;
  div:not(.bootstrap4) {
    .alert.alert-warning {
      margin: 20px auto;
      background: $white;
      border: 1px solid red;
      color: $blue;
      @media screen and (min-width: 1200px) {
        width: 90vw;
      }
    }
  }
}