//== Responsive
//

@media screen and (max-width: 1199px) {
  .cerchio-blu::before {
    right: 0;
    min-width: 100vw;
    height: 95vw;
    top: -10vw;
    left: -3vw;
  }
}

@media (max-width: $screenTabletLandscape) {
  .chaptercontainer {
    flex-direction: column;
  }
  html body .p-0 {
    &.chaptercontainer {
      //padding: 0 15px !important;
    }
  }
  .section.section--leader {
    padding: 0 35px !important;
  }
}

.section.section-md-padding {
  padding: 0 25px !important;
}

@media (max-width:$screenTabletPortrait) {



  .section.vertical-label.bacTopic {
    flex-direction: column;
    padding: 0 30px;
  }

  #chapterTopicCard-container {
    margin-top: 40px;
  }

  .p-rel.intestazione {
    padding: 0 30px;
  }
  .map-circle .container {
    width: 80% !important;
  }

  .frontend-report {
    .dataTables_wrapper {

      table {
        width: 100% !important;
      }
    }
  }

  .rounded-link-grid {
    .contents_wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between !important;
      & > div {
        width: calc(50% - 30px);
      }
    }
  }

  .cerchio-blu::before {
    height: 110%;
  }

  .row-md-reverse {
    flex-direction: column-reverse;
    display: flex;
  }

  .rounded-link-grid .contents_wrapper .template-custom > div {
    &:not(.modal) {
      //display: flex;
      //text-align: center;
      //align-content: center;
      //align-items: center;
    }
  }



  .Bocconi_Career_Library {
    .contents_wrapper {
      display: flex;
      flex-wrap: wrap;
      & > div {
        width: calc(50%);
        margin: 15px 0;
        & > div {
          width: 100%;
        }
      }
    }
  }

  .transform-ty--100 {
    transform: translateY(15%);
  }

  #ChaptersMap_body {
    .map:before, .map-circle:before {
      left: -12%;
    }
    .map .navigation {
      left: 2%;
    }
  }

  .map .map-layer.map-layer--country {
    left: -30%;
    margin-top: 5%;
  }

  #career-block {
    .fake-folder {
      & > .container-fluid {
        overflow: hidden;
        .cerchio-blu::before {
          top: 10px;
        }
      }
    }
  }

  .fake-folder {
    & > .container-fluid {
      padding: 0;
      margin: 0;
      width: 100% !important;
    }
  }

  .topicsList {
    .navigation {
      margin: 0 35px;
    }
    .fx-xs-align-items-flex-end {
      margin: 0 15px 0 -30px;
      & > div {
        width: 50%;
      }
    }
  }

  .template-Bocconi_Related_News {
    .related_content {
      flex-direction: column;
      .thumb {
        width: 100%;
        margin: 0 0 20px;
      }
    }
  }

  .section {
    &.top-entry--small.top-entry-contentslist.top-entry-contentdetail {
      top: 80px;
    }
  }

  .section.section--chapters-profile, .section.section--topics-profile {
    margin-left: -15px;
    margin-right: 15px;
    padding: 0 !important;
  }

  #contactRequestSent_body {
    margin: 0 0px 0 30px;
  }

  .nestedPage {
    .container-fluid {
      width: 100% !important;
      margin: 0;
      padding: 0;
      &:not(.top-entry) {
        overflow: hidden;
      }
    }
  }

  .noover {
    .map-circle {
      .pager span:before {
        background: transparent;
      }
    }
  }

}

@media (max-width:$screenSmartphone-max) {

  .Bocconi_news_from_Social {
    margin-top: 30px !important;
  .widget_title {
      max-width: 70vw;
    }
  }


  header.main-header {
    #search_widget {
      & + div {
        .lastPBColumn.col-xs-12 {
          width: 170px;
          display: flex;
          justify-content: flex-end;
          .icon.icon-magnifier {
            position: relative;
            top: 5px;
          }
        }
      }
    }
  }

  .section.vertical-label.bacTopic {
    margin-top: 70px;
  }

  .top-entry.chapter-topic-detail {
    .mr-2 + a.btn {
      margin-top: 20px;
    }
  }

  .nestedPage {
    .container-fluid {
      width: 100% !important;
      margin: 0;
      padding: 0;
      &:not(.top-entry) {
        overflow: hidden;
      }
    }
  }

  .topicsList {
    .fx-xs-align-items-flex-end {
      margin: 0 15px 0 0;
      & > div {
        width: 100%;
      }
    }
  }

  #ChaptersMap_body {
    .map:before, .map-circle:before {
      border-bottom-left-radius: 100% !important;
      width: 120vw;
    }
  }



  .cerchio-blu::before {
    height: 100%;
  }

  .transform-ty--100 {
    transform: translateY(0);
  }

  .Bocconi_Career_Library {
    .contents_wrapper {
      & > div {
        width: calc(100%);
        & > div {

        }
      }
    }
  }

  .rounded-link-grid {
    .contents_wrapper {
      margin: 0 0;
      & > div {
        width: 100%;
      }
    }
  }

  .section.nestedDepth2 .column_generico.homeColumn0 {
    padding-left: 15px !important;
  }

  .filters-bar {
    .sidebar {
      .nav.nav-pills {
        margin: 0 -10px;
        & > li {
          margin: 5px 10px;
        }
      }
    }
  }

  .padding-responsive {
    padding: 0 25px !important;
  }

  #connetionHub {
    margin-right: 10px !important;
    .icon-ConnectionHub {
      width: 20px;
      &:before {
        content: "\ea4b";
        position: relative;
        top: 5px;
      }
    }
  }
  header.main-header {
    .list-inline li {
      .notification {
        height: 30px;
        line-height: 30px;
        margin-top: -15px;
      }
    }
    .navbar-collapse ul li a {
      &.btn--small {
        padding: 7px 10px;
      }
    }
  }

  .noover {
    .map-circle {
      width: 100vw;
      //height: 500px;
      min-height: 0;
      margin-bottom: 30px;
      .pager span:before {
        background: transparent;
      }
      .slick-track {

        .slick-slide {
          max-width: 100vw;
        }
      }
    }
  }
  .slider-reversed.top-entry .scheda .square-mask {

  }

  .noover {
    .map:before, .map-circle:before {
      left: 0;
      border-radius: 0;
      width: 100vw;
    }
  }

  .Bocconi_Sponsors.sponsor-wrapper .contents_wrapper {
    justify-content: center;
  }

  #TopicsList_body .topicsList.elm-rounded:before {
    border-radius: 0;
  }
  .map-circle .container {
    width: 90% !important;
  }

  .dropdown.user_menu {
    text-align: center;
  }

}




// ---
