//== Scheda eventiI
//

.card--event {
  .smalltitle {
    margin-bottom: 5px;
  }
  .spacer-r-1 {
    position: relative;
    top: 2px;
  }
  .other-data {
    margin-top: 10px;
    display: none;
    .e-data {
      margin-top: 15px;
      .icon {
        margin-right: 10px;
        font-size: 26px;
      }
    }
  }
  .link-layer {

    &:hover {
      .zoom--panel {
        //display: block;
      }
    }
  }
  &.hover {

    position: absolute;
    top: -20px;
    left: 0;
    width: auto;
    height: auto;


    background: $white;
    z-index: 9;
    .data-wrapper {
      padding: 50px 24px 20px;
    }

    &.fadeIn {
      -webkit-animation: fadeIn 0.3s; /* Safari 4+ */
      -moz-animation:    fadeIn 0.3s; /* Fx 5+ */
      -o-animation:      fadeIn 0.3s; /* Opera 12+ */
      animation:         fadeIn 0.3s; /* IE 10+, Fx 29+ */
    }
    &.fadeOut {
      -webkit-animation: fadeIn 0.3s; /* Safari 4+ */
      -moz-animation:    fadeIn 0.3s; /* Fx 5+ */
      -o-animation:      fadeIn 0.3s; /* Opera 12+ */
      animation:         fadeIn 0.3s; /* IE 10+, Fx 29+ */
    }
    .image-wrap {
      height: 60px !important;
      margin-left: -15px;
      margin-right: -15px;
    }

    .event-content-wrap {
      position: absolute !important;
      left: 0;
      top: 84px;
      height: auto !important;
      width: calc(100% + 30px);
      box-shadow: 0 19px 20px -10px rgba($blue, 0.3);
      padding: 0 !important;
      margin-left: -15px;
      margin-right: -15px;
      .abs {
        top: 10px !important;
      }
    }

    .smalltitle {
      margin-bottom: 20px;
    }
    .other-data {
      display: block;
      .btn {
        margin-top: 30px;
        margin-bottom: 0;
        position: relative;
        z-index: 999;
      }
      div[data-tt-widget-widget="content-favourite"] {
        button {
          width: 35px;
          @extend %font-20px;
          padding: 10px 15px 10px 0px;
          .icon-bookmark {
            font-family: 'icomoon' !important;
            font-size: 20px;
            color: $blue;
            &::before {
              content: "\ea34" !important;
            }
          }
          &.action-selected {
            .icon-bookmark {
              font-size: 15px;
              &::before {
                content: "\ea33" !important;
              }
            }
          }
        }
      }
      .dropup.share-elm {
        .btn {
          padding: 10px 0;
        }
      }
    }
    .hide--zoom {
      display: none;
    }
  }
}

.card-list {
  margin: 0 -15px;
  .card {
    padding: 0 15px 20px;
    position: relative;
    .showZoom {
      display: none;
    }
    .close-layer {
      position: absolute;
      top: 10px;
      right: 10px;
      color: $white;
      font-size: 20px;
      z-index: 9999;
    }
    .absbr {
      position: absolute;
      bottom: 50px;
      right: 25px;
      /* height: 50px; */
      /* width: 50px; */
      z-index: 999;
      &.hide {
        display: none !important;
      }
    }
    .link-layer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 1;
      background: transparent;
      z-index: 99;
      cursor: default;
    }
    //opacity: 0;
    .image-wrap {
      height: 215px;
      overflow: hidden;
      background-repeat: no-repeat;
      background-size: cover;
      img {
        width: 100%;
        max-width: 100%;
      }
    }
    .event-content-wrap {
      padding: 50px 24px 20px;
      position: relative;
      background: $white;
      .data-wrapper {

      }
      .abs {
        position: absolute;
        top: 25px;
        right: 25px;
      }
      .calendar-el {
        position: absolute;
        top: -40px;
        left: 25px;
        padding: 5px 20px 0;
      }
    }
    .news {
      position: relative;
      & + .news {
        margin-top: 30px;
      }
      .image-wrap {
        min-height: 265px;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: -moz-linear-gradient(top,  rgba(125,185,232,0) 0%, rgba(0,70,173,1) 80%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(0,70,173,1) 80%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%,rgba(0,70,173,1) 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#0046ad',GradientType=0 ); /* IE6-9 */
          opacity: .5;
        }
      }
      &.tall {
        height: 100%;
        margin-bottom: auto;
        @include media-breakpoint-down(md) {
          min-height: 400px;
        }
        @include media-breakpoint-down(sm) {
          min-height: 0;
        }
        .image-wrap {
          height: 100%;
        }
      }
      .text {
        color: $white;
        position: absolute;
        bottom: 0;
        padding: 0 20px 8px;
        font-family: $font-family-opensans;
        .data {
          @extend %font-14px;
          b {
            margin-right: 5px;
          }
        }
        p {
          @extend %font-20px;
          font-weight: 600;
          & + p {
            @extend %font-16px;
            font-weight: 400;
          }
        }
      }
    }
  }
}

.slick-slide {
  .card--event.hover .event-content-wrap {
    padding: 0 0 20px !important;
    width: 100%;
    margin: 0;
  }
}