//== Variables Bootstrap Reset
//

$font-family-roboto:       'Roboto Slab', Georgia, Times, 'Times New Roman', serif;
$font-family-opensans:      'Open Sans', Georgia, Times, 'Times New Roman', serif;


$font-family-base: $font-family-roboto;

$white:       #FFFFFF; //
$white-alpha-90: rgba(255,255,255, .9);
$black:       #0f0f0f; //
$blue:        #0046AD; //
$blue-hover:  #336BBD;
$light-blue:  #EEF2F8;
$gray:        #5D5D5D;
$light-gray:  #E9E9E9;
$green:       #009C90;
$light-ciano: #D7DCE3;
$bg-ciano:    #EDF4FA;



$body-bg:     $white;
$body-color:  $black;


$link-color:  $black;
$link-hover-color: $blue;
$link-hover-decoration: none;


$hr-border-color: rgba($black, .25);
$hr-border-color-inverse: rgba($white, .25);


// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1520px
);

// Grid containers
$new-container-max-widths: (
  sm: 540px,
  md: 760px,
  lg: 1020px,
  xl: 1520px
);

$screenSmartphone-max: 	760px;
$screenTabletPortrait: 768px;
$screenTabletLandscape: 1024px;

$grid-gutter-width: 30px;
$spacer: 10px;

$headings-line-height: 1.1;

$dropdown-min-width: 100px;


$modal-inner-padding:               ($grid-gutter-width / 2);
$modal-content-bg:                  $white;
$modal-content-border-color:        transparent;
$modal-content-border-width:        0;
$modal-content-border-radius:       0;
$modal-content-box-shadow-xs:       none;
$modal-content-box-shadow-sm-up:    none;
$modal-backdrop-bg:                 $white;
$modal-backdrop-opacity:            .95;
$modal-header-border-color:         $modal-content-border-color;
$modal-footer-border-color:         $modal-header-border-color;
$modal-header-border-width:         $modal-content-border-width;
$modal-footer-border-width:         $modal-header-border-width;
$modal-header-padding-y:            ($spacer / 2);
$modal-header-padding-x:            ($grid-gutter-width / 2);
$modal-header-padding:              $modal-header-padding-y $modal-header-padding-x; // Keep this for backwards compatibility


//== Variables Custom
//

$ratio-image:   (403 / 211);
$ratio-video:   (380 / 214);
$ratio-gallery: (4 / 3);

$prev-h-size:      70px;
$prev-h-size-lg:   150px;
$prev-h-size-xl:   180px;

$btn-height:    24px;
$btn-min-width: 100px;
$btn-font-size: 12px;
$btn-padding-y: 11px;
$btn-padding-x: 20px;
$btn-line-height: 1;
$btn-border-radius: 20px;

$btn-big-height:    30px;
$btn-big-font-size: 16px;
$btn-big-padding-y: (($btn-big-height - $btn-big-font-size) / 2 - 1);
$btn-big-padding-x: ($spacer * .75);
$btn-big-line-height: 1;
$btn-big-border-radius: ($btn-big-height / 2);

$icon-size: 16px;
$icon-small-size: 10px;
$icon-big-size: 24px;
$icon-huge-size: 32px;


$circle-size:      32px;
$circle-size-xl:   36px;
$circle-icon-size: $icon-size;


$carousel-button-size: 40px;
$carousel-icon-size: $icon-size;
$carousel-dot-size: 7px;


$border-size: 4px;


$grid-spacer: 25px;
$grid-spacer-xs: 15px;


$grid-col-1-size-xl: 75px;
$grid-col-1-size-lg: 55px;
$grid-col-1-size-md: 33px;
$grid-col-2-size-xl: ($grid-col-1-size-xl * 2 + $grid-gutter-width * 1);
$grid-col-2-size-lg: ($grid-col-1-size-lg * 2 + $grid-gutter-width * 1);
$grid-col-2-size-md: ($grid-col-1-size-md * 2 + $grid-gutter-width * 1);
$grid-col-3-size-xl: ($grid-col-1-size-xl * 3 + $grid-gutter-width * 2);
$grid-col-3-size-lg: ($grid-col-1-size-lg * 3 + $grid-gutter-width * 2);
$grid-col-3-size-md: ($grid-col-1-size-md * 3 + $grid-gutter-width * 2);
$grid-col-4-size-xl: ($grid-col-1-size-xl * 4 + $grid-gutter-width * 3);
$grid-col-4-size-lg: ($grid-col-1-size-lg * 4 + $grid-gutter-width * 3);
$grid-col-4-size-md: ($grid-col-1-size-md * 4 + $grid-gutter-width * 3);
$grid-col-8-size-xl: ($grid-col-1-size-xl * 8 + $grid-gutter-width * 7);
$grid-col-8-size-lg: ($grid-col-1-size-lg * 8 + $grid-gutter-width * 7);
$grid-col-8-size-md: ($grid-col-1-size-md * 8 + $grid-gutter-width * 7);