//== Yearbook
//

.top-yearbook-tabber {
  z-index: 9;
  max-width: 70%;
  @media (max-width:$screenTabletPortrait) {
    margin: 0 10px !important;
  }
}

.plugin_bacYearbook, .plugin_contactsList#filterYearbookSuggested {
  position: relative;
  top: -70px;
}

.yearbook-tab-widget {
  position: relative;
  margin-bottom: 100px !important;
  min-height: 1500px;
  overflow: visible !important;
  @media (max-width:$screenTabletPortrait) {
    margin-top: 30px !important;
  }
  @media (max-width:$screenSmartphone-max) {
    margin-top: 0 !important;
  }
  &::before {
    content: "";
    position: absolute;
    top: -6%;
    left: -50%;
    width: 105%;
    height: 105%;
    background-color: $blue;
    border-radius: 50%;
    @media (max-width:$screenTabletPortrait) {
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      border-radius: 0;
    }
  }
  &.section.section-title {
    .widget_title {
      color: $white;
      z-index: 2;
      position: relative;
      @media (max-width:$screenTabletPortrait) {
        margin-top: 20px;
      }
    }
    .nav.nav-pills {
      margin-top: 5px;
    }
    .nav.nav-pills > li.active > a, .nav.nav-pills > li.active > a:hover, .nav.nav-pills > li.active > a:focus {
      background-color: $white;
      font-weight: 700;
    }
    .nav.nav-pills > li > a {
      background-color: rgba($white, .5);
      color: $blue !important;
      font-weight: 600;
      span {
        margin-left: 10px;
      }
    }
  }
}

.yearbook-tab-widget {
  z-index: 2;
  position: relative;
  #mynetwork-yearbook-tabs {
    @media (max-width:$screenSmartphone-max) {
      position: relative;
      top: 50px;
    }
  }
  .filters-bar {
    .sidebar {
      .list-inline {
        margin-top: -10px;
        @media (max-width:$screenSmartphone-max) {
          display: flex;
          justify-content: flex-end;

        }
        li {
          .filter-free-search-container {
            .remove-filter-free-search {
              @media (max-width:$screenSmartphone-max) {
                bottom: -2px;
              }
            }
            .filter-free-search-input.filterFirstNameAndLastName {
              @media (max-width:$screenTabletPortrait) {
                padding: 10px;
                bottom: -10px;
              }
              @media (max-width:$screenTabletPortrait) {
                bottom: -15px;
              }
            }
          }
          a {
            @media (max-width:$screenSmartphone-max) {
              color: $white !important;
            }
            span {
              @media (max-width:$screenSmartphone-max) {
                color: $white !important;
              }
            }
          }
        }
      }
    }


    .dropdown-advanced-filter {
      background-color: $white;
      padding: 20px;
      .filters-data {
        flex-wrap: wrap;
        margin: 0 -15px;
        justify-content: flex-start;
        @media (max-width:$screenTabletPortrait) {
          margin: 0;
        }
        & > input, & > span, & > select {
          width: calc(25% - 10px);
          margin: 10px 5px;
          overflow: hidden;
          input {
            width: 100%;
          }
          @media (max-width:$screenTabletPortrait) {
            width: calc(25% - 10px);
            margin: 10px 5px;
            overflow: hidden;
          }
          @media (max-width:$screenSmartphone-max) {
            width: calc(50% - 10px);
            margin: 10px 5px;
            overflow: hidden;
          }
        }
        .el {
          @media screen and (max-width: 1400px) {
            margin: 15px;
            width: calc(25% + 30px);
          }
          width: calc(33% - 30px);
          @media (max-width:$screenTabletPortrait) {
            width: calc(50% - 30px);
          }
          @media (max-width:$screenSmartphone-max) {
            width: 100%;
          }
        }
        label {
          width: 16.5%;
          flex-shrink: 1;
          @media screen and (max-width: 1400px) {
            width: 15%;
          }
          input {
            position: static;
            width: 100%;
            &.tt-input {
              top: 0;
            }
          }
          select {
            width: 100%;
          }
        }
      }
      .filters-action {
        margin-top: 17px;
        .btn {
          padding: 7px 10px !important;
          margin: auto;
          & + .btn {
            margin-left: 10px;
          }
        }
      }
    }
  }
  .container--yearbook {
    margin: 0 -30px;
    flex-wrap: wrap;

  }
  .el--single {
    width: calc(24.9% - 30px);
    margin: 15px;
    flex-shrink: 0;
    background-image: url("../img/bg-circles.png");
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 340px;
    position: relative;
    @media screen and (max-width: 1280px) {
      width: calc(24.9% - 16px);
      margin: 8px;
    }
    @media (max-width:$screenTabletLandscape) {
      width: calc(33% - 16px);
      margin: 8px;
    }
    @media (max-width:$screenTabletPortrait) {
      width: calc(49.9% - 16px);
      margin: 8px;
    }
    @media (max-width:$screenSmartphone-max) {
      width: 100%;
      margin: 15px 0;
    }
    .img--avatar {
      margin: 0 auto 15px;
      text-align: center;
      width: 90px;
      height: 90px;
      .initials {
        display: inline-block;
        background-color: $blue;
        color: $white;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        @extend %font-24px;
        line-height: 82px;
        border: 4px solid $white;
      }
      img {
        border: 4px solid $white;
        margin: 0 auto;
        width: 90px;
        height: 90px;
        max-width: none;
        max-height: none;
        @media (max-width:$screenSmartphone-max) {
          margin: 0 auto;
          width: 90px;
          height: 90px;
          max-width: none;
          max-height: none;
        }
      }
    }
    .alumnusCard {
      margin-bottom: auto;
    }
    .usr-name {
      font-weight: 600;
      display: block;
    }
    .degree {
      display: inline-block;
      color: $gray;
      @extend %font-15px;
      &.degree-name {

        & + .degree-date {
          margin-left: 5px;
          padding-left: 5px;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: 10px;
            left: -4px;
            width: 5px;
            height: 1px;
            background-color: $gray;
          }
        }
      }
      &.degree-date {
        margin-bottom: 20px;
      }
    }
    .career {
      color: $gray;
      @extend %font-13px;
      &.carrer--first {

      }
      &.carrer--second {
        margin-bottom: 20px;
      }
    }
    .btn {
      margin: 0 auto;
      border: 2px solid $blue;
      font-weight: 600;
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
    }

  }
}

.yearbook-tab-widget {
  .pager {
    margin: 20px auto;
    float: none;
    display: flex;
    justify-content: center;
    li a {
      @media (max-width:$screenTabletPortrait) {
        //color: $white;
      }
    }
  }
}

.tabber-pending {
  h2.widget_title {
    & + .widget_padding {
      height: 55px;
      margin-top: -25px;
      //margin-left: -10px;
    }
  }
}

#suggestedContacts {
  .img--avatar {
    margin: 0 auto 15px;
    text-align: center;
    width: 90px;
    height: 90px;
    img {
      border: 4px solid $white;
      margin: 0 auto;
      width: 90px;
      height: 90px;
      max-width: none;
      max-height: none;
      @media (max-width:$screenSmartphone-max) {
        margin: 0 auto;
        width: 90px;
        height: 90px;
        max-width: none;
        max-height: none;
      }
    }
  }
  .filters-bar {
    padding: 20px 15px 0;
  }
  .contacts-list {
    flex-wrap: wrap;
    @media (max-width:$screenTabletLandscape) {
      margin: 0 10px;
    }
  }
  .user-contact-pane {
    width: calc(24.9% - 30px);
    margin: 15px;
    flex-shrink: 0;
    background-image: url("../img/bg-circles.png");
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 340px;
    position: relative;
    background-repeat: no-repeat;
    background-position: right top;
    @media screen and (max-width: 1280px) {
      width: calc(24.9% - 16px);
      margin: 8px;
    }
    @media (max-width:$screenTabletLandscape) {
      width: calc(33% - 16px);
      margin: 8px;
    }
    @media (max-width:$screenTabletPortrait) {
      width: calc(49.9% - 16px);
      margin: 8px;
    }
    @media (max-width:$screenSmartphone-max) {
      width: 100%;
      margin: 15px 0;
    }
    .img--avatar {
      margin: 0 auto 15px;
      text-align: center;
      width: 90px;
      height: 90px;
      .initials {
        display: inline-block;
        background-color: $blue;
        color: $white;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        @extend %font-24px;
        line-height: 82px;
        border: 4px solid $white;
      }
      img {
        border: 4px solid $white;
      }
    }
    .user-name {
      margin-top: 10px;
      display: inline-block;
    }
    .usr-name {
      margin-top: 10px;
      font-weight: 600;
      display: block;
    }
    .degree {
      display: inline-block;
      color: $gray;
      @extend %font-15px;
      &.degree-name {
        position: relative;
      }
      &.degree-date {
        margin-bottom: 20px;
      }
    }
    .career {
      color: $gray;
      @extend %font-13px;
      &.carrer--first {

      }
      &.carrer--second {
        margin-bottom: 10px;
      }
    }
    .btn {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      width: auto;
      margin: auto auto 0;
      font-size: 12px;
      border: 2px solid $blue;
      font-weight: 600;
      display: inline-table;
    }
    .dateTime {
      position: absolute;
      bottom: 20px;
      left: 15px;
      span {
        font-size: 11px !important;
      }
    }
    .bottom-actions {
      position: absolute;
      bottom: 15px;
      right: 15px;
      a {
        font-size: 14px;
        position: relative;
        top: -3px;
        &[data-tt-widget-trigger="accept"] {
          font-size: 22px;
        }
        & + a {
          margin-left: 10px;
          top: 0;
        }
      }
    }
  }
}

#suggestedContacts {
  margin: -30px -15px 0;

}

#filterYearbookSuggested_body {
  .widget_title {
    display: none;
  }
}

.section--contacts {
  .container-fluid {
    width: 100%;
  }
}

#filterMyNetworkContactsRequest {
  .top-contacts-tabber, #mynetwork-requests-tabs {
    margin: 0 20px;
    @media (max-width:$screenTabletPortrait) {
      margin: 0;
    }
  }
}

.nestedPage.section.section--contacts {
  .container-fluid {
    padding: 0 25px;
    @media (max-width:$screenTabletLandscape) {
      padding: 0;
    }
  }
}