/* Component style rules */


#header .ttcomponent-navbarUserArea .dropdown-menu * {
	color: #fff;
	background: none;
	border: 0;
	box-shadow: none;
}
#header .ttcomponent-navbarUserArea .dropdown-menu .input-group-addon { height:auto;}
#header .ttcomponent-navbarUserArea .dropdown-menu .divider {
	border-top:1px solid rgba(255,255,255, .3);
	padding:0;
}

#header .notification_manager .notification-item, 
#header .dropdown-menu li {
	padding: .3rem 0;
	border:0;
}

#header .navbar-grouplist-container .group-list li {
		padding: .5rem 0;
}
.search_open #header .ttcomponent-navbarUserArea .notification.search_button:after,
#header .ttcomponent-navbarUserArea .dropdown-toggle[aria-expanded="true"]:after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	height: 3px;
	width: 100%;
}
#header .ttcomponent-navbarUserArea .user_menu .dropdown-toggle[aria-expanded="true"]:after {
	display:none;
}
#header .ttcomponent-navbarUserArea .user_menu.open:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	height: 3px;
	width: 100%;
}
#header .ttcomponent-navbarUserArea .dropdown-menu .list-group { margin-bottom:0;}
#header .ttcomponent-navbarUserArea .dropdown-menu .list-group .list-group-item { padding:1rem;}
#header .ttcomponent-navbarUserArea .dropdown-menu .list-group-item.active a {
	color:rgba(58,135,208, 1)!important; 
}
#header .ttcomponent-navbarUserArea .dropdown-menu .list-group-item.active {
	background:rgba(0,0,0, .15);
	color:rgba(58,135,208, 1);
	margin:0  -1rem;
	padding-left:2rem;
	padding-right:2rem;
}