/* Component basic layout rules */


/*  */

#header input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: white;
	opacity: 1; /* Firefox */
}

#header input:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: white;
}

#header input::-ms-input-placeholder { /* Microsoft Edge */
	color: white;
}

#header .ttcomponent-navbarUserArea .dropdown-menu { min-width:380px; padding:1rem;}
#header .ttcomponent-navbarUserArea .dropdown-menu li {padding:.15rem;}
#header{ margin:0 auto;min-height:60px; border:0; min-width:0;padding:0;z-index:999; display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-align:center; -ms-flex-align:center; align-items:center}
#header .input-group{ height:60px;}
#header .navbar-grouplist-container .input-group{ height:auto;}
#header .navigationBar{padding:0 0 0 200px;}
#header .wrapwidg{border:none;margin:0;overflow:visible;padding:0;}
#header .wrapwidg.container { margin:0 auto; }
#header .column_generico {min-height:inherit!important;}
#header .wrapwidg#search_widget{height:0;overflow:hidden;padding:0;position:fixed;right:0;top:60px;width:100%;}
#header p#welcome{color:#4286ad;font-size:12px;font-style:italic;font-weight:700;left:200px;position:absolute;right:30px;top:59px;}
#header ul{list-style:none;margin:0;padding:0;text-align:left; border:0; border-radius:0;}
#header ul.site-nav{background:#fff;height:100%;left:0;overflow:hidden;position:fixed;top:0;width:0;}
#header ul.site-nav li{display:inline-block;float:none;position:relative;width:240px;}
#header ul.site-nav li a{border:none;border-bottom:1px solid rgba(255,255,255, .1);display:block;float:none;}

#header .navbar-grouplist-container .group-list li a {
	display:flex!important;
}

#header .notification_manager { padding-right:1.3rem; max-height:calc(60vh - 4rem)}
#header .ttcomponent-navbarUserArea a:focus, #header .ttcomponent-navbarUserArea a:active, #header .ttcomponent-navbarUserArea a:hover { text-decoration:none;}
#header .fal:before {transition:all .15s ease-in-out;}
#header [aria-expanded="true"] .fal:before,
body[class*=search] #header .search_button .fa-search:before{ transform:scale(1.3); transform-origin:center; display:inline-block; }


#header .list-group-item { background: none; border:0; border-radius:0;}

#header .no_content_message {
    background: none;
    border: none;
    clear: both;
    color: #fff;
    display: block;
    margin: 0;
    padding: 1.5rem;
    text-align: center;
}

/* search */

#header #search_widget {}
#header #navbarSearchInput { background:none; color:#fff; border:0; box-shadow:none;}
.search_open #header .wrapwidg#search_widget, .search #header .wrapwidg#search_widget {
	height: 60px;
}
.search_field a { color:#fff;}
#search{background:rgba(0,0,0,.3);border-radius:2px;bottom:25px;height:28px;line-height:25px;margin:0;overflow:hidden;padding:0;position:absolute;right:30px;top:auto;width:220px;}
#search .ac_input{background:none;border:none;color:#fff;font-size:13px;font-style:normal;font-weight:400;height:30px;line-height:25px;margin:0 25px 0 0;padding:0 0 0 10px;text-shadow:1px 1px 3px #333;width:185px;}
#search input{margin:0;padding:1px;vertical-align:middle;width:150px;}
#search label{color:#fff;display:none;}
#search select{display:none;margin-top:-4px;vertical-align:middle;}
#search_widget .form-horizontal .form-group{margin:0;padding:0;}
.ac_loading{background:url(../img/indicator.gif) right center no-repeat;}
.ac_over,.search-highlight{background-color:Highlight;color:HighlightText;}
.ac_results{background:#333;color:#fff;overflow:hidden;padding:0;text-align:left;width:200px;z-index:2000;}
.ac_results iframe,#logo_pow span,#home-highactmyp .pages,.imploded #home-highactmyp .activities-slider,.menu-compact h2,#myprofile #closebox,#w_profile #myprofile #closebox,#flag_new a.tool_stats,#historywidg .list_notice .author,#history .list_notice .author,.group_entry .reply_badge,.upload-box .notes,#wrapComment ul li.inap .action_comm a,#wrapComment ul li .buttons_wrapper,#content_view_toolbar div.hint,a.close_skill_tag span,.action_comm span.vote_null,a.interface-thumbset,.relatedContents .scheda.blacklisted .content,.longDescription,.controlPanel,span#chatWindowOpen,.smart_upload .cloaked-field.title .label.title,.smart_upload.ondemand,.smart_upload.options #contentLink,.smart_upload.options #file-upload-container,.fixed-pos-ie-hack,.masonry .vwall,.liveboard-output-success,.liveboard-output-error,.liveboard .liveboard-stream p.empty,.liveboard .liveboard-stream .liveboard-item.hidden,.searchFilters .advancedSearch,.btn.btn-danger.delete-all,.span7 .toggle,#header ul.site-nav ul,#header ul.site-nav ul ul,.top_bar .social_badges,.dropdown.user_menu .btn .caret,.notification .badge.alert-danger:empty,.groupDescription p,body.search #mainwrap.customPage .drive-widget-form,.template-compact .comment,.commentWidget ul.comments li div[data-comment-actions] button[data-tt-widget-trigger='deleteComment'],.commentWidget ul.comments li div[data-comment-actions] button[data-tt-widget-trigger='toggleUserEditComment'],#mainwrap .fa-arrow-left,#mainwrap.mobile_menu_open .fa-bars,.contentVersionWidget .versions li div[data-version-details-wrapper],.contentVersionWidget .versions li.selected_version button[data-tt-widget-trigger='showThisVersion'],.contentVersionWidget .versions li:first-child button[data-tt-widget-trigger="restoreThisVersion"],.content-rating > input,.comment_body_details .microDot,[data-tt-widget-widget="groupUserFormManager"] [data-container="groupUserActivity"],#useractivity-widget input[type=radio],label.control-label + label > input[type=checkbox]{display:none;}
.ac_results li{border-bottom:1px dotted #999;cursor:pointer;display:block;float:left;font-size:11px;margin:0;overflow:hidden;padding:1%;position:relative;width:98%;}
.ac_results li img,.latestComments .singleCommentLatest .singleCommentLatestHeader{float:left;margin:0 5px 0 0;}
.ac_results ul{list-style:none;list-style-position:outside;margin:0;padding:0;width:100%;}
.searchButton{background:none;bottom:0;cursor:pointer;height:25px;position:absolute;right:0;text-indent:-9999px;width:25px;}
.searchable-element span.highlight-text{-webkit-border-radius:10px;background:#4C8DDF;border-radius:10px;color:#FFF;padding:0 .5em;}