@media (max-width: 1200px){
	
}
@media (max-width: 1024px){

}

@media (max-width: 767px){
	#header .ttcomponent-navbarUserArea .dropdown-menu {
		position:fixed;
		top:60px;
		left:0;
		width:100vw;
		max-height:calc(100vh - 60px);
		overflow-y:auto;
	}
	#header .ttcomponent-navbarUserArea .dropdown-menu { 
		min-width:300px; 
		padding:1rem;
	}
}