/* Component basic layout rules */

.ttcomponent-coverImage { 
	margin-bottom: -5vh;
	min-height: 40vh;
	z-index: 10;
}
.ttcomponent-coverImage .esquire{
	-moz-transition:all .3s ease-in;
	-ms-transition:all .3s ease-in;
	-o-transition:all .3s ease-in;
	-webkit-transition:all .3s ease-in;
	height:auto;
	min-height:40vh;
	overflow:hidden;
	padding:0;
	position:relative;
	width:100%;
}
.ttcomponent-coverImage .user .esquire{ 
	overflow:visible;
}
.ttcomponent-coverImage .esquire .esquire-image-container > div{
	max-width: none; 
	opacity: .2;
	-webkit-filter: blur(0px) grayscale(100%);
	filter: blur(0px) grayscale(100%); 
	height: 100%; 
	width: 100%; 
	position: absolute;
}
.ttcomponent-coverImage .esquire-color-container{
	height:100%;
	min-height:300px;
	opacity:0.45;
}
.ttcomponent-coverImage .esquire-image-container{
	min-height:100%;
	overflow:hidden;
	text-align:center;
	width:100%; 
	position:absolute; 
	top:0;
}
.ttcomponent-coverImage .esquire-message{
	height:100%;
	width:100%; 
}


.ttcomponent-coverImage .esquire-message-container{
	height:100%;
	min-height:40vh;
	z-index:10; 
	position:relative;
}
.ttcomponent-coverImage .user .esquire-message-container{
	height:100%;
	min-height:40vh;
	z-index:10; 
	margin:0 auto;
}
