/* Component style rules */

/* Component style rules */



/* old esquire */

.ttcomponent-coverImage { margin-bottom: -15vh;}
.ttcomponent-coverImage .esquire{-moz-transition:all .3s ease-in;-ms-transition:all .3s ease-in;-o-transition:all .3s ease-in;-webkit-transition:all .3s ease-in;height:40vh;min-height:40vh;overflow:hidden;padding:0;position:relative;transition:all .3s ease-in;width:100%; color:#fff;}
.ttcomponent-coverImage .user .esquire{ overflow:visible;}
.ttcomponent-coverImage .esquire .esquire-image-container > div{max-width: none; opacity: .2;-webkit-filter: blur(0) grayscale(100%);filter: blur(0) grayscale(100%); height: 100%; width: 100%; position: absolute; top:0; z-index:0;}


.ttcomponent-coverImage .mentions-input-box .mentions div{color:#FFF!important;}
.ttcomponent-coverImage .esquire_row .esquire{height:auto;min-height:40vh;}
.ttcomponent-coverImage .esquire_row .esquire .esquire-message-container{color:#fff; position:relative; z-index:10;}
.ttcomponent-coverImage .esquire_row .esquire-message h2{color:#fff;font-weight:300;opacity:1;}
.ttcomponent-coverImage .user-email a{ font-weight:bolder;}


.ttcomponent-coverImage .esquire.tt-gradient-01 {	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00b7ea+0,009ec3+100;Blue+3D+%2315 */
	background: rgb(0,183,234); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(0,183,234,1) 0%, rgba(0,158,195,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */
}
.ttcomponent-coverImage .esquire.tt-gradient-02{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3a87d0+0,85e5e5+100 */
	background: rgb(58,135,208); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(58,135,208,1) 0%, rgba(133,229,229,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(58,135,208,1) 0%,rgba(133,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(58,135,208,1) 0%,rgba(133,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a87d0', endColorstr='#85e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.ttcomponent-coverImage .esquire.tt-gradient-03 {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3a87d0+0,81bedb+100 */
	background: rgb(58,135,208); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(58,135,208,1) 0%, rgba(129,190,219,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(58,135,208,1) 0%,rgba(129,190,219,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(58,135,208,1) 0%,rgba(129,190,219,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a87d0', endColorstr='#81bedb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.ttcomponent-coverImage .esquire.tt-gradient-03-inverted{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#81bedb+0,3a87d0+100 */
background: rgb(129,190,219); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(129,190,219,1) 0%, rgba(58,135,208,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(129,190,219,1) 0%,rgba(58,135,208,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(129,190,219,1) 0%,rgba(58,135,208,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81bedb', endColorstr='#3a87d0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}