section.section.section--leader.bg--ultralight.pt-2.mb-2.ifIsVisible
    .container-fluid
        .row.row-flex.scheda.align-items-center
            .col-xs-12.col-sm-6
                .text-wrap
                    p.t-56.blue.roboto Class leader
                    p.t-16.blue.open Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus tempus felis, eu placerat erat suscipit ut. Sed vel justo vitae libero dignissim pellentesque. In a luctus dolor, non feugiat ante. Etiam facilisis, nibh at efficitur bibendum, elit dolor fermentum erat, eget venenatis felis libero vitae mi.
            .col-xs-12.col-sm-6
                img.img-responsive(src="img/classleader.png")