section.section.top-entry.top-entry--community.bg--white.z-xlhigh
    .row.row-flex.scheda.align-items-center
        .col-xs-12.col-sm-5.h100
            .square-mask.reverse.zoomIn.animated(style={"background-image": "url('img/community.png');"})
        .col-xs-12.col-sm-1
        .col-xs-12.col-sm-6
            .text-wrap.slideInLeft.animated
                h1 Community
                h2.blue Stay connected with your classmates
                    br
                    | Don't miss out the latest news and events
            .text-wrap.slideInLeft.animated.delayed--1
                a(href="#").mt-2.btn.btn--blue.btn-small join us
    .container-fluid.bg--white.z-xlhigh.p-rel.intestazione
        .row.d-flex.align-items-center
            .col-xs-12.col-sm-1
            .col-xs-12.col-sm-6
                p.blue Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus tempus felis, eu placerat erat suscipit ut. Sed vel justo vitae libero dignissim pellentesque.
                a(href="#").mt-2.btn.btn--blue.btn-small find alumni
            .col-xs-12.col-sm-1
            .col-xs-12.col-sm-4
                h1.xxl.blue 112.325
                h2.blue Alumni