section.section.top-entry
    .row.row-flex.scheda.align-items-center
        .col-xs-12.col-sm-9
            if (isprivata === true)
                .text-wrap.slideInLeft.animated
                    h1 Welcome!
                    h2.blue Join the
                        b Bocconi Mentoring Program
                        | to enhance your career with a professional guidance
            else
                .text-wrap.slideInLeft.animated
                    h1 Students for a while,
                    h1 Alumni forever
                .text-wrap.slideInLeft.animated.delayed--1
                    a(href="#").mt-2.btn.btn--blue.btn-small join us
        .col-xs-12.col-sm-3.h100
            .square-mask.zoomIn.animated(style={"background-image":"url('img/sede.jpg');"})