/* Component basic layout rules */
	#header .wrapwidg.plugin_navigation { 
		background:none;
	}
	#header #header-navbar { 
		z-index:20;
	}
	.search_open #header-navbar,
	.search #header-navbar,
	.fixedHeader #header-navbar{
		position:fixed;
		width:100vw;
		max-width:100%;
		top:0;
		left:0;
		
	}

	#header-navbar {
		position:relative;
		z-index:10;
		-webkit-box-shadow: 0 0 70px 0 rgba(0,0,0,.1);
		box-shadow: 0 0 70px 0 rgba(0,0,0,.1);	
	}
	
	#header-navbar .column_generico {
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-pack:justify;
			-ms-flex-pack:justify;
			justify-content:space-between;
		-webkit-box-align:center;
			-ms-flex-align:center;
			align-items:center;	
	}
	#header-navbar .plugin_navigation {
		margin-right:auto!important;
	}
	
	
	.ttcomponent-navbar.navbar { 
	 	margin-bottom:0;
	 }
 	.ttcomponent-navbar.navbar ul {
 		border-radius:0;
 	}
	.ttcomponent-navbar.navbar .container{ 
	 	margin-bottom:0;
	 }
	 
	.ttcomponent-navbar li.depth-0 {
		list-style:none;
		position:relative;
		padding: 0;
	}
	 .ttcomponent-navbar ul li {
		list-style:none;
		position:relative;
		padding: 0 10px;
	}
	.ttcomponent-navbar ul > li.dropdown {
		white-space:nowrap;
	}
	
	 .ttcomponent-navbar ul > li > a {
		display:inline-block;
		padding:10px;
		white-space:normal;
		text-decoration:none;
	}
	.ttcomponent-navbar ul > li:not(.depth-0) a.btn { 
		text-align:left;
		-webkit-box-flex:12;
		    -ms-flex:12 1 0px;
		        flex:12 1 0;
	}
	.ttcomponent-navbar ul > li:not(.depth-0) a.dropdown-toggle { 
		text-align:center;
		-webkit-box-flex:1;
		    -ms-flex:1 1 0px;
		        flex:1 1 0;
	}
	
	.ttcomponent-navbar ul > li > a[href="#"]:hover {
		color:inherit;
	}
	
	.ttcomponent-navbar ul > li > a > .caret {
		border:0;
		display:block;
		margin:0;
		height:auto;
		width:auto;
	}
	.ttcomponent-navbar ul > li > a > .caret:before { 
		content: "\f078";
		font-family: "Font Awesome 5 Pro";
		font-size:10px;
		border:0;
		font-weight:bold;
	}
	.ttcomponent-navbar ul > li.open > a > .caret:before { 
		content: "\f077";
	}
	
	
	.ttcomponent-navbar ul > li:not(.depth-0) > a > .caret:before { 
		content: "\f141";
		font-family: "Font Awesome 5 Pro";
		font-size:16px;
		border:0;
		opacity:.5
	}
	.ttcomponent-navbar ul > li:not(.depth-0) > a:hover > .caret:before { 
		content: "\f054";
		font-family: "Font Awesome 5 Pro";
		font-size:10px;
		border:0;
		opacity:.5
	}	
	.ttcomponent-navbar ul > li:not(.depth-0).open > a > .caret:before{ 
		content: "\f053";
		font-family: "Font Awesome 5 Pro";
		font-size:10px;
		border:0;
		opacity:.5
	}	
	
	.ttcomponent-navbar ul > li.depth-0 >  a.dropdown-toggle { 
		padding-left:0;
	}
	 .ttcomponent-navbar ul > li > a + a.dropdown-toggle { 
		margin: 0 -4px;
	}
	
	/* Component view standard rules */
 	.ttcomponent-navbar.ttcomponent-view-standard.navbar ul {
 		border-radius:0;
 		min-width: 240px;
 	}
	.ttcomponent-navbar.ttcomponent-view-standard .depth-0 > .dropdown-menu {
		top:53px;
		padding:0;
		min-height:100%
	}
	.ttcomponent-navbar.ttcomponent-view-standard .depth-1 .dropdown-menu { 
		top:0;
		left:100%
	}
	
	
	
	/* Component view megamenu rules */
	
	/* if inside header*/
	.ttcomponent-navbar.ttcomponent-view-megamenu .depth-0 > .dropdown-menu {
		position:fixed;
		top:60px;
		padding:0;
		border-radius:0;
		transition: all .5s ease;
		-webkit-box-shadow: none;
		box-shadow: 0 9px 13px 0 rgba(0,0,0, .1);
	}
	
	.ttcomponent-navbar.ttcomponent-view-megamenu li:not(.open) .dropdown-menu {
		/* display:block;
		visibility:hidden; */
		left:100%;
		top:0;
		width:100%;
	}
	
	 .ttcomponent-navbar.ttcomponent-view-megamenu .depth-0 > .dropdown-menu ul {
		padding:20px 0!important;
	}

	 .ttcomponent-navbar.ttcomponent-view-megamenu ul li ul li.dropdown.open .dropdown-menu  {
		left:100%;
		top:0;
		border:0;
		-webkit-box-shadow:none;
				box-shadow:none;
		min-width:100%;
		padding: 0 20px;
		min-height:100%;
	}
	
	.ttcomponent-navbar a.empty-link {
		cursor: default;
		pointer-events: none;
	}	

	.navbar {
		
	}

	.navbar-default {
		border:none;
		background:transparent;
	}