@media (max-width: 1200px){
	.ttcomponent-navbar .navbar-toggle {
		display: block;
		padding-right:0;
	}
	
	.ttcomponent-navbar .navbar-toggle[aria-expanded="true"] .fa-bars:before{
		content:"\f00d";
	}
	.ttcomponent-navbar.navbar .container {
		padding: 0;
		margin: 0;
		width: 100vw;
	}

	.ttcomponent-navbar #global-menu a {
		color:#fff;
	}
	.ttcomponent-navbar #global-menu .depth-0 > .dropdown-menu  .dropdown-menu{
		top:0;
		
	}
	.ttcomponent-navbar #global-menu.navbar-collapse {
		display: none!important;
		padding:0;
	}
	.ttcomponent-navbar #global-menu.navbar-collapse.collapse.in{
		display:block !important;
		overflow: auto;
		max-height: 100vh;
		padding-bottom: 20px;
	}
	.ttcomponent-navbar #global-menu { 
		position:fixed; 
		top:60px; 
		left:0; 
		width:100vw;
	}
	.ttcomponent-navbar #global-menu:before {
		content:'';
		display:block;
		position:absolute;
		width:100%;
		height:100%;
		background: rgba(255,255,255, .2);
	}
	.ttcomponent-navbar #global-menu.navbar-collapse.collapse.in {
		 padding-bottom: 0;
	}
	.ttcomponent-navbar #global-menu .depth-0 > .dropdown-menu { 
		top: 95px;
		
	}
	.ttcomponent-navbar ul > li:not(.depth-0) > a[aria-expanded="false"]> .caret:before {
		content: "\f141";
	}
}
@media (max-width: 1024px){

}

@media (max-width: 767px){
	
	.ttcomponent-navbar.ttcomponent-view-megamenu li:not(.open) .dropdown-menu {
		display:none;
		visibility:visible;
		position:absolute!important;
	}
	.ttcomponent-navbar #global-menu .depth-0 > .dropdown-menu { 
		top: 0; 
		position: relative; 	
	}
	.ttcomponent-navbar .nav li {
		padding-left: 0;
		padding-right: 0;
	}
	
	.ttcomponent-navbar ul > li:not(.depth-0) > a:hover > .caret:before,
	.ttcomponent-navbar ul > li:not(.depth-0) > a > .caret:before { 
		content: "\f141";
		font-size:16px;
	}
	.ttcomponent-navbar ul > li:not(.depth-0).open > a > .caret:before{ 
		content: "\f077";
		font-size:16px;
	}	

	.ttcomponent-navbar .nav li a.btn {
		width: 90%;
		padding-left: 20px!important;
		text-align: left;
	}
	.ttcomponent-navbar .nav li:not(.depth-0) a.btn {
		width: 87.5%;
	}
	.ttcomponent-navbar ul > li > a > .caret:before {
	    content: "\f078";
	    font-family: "Font Awesome 5 Pro";
	    font-size: 16px;
	    border: 0;
	}
	.ttcomponent-navbar .navbar-nav .open .dropdown-menu  li  a,
	.ttcomponent-navbar .navbar-nav .open .dropdown-menu .dropdown-header {
		padding:10px;
	}
	.ttcomponent-navbar.ttcomponent-view-megamenu .depth-0 > .dropdown-menu ul {
		padding: 0!important;
	}
}