/* Component style rules */

#header-navbar{background: #fff;}

.ttcomponent-navbar li > a, .ttcomponent-navbar li > a.dropdown-toggle { color:inherit;}

.ttcomponent-navbar li.depth-0 .dropdown-menu{
	border-color:transparent;
}


.ttcomponent-navbar .nav .open a,  
.ttcomponent-navbar .nav .open a:hover,  
.ttcomponent-navbar .nav .open a:focus,
.ttcomponent-navbar .nav li a:hover,
.ttcomponent-navbar .nav li a:focus {
	background-color: transparent;
	border-color:transparent;
}


.ttcomponent-navbar .nav .open a,  
.ttcomponent-navbar .nav .open a:hover,  
.ttcomponent-navbar .nav .open a:focus{
	background-color: transparent;
	color:#fff;
}

.ttcomponent-navbar .nav li.depth-0 li:hover,
.ttcomponent-navbar .nav li.depth-0 li:focus,
.ttcomponent-navbar .nav li.depth-0 li.open {
	background-color: rgba(0,0,0, .1);
}
.ttcomponent-navbar .dropdown-menu > .active > a, 
.ttcomponent-navbar .dropdown-menu > .active > a:hover, 
.ttcomponent-navbar .dropdown-menu > .active > a:focus {
	background-color: transparent;
	color:#fff;
}





/* Component view standard rules */
.ttcomponent-navbar.ttcomponent-view-standard .depth-1 .dropdown-menu { 
	top:0;
	left:100%
}
 .ttcomponent-navbar.ttcomponent-view-standard .depth-0 > .dropdown-menu ul {
 	border:0;
 }
 .ttcomponent-navbar.ttcomponent-view-standard .depth-0 > .dropdown-menu ul:before{
 	content:'';
 	display:block;
 	position: absolute;
 	width:100%;
 	height:100%;
 	top:0;
 	left:0;
	background: rgba(0,0,0, .1);
}
 .ttcomponent-navbar.ttcomponent-view-standard .depth-0 > .dropdown-menu ul ul:before{
 	content:'';
 	display:block;
 	position: absolute;
 	width:100%;
 	height:100%;
 	top:0;
 	left:0;
	background: rgba(0,0,0, .2);
}
 .ttcomponent-navbar.ttcomponent-view-standard .depth-0 > .dropdown-menu ul ul ul:before{
 	content:'';
 	display:block;
 	position: absolute;
 	width:100%;
 	height:100%;
 	top:0;
 	left:0;
	background: rgba(0,0,0, .3);
}
 .ttcomponent-navbar.ttcomponent-view-megamenu .depth-0 > .dropdown-menu ul ul ul{
	background: rgba(0,0,0, .2);
}

/* Component view megamenu rules */	
 .ttcomponent-navbar.ttcomponent-view-megamenu .depth-0 > .dropdown-menu ul ul{
	background: rgba(0,0,0, .1);
}
 .ttcomponent-navbar.ttcomponent-view-megamenu .depth-0 > .dropdown-menu ul ul ul{
	background: rgba(0,0,0, .2);
}
 .ttcomponent-navbar.ttcomponent-view-megamenu .depth-0 > .dropdown-menu ul ul ul ul{
	background: rgba(0,0,0, .3);
}