
body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #fff;
}

div.blend-multiply {
  display: block;
  margin: 30px auto;
  width: 40%;
  height: 400px;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  background-image: url('https://raw.githubusercontent.com/idevsoftware/js-background-blend-mode/master/demo.jpg');
  background-color: rgba(255, 0, 0, 0.75);
}