@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/fonticon/icomoon.eot?tayd3l');
  src:  url('../fonts/fonticon/icomoon.eot?tayd3l#iefix') format('embedded-opentype'),
  url('../fonts/fonticon/icomoon.ttf?tayd3l') format('truetype'),
  url('../fonts/fonticon/icomoon.woff?tayd3l') format('woff'),
  url('../fonts/fonticon/icomoon.svg?tayd3l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-arrow-back:before {
  content: "\e916";
}
.icon-calendar:before {
  content: "\e915";
}
.icon-threedots:before {
  content: "\e914";
}
.icon-calendar-cross:before {
  content: "\e912";
}
.icon-clock:before {
  content: "\e913";
}
.icon-alarm:before {
  content: "\e900";
}
.icon-bookmark:before {
  content: "\e901";
}
.icon-chevron-dx:before {
  content: "\e902";
}
.icon-chevron-sx:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e904";
}
.icon-equalizer:before {
  content: "\e905";
}
.icon-fb:before {
  content: "\e906";
}
.icon-geoloc:before {
  content: "\e907";
}
.icon-in:before {
  content: "\e908";
}
.icon-langENG:before {
  content: "\e909";
}
.icon-langIT:before {
  content: "\e90a";
}
.icon-magnifier:before {
  content: "\e90b";
}
.icon-mail:before {
  content: "\e90c";
}
.icon-menu:before {
  content: "\e90d";
}
.icon-share:before {
  content: "\e90e";
}
.icon-tw:before {
  content: "\e90f";
}
.icon-user:before {
  content: "\e910";
}
.icon-youtube:before {
  content: "\e911";
}