.card.card--news.d-flex
    .news-img.mr-2(style={"background-image":"url('img/news.png');"})
    div.pt-2.d-flex.flex-column
        .date.text-uppercase.pb-1 10 gen 2020
        p.midtext.mb-auto Sed mollis nisl a porta tempus. Vivamus et scelerisque dolor. Proin eu lacus aliquet, tempor felis vel, semper elit. Aenean nec sapien et mauris eleifend congue laoreet vel lacus.
        case kindSocial
            when 1: span.icon.icon-fb.iconblue
            when 2: span.icon.icon-in.iconblue
            when 3: span.icon.icon-youtube.iconblue
            default: span.icon.icon-fb.iconblue