.card.card--event
    span.showZoom.absbr.icon.icon-threedots.hide--zoom
    span.close-layer.icon.icon-close.hide
    a.link-layer(href="#")
        .zoom--panel
    .image-wrap(style={"background-image":"url('img/news.png');"})
    .event-content-wrap
        if( n != 2)
            img.abs(src="img/chapters.svg")
        else
            img.abs(src="img/topic.svg")
        .calendar-el.bg--white
            b.blue.mid40 20
            .gray.date.text-uppercase gen 2020
        .blue.smalltitle Bocconi Alumni at the Christmas Market
        .gray.midtext.hide--zoom.mb-1 The Vienna Chapter invites to discover together the Vienna Christmas Market.
        p.small.gray.hide--zoom
            span.icon.icon-geoloc.spacer-r-1
            | Spitalgasse, 2, Vienna
        .other-data
            .d-flex.e-data
                span.icon.icon-calendar-cross.blue
                div
                    .extrasmall.gray.text-uppercase Registration Deadline
                    p.gray 18 GEN 2020 - 18:00
            .d-flex.e-data
                span.icon.icon-clock.blue
                div
                    .extrasmall.gray.text-uppercase Event Time
                    p.gray 10:00 - 13:00
            .d-flex.e-data
                span.icon.icon-geoloc.blue
                div
                    .extrasmall.gray.text-uppercase Event address
                    p.gray Spitalgasse, 2, Vienna
            .text-center
                a(href="#").btn.btn--blue.text-uppercase View more
