.card.card--news
    .row.row-flex
        .col-xs-6.col-sm-6.col-lg-3.md-mb-2
            .news
                a.link-layer(href="#")
                .image-wrap(style={"background-image": "url('img/campus2.jpg');"})
                .text
                    .data
                        b 02
                        | GEN 2020
                    p Lorem ipsum dolor sit amet adipiscing elit
                    p Nam pellentesque blandit mauris eu sagittis. Pellentesque accumsan eros erat.
            .news
                a.link-layer(href="#")
                .image-wrap(style={"background-image": "url('img/campus2.jpg');"})
                .text
                    .data
                        b 02
                        | GEN 2020
                    p Sed venenatis ex in elit mollis, vitae congue ligula dictum
                    p Ut orci justo, ullamcorper a velit sit amet, dapibus venenatis dolor.
        .col-xs-6.col-sm-6.col-lg-3.md-mb-2
            .news
                a.link-layer(href="#")
                .image-wrap(style={"background-image":"url('img/campus2.jpg');"})
                .text
                    .data
                        b 02
                        | GEN 2020
                    p Lorem ipsum dolor sit amet adipiscing elit
                    p Nam pellentesque blandit mauris eu sagittis. Pellentesque accumsan eros erat.
            .news
                a.link-layer(href="#")
                .image-wrap(style={"background-image":"url('img/campus2.jpg');"})
                .text
                    .data
                        b 02
                        | GEN 2020
                    p Sed venenatis ex in elit mollis, vitae congue ligula dictum
                    p Ut orci justo, ullamcorper a velit sit amet, dapibus venenatis dolor.
        .col-xs-6.col-sm-6.col-lg-3
            .news
                a.link-layer(href="#")
                .image-wrap(style={"background-image": "url('img/campus2.jpg');"})
                .text
                    .data
                        b 02
                        | GEN 2020
                    p Lorem ipsum dolor sit amet adipiscing elit
                    p Nam pellentesque blandit mauris eu sagittis. Pellentesque accumsan eros erat.
            .news
                a.link-layer(href="#")
                .image-wrap(style={"background-image": "url('img/campus2.jpg');"})
                .text
                    .data
                        b 02
                        | GEN 2020
                    p Sed venenatis ex in elit mollis, vitae congue ligula dictum
                    p Ut orci justo, ullamcorper a velit sit amet, dapibus venenatis dolor.
        .col-xs-6.col-sm-6.col-lg-3
            .news
                a.link-layer(href="#")
                .image-wrap(style={"background-image": "url('img/campus2.jpg');"})
                .text
                    .data
                        b 02
                        | GEN 2020
                    p Lorem ipsum dolor sit amet adipiscing elit
                    p Nam pellentesque blandit mauris eu sagittis. Pellentesque accumsan eros erat.
            .news
                a.link-layer(href="#")
                .image-wrap(style={"background-image": "url('img/campus2.jpg');"})
                .text
                    .data
                        b 02
                        | GEN 2020
                    p Sed venenatis ex in elit mollis, vitae congue ligula dictum
                    p Ut orci justo, ullamcorper a velit sit amet, dapibus venenatis dolor.