@media (max-width: 1200px){

}
@media (max-width: 1024px){

}

@media (max-width: 767px){
	#useractivity-widget input[type=radio] + label { padding: 6px;}

    #useractivity-widget div[data-view=vertical]{ padding-top:40px;}
    #useractivity-widget div[data-view=vertical] .element {padding-bottom: 25px!important;}
    #useractivity-widget div[data-view=vertical] .element:nth-child(odd),#useractivity-widget div[data-view=vertical] .element:nth-child(even)  {margin-top:0!important;}
    #useractivity-widget div[data-view=vertical] .element .activity-type h4 span { margin-left:-6px;}
	#useractivity-widget div[data-view=vertical] .element-title{ font-size:15px;}
	#useractivity-widget div[data-view=vertical] .element:nth-child(even) .thumb-container .thumb-wrapper,
	#useractivity-widget div[data-view=vertical] .element:nth-child(odd) .thumb-container .thumb-wrapper{
	    min-height: 50px!important;;
	    border: 5px solid white!important;
	    width: 50px!important;
	    max-height: 50px!important;;
	    margin: 14px 1em 0 2em!important;
	    float:left;
	    line-height:50px;
	    font-size:8px;
	}
	#useractivity-widget input[type=radio] + label[for=activity-ALL]{ font-size:10px; line-height:30px;}
	
	#useractivity-widget div[data-view=vertical] h4 span{ font-size:.8em;}
	#useractivity-widget div[data-view=vertical] .element:nth-child(even) .top-container:after{ content:''; display:block; position:absolute; z-index:20; top:calc(2.7em - 10px); left:-0.25em;}
	#useractivity-widget div[data-view=vertical] .element:nth-child(odd) h2,
	#useractivity-widget div[data-view=vertical] .element:nth-child(even) h2 {padding-left: 0; width:90%; margin-top: 5px; margin-bottom: 5px;}
	#useractivity-widget div[data-view=vertical]:before {left: 10px;}
	#useractivity-widget div[data-view=vertical] .element:nth-child(odd),
	#useractivity-widget div[data-view=vertical] .element:nth-child(even) { width:100%; text-align:left; padding:0; padding:0 0 0 13px; margin-left:-.3em!important; transform-origin: left center;}
	#useractivity-widget div[data-view=vertical] .element:nth-child(odd) .top-container {display:table; width:100%; position: relative;}
	#useractivity-widget div[data-view=vertical] .element:nth-child(odd) .text-container{display:table-cell;width:69.5%; vertical-align: middle; float:right;}
	#useractivity-widget div[data-view=vertical] .element:nth-child(odd) .activity-type{position: relative;}
	#useractivity-widget div[data-view=vertical] .element:nth-child(odd) .activity-type span{ position:relative; z-index:10;}
	
	#useractivity-widget div[data-view=vertical] .element:nth-child(odd) .thumb-container{ display:table-cell; width:29.5%;text-align: right; vertical-align: top; float:left}
	#useractivity-widget div[data-view=vertical] .element:nth-child(odd) .thumb-container:after, 	#useractivity-widget div[data-view=vertical] .element:nth-child(even) .thumb-container:after{ content:''; display:block; position:absolute; z-index:1; top:2.4em;  left:2px; right:inherit; border-top:1px solid #ccc; width:30%;}
	#useractivity-widget div[data-view=vertical] .element:nth-child(odd) .top-container:after{ content:''; display:block; position:absolute; z-index:20; top:calc(2.7em - 10px); left:-0.25em; right:inherit; background:white; right:-1.85em;}
	#useractivity-widget div[data-view=vertical] .element:nth-child(odd) .thumb-container .thumb-wrapper{ overflow:hidden; min-height:80px; border:7px solid white; width:80px; max-height:80px; border-radius:100%; margin:-.5em 3em 0 3em; position:relative; z-index:10;}
	#useractivity-widget div[data-view=vertical] .element:nth-child(odd) .thumb-container img,
	#useractivity-widget div[data-view=vertical] .element:nth-child(even) .thumb-container img{ height: auto; min-width:40px; max-width:40px;}
	#useractivity-widget input[type=radio]:checked + label:after { bottom: -3px;}
	
	#useractivity-widget div[data-view=vertical] .element:nth-child(odd) .element-description, 
	#useractivity-widget div[data-view=vertical] .element:nth-child(even) .element-description{ position:relative; max-width:99%; text-align: left;}
	#user-activity-paginator {text-align: left; padding-left:7px;}
	#useractivity-widget div[data-view=vertical] .element h4{margin-right: 0; margin-left: -10px; padding-left: 5px;}
	
	#useractivity-widget div[data-view=vertical] h4{ max-width: inherit;}
	#useractivity-widget div[data-view=vertical] h4 span {max-width: inherit;}
	#useractivity-widget [data-activity].element:nth-child(odd) .activity-type h4:before {}
	#useractivity-widget div[data-view=vertical] .element:nth-child(even) .element-description {
	    max-width: 99%;
	    padding-right: 0;
	    position: relative;
	    text-align: left;
	    padding-bottom: 20px;
	}
	
	.filters-wrapper { padding:0;}
	[for^=activity-]:before {
	    margin: 0;
	    line-height: 30px;
	    width: 30px;
	    height: 30px;
	    padding:0;
	    border-radius:35px!important;
	}
	[for=activity-ALL]:before {
	    margin: 0;
	    line-height: 30px;
	    width: 0;
	    height: 30px;
	}
	#useractivity-widget #user-activity-layout input[type=radio] + label[for*=activity-layout]{padding: 9px 4px;}
	#useractivity-widget input[type=radio] + label {padding: 6px;}
	#useractivity-widget input[type=radio] + label{font-size:14px;}
	#useractivity-widget input[type=radio] + label span{display:none; padding-top:5px; }
	#useractivity-widget input[type=radio]:checked + label span{}
	
	#useractivity-widget [data-activity].element:nth-child(odd) .activity-type h4:before{float:none; margin: 0 10px 0 0;}
	#useractivity-widget div[data-view=vertical] .element:nth-child(odd) .element-description { padding-left: 0;}
	
	#useractivity-widget div[data-view=vertical] div[data-activity].element:nth-child(even) h4 span:before {
	    display:none;
	}
		#useractivity-widget div[data-view=vertical] div[data-activity].element:nth-child(even) h4 span:after {
	    content: '\f054';
	    font-family: "Font Awesome 5 Pro";
	    display: inline-block;
	    font-size: 1em;
	    line-height: 1;
	    margin-left: 5px!important;
	    font-size: .8em;
	    margin-left: -3px;
	}
	#useractivity-widget div[data-view=masonry] .element {width: 91%;}
	[data-activity] img {max-height: inherit;}
	#user-activity-layout {position:absolute; top:10px; right:10px;}
	#useractivity-widget #user-activity-layout input[type=radio] + label[for*=activity-layout] { width:40px;}

	.column_generico + .column_generico > .wrapwidg { margin-left:10px;}
}

