/* Component basic layout rules */


/* user activity */

#user-activity-container{}
#user-activity-paginator{margin-bottom:20px;text-align:center;width:100%;}

.plugin_userActivity {position:relative; z-index:0;}
#useractivity-widget .layout-buttons-wrapper{ position:relative;}
#useractivity-widget #user-activity-layout { position:absolute; right:0; z-index:10; }
#useractivity-widget #user-activity-layout input[type=radio] + label[for*=-masonry],
#useractivity-widget #user-activity-layout input[type=radio] + label[for*=-vertical] { padding:9px 0 9px 3px; margin:0; width:auto;}
#useractivity-widget #user-activity-layout input[type=radio] + label[for*=-masonry]:before{content:'\f00a'; font-size:1rem; display:block; font-family:"Font Awesome 5 Pro"; color:inherit; text-indent:0;}
#useractivity-widget #user-activity-layout input[type=radio] + label[for*=-vertical]:before{content:'\f00b'; font-size:1rem; display:block; font-family:"Font Awesome 5 Pro"; color:inherit; text-indent:0;}
#useractivity-widget #user-activity-layout input[type=radio] + label[for*=activity-layout]{background-color:transparent;box-shadow:none!important;}
#useractivity-widget .element{background:#DDD;float:left;height:auto;margin:5px;min-height:90px;padding:5px;position:relative;width:80px;}
#useractivity-widget .element .number{position:absolute;right:5px;top:5px;}
#useractivity-widget .element .symbol{color:#FFF;font-size:30px;left:5px;top:5px;}
#useractivity-widget .grid{height:100%;margin:0 auto 20px 0;overflow:hidden;padding:40px 0;position:relative;width:100%;}
#useractivity-widget .grid .date{font-size:.7rem;}
#useractivity-widget .grid:after,#useractivity-widget .element:after{clear:both;content:'';display:block;}
#useractivity-widget .more-elements{color:#dcdcdc;display:inline-block;font-size:.8em;margin:0 auto 1em;padding:0;text-align:center;text-decoration:none;text-transform:uppercase;}
#useractivity-widget [data-activity] img{max-height:inherit;}
#useractivity-widget [data-activity].element:nth-child(odd) .activity-type h4:before{}
#useractivity-widget div [for=activity-ALL]:before{margin:0;padding:0;width:0;}
#useractivity-widget div[data-view=masonry]{margin-right:0;padding:20px 10px;text-align:right;}
#useractivity-widget div[data-view=masonry] *{float:none;text-align:left;}
#useractivity-widget div[data-view=masonry] .activity-type h4:before{margin:0}
#useractivity-widget div[data-view=masonry] .activity-type span{position:relative;z-index:10;}
#useractivity-widget div[data-view=masonry] .element{background:none;border:none;border-bottom:1px solid #efefef;display:table;float:left;height:auto;margin-bottom:10px;min-width:inherit;padding-bottom:20px;position:relative;width:calc(100% / 3.16);}
#useractivity-widget div[data-view=masonry] .element .text-container .date{padding-top:10px!important;}
#useractivity-widget div[data-view=masonry] .element-description{min-width:inherit;position:relative;text-align:left;}
#useractivity-widget div[data-view=masonry] .element:nth-child(even) .thumb-container:before{bottom:0;}
#useractivity-widget div[data-view=masonry] .element:nth-child(odd) .thumb-container:before{top:0;}
#useractivity-widget div[data-view=masonry] .grid-sizer{width:calc(100% / 3.13);}
#useractivity-widget div[data-view=masonry] .text-container{}
#useractivity-widget div[data-view=masonry] .thumb-container{display:block;text-align:left;width:100%;}
#useractivity-widget div[data-view=masonry] .thumb-container img{height:auto;margin:0;min-height:inherit;position:relative;width:100%;z-index:10;}
#useractivity-widget div[data-view=masonry] .top-container{display:block;position:relative;width:100%;}
#useractivity-widget div[data-view=masonry] [data-activity*=CONTENT_RESHARE] .thumb-container:before{background:#2bafac!important;}
#useractivity-widget div[data-view=masonry] [data-activity*=CONTENT_RESHARE] h4 span,#useractivity-widget div[data-view=masonry] [data-activity*=CONTENT_RESHARE] .activity-type h4:before,#useractivity-widget div[data-view=masonry] div[data-activity*=CONTENT_RESHARE].element h4 span{color:#2bafac!important;}
#useractivity-widget div[data-view=masonry] [data-activity=CONTENT_RATE] .thumb-container:before,#useractivity-widget div[data-view=masonry] [data-activity=GENERIC_EXTERNAL_SOURCE] .thumb-container:before{background:#f99d1b!important;}
#useractivity-widget div[data-view=masonry] [data-activity=CONTENT_RATE] h4 span,#useractivity-widget div[data-view=masonry] [data-activity=CONTENT_RATE] .activity-type h4:before,#useractivity-widget div[data-view=masonry] div[data-activity=CONTENT_RATE].element h4 span,#useractivity-widget div[data-view=masonry] [data-activity=GENERIC_EXTERNAL_SOURCE] h4 span,#useractivity-widget div[data-view=masonry] [data-activity=GENERIC_EXTERNAL_SOURCE] .activity-type h4:before,#useractivity-widget div[data-view=masonry] div[data-activity=GENERIC_EXTERNAL_SOURCE].element h4 span{color:#f99d1b!important;}
#useractivity-widget div[data-view=masonry] [data-activity] .activity-type h4:before{float:left!important;margin:0 10px 0 5px;}
#useractivity-widget div[data-view=masonry] div[data-activity*=CONTENT_RESHARE].element .text-container:before{color:#2bafac!important;content:'\f1e0';}
#useractivity-widget div[data-view=masonry] div[data-activity=COMMENT_ADD].element .text-container:before,#useractivity-widget div[data-view=masonry] div[data-activity=COMMENT_WITH_ATTACHMENTD].element .text-container:before{color:#3f75ba!important;content:'\f27a';}
#useractivity-widget div[data-view=masonry] div[data-activity=COMMENT_ADD].element h4 span,#useractivity-widget div[data-view=masonry] div[data-activity=COMMENT_WITH_ATTACHMENT].element h4 span{color:#3f75ba!important;}
#useractivity-widget div[data-view=masonry] div[data-activity=CONTENT_ADD].element .text-container:before,
#useractivity-widget div[data-view=masonry] div[data-activity=CONTENT_FAVOURITE].element .text-container:before,#useractivity-widget div[data-view=masonry] div[data-activity=COMMENT_VOTE].element .text-container:before{color:#c2dd31!important;content:'\f164';}
#useractivity-widget div[data-view=masonry] div[data-activity=CONTENT_FAVOURITE].element h4 span,#useractivity-widget div[data-view=masonry] div[data-activity=COMMENT_VOTE].element h4 span{color:#c2dd31!important;}
#useractivity-widget div[data-view=masonry] div[data-activity=CONTENT_RATE].element .text-container:before{color:#f99d1b!important;content:'\f005';}
#useractivity-widget div[data-view=masonry] div[data-activity=COURSE_COMPLETED].element .text-container:before{color:#47b649!important;content:'\f00c';}
#useractivity-widget div[data-view=masonry] div[data-activity=COURSE_COMPLETED].element h4 span,#useractivity-widget div[data-view=masonry] div[data-activity=CONTENT_ADD].element h4 span{color:#47b649!important;}
#useractivity-widget div[data-view=masonry] div[data-activity=GENERIC_EXTERNAL_SOURCE].element .text-container:before{color:#f99d1b!important;content:'\f022';}
#useractivity-widget div[data-view=masonry] div[data-activity] h4{background:none;z-index:10; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center;}
#useractivity-widget div[data-view=masonry] div[data-activity].element .text-container:before{color:#ccc;content:'';display:block;float:left;font-family:"Font Awesome 5 Pro";font-size:2em;line-height:1.7;margin:0;}
#useractivity-widget div[data-view=masonry] h2{font-size:1em;margin:10px 0;}
#useractivity-widget div[data-view=masonry] h4{background:none;border-radius:100px;display:block;margin:0;text-align:left;z-index:10;}
#useractivity-widget div[data-view=masonry] h4 span{display:block;font-size:.7em;font-weight:400;overflow:hidden;padding:0;}
#useractivity-widget div[data-view=masonry].grid .date{display:block;font-size:.87em; padding-bottom:.5rem;}
#useractivity-widget div[data-view=vertical]{padding-top:80px;}
#useractivity-widget div[data-view=vertical] .element,div[data-view=vertical] .grid-sizer{background:none;border:none;float:left;min-height:inherit;width:50%;}
#useractivity-widget div[data-view=vertical] .element-title{display:-webkit-box;display:-ms-flexbox;display:flex; -webkit-box-align:center; -ms-flex-align:center; align-items:center; margin:0;}
#useractivity-widget div[data-view=vertical] .element:nth-child(even){margin-left:50%;padding:0;text-align:left; transform-origin: left;}
#useractivity-widget div[data-view=vertical] .element:nth-child(even) .element-description{max-width:99%;padding-right:10%;position:relative;text-align:left; padding-bottom:20px; font-size:.8rem; margin-top: 0.5rem;}
#useractivity-widget div[data-view=vertical] .element:nth-child(even) .text-container{display:table-cell;float:right;vertical-align:middle;width:69.5%;}
#useractivity-widget div[data-view=vertical] .element:nth-child(even) .thumb-container{display:table-cell;float:left;text-align:right;vertical-align:top;width:29.5%;}
#useractivity-widget div[data-view=vertical] .element:nth-child(even) .thumb-container .thumb-wrapper{border:5px solid #FFF;border-radius:100%;line-height:70px;margin:0 3em;max-height:70px;min-height:70px;overflow:hidden;position:relative;text-align:center;width:70px;z-index:10;}
#useractivity-widget div[data-view=vertical] .element:nth-child(even) .thumb-container:after{border-top:1px solid #ccc;content:'';display:block;left:2px;position:absolute;right:inherit;top:37px;width:30%;z-index:1;}
#useractivity-widget div[data-view=vertical] .element:nth-child(even) .top-container:after{background:#FFF;border:3px solid #ccc;border-radius:100%;content:'';display:block;height:13px;left:-.4em;position:absolute;right:inherit;top:23.4%;width:13px;z-index:20;}
#useractivity-widget div[data-view=vertical] .element:nth-child(even) h2{margin:0 0 3px;padding-right:20px;}
#useractivity-widget div[data-view=vertical] .element:nth-child(even) h4{margin-left:-10px;}
#useractivity-widget div[data-view=vertical] .element:nth-child(odd){margin-right:50%!important;text-align:right; transform-origin: right;}
#useractivity-widget div[data-view=vertical] .element:nth-child(odd) .activity-type span,#useractivity-widget div[data-view=vertical] .element:nth-child(even) .activity-type span{line-height:1;position:relative;vertical-align:middle;z-index:10; white-space:nowrap;}
#useractivity-widget div[data-view=vertical] .element:nth-child(odd) .element-description{min-width:99%;padding-left:10%;position:relative;text-align:right; font-size:.8rem; padding-top:0.5rem;}
#useractivity-widget div[data-view=vertical] .element:nth-child(odd) .text-container{display:table-cell;float:left;vertical-align:middle;width:69.5%;}
#useractivity-widget div[data-view=vertical] .element:nth-child(odd) .thumb-container{display:table-cell;float:right;text-align:left;vertical-align:top;width:29.5%;}
#useractivity-widget div[data-view=vertical] .element:nth-child(odd) .thumb-container .thumb-wrapper{border:5px solid #FFF;border-radius:100%;float:right;line-height:70px;margin:0 3em 0 1.5em;max-height:70px;min-height:70px;overflow:hidden;position:relative;text-align:center;width:70px;z-index:10;}
#useractivity-widget div[data-view=vertical] .element:nth-child(odd) .thumb-container img,#useractivity-widget div[data-view=vertical] .element:nth-child(even) .thumb-container img{height:auto;left:0;max-width:60px;min-height:100%;min-width:inherit;position:absolute;top:0;width:auto;z-index:0;}
#useractivity-widget div[data-view=vertical] .element:nth-child(odd) .thumb-container:after{border-top:1px solid #ccc;content:'';display:block;position:absolute;right:2px;top:37px;width:30%;z-index:1;}
#useractivity-widget div[data-view=vertical] .element:nth-child(odd) .top-container,#useractivity-widget div[data-view=vertical] .element:nth-child(even) .top-container{display:table;position:relative;width:100%;}
#useractivity-widget div[data-view=vertical] .element:nth-child(odd) .top-container:after{background:#FFF;border:3px solid #ccc;border-radius:100%;content:'';display:block;height:13px;position:absolute;right:-.23em;width:13px;z-index:20;}
#useractivity-widget div[data-view=vertical] .element:nth-child(odd) h2{margin:0 0 3px;padding-left:20px;}
#useractivity-widget div[data-view=vertical] .element:nth-child(odd) h4{margin-right:-10px;}
#useractivity-widget div[data-view=vertical] .element:nth-child(odd),#useractivity-widget div[data-view=vertical] .element:nth-child(even){margin-top:-50px!important;padding:0;width:50%;}
#useractivity-widget div[data-view=vertical] [data-activity].element .thumb-wrapper img{-webkit-filter:grayscale(100%);filter:grayscale(100%);opacity:.5;}
#useractivity-widget div[data-view=vertical] [data-activity].element .thumb-wrapper:before{position:relative;text-shadow:0 0 5px rgba(0,0,0,.3);z-index:10;}
#useractivity-widget div[data-view=vertical] [data-activity].element:nth-child(even) .thumb-wrapper:before,#useractivity-widget div[data-view=vertical] [data-activity].element:nth-child(odd) .thumb-wrapper:before{color:#FFF;content:'';display:inline-block;font-family:"Font Awesome 5 Pro";font-size:1.5rem;line-height:1;margin:0;}
#useractivity-widget div[data-view=vertical] div[data-activity*=CONTENT_RESHARE] .thumb-container:after{border-color:#2bafac!important;}
#useractivity-widget div[data-view=vertical] div[data-activity*=CONTENT_RESHARE] .thumb-wrapper{background:#2bafac;}
#useractivity-widget div[data-view=vertical] div[data-activity*=CONTENT_RESHARE] h4{background:#2bafac;border:1px solid #2bafac;z-index:10;}
#useractivity-widget div[data-view=vertical] div[data-activity*=CONTENT_RESHARE] h4 *{color:#2bafac;}
#useractivity-widget div[data-view=vertical] div[data-activity*=CONTENT_RESHARE] h4:hover *,#useractivity-widget div[data-view=vertical] div[data-activity*=CONTENT_RESHARE] h4:active *{background:#2bafac;color:#FFF!important;}
#useractivity-widget div[data-view=vertical] div[data-activity*=CONTENT_RESHARE].element:nth-child(even) .thumb-wrapper:before,#useractivity-widget div[data-view=vertical] div[data-activity*=CONTENT_RESHARE].element:nth-child(odd) .thumb-wrapper:before{content:'\f1e0';}
#useractivity-widget div[data-view=vertical] div[data-activity*=CONTENT_RESHARE].element:nth-child(even) .top-container:after,#useractivity-widget div[data-view=vertical] div[data-activity*=CONTENT_RESHARE].element:nth-child(odd) .top-container:after{border:3px solid #2bafac!important;}
#useractivity-widget div[data-view=vertical] div[data-activity=COMMENT_ADD] .thumb-container:after,#useractivity-widget div[data-view=vertical] div[data-activity=COMMENT_WITH_ATTACHMENT] .thumb-container:after{border-color:#3f75ba!important;}
#useractivity-widget div[data-view=vertical] div[data-activity=COMMENT_ADD] .thumb-wrapper,#useractivity-widget div[data-view=vertical] div[data-activity=COMMENT_WITH_ATTACHMENT] .thumb-wrapper{background:#3f75ba;}
#useractivity-widget div[data-view=vertical] div[data-activity=COMMENT_ADD] h4 *,#useractivity-widget div[data-view=vertical] divdiv[data-activity=COMMENT_WITH_ATTACHMENT] h4 *{color:#3f75ba;}
#useractivity-widget div[data-view=vertical] div[data-activity=COMMENT_ADD] h4,#useractivity-widget div[data-view=vertical] div[data-activity=COMMENT_WITH_ATTACHMENT] h4{background:#3f75ba;/* border:1px solid #3f75ba; */ z-index:10;}
#useractivity-widget div[data-view=vertical] div[data-activity=COMMENT_ADD] h4:hover *,#useractivity-widget div[data-view=vertical] div[data-activity=COMMENT_ADD] h4:active *,#useractivity-widget div[data-view=vertical] div[data-activity=COMMENT_WITH_ATTACHMENT] h4:hover *,#useractivity-widget div[data-view=vertical] div[data-activity=COMMENT_WITH_ATTACHMENT] h4:active *{background:#3f75ba;color:#FFF!important;}
#useractivity-widget div[data-view=vertical] div[data-activity=COMMENT_ADD].element:nth-child(even) .thumb-wrapper:before, #useractivity-widget div[data-view=vertical] div[data-activity=COMMENT_ADD].element:nth-child(odd) .thumb-wrapper:before, #useractivity-widget div[data-view=vertical] div[data-activity=COMMENT_WITH_ATTACHMENT].element:nth-child(even) .thumb-wrapper:before, #useractivity-widget div[data-view=vertical] div[data-activity=COMMENT_WITH_ATTACHMENT].element:nth-child(odd) .thumb-wrapper:before{content:'\f27a';}
#useractivity-widget div[data-view=vertical] div[data-activity=COMMENT_ADD].element:nth-child(even) .top-container:after,#useractivity-widget div[data-view=vertical] div[data-activity=COMMENT_ADD].element:nth-child(odd) .top-container:after,#useractivity-widget div[data-view=vertical] div[data-activity=COMMENT_WITH_ATTACHMENT].element:nth-child(even) .top-container:after,#useractivity-widget div[data-view=vertical] div[data-activity=COMMENT_WITH_ATTACHMENT].element:nth-child(odd) .top-container:after{border:3px solid #3f75ba!important;}
#useractivity-widget div[data-view=vertical] div[data-activity=CONTENT_ADD].element:nth-child(even) .thumb-wrapper:before,#useractivity-widget div[data-view=vertical] div[data-activity=CONTENT_ADD].element:nth-child(odd) .thumb-wrapper:before{content:'\f15c';}
#useractivity-widget div[data-view=vertical] div[data-activity=CONTENT_FAVOURITE] .thumb-container:after,#useractivity-widget div[data-view=vertical] div[data-activity=COMMENT_VOTE] .thumb-container:after{border-color:#c2dd31!important;}
#useractivity-widget div[data-view=vertical] div[data-activity=CONTENT_FAVOURITE] .thumb-wrapper,#useractivity-widget div[data-view=vertical] div[data-activity=COMMENT_VOTE] .thumb-wrapper{background:#c2dd31;}
#useractivity-widget div[data-view=vertical] div[data-activity=CONTENT_FAVOURITE] h4 *,#useractivity-widget div[data-view=vertical] div[data-activity=COMMENT_VOTE] h4 *{color:#c2dd31;}
#useractivity-widget div[data-view=vertical] div[data-activity=CONTENT_FAVOURITE] h4,#useractivity-widget div[data-view=vertical] div[data-activity=COMMENT_VOTE] h4{background:#c2dd31;/* border:1px solid #c2dd31; */z-index:10;}
#useractivity-widget div[data-view=vertical] div[data-activity=CONTENT_FAVOURITE] h4:hover *,#useractivity-widget div[data-view=vertical] div[data-activity=CONTENT_FAVOURITE] h4:active *,#useractivity-widget div[data-view=vertical] div[data-activity=COMMENT_VOTE] h4:hover *,#useractivity-widget div[data-view=vertical] div[data-activity=COMMENT_VOTE] h4:active *{background:#c2dd31;color:#FFF!important;}
#useractivity-widget div[data-view=vertical] div[data-activity=CONTENT_FAVOURITE].element:nth-child(even) .thumb-wrapper:before,#useractivity-widget div[data-view=vertical] div[data-activity=CONTENT_FAVOURITE].element:nth-child(odd) .thumb-wrapper:before,#useractivity-widget div[data-view=vertical] div[data-activity=COMMENT_VOTE].element:nth-child(even) .thumb-wrapper:before,#useractivity-widget div[data-view=vertical] div[data-activity=COMMENT_VOTE].element:nth-child(odd) .thumb-wrapper:before{content:'\f164';}
#useractivity-widget div[data-view=vertical] div[data-activity=CONTENT_FAVOURITE].element:nth-child(even) .top-container:after,#useractivity-widget div[data-view=vertical] div[data-activity=CONTENT_FAVOURITE].element:nth-child(odd) .top-container:after,#useractivity-widget div[data-view=vertical] div[data-activity=COMMENT_VOTE].element:nth-child(even) .top-container:after,#useractivity-widget div[data-view=vertical] div[data-activity=COMMENT_VOTE].element:nth-child(odd) .top-container:after{border:3px solid #c2dd31!important;}
#useractivity-widget div[data-view=vertical] div[data-activity=CONTENT_RATE] .thumb-container:after,#useractivity-widget div[data-view=vertical] div[data-activity=GENERIC_EXTERNAL_SOURCEL] .thumb-container:after{border-color:#f99d1b!important;}
#useractivity-widget div[data-view=vertical] div[data-activity=CONTENT_RATE] .thumb-wrapper,#useractivity-widget div[data-view=vertical] div[data-activity=GENERIC_EXTERNAL_SOURCE] .thumb-wrapper{background:#f99d1b;}
#useractivity-widget div[data-view=vertical] div[data-activity=CONTENT_RATE] h4 *,#useractivity-widget div[data-view=vertical] div[data-activity=GENERIC_EXTERNAL_SOURCE] h4 *{color:#f99d1b;}
#useractivity-widget div[data-view=vertical] div[data-activity=CONTENT_RATE] h4,#useractivity-widget div[data-view=vertical] div[data-activity=GENERIC_EXTERNAL_SOURCE] h4{background:#f99d1b;/* border:1px solid #f99d1b; */z-index:10;}
#useractivity-widget div[data-view=vertical] div[data-activity=CONTENT_RATE] h4:hover *,#useractivity-widget div[data-view=vertical] div[data-activity=CONTENT_RATE] h4:active *,#useractivity-widget div[data-view=vertical] div[data-activity=GENERIC_EXTERNAL_SOURCE] h4:hover *,#useractivity-widget div[data-view=vertical] div[data-activity=GENERIC_EXTERNAL_SOURCE] h4:active *{background:#f99d1b;color:#FFF!important;}
#useractivity-widget div[data-view=vertical] div[data-activity=CONTENT_RATE].element:nth-child(even) .thumb-wrapper:before,#useractivity-widget div[data-view=vertical] div[data-activity=CONTENT_RATE].element:nth-child(odd) .thumb-wrapper:before{content:'\f005';}
#useractivity-widget div[data-view=vertical] div[data-activity=CONTENT_RATE].element:nth-child(even) .top-container:after,#useractivity-widget div[data-view=vertical] div[data-activity=CONTENT_RATE].element:nth-child(odd) .top-container:after,#useractivity-widget div[data-view=vertical] div[data-activity=GENERIC_EXTERNAL_SOURCE].element:nth-child(even) .top-container:after,#useractivity-widget div[data-view=vertical] div[data-activity=GENERIC_EXTERNAL_SOURCE].element:nth-child(odd) .top-container:after{border:3px solid #f99d1b!important;}
#useractivity-widget div[data-view=vertical] div[data-activity=COURSE_COMPLETED] .thumb-container:after,#useractivity-widget div[data-view=vertical] div[data-activity=CONTENT_ADD] .thumb-container:after{border-color:#47b649!important;}
#useractivity-widget div[data-view=vertical] div[data-activity=COURSE_COMPLETED] .thumb-wrapper,#useractivity-widget div[data-view=vertical] div[data-activity=CONTENT_ADD] .thumb-wrapper{background:#47b649;}
#useractivity-widget div[data-view=vertical] div[data-activity=COURSE_COMPLETED] h4 *,#useractivity-widget div[data-view=vertical] div[data-activity=CONTENT_ADD] h4 *{color:#47b649;}
#useractivity-widget div[data-view=vertical] div[data-activity=COURSE_COMPLETED] h4,#useractivity-widget div[data-view=vertical] div[data-activity=CONTENT_ADD] h4{background:#47b649; /* border:1px solid #47b649; */z-index:10;}
#useractivity-widget div[data-view=vertical] div[data-activity=COURSE_COMPLETED] h4:hover *,#useractivity-widget div[data-view=vertical] div[data-activity=COMMENT_ADD] h4:active *,#useractivity-widget div[data-view=vertical] div[data-activity=CONTENT_ADD] h4:hover *,#useractivity-widget div[data-view=vertical] div[data-activity=CONTENT_ADD] h4:active *{background:#47b649;color:#FFF!important;}
#useractivity-widget div[data-view=vertical] div[data-activity=COURSE_COMPLETED].element:nth-child(even) .thumb-wrapper:before,#useractivity-widget div[data-view=vertical] div[data-activity=COURSE_COMPLETED].element:nth-child(odd) .thumb-wrapper:before{content:'\f00c';}
#useractivity-widget div[data-view=vertical] div[data-activity=COURSE_COMPLETED].element:nth-child(even) .top-container:after,#useractivity-widget div[data-view=vertical] div[data-activity=COURSE_COMPLETED].element:nth-child(odd) .top-container:after,#useractivity-widget div[data-view=vertical] div[data-activity=CONTENT_ADD].element:nth-child(even) .top-container:after,#useractivity-widget div[data-view=vertical] div[data-activity=CONTENT_ADD].element:nth-child(odd) .top-container:after{border:3px solid #47b649!important;}
#useractivity-widget div[data-view=vertical] div[data-activity=GENERIC_EXTERNAL_SOURCE].element:nth-child(even) .thumb-wrapper:before,#useractivity-widget div[data-view=vertical] div[data-activity=GENERIC_EXTERNAL_SOURCE].element:nth-child(odd) .thumb-wrapper:before{content:'\f022';}
#useractivity-widget div[data-view=vertical] div[data-activity] h4{background:#FFF!important;}
#useractivity-widget div[data-view=vertical] div[data-activity].element:nth-child(even) h4 span:before{content:'\f053';display:inline-block;font-family:"Font Awesome 5 Pro";font-size:.8em;line-height:1;margin-left:-3px;margin-right:5px;}
#useractivity-widget div[data-view=vertical] div[data-activity].element:nth-child(odd) h4 span:after{content:'\f054';display:inline-block;font-family:"Font Awesome 5 Pro";font-size:.8em;line-height:1;margin-left:5px;margin-right:-3px;}
#useractivity-widget div[data-view=vertical] h2{font-size:1rem;margin:10px 0;}
#useractivity-widget div[data-view=vertical] h4{background:#ccc;border-radius:100px;display:inline-block;font-size:1.5em;margin:5px 0 0;max-width:99%;overflow:hidden;position:relative;z-index:10;}
#useractivity-widget div[data-view=vertical] h4 span{color:inherit;display:inline-block;font-size:.6em;font-weight:400;line-height:0;max-width:100%;}
#useractivity-widget div[data-view=vertical] h4 span,div[data-view=masonry] h4 span{color:#FFF;display:inline-block;font-size:.8rem;font-weight:400;padding:5px 10px;}
#useractivity-widget div[data-view=vertical] h4,div[data-view=masonry] h4{background:red;border-radius:100px;display:inline-block;margin:5px 0 0 0;}
#useractivity-widget div[data-view=vertical]:before{content:'';display:block;height:calc(100% + 40px);left:calc(50% - 2px);min-height:100%;position:absolute;top:-40px;width:4px;}
#useractivity-widget input[type=radio] + label{background-color:#FFF;border-bottom:none;border-color:transparent;border-radius:0;color:#999;font-size:.7em;padding:9px 16px;text-transform:uppercase; line-height:2rem; box-shadow:none;}
#useractivity-widget input[type=radio]:checked + label{-webkit-box-shadow:none;background-color:transparent;border-bottom:none;box-shadow:none;color:#333;overflow:visible;position:relative;}
#useractivity-widget input[type=radio]:checked + label span.activity-name, #useractivity-widget input[type=radio]:checked [for="activity-ALL"] {font-weight:700;}
#useractivity-widget input[type=radio] + label:after { height:4px;bottom:-3px;content:'';display:block;left:0;position:absolute;width:100%;z-index:10; border-radius:10px; transform:scale(0); transition: transform .3s ease-in-out; }
#useractivity-widget input[type=radio]:checked + label:after{transform: scale(1); 	}

#useractivity-widget span.activity-name { display:none;}

input[type=radio]:checked + label[for=activity-CONTENT_ADD]:after {
	background:#47b649;
}
input[type=radio]:checked + label[for=activity-CONTENT_RATE] :after {
	background:#f99d1b;
}

input[type=radio]:checked + label[for=activity-CONTENT_RATE]:after {
	background:#f99d1b;
}
input[type=radio]:checked + label[for=activity-CONTENT_RESHARE]:after {
	background:#2bafac;
}
input[type=radio]:checked + label[for=activity-COMMENT_ADD]:after {
	background:#3f75ba;
}
input[type=radio]:checked + label[for=activity-LIKE]:after {
	background:#c2dd31;
}

.activity-counters { display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-align:center; -ms-flex-align:center; align-items:center; -webkit-box-pack:center; -ms-flex-pack:center; justify-content:center;  width:100%;}
.activity-counters div.activity-counter-item:before{content:''; display:block; font-family:"Font Awesome 5 Pro"; font-size:1.5rem;}
.activity-counters div.activity-counter-item[activity-type=CONTENT_ADD]:before{content:'\f15c';}
.activity-counters div.activity-counter-item[activity-type=CONTENT_RATE]:before{content:'\f005';}
.activity-counters div.activity-counter-item[activity-type=CONTENT_RESHARE]:before{content:'\f1e0';}
.activity-counters div.activity-counter-item[activity-type=COMMENT_ADD]:before{content:'\f27a';}
.activity-counters div.activity-counter-item[activity-type=LIKE]:before{content:'\f164';}


.activity-counter-item { vertical-align:top; padding:10px 0; text-align:center; -webkit-box-flex: 1; -ms-flex: 1 1 0px; flex: 1 1 0}
.activity-count { font-size:2.5rem; line-height: 4rem; font-weight: bold; font-family:Montserrat, sans-serif;}
.filters-wrapper { padding:20px 0 0 0; border-bottom: 2px solid rgba(0,0,0, .05);}
.profilo-header {background:#f6f7f8; border-bottom:1px solid #efefef;}
.activity-counters, .user-infos{ background:transparent;}
.no-activities {
	border-top: none;
	padding: 20px;
	text-align: center;
}
.activity-counters .activity-title { font-weight:normal; text-transform: uppercase; font-size:.6em;}
.profilo-header .userInfo-container { border: 0; padding:20px 0 20px 20px;}
.profilo-header .userInfo-container label {color:#999;}
.profilo-header .activity-counters label {display: inline-block;padding: 0px;text-transform: uppercase;font-size: 9px;color: #ddd;font-weight: bold;margin: 0;color:#999;}
[for=activity-CONTENT_RESHARE]:before{content:'\f1e0'; color:#2bafac;}
[for=activity-CONTENT_ADD]:before{content:'\f15c'; color:#47b649;}
[for=activity-CONTENT_RATE]:before {content: '\f005';color: #f99d1b;}
[for=activity-COMMENT_ADD]:before{content:'\f27a'; color:#3f75ba;}
[for=activity-LIKE]:before{content:'\f164'; color:#c2dd31;}
#useractivity-widget div[data-view=vertical] .element:nth-child(odd) .top-container:after{content:'';display:block;position:absolute;z-index:20;top:31px;right:-0.15rem;background:white;border:3px solid #ccc;width:13px;height:13px;border-radius:100%;}
#useractivity-widget div[data-view=vertical] .element:nth-child(even) .top-container:after{ content:''; display:block; position:absolute; z-index:20; top:31px; left:-.4em; right:inherit; background:white; border:3px solid #ccc; width:13px; height:13px; border-radius:100%;}
#useractivity-widget div[data-view=vertical]:before{ content:''; display: block; width:4px; min-height:100%; position: absolute; left:calc(50% - 2px); background:rgba(0,0,0,.05); top: -40px; height: calc(100% + 40px);}


[for^=activity-]:before{border-radius:3rem; font-weight: lighter; color:#FFF;display:inline-block;font-family:"Font Awesome 5 Pro";font-size:1.2rem; height:2rem;line-height:2rem; text-align:center;vertical-align:middle;width:2rem;}
.activity-value{ border-top-right-radius:35px; border-bottom-right-radius:35px;color:#FFF; display:inline-block;font-size:1em;height:25px;line-height:25px;margin:0 7px 0 0;text-align:center;vertical-align:middle;min-width:25px; padding-left:5px; padding-right:10px;}
[for=activity-COMMENT_ADD]:before,[for=activity-COMMENT_WITH_ATTACHMENT]:before{color:#3f75ba;content:'\f27a';}
/* 	[for=activity-COMMENT_ADD] .activity-value,[for=activity-COMMENT_WITH_ATTACHMENT] .activity-value {background:#3f75ba} */
#activity-CONTENT_ADD:checked + [for=activity-CONTENT_ADD]:before {color: #47b649;}
[for=activity-CONTENT_ADD]:before{color:inherit;content:'\f15c';}
/* 	[for=activity-CONTENT_ADD] .activity-value{background:#47b649} */
#activity-CONTENT_RATE:checked + [for=activity-CONTENT_RATE]:before {color: #f99d1b;}
[for=activity-CONTENT_RATE]:before{color:inherit;content:'\f005';}
/* 	[for=activity-CONTENT_RATE] .activity-value{background:#f99d1b;} */
#activity-CONTENT_RESHARE:checked + [for=activity-CONTENT_RESHARE]:before {color: #2bafac;}
[for=activity-CONTENT_RESHARE]:before{color:inherit;content:'\f1e0';}
/* 	[for=activity-CONTENT_RESHARE] .activity-value{background:#2bafac;} */
#activity-COURSE_COMPLETED:checked + [for=activity-COURSE_COMPLETED]:before {color: #47b649;}
[for=activity-COURSE_COMPLETED]:before{color:inherit;content:'\f00c';}
/* 	[for=activity-COURSE_COMPLETED] .activity-value{background:#47b649} */
#activity-GENERIC_EXTERNAL_TYPE:checked + [for=activity-GENERIC_EXTERNAL_TYPE]:before {color: #f99d1b;}
[for=activity-GENERIC_EXTERNAL_TYPE]:before{color:inherit;content:'\f022';}
/* 	[for=activity-GENERIC_EXTERNAL_TYPE] .activity-value{background:#f99d1b} */
#activity-LIKE:checked + [for=activity-LIKE]:before {color: #c2dd31;}
[for=activity-LIKE]:before{color:inherit;content:'\f164';}
/* 	[for=activity-LIKE] .activity-value{background:#c2dd31;} */
#activity-COMMENT_ADD:checked + [for=activity-COMMENT_ADD]:before {color: #3f75ba;}
[for=activity-COMMENT_ADD]:before{content:'\f27a'; color:inherit;}

/* Icone in masonry view */
#useractivity-widget div[data-view=masonry] .element .activity-type h4:before {
	content: '';
	font-family: "Font Awesome 5 Pro";
	font-size: 1rem;
	display: inline-block;
	color: white;
	margin: 0 10px 0 0;
	line-height: 1;
	font-weight: lighter;
}
#useractivity-widget div[data-view=masonry] [data-activity=CONTENT_ADD].element .activity-type h4:before {
	content: '\f15c';
	color:#47b649;
}
#useractivity-widget div[data-view=masonry] [data-activity=COMMENT_ADD].element .activity-type h4:before {
	content: '\f27a';
	color:#3f75ba;
}

#useractivity-widget div[data-view=masonry] [data-activity=CONTENT_RESHARE].element .activity-type h4:before,
#useractivity-widget div[data-view=masonry] [data-activity=CONTENT_RESHARE_USER].element .activity-type h4:before {
	content: '\f1e0';
	color:#2bafac;
}
#useractivity-widget div[data-view=masonry] [data-activity=CONTENT_RATE].element .activity-type h4:before {
	content: '\f005';
	color:#f99d1b;
}
#useractivity-widget div[data-view=masonry] [data-activity=CONTENT_FAVOURITE].element .activity-type h4:before {
	content: '\f164';
	color:#c2dd31;
}