section.section.section--nav.mt-2.pt-2.ifIsVisible
    ul.nav.nav-tabs.justify-content-center(role='tablist')
        li.nav-item.active
            a.nav-link.active.semib.t-14.text-uppercase(data-toggle='tab', href='#partnership', role='tab', aria-controls='home', aria-selected='true') Partnership
        li.nav-item
            a#profile-tab.nav-link.semib.t-14.text-uppercase(data-toggle='tab', href='#benefits', role='tab', aria-controls='profile', aria-selected='false') Benefits
    .tab-content
        #partnership.tab-pane.fade.active.in(role='tabpanel', aria-labelledby='home-tab')
            ul.d-flex.list-unstyled.justify-content-center.align-items-center
                li.bw
                    a(href="#")
                        img(src="img/partners/boggimilano_logo.svg")
                li.bw
                    a(href="#")
                        img(src="img/partners/nomentana.svg")
                li.bw
                    a(href="#")
                        img(src="img/partners/bertelli.svg")
                li.bw
                    a(href="#")
                        img(src="img/partners/padel.svg")
                li.bw
                    a(href="#")
                        img(src="img/partners/warew.svg")
                li.bw
                    a(href="#")
                        img(src="img/partners/gallia.svg")
        #benefits.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab')
            ul.d-flex.list-unstyled.justify-content-center.align-items-center.align-items-center
                li.bw
                    a(href="#")
                        img(src="img/partners/boggimilano_logo.svg")
                li.bw
                    a(href="#")
                        img(src="img/partners/nomentana.svg")
                li.bw
                    a(href="#")
                        img(src="img/partners/bertelli.svg")
                li.bw
                    a(href="#")
                        img(src="img/partners/padel.svg")
                li.bw
                    a(href="#")
                        img(src="img/partners/warew.svg")
                li.bw
                    a(href="#")
                        img(src="img/partners/gallia.svg")