section.section.top-entry.top-entry--events
    .row.row-flex.scheda.align-items-center
        .col-xs-12.col-sm-5.h100
            .square-mask.reverse.zoomIn.animated(style={"background-image": "url('img/events.png');"})
        .col-xs-12.col-sm-1
        .col-xs-12.col-sm-6
            .text-wrap.slideInLeft.animated
                h1 Events
                h2.blue.open Lorem ipsum dolor sit amet adipiscing elit etiam facilisis, nibh at efficitur bibendum, elit dolor fermentum erat
            .text-wrap.slideInLeft.animated.delayed--1
                a(href="#").mt-2.btn.btn--blue.btn-small join us