.image.wide{width:100%;}
.image.pull-right{float:right;max-width:50%;margin: 0 0 0 1rem;}
.image.pull-left{float:left;max-width:50%;margin: 0 1rem 0 0;}

[data-type*='cke-image'] img{
	min-width:100%;
}

.text-color-01 {color:#337ab7;}
.text-color-02 {color:#C62E29;}
.text-color-03 {color:#337ab7;}
.text-color-04 {color:#1498d5;}
.text-color-05 {color:#F69175;}
.text-color-06 {color:#749E76;}
.text-color-07 {color:#A1B575;}
.text-color-08 {color:#DBC07C;}

[class*="bg-color-"].p-0_5 { padding:.5rem;}
.bg-color-01, a[title="Background-Color-01"]:not(:hover) {background-color:#337ab7; color:white!important;}
.bg-color-02, a[title="Background-Color-02"]:not(:hover) {background-color:#C62E29; color:white!important;}
.bg-color-03, a[title="Background-Color-03"]:not(:hover) {background-color:#337ab7; color:white!important;}
.bg-color-04, a[title="Background-Color-04"]:not(:hover) {background-color:#f1f1f1; color:inherit!important;}
.bg-color-05, a[title="Background-Color-05"]:not(:hover) {background-color:#F69175; color:white!important;}
.bg-color-06, a[title="Background-Color-06"]:not(:hover) {background-color:#749E76; color:white!important;}
.bg-color-07, a[title="Background-Color-07"]:not(:hover) {background-color:#A1B575; color:white!important;}
.bg-color-08, a[title="Background-Color-08"]:not(:hover) {background-color:#DBC07C; color:white!important;}


blockquote p.bg-color-03,
table caption.bg-color-03,
table caption.bg-color-01+tbody>tr>th[scope="row"],
[data-type*="quote-02"] blockquote p.bg-color-01:after {
	background:#337ab7;
	color: #fff;
}

blockquote p.bg-color-04,
table caption.bg-color-04,
table caption.bg-color-03+tbody>tr>th[scope="row"],
table[data-type='cke-table-02'] tbody>tr>th[scope="row"],
[data-type*="quote-02"] blockquote p.bg-color-03:after {
	background:#f1f1f1;
}

.cke-h2{ color:#337ab7}
.cke-h3{ color:#337ab7}
.cke-h4{ color:#337ab7}

@media (max-width:768px) {
	.image.wide{width:100%;}
	.image.pull-right{float:none;max-width:100%;margin: 0 0 .5rem .5rem;}
	.image.pull-left{float:none;max-width:100%;margin: 0 .5rem .5rem 0}
}


.img-notes { display:block; padding:.5rem 0;}
.quote-notes { display:block; margin-bottom:1.5rem;}

.content_details .nav-tabs { border:0; position:relative; }
.content_details .nav-tabs:before {
	content:'';
	display:block;
	width:100%;
	height:5px;
	position:absolute;
	left:0;
	bottom:0;
	background: #F0F0F0;
}

.content_details .nav-tabs>li>a {
	margin-right: 2px;
	line-height: 1.42857143;
	border: 1px solid transparent;
	border-radius: 0;
	position:relative;
	color:inherit;
}
.content_details .nav-tabs>li>a:after {
	content:'';
	display:block;
	margin-bottom:0;
	width:100%;
	height:0;
	background:rgba(0,0,0,0);
	position:absolute;
	bottom:0;
	left:0;
   	transition:all .3s ease-in-out;
   	
}

.content_details .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	color: inherit;
	background-color: transparent;
	border: 1px solid transparent;
	border-bottom-color: transparent;
	cursor: default;
	color:#337ab7;
}
.content_details .nav-tabs>li.active>a:after, .nav-tabs>li.active>a:hover:after, .nav-tabs>li.active>a:focus:after{
	background:#337ab7;
	height:5px;
}
.content_details .nav-tabs>li>a:hover {
	border-color: transparent;
	background-color: transparent;
}
.content_details .nav-tabs>li>a:hover:after {
	background:rgba(0,0,0, .1);
	height:5px;
}

/* ckEditor Dropdown*/
.panel-title { font-weight:normal; font-size: 1.125rem;}
.panel-title.collapsible-item-title { font-size: 1.125rem;}
a.collapsible-item-title-link-icon{ display:inline-block; margin-left: 1.5rem}
.panel.panel-default.collapsible-item:nth-of-type(1){
	border-top: 1px solid #eee!important;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body{ border:0; padding-right:3rem;}
.panel.panel-default.collapsible-item {
	margin-bottom:0;
	border:0;
	border-bottom: 1px solid #eee;
	box-shadow:none;
}

.panel.panel-default.collapsible-item + .panel.panel-default.collapsible-item {
	margin-top:0;
}

.panel-default > .panel-heading {
	color: inherit;
	background-color: #fff;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	color:#337ab7;
	padding:1rem 0;
}

.panel-default [aria-expanded=true] .glyphicon.glyphicon-chevron-down:before {
	content: "\f077";
    font-family: "Font Awesome 5 Pro"!important;
	color:#337ab7;
}
.panel-default [aria-expanded=false] .glyphicon.glyphicon-chevron-down:before {
	content: "\f078";
    font-family: "Font Awesome 5 Pro"!important;
	color:#337ab7;

}
.plugin_contentDetailWidget .panel { margin-top:1rem; margin-bottom:1rem;}

/* VIDEO */
#home-wrapcontent .vjs-default-skin .vjs-big-play-button {
	-moz-border-radius: 50%;
	-moz-box-shadow: 0 0 1em rgba(255,255,255,0.25);
	-moz-transition: all .4s;
	-o-transition: all .4s;
	-webkit-border-radius: 50%;
	-webkit-box-shadow: 0 0 1em rgba(255,255,255,0.25);
	-webkit-transition: all .4s;
	background-color: rgba(7,20,30,0.7);
	border: 0;
	border-radius: 50%;
	box-shadow: 0 0 1em rgba(255,255,255,0.25);
	cursor: pointer;
	display: block;
	font-size: 3rem;
	line-height: 1.3;
	height: 4rem;
	left: 50%;
	margin-left: -2rem;
	margin-top: -2rem;
	opacity: 1;
	position: absolute;
	text-align: center;
	top: 50%;
	transition: all .4s;
	vertical-align: middle;
	width: 4rem;
	z-index: 2;
}
#home-wrapcontent .vjs-default-skin.vjs-has-started:not(.vjs-ended) .vjs-big-play-button{ display:none;}

#home-wrapcontent .vjs-default-skin .vjs-big-play-button:before{margin-left:.1em;margin-top:-.1em;}

/* Elenchi puntati e numerati */

.content-description .ck-tmp-wrapper ul:not(.nav),
.cke_editable .ck-tmp-wrapper ul:not(.nav) { padding: 1rem;}

.content-description .ck-tmp-wrapper ol:not(.nav),
.cke_editable .ck-tmp-wrapper ol { padding: 1rem;}

.content-description ul:not(.nav) > li,
.cke_editable ul:not(.nav) > li { list-style:none; padding:.5rem 0}

.content-description ol:not(.nav) > li,
.cke_editable ol > li { list-style:none; padding:.5rem 0}


.content-description ul:not(.nav) > li:before,
.cke_editable ul:not(.nav) > li:before {
	content: '';
    display: inline-block;
    margin-right: .5rem;
    width: .4rem;
    height: .4rem;
    background-color: #337ab7;
    vertical-align: top;
    border-radius: 50%;
    margin-left: -1.5rem;
    float: left;
    margin-top: .6rem;
}
.content-description ol,
.cke_editable ol {
	counter-reset: ol-counter;
}
.content-description ol:not(.nav) > li:before,
.cke_editable ol > li:before {
	content: counter(ol-counter);
	counter-increment: ol-counter;
    display: inline-block;
    margin-right: .5rem;
    vertical-align: top;
    margin-left: -1.5rem;
    float: left;
    margin-top: .6rem;
    line-height:0;
    color: #337ab7;
    font-size:.8rem;
}


.content-description ul:not(.nav) > li > ul > li:before,
.cke_editable ul:not(.nav) > li > ul > li:before {
	content:'';
	width:.4rem;
	height: .1rem;
	border-radius: 0;
}
.content-description ul:not(.nav) > li > ul > li > ul > li:before,
.cke_editable ul:not(.nav) > li > ul > li > ul > li:before {
	content:'';
	width:.2rem;
	height: .1rem;
	border-radius: 0;
}
.content-description ul:not(.nav) > li > h1,
.content-description ul:not(.nav) > li > h2,
.content-description ul:not(.nav) > li > h3,
.content-description ul:not(.nav) > li > h4,
.content-description ul:not(.nav) > li > h5,
.content-description ul:not(.nav) > li > p,
.content-description ul:not(.nav) > li > div,
.cke_editable ul:not(.nav) > li > h1,
.cke_editable ul:not(.nav) > li > h2,
.cke_editable ul:not(.nav) > li > h3,
.cke_editable ul:not(.nav) > li > h4,
.cke_editable ul:not(.nav) > li > h5,
.cke_editable ul:not(.nav) > li > p,
.cke_editable ul:not(.nav) > li > div{
    display:inline-block;
	margin-top:0;
	margin-bottom:0;
	margin-left:-0.25rem;
}


