

/* CUSTOM BOOTSTRAP TABS */

/* GESTIONE TABS RESPONSIVE */ 
@media (max-width: 767px) {

 .bootstrap-tabs .nav-tabs {
 	position:relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
	overflow-x: auto;
	padding:10px!important;
}
.bootstrap-tabs .nav-tabs > li {
	flex: 0 0 auto;
}

.bootstrap-tabs .nav-tabs:before { 
	display:none;
}


/* 	.nav-tabs>li:not.active>a:after { */
/* 		display:none; */
/* 	} */
/* 	.bootstrap-tabs .nav:not(.nav-tools) > li { */
/* 		width: 100%; */
/* 		float: none; */
/* 		margin: 0 auto; */
/* 		text-align:center; */
/* 	} */
/* 	.bootstrap-tabs .nav-tabs { */
/* 	overflow: hidden; */
/* 	position: relative; */
/* 	} */
/* 	.bootstrap-tabs .tab-content { */
/* 		padding: 2rem 0; */
/* 	} */

	
/* 	.bootstrap-tabs{ position:relative;} */
	
	
/* 	.bootstrap-tabs .nav-tabs.open > li.active > a { */
/* 	background-color: #fff; */
/* 	} */
/* 	.bootstrap-tabs .nav-tabs li { */
/* 	display: block; */
/* 	padding: 0; */
/* 	vertical-align: bottom; */
/* 	} */
/* 	.bootstrap-tabs .nav-tabs > li > a { */
/* 	position: absolute; */
/* 	top: 0; */
/* 	left: 0; */
/* 	margin: 0; */
/* 	width: 100%; */
/* 	height: 100%; */
/* 	display: inline-block; */
/* 	border-color: transparent; */
/* 	} */
/* 	.bootstrap-tabs .nav-tabs > li > a:focus, */
/* 	.bootstrap-tabs .nav-tabs > li > a:hover, */
/* 	.bootstrap-tabs .nav-tabs > li > a:active { */
/* 	border-color: transparent; */
/* 	} */
/* 	.bootstrap-tabs .nav-tabs > li.active > a { */
/* 	display: block; */
/* 	border-color: transparent; */
/* 	position: relative; */
/* 	z-index: 1; */
/* 	background: #fff; */
/* 	text-align:center; */
/* 	} */
/* 	.bootstrap-tabs .nav-tabs > li.active > a:focus, */
/* 	.bootstrap-tabs .nav-tabs > li.active > a:hover, */
/* 	.bootstrap-tabs .nav-tabs > li.active > a:active { */
/* 	border-color: transparent; */
/* 	} */
	
	
/* Gestione interazioni */
	
/* 	.bootstrap-tabs::before { */
/* 	content: "\f078"; */
/* 	font-family:'Font Awesome 5 Pro'; */
/* 	position: absolute; */
/* 	font-size:1.3rem; */
/* 	width:3rem; */
/* 	height:3rem; */
/* 	top:0; */
/* 	right:0; */
/* 	transform:translate(0rem, 0rem); */
/* 	background: #ccc; */
/* 	z-index: 10; */
/* 	pointer-events: none; */
/* 	 -webkit-transition: -webkit-transform .3s ease; */
/* 	transition: -webkit-transform .3s ease; */
/* 	-o-transition: transform .3s ease; */
/* 	transition: transform .3s ease; */
/* 	transition: transform .3s ease, -webkit-transform .3s ease; */
/* 	-webkit-transform-origin: center center; */
/* 	-ms-transform-origin: center center; */
/* 	transform-origin: center center; */
/* 	padding:.5rem; */
	
/* 	} */

/* 	.bootstrap-tabs .nav-tabs:hover li, */
/* 	.bootstrap-tabs .nav-tabs:active li, */
/* 	.bootstrap-tabs .nav-tabs:focus li{ */
/* 	} */
	
/* 	.bootstrap-tabs .nav-tabs:hover a, */
/* 	.bootstrap-tabs .nav-tabs:active a, */
/* 	.bootstrap-tabs .nav-tabs:focus a{ */
/* 	position: relative; */
/* 	display: block; */
/* 	} */
}
