/* Component basic layout rules */

.tt-componentCardsStyle02 {
	overflow:hidden;
	min-height:300px;
}

.tt-componentCardsStyle02 .card-info,
.tt-componentCardsStyle02 .card-reveal-info {
	transition: transform .4s ease-in-out;
}

.tt-componentCardsStyle02.card-info .card-title{
	margin-top:0;
	transition: margin-top .4s ease-in-out;
}

.tt-componentCardsStyle02 .card-reveal-info {
	display:none;
	align-items:center;
	padding:0.5rem 1rem;
	transition: opacity .4s ease-in-out,box-shadow .3s ease-out;
	opacity:0;
	background:white;
	position:absolute;
	height:100%;
	width:100%;
	bottom:0;
	left:0;
}

.tt-componentCardsStyle02 .card-reveal-trigger:hover ~ .card-info,
.tt-componentCardsStyle02 .card-reveal-trigger:not(:hover) ~ .card-reveal-info:hover ~ .card-info {
	transform: scale(0);
}

.tt-componentCardsStyle02 .card-info .card-header {
	background-size: contain;
}

.tt-componentCardsStyle02 .card-reveal-trigger:hover{
	cursor:pointer;
}
.tt-componentCardsStyle02 .card-reveal-trigger:hover ~ .card-reveal-info,
.tt-componentCardsStyle02 .card-reveal-info:hover {
	opacity:1;
	height:auto;
	min-height:100%;
	padding:1rem;
	display:flex;
	flex-wrap:wrap;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	
}

.tt-componentCardsStyle02 .card-reveal-trigger:hover ~ .card-reveal-info > div,
.tt-componentCardsStyle02 .card-reveal-info:hover > div {
	width:100%;
}

.tt-componentCardsStyle02 .tag {
	background-color: #EEEDEE;
	padding: .25rem .75rem;
	border-radius: 3rem;
	margin: .15rem;
}

.tt-componentCardsStyle02 .tag + .tag {
	background-color: #EEEDEE;
	padding: .25rem .75rem;
	border-radius: 3rem;
	margin: .15rem;
	}