/* Component basic layout rules */
.cards-wrapper {
	overflow:hidden;
}
.cards-wrapper .contents_wrapper{
	display:flex;
	flex-wrap:wrap;
	flex-flow:row;
	padding:1.5rem 0;
	overflow:visible;
}
.cards-wrapper.cards-centered .contents_wrapper{
	justify-content: center;
}

.cards-wrapper .contents_wrapper > div {
	-webkit-box-flex: 0 0 calc(100% / 3);
	-ms-flex: 0 0 calc(100% / 3);
	flex: 0 0 calc(100% / 3);
}
.tt-componentCard {
	background: white!important;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin: 10px;
	-webkit-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
	position: relative;
	z-index: 5;
	height: 100%;
	margin-bottom: 0;
	display: flex;
	flex-direction: column;
	border:1px solid rgba(0,0,0, .1);
	transition: transform .4s ease-in-out,box-shadow .3s ease-in-out;
/* 	box-shadow: 0 .2rem 20px 0 rgba(0,0,0, .05);  */
}
.tt-componentCard.borderless {
	border:0;
}
.tt-componentCard.shadowless{
	box-shadow:none;
}

.tt-componentCard .hover-wrapper {
	height: 100%;
	margin-top: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

}

.tt-componentCard .card-reveal-trigger{
	position:absolute;
	transition: transform .4s ease-in-out ;
	top:0;
	right:0;
	padding:1rem;
	z-index:1;
}
.tt-componentCard:hover {
	transform: scale(1.03);
	box-shadow: 0 5px 35px 0 rgba(0,0,0,.1);
	z-index: 10;	
}
.tt-componentCard:hover .card-reveal-trigger {
	transform: scale(1.2);
}

.template-slickNewsroom .newsroom-message-container {
	z-index: 0;
}

.tt-componentCard .card-type {
	display: inline-block;
	padding: .5rem .9375rem;
	color: #fff;
	font-size: .6875rem;
	position: absolute;
	bottom: 0;
	left: 15px;
	text-transform: uppercase;
}
.tt-componentCard .card-header {
	transition: all .1s ease-in-out;
	margin: -15px -15px 15px;
	position: relative;
	min-height:220px;
}

.tt-componentCard .card-tags {
	margin-top:auto;
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content:center;
}