@media (max-width: 1200px){

}
@media (max-width: 1024px){

}

@media (max-width: 768px) and (orientation:portrait){

}

@media (max-width: 680px){
	.wrapwidg.slickCover  .slider-custom-dots .slick-dots { bottom:-2rem;}
}