/* Component style rules */


	
/* 	.tt-componentCard:before { */
/* 		content:''; */
/* 		display:block; */
/* 		width:calc(100% - 1rem); */
/* 		height:0; */
/* 		position:absolute; */
/* 		top:100%; */
/* 		left:.5rem; */
/* 		box-shadow: 0 0 40px 0 rgba(0,0,0, .3); */
/* 		opacity:.4; */
/* 		z-index:0; */
/* 	} */