footer.main-footer
    .container-fluid
        .row
            .col-xs-12.col-md-3
                a(href="#")
                    img.logo(src="img/logo.svg")
            .col-xs-12.col-md-3
                h3 Bocconi Alumni Community
                ul.list-unstyled
                    li
                        p.small.gray Piazza Sraffa, 15 20136 Milano
                    li
                        p.small.gray +39 02 58365715
                    li
                        p.small.gray +39 02 58365716
                    li
                        a(href="#").small.gray alumni@unibocconi.it
            .col-xs-12.col-md-3
                h3 BocconiSphere
                ul.list-unstyled
                    li
                        a(href="#").small.gray Università Bocconi
                    li
                        a(href="#").small.gray SDA Bocconi
                    li
                        a(href="#").small.gray EGEA

            .col-xs-12.col-md-3
                h3 BocconiSphere
                ul.list-inline
                    li.spacer.circle.blue
                        a(href="#")
                            span.icon.icon-fb
                    li.spacer.circle.blue
                        a(href="#")
                            span.icon.icon-in
                    li.spacer.circle.blue
                        a(href="#")
                            span.icon.icon-youtube
                    li.spacer.circle.blue
                        a(href="#")
                            span.icon.icon-tw

        .row.mt-2
            .col-xs-12.text-center
                ul.list-inline
                    li.spaceDivider
                        a.text-uppercase.small.gray(href="#") Site Map
                    li.spaceDivider
                        a.text-uppercase.small.gray(href="#") DATA PROTECTION
                    li.spaceDivider
                        a.text-uppercase.small.gray(href="#") CREDITS