head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible",content="IE=edge")
	meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1")

	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js")
	script(src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js")

	if(isCommunity === true)
		<!-- Resources -->
		script(src="https://www.amcharts.com/lib/4/core.js")
		script(src="https://www.amcharts.com/lib/4/maps.js")
		script(src="https://www.amcharts.com/lib/4/geodata/continentsLow.js")
		script(src="https://www.amcharts.com/lib/4/themes/animated.js")

	script(src="js/app.js")

	include css.pug

	title Bocconi
