head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible",content="IE=edge")
	meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1")

	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
	script(src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js")


	script(src="js/map-script.js")
	script(src="js/app.js")

	include css.pug

	title Bocconi
