header.main-header
    .d-flex.justify-content-between.align-items-center
        .r-side.d-flex.align-items-center
            .mobile-nav
                nav.navbar.navbar-inverse.navbar-static-top(role='navigation')
                    .navbar-header
                        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse-1')
                            span.icon.icon-menu
                    #navbar-collapse-1.collapse.navbar-collapse.mobile-collapse
                        ul.nav.navbar-nav.list-unstyled.text-center
                            li
                                a.text-uppercase(href="#") community
                            li
                                a.text-uppercase(href="#") events
                            li
                                a.text-uppercase(href="#") career
                            li
                                a.text-uppercase(href="#") Lifelong learning
                            li
                                a.text-uppercase(href="#") giving
                            li
                                a.text-uppercase(href="#") about us
                            li
                                a(href="#").btn.btn--transp.btn--small.text-uppercase give now

            a(href="#")
                img.logo(src="img/logo.svg")
            ul.list-inline.desktop-nav
                li
                    a.text-uppercase(href="#") community
                li
                    a.text-uppercase(href="#") events
                li
                    a.text-uppercase(href="#") career
                li
                    a.text-uppercase(href="#") Lifelong learning
                li
                    a.text-uppercase(href="#") giving
                li
                    a.text-uppercase(href="#") about us
                li
                    a(href="#").btn.btn--transp.btn--small.text-uppercase give now


        .l-side
            ul.list-inline
                if (isprivata === true)
                    li
                        a.ntw(href="#")
                            img(src="img/mynetwork.svg")
                li
                    a(href="#")
                        span.icon.icon-magnifier
                if (isprivata === true)
                    li
                        a(href="#")
                            span.icon.icon-mail
                    li
                        a(href="#")
                            span.icon.icon-alarm
                li
                    a(href="#")
                        span.icon.icon-langENG
                li
                    if (isprivata === true)
                        a(href="#").mt-0
                            .user(style={"background-image": "url('img/user.png');"})
                    else
                        a(href="#")
                            span.icon.icon-user


