@charset "UTF-8";
/* CSS Document */


:root {
    font-size: 16px;
}
h1, h2, h3, h4, h5 {
    font-family: 'EB Garamond', serif;
    line-height: 1.3;
    color: #0088BA;
}
h2, .h2 {
    font-size: 1.625rem;
}
a, a:hover {
    text-decoration: none;
}
html {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}
html body {
    font-size: 16px;
    /* font-family: 'Encode Sans Semi Expanded', sans-serif;*/
    font-family: 'Encode Sans Condensed', sans-serif;
    font-weight: lighter;
    letter-spacing: .03rem;
    line-height: 1.42857143;
    color: #322F31;
    background-color: #fff;
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    background: #fff url(../images/skyline.png) no-repeat center bottom;
    background-size: contain;
    background-attachment: fixed;
}
main {
    min-height: 100%;
}
/* BOOTSTRAP CLASS OVERRIDES */


.d-flex.row:after, .d-flex.row:before {
    display: none;
}
.well-lg {
    padding: 40px 24px;
    border-radius: 0;
}
.well-grid {
    padding: 48px 24px 16px 24px;
}
.panel-body-20 {
    padding: 20px;
}
.panel-body-30 {
    padding: 30px;
}
.panel-body-40 {
    padding: 4vw;
}
.panel-body-l-r-40 {
    padding-left: 40px;
    padding-right: 40px;
}
.modal {
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    align-items: center;
    max-width: 100vw;
}
.modal-content {
    border-radius: 0;
}
.modal-dialog, .modal-body {
    max-width: 100%;
}
/* BUTTONS */
h2 a, h3 a, h4 a, h5 a {
    text-decoration: none!important;
    font-weight: bold!important;
}
.media-subtitle {
    font-family: 'EB Garamond';
    font-weight: normal;
}
.btn {
    padding: 10px 16px;
    font-size: 0.8125rem;
    font-weight: 500;
}
.btn-xs {
    padding: 5px 8px;
    font-size: 0.6125rem;
    font-weight: bold;
}
.dropdown-menu .btn-dark {
    color: #87888A;
}
.btn-dark {
    color: #4A4A4A;
}
.btn-dark:hover {
    color: #0088BA;
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
}
.btn-default {
    border-radius: 50px;
    background: #0088BA;
    color: #fff;
    border: 0;
}
.btn-default [class*=windicon-]::before {
    color: white!important;
}
.btn-circle {
    border-radius: 100%;
    background: #0088BA;
    color: #fff;
    border: 0;
    padding: 0;
    width: 60px;
    height: 60px;
    text-align: center;
}
.btn-bottom-fixed {
    position: fixed;
    right: 15px;
    bottom: 15px;
}
.btn-white {
    border-radius: 50px;
    background: #fff;
    color: #0088BA;
    border: 0;
}
/* END BOOTSTRAP CLASS OVERRIDES */

/* SOME SHADOWS RULES */
.shadow-big {
    -webkit-box-shadow: 0 0 34px 0 rgba(0,0,0,.2);
    box-shadow: 0 0 34px 0 rgba(0,0,0,.2);
}
/* END SOME SHADOWS RULES */


/* FONT CLASSES */
.font-encode {
    font-family: 'Encode Sans Semi Expanded', sans-serif;
}
.font-encode-condensed {
    font-family: 'Encode Sans Condensed', sans-serif;
}
.font-garamond {
    font-family: 'EB Garamond', serif;
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.transitioned-all-ease {
    transition: all .3s ease-in-out;
}
.text-overflow {
    width: auto;
    max-width: 90%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    margin-top: -3px;
}
.overflow-hidden {
    overflow: hidden;
}
.overflow-visible {
    overflow: visible!important;
}
/* CUSTOM BORDERS  */
.b-0 {
    border: none!important;
}
/* CUSTOM MARGINS */
.m-0 {
    margin: 0!important;
}
.m-t-0 {
    margin-top: 0!important;
}
.m-b-0 {
    margin-bottom: 0!important;
}
.m-l-0 {
    margin-left: 0!important;
}
.m-r-0 {
    margin-right: 0!important;
}
.m-t-1 {
    margin-top: 1rem!important;
}
.m-t-2 {
    margin-top: 2rem!important;
}
.m-t-3 {
    margin-top: 3rem!important;
}
.m-t-4 {
    margin-top: 4rem!important;
}
.m-t-5 {
    margin-top: 5rem!important;
}
.m-t-6 {
    margin-top: 6rem!important;
}
.m-b-1 {
    margin-bottom: 1rem!important;
}
.m-b-2 {
    margin-bottom: 2rem!important;
}
.m-b-3 {
    margin-bottom: 3rem!important;
}
.m-b-4 {
    margin-bottom: 4rem!important;
}
.m-b-5 {
    margin-bottom: 5rem!important;
}
.m-b-6 {
    margin-bottom: 6rem!important;
}
.m-r-1 {
    margin-right: 1rem!important;
}
.m-r-2 {
    margin-right: 2rem!important;
}
.m-r-3 {
    margin-right: 3rem!important;
}
.m-r-4 {
    margin-right: 4rem!important;
}
.m-r-5 {
    margin-right: 5rem!important;
}
.m-r-6 {
    margin-right: 6rem!important;
}
/* CUSTOM PADDINGS */
.p-0 {
    padding: 0;
}
.p-t-0 {
    padding-top: 0;
}
.p-b-0 {
    padding-bottom: 0;
}
.p-l-0 {
    padding-left: 0;
}
.p-r-0 {
    padding-right: 0;
}
.p-t-1 {
    padding-top: 1rem;
}
.p-t-2 {
    padding-top: 2rem;
}
.p-t-3 {
    padding-top: 3rem;
}
.p-t-4 {
    padding-top: 4rem;
}
.p-b-1 {
    padding-bottom: 1rem;
}
.p-b-2 {
    padding-bottom: 2rem;
}
.p-b-3 {
    padding-bottom: 3rem;
}
.p-b-4 {
    padding-bottom: 4rem;
}
.p-l-1 {
    padding-left: 1rem;
}
.p-l-2 {
    padding-left: 2rem;
}
.p-l-3 {
    padding-left: 3rem;
}
.p-l-4 {
    padding-left: 4rem;
}
.p-r-1 {
    padding-right: 1rem;
}
.p-r-2 {
    padding-right: 2rem;
}
.p-r-3 {
    padding-right: 3rem;
}
.p-r-4 {
    padding-right: 4rem;
}
/* COLORS */
.bg-white-alpha {
    background-color: rgba(255,255,255, .7);
}
.bg-white {
    background-color: #fff;
}
.bg-grigio-01 {
    background-color: #F4F4F4!important
}
.bg-grigio-02 {
    background-color: #F2F2F2!important
}
.bg-grigio-03 {
    background-color: #4A4A4A!important
}
.bg-grigio-04 {
    background-color: #FAFAFA!important
}
.bg-grigio-05 {
    background-color: #EBEBEB!important
}
.bg-grigio-06 {
    background-color: #333!important
}
.color-dark, .btn-dark {
    color: #322F31!important;
}
.color-light, .btn-light {
    color: #fff;
}
.section-title, .color-primary, .color-primary * {
    color: #0088BA!important;
}
/* OPACITY */
.opacity-1 {
    opacity: .1;
}
.opacity-2 {
    opacity: .2;
}
.opacity-5 {
    opacity: .5;
}
.pos-relative {
    position: relative;
}
.pos-absolute {
    position: absolute;
}
.z-0 {
    z-index: 0;
}
.z-10 {
    z-index: 10;
}
/* SVG IMAGES */
img[src$='.svg'] {
    display: block;
    min-width: 60px;
    height: auto;
}
/* BORDERS  */
.bordered-custom:after {
    content: '';
    display: block;
    border-top: 1px solid rgba(0,137,187, .5);
    width: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 1px;
}
.bordered-top {
    border-top: 1px solid rgba(0,137,187, .5);
}
.bordered-bottom {
    border-bottom: 1px solid rgba(0,137,187, .5);
}
/* LINE HEIGTS */

.lh-1-0, .lh-1-0 * {
    line-height: 1!important;
}
.lh-1-1, .lh-1-1 * {
    line-height: 1.1!important;
}
.lh-1-2, .lh-1-2 * {
    line-height: 1.2!important;
}
.lh-1-3, .lh-1-3 * {
    line-height: 1.3!important;
}
.lh-1-4, .lh-1-4 * {
    line-height: 1.4!important;
}
.lh-1-5, .lh-1-5 * {
    line-height: 1.5!important;
}
.lh-2, .lh-2 * {
    line-height: 2;
}
/* FONT WIGHTS */
.fw-normal {
    font-weight: normal!important;
}
.fw-light {
    font-weight: lighter!important;
}
.fw-bold {
    font-weight: bold!important;
}
/* FONT SIZES */

.fz-850, .fz-850 {
    font-size: .850rem!important;
}
.fz-950, .fz-950 p {
    font-size: .950rem!important;
}
.fz-10 {
    font-size: 0.625rem!important;
}
.fz-11 {
    font-size: 0.6875rem!important;
}
.fz-12 {
    font-size: 0.75rem!important;
}
.fz-13 {
    font-size: 0.8125rem!important;
}
.fz-14 {
    font-size: 0.875rem!important;
}
.fz-15 {
    font-size: 0.9375rem!important;
}
.fz-16 {
    font-size: 1rem!important;
}
.fz-18 {
    /* font-size: 1.125rem; */
    font-size: 1.125rem!important;
}
.fz-19 {
    /* font-size: 1.125rem; */
    font-size: 1.1875rem!important;
}
.fz-20 {
    /* font-size: 20px; */
    font-size: 1.250rem!important;
}
.fz-22 {
    /* /* font-size: 22px; */
    font-size: 1.375rem!important;
}
.fz-24 {
    /* font-size: 24px*/
    font-size: 1.500rem!important;
}
.fz-26 {
    /*font-size: 26px;*/
    font-size: 1.625rem!important;
}
.fz-28 {
    /* font-size: 28px; */
    font-size: 1.750rem!important;
}
.fz-30 {
    /*font-size: 30px;*/
    font-size: 1.875rem!important;
}
.fz-32 {
    /*font-size: 32px;*/
    font-size: 2.000rem!important;
}
.fz-34 {
    /* font-size: 34px; */
    font-size: 2.125rem!important;
}
.fz-36 {
    /*font-size: 36px;*/
    font-size: 2.250rem!important;
}
.fz-38 {
    /*font-size: 38px;*/
    font-size: 2.375rem!important;
}
.fz-40 {
    /*font-size: 40px;*/
    font-size: 2.500rem!important;
}
.fz-42 {
    /*font-size: 42px;*/
    font-size: 2.625rem!important;
}
.fz-44 {
    /*font-size: 44px;*/
    font-size: 2.750rem!important;
}
.fz-46 {
    /*font-size: 46px;*/
    font-size: 2.875rem!important;
}
.fz-48 {
    /*font-size: 48px;*/
    font-size: 3.000rem!important;
}
.fz-50 {
    /* font-size: 60px;*/
    font-size: 3.125rem!important;
}
.fz-60 {
    /* font-size: 60px;*/
    font-size: 3.750rem!important;
}
.fz-70 {
    /* font-size: 70px; */
    font-size: 4.375rem!important;
}
/* Responsive Font-sizes */


/* LAYOUT */
.w-100 {
    width: 100%;
}
.h-100 {
    height: 100%;
}
.d-block {
    display: block;
}
/* FLEX */
.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.d-flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.equal-height > div {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.align-top {
    -ms-flex-item-align: start;
    align-self: flex-start;
}
.align-bottom {
    -ms-flex-item-align: end;
    align-self: flex-end;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.align-items-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
.delay-1 {
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}
.delay-2 {
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}
.delay-3 {
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}
.delay-4 {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}
.delay-5 {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}
.delay-6 {
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}
.delay-7 {
    -webkit-animation-delay: .7s;
    animation-delay: .7s;
}
.delay-8 {
    -webkit-animation-delay: .8s;
    animation-delay: .8s;
}
.delay-8 {
    -webkit-animation-delay: .8s;
    animation-delay: .8s;
}
.delay-9 {
    -webkit-animation-delay: .9s;
    animation-delay: .9s;
}
.delay-1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.delay-2s {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
.delay-3s {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}
.delay-4s {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}
/* FORMS */

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: initial;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    border: 0;
    border-bottom: none;
}
/* COLORS */
	/* BLUC - #0088BA*/
fieldset {
    padding: 0;
}
.form-group {
    position: relative;
    margin-bottom: 2rem;
}
.form-group input {
    font-size: 1.3rem;
}
.form-group label {
    font-weight: normal;
}
.form-group input {
    border: 0;
    background: none;
    border-radius: 0;
    box-shadow: none!important;
    border-bottom: solid 1px #ccc;
}
.form-group input:valid {
 color:#0088BA;
}
.class-select-picker {
    font-size: 1.3rem;
    color: #0088BA;
}
.form-control { transition:all .3s ease;}
.form-control:focus {
    border-color: #0088BA;
	border-width: 2px;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
 .form-group input:valid {
 border-bottom: solid 2px #0088BA;
}
.form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 7px 0 0 13px;
    transition: all 200ms;
    font-size: 1rem;
    font-weight: lighter!important;
}
.bootstrap-select:focus, .bootstrap-select:active, .bootstrap-select .btn:focus, .bootstrap-select .btn:active, .bootstrap-select:focus .btn:active, .bootstrap-select:active .btn:focus {
    box-shadow: none!important;
    outline: none!important;
}
.bootstrap-select .bs-caret .caret {
    border: none!important;
}
.bootstrap-select .bs-caret .caret:before {
    content: "\e907";
    font-family: 'cavalieri-icons';
    font-size: 1.3rem;
    line-height: 1;
}
.bootstrap-select .dropdown-toggle:empty {
    border: 1px solid red;
}
.bootstrap-select.btn-group .dropdown-toggle .caret {
    right: 1.3rem;
    margin-top: -3px;
}
.c2a {
    display: inline-block;
    width: 47px;
    vertical-align: middle;
    font-weight: bold;
    color: #0088BA;
}
/* Vertical timeline - Programma */
.mese-anno {
    border-top: 1px solid rgba(0,137,187, .5);
    padding: 10px 0 0 0;
}
.mese-anno p {
    line-height: 1;
}
/* DATE PICKER */

.date .form-control-placeholder {
    left: 0;
}
.form-control:focus + .form-control-placeholder, .form-control:valid + .form-control-placeholder, .form-control:focus + span + .form-control-placeholder, .form-control:valid + span + .form-control-placeholder, .form-control + .dropdown-menu + span + .form-control-placeholder, .form-control + .dropdown-menu + span + .form-control-placeholder {
 font-weight: lighter;
 transform: translate3d(0, -100%, 0);
 opacity: 1;
}
.input-group-addon {
    padding: 0;
    line-height: 1rem;
    font-weight: lighter;
    color: #555;
    text-align: center;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}
.input-group-addon span {
    font-size: 1.7rem;
}
.form-control:focus:empty + .input-group-addon {
    border-bottom: 2px solid #0088BA;
}
.input-group .form-control:not(:first-child):not(:last-child) {

	border-bottom: 2px solid #0088BA
}

.form-control:valid + span, 
.form-control + .dropdown-menu:focus + span, 
.form-control + .dropdown-menu:active + span, 
.form-control + .dropdown-menu:hover + span, 
.form-control + .dropdown-menu + span:focus, 
.form-control + .dropdown-menu + span:active, 
.form-control + .dropdown-menu + span:hover {
 border-bottom: 2px solid #0088BA;
}
/* BOOTSRAP SELECT */
.bootstrap-select .btn-default {
    border-radius: 0;
    color: inherit;
    border-bottom: solid 1px #ccc;
    min-width: 100%;
    background: none!important;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}
.bootstrap-select .btn-default::before {
    display: none;
}
.sidebar-left {
    position: relative;
    height: 100%;
    min-height: 100vh;
}
.sidebar-left .sidebar-container {
    position: fixed;
    left: 0;
    text-align: center;
    padding: 65px 20px;
    height: 100%;
    min-height: 100vh;
    width: 20%;
	max-width: 300px;
}
.sidebar-left .sidebar-container img {
    display: block;
    margin: 0 auto 2rem auto;
    max-width: 120px;
}
.mobile-logo {
    max-width: 80px;
    margin-bottom: -3rem;
    position: relative;
    z-index: 10;
    margin: 0;
}
.sidebar-left .info-wrapper {
    width: 100%;
}
.sidebar-left .info-wrapper a {
}

.mobile-top .media {margin:0; paddin:0;}
/* SCROLLSPY */
#myScrollspy {
    height: 100vh;
    top: 0;
    display: flex;
    align-items: center;
    right: 2rem;
    width: 220px;
    transition: all .3s ease;
}
#myScrollspy li a:hover, #myScrollspy li a:focus, #myScrollspy li a:active {
    background: none;
    color: #0088BA;
}
#myScrollspy li a {
    color: inherit;
    font-family: 'EB Garamond', serif;
    font-size: 1.2rem;
    display: inline-block;
    vertical-align: middle;
    transition: all .3s ease;
	padding-bottom:0;
}
#myScrollspy li a span[class*=cavalieri] {
    vertical-align: middle;
    margin-right: 10px;
    position: relative;
    z-index: 10;
    display: inline-block;
	width:30px;
	height:50px;
	max-width: 30px;
	min-width:30px;
}

#myScrollspy li > a span[class*=cavalieri]:before {	
	position: absolute;
	top:10px;
	left:0;
	z-index: 10;
    background:#fff;
}
#myScrollspy .nav.nav-stacked > li:last-child > a span[class*=cavalieri]:after {	
	display:none;
}

#myScrollspy li.active > a span[class*=cavalieri]:before {
    transition: transform .2s ease;
    transform: scale(1.2);
    transform-origin: center center;

}
#myScrollspy li.active > a {
    color: #0088BA;
}
#myScrollspy li.active ul li:not(.active) a {
    font-weight: normal;
}
#myScrollspy li ul {
    margin-left: 0;
}
#myScrollspy .nav.nav-stacked {
    position: relative;
}
#myScrollspy .nav.nav-stacked a > span[class*=cavalieri]:after {
    content: '';
    display: block;
    position: absolute;
    margin-left: 15px;
    height: 90%;
    border-left: 1px dashed #333;
    top: 25px;
    z-index: 0;
}

#myScrollspy a > span  + span{	
	display: inline-block;
    max-width: calc(100% - 40px);
    vertical-align: middle;
    line-height: 1.1;}


/* radio button */
@-webkit-keyframes click-wave {
0% {
 width: 30px;
 height: 30px;
 opacity: 0.35;
 position: relative;
}
 100% {
 width: 60px;
 height: 60px;
 margin-left: -17px;
 margin-top:  -17px;
 opacity: 0.0;
}
}
@-moz-keyframes click-wave {
0% {
 width: 30px;
 height: 30px;
 opacity: 0.35;
 position: relative;
}
 100% {
 width: 60px;
 height: 60px;
 margin-left: -17px;
 margin-top:  -17px;
 opacity: 0.0;
}
}
@-o-keyframes click-wave {
0% {
 width: 30px;
 height: 30px;
 opacity: 0.35;
 position: relative;
}
 100% {
 width: 60px;
 height: 60px;
 margin-left: -17px;
 margin-top:  -17px;
 opacity: 0.0;
}
}
@keyframes click-wave {
0% {
 width: 30px;
 height: 30px;
 opacity: 0.35;
 position: relative;
}
 100% {
 width: 60px;
 height: 60px;
 margin-left: -17px;
 margin-top:  -17px;
 opacity: 0.0;
}
}
label.radio-inline, label.checkbox-inline {
    position: relative!important;
    margin-left: 0!important;
}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {
    position: relative;
    margin-bottom: .5rem;
}
 .option-input, input.option-input:valid {
 -webkit-appearance: none;
 -moz-appearance: none;
 -ms-appearance: none;
 -o-appearance: none;
 appearance: none;
 position: relative;
 top: 0;
 width: 30px;
 height: 30px;
 -webkit-transition: all 0.15s ease-out 0;
 -moz-transition: all 0.15s ease-out 0;
 transition: all 0.15s ease-out 0;
 background: #fff;
 border: 1px solid #322F31;
 color: #fff;
 cursor: pointer;
 display: inline-block;
 outline: none;
 z-index: 1000;
 vertical-align: middle;
}
.option-input:focus, .option-input:active {
    outline: none!important;
}
 .option-input:hover, input.option-input:valid:hover {
background: #0088BA;
border-color:#0088BA!important;
transition:background .3s ease;
}
.option-input:checked {
    background: #0088BA!important;
    border-color: #0088BA!important;
}
.option-input::before {
    width: 28px;
    height: 28px;
    position: absolute;
    content: attr(value);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 2;
    font-size: .9rem;
    color: #322F31;
	background: transparent;
    z-index: 1;
}
.option-input.check:not(:checked):hover::before {
}
.option-input.check:checked::before {
    width: 30px;
    height: 30px;
    position: absolute;
    content: '\e905';
    font-family: 'cavalieri-icons';
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    font-size: 2rem;
    color: #fff;
    z-index: 1;
    left: -.1rem;
    background: #0088BA;
    border-radius: 100%;
}
.option-input.check:checked:hover::before {
    
	animation:toggleUser .3s forwards;
	animation-delay: 1s;
}

@keyframes toggleUser {
	from {
		opacity:0;
		content: '\e904';
	}
	to {
		opacity:1;
		content: '\e904';
	}
}
.option-input:hover::before, 
.option-input:checked::before {
    width: 28px;
    height: 28px;
    position: absolute;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 2;
    color: #fff;
    z-index: 1;
}
.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #0088BA;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}
.option-input.radio, .option-input.check {
    border-radius: 50%;
    position: relative;
    margin-left: 0!important;
}
.option-input.radio {
    margin-top: 0;
}
.option-input.check {
    top: 10px;
    margin-right: 10px;
}
.option-input.radio::after, .option-input.check::after {
    border-radius: 50%;
}
.domande > .media > .media-left {
    position: relative;
    width: 80px;
    max-width: 80px;
    min-width: 80px;
    padding-right: 0;
	text-align: center;
}
.media h3 {
    line-height: 1;
}
.titolo-sezione > .media > .media-left {
    position: relative;
    width: 80px;
    max-width: 80px;
    min-width: 80px;
    padding-right: 0;
	text-align: center;
}
.titolo-sezione > .media > .media-left:after {
    content: '';
    display: block;
    position: absolute;
    left:calc(50% - 1px);
    height: 100%;
    border-left: 1px dashed #333;
}
.domande > .media > .media-left:after {
    content: '';
    display: block;
    position: absolute;
    left:calc(50% - 1px);
    height: 100%;
    border-left: 1px dashed #333;
}
.domande .media-body .media > .media-left {
    padding-right: 5px;
}
.location {
	position: absolute;
    left: .9rem;
    background: #fff;
    border-radius: 20px;
    width: 80px;
    text-align: center;
}
.location.end {
	height: 100%;
	max-height: 140px;
}
.orario {
	position: absolute;
    left: -80px;
    text-align: center;
    background: #fff;
    width: 80px;
    border-radius: 24px;
    color: #0088BA;
    top: 0;
    padding: 8px;
}
.answer-SI .control-label .location-title {
    color: #0088BA;
}
.answer-NO .control-label .location-title {
    color: inherit;
    opacity: .3
}
.form-group .btn {
    padding: 10px 22px;
}
.form-group .btn.btn-primary {
    background: #0088BA;
    color: #fff;
}
#SubmitForm {
    border-radius: 100px;
    letter-spacing: 4px;
	margin-top:.3rem;
}
