extends master-community
block body

block header
    include partials/header.pug

block content
    div#pg-wrapper.main-content
        div.container-fluid.sezione-community
            include partials/sections/top-community
            include partials/sections/map
            include partials/sections/topics

        include partials/sections/blueleader

        include partials/sections/tabs

        div.container-fluid.sezione-community.ifIsVisible
            .row.row-no-gutters.mt-2.mb-2
                .col-sm-4
                .col-sm-4.text-center
                    hr.blue
                    .t-24.blue.roboto Interesting enough?
                    p.blue Donec maximus tempus felis, eu placerat erat suscipit ut.
                    a(href="#").mt-1.mb-2.btn.btn--blue.btn-small join us
                .col-sm-4


    include partials/footer.pug