/* Component basic layout rules */


#header #breadcrumbs{ 
	position:relative;
	z-index:10; 
}

#header #breadcrumbs:not(.generic-breadcrumbs){ 
	position:relative;
	z-index:10; 
}

#header #breadcrumbs:not(.generic-breadcrumbs) ul{ 
	position:absolute;
}

.search #header #breadcrumbs,
.search_open #header #breadcrumbs,
.fixedHeader #header #breadcrumbs{
	margin-top:60px;
}

.ttcomponent-breadcrumbs { 
	padding:0;
}


.fixedHeader.group .ttcomponent-breadcrumbs, 
.fixedHeader[class*=content] .ttcomponent-breadcrumbs { 
	position:relative; 
	margin-top:0; 
	overflow:visible;
}

.ttcomponent-breadcrumbs.breadcrumbs li:not(:last-child)::after{
	content:"/"; 
}

.ttcomponent-breadcrumbs a, .ttcomponent-breadcrumbs span { 
	color: inherit;
	font-size: 0.875rem; 
	white-space:nowrap;
}
.ttcomponent-breadcrumbs ul li:last-child a { font-weight: bold;}
#header .wrapwidg.container:before,
#header .wrapwidg.container:after {
	height:0;
}
.ttcomponent-breadcrumbs ul:not(.hidden) {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
	overflow-x: auto;
	padding:10px!important;
}
.ttcomponent-breadcrumbs ul::-webkit-scrollbar {
    display: none;
    }
.ttcomponent-breadcrumbs ul li {
	white-space:nowrap;
	overflow:visible;
}
.ttcomponent-breadcrumbs ul a,
.ttcomponent-breadcrumbs ul span {
	font-family: "Roboto Regular";
	display:inline-block;
	padding:10px 5px;
	-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
			flex: 0 0 auto;
}
.group .ttcomponent-breadcrumbs ul a,
.groupt .ttcomponent-breadcrumbs ul span, 
.content .ttcomponent-breadcrumbs ul a,
.content .ttcomponent-breadcrumbs ul span{
		text-shadow: 0 0 2px rgba(0,0,0, .2);
}