    html body .top-entry-new.reversed div[data-color-image="dark"]:before {
        display:none
    }
    html body .top-entry-new.reversed div[data-color-image="dark"] .square-mask-parent{
        overflow: hidden;
        position: relative;
        border-radius:100%;
        border-top-right-radius: 100%;
    }
    html body .top-entry-new.reversed div[data-color-image="dark"] .square-mask-parent:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 40%;
        background: rgb(0,70,173);
        background: linear-gradient(180deg, rgba(0,70,173,0.8533788515406162) 20%, rgba(0,70,173,0) 100%);
    }



    /* HP */
        html body .top-entry-new.reversed .top-entry .scheda h1,
        html body .top-entry-new.reversed .top-entry .scheda .short-description {
            max-width:inherit!important;
            padding-right: 1em;
        }
        
		/* NOT LOGGED */

			html body .top-entry-new.reversed .top-entry .scheda {
                height: calc(70vh - 3.75em);
                min-height: 70vh;
                max-height: 960px;
			}

			html body .top-entry-new.reversed .top-entry .scheda .square-mask{ 
                height: 135%;
                width: 135%;
                left: -43%;
                transform-origin: left top;
                right: 0;
                top: -3.75em;
                border-radius: 0;
                border-top-left-radius: 0;
                overflow: visible;
                transform: translateX(0);
			}
			
			html body .top-entry-new.reversed .top-entry .scheda .square-mask img{
				border-radius: 100%;
				border-top-left-radius: 0;
			}
			
		/* / NOT LOGGED */
		
		/* LOGGED  .isLogged */
		
			html body .top-entry-new.reversed .top-entry.isLogged .scheda {
                height: calc(60vh - 3.75em);
                min-height: 60vh;
                max-height: 960px;
			}

			html body .top-entry-new.reversed .top-entry.isLogged .scheda .square-mask{ 
                height: 135%;
                width: 135%;
                left: -43%;
                transform-origin: left top;
                right: 0;
                top: -3.75em;
                border-radius: 0;
                border-top-left-radius: 0;
                overflow: visible;
                transform: translateX(0);
			}		
			
		/* / LOGGED */

            html body .top-entry-new.reversed .top-entry .scheda > [class^="col-"]:first-child {
			    max-width: inherit;
			}
		
	/* / HP */
	
	
	/* 1° & 2° Level pages  */
		html body .top-entry.top-entry--small .top-entry-new.reversed .top-entry .scheda .square-mask {
			max-height: 45em;
			min-height: 45em;
		    width: calc(45% * 1.2);
		    padding-bottom: calc(45% * 1.2);
			left:calc(50vw);	    
		}	
	
	/* / 1° & 2° Level pages  */

	/* Reversed */
		html body .top-entry.top-entry--small .top-entry-new.reversed .top-entry .scheda .square-mask {
			max-height: 45em;
			min-height: 45em;
		    width: calc(45% * 1.2);
		    padding-bottom: calc(45% * 1.2);
			left:calc(50vw);	    
		}	
	
	/* / 1° & 2° Level pages  */
	


@media screen and (max-width: 1745px){
	/* HP */
		/* NOT LOGGED */

            html body .top-entry-new.reversed .top-entry .scheda {
                height: calc(67vh - 3.75em);
                min-height: 67vh !important;
                max-height: 850px;
            }

            html body .top-entry-new.reversed .top-entry .scheda .square-mask{ 
                height: 125%;
                width: 125%;
                left: -30%;
                transform-origin: left top;
                right: 0;
                top: -3.75em;
                border-radius: 0;
                border-top-left-radius: 0;
                overflow: visible;
                transform: translateX(0);
            }
            
            html body .top-entry-new.reversed .top-entry .scheda .square-mask img{
                border-radius: 100%;
                border-top-right-radius: 100%;
                border-top-left-radius: 0;
            }
            
        /* / NOT LOGGED */

        /* LOGGED  .isLogged */
            html body .top-entry-new.reversed .top-entry.isLogged .scheda {
                height: calc(55vh - 3.75em);
                min-height: 55vh !important;
                max-height: 850px;
            }

            html body .top-entry-new.reversed .top-entry.isLogged .scheda .square-mask{ 
                height: 125%;
                width: 125%;
                left: -30%;
                transform-origin: left top;
                right: 0;
                top: -3.75em;
                border-radius: 0;
                border-top-left-radius: 0;
                overflow: visible;
                transform: translateX(0);
            }		
            
        /* / LOGGED */

            html body .top-entry-new.reversed .top-entry .scheda > [class^="col-"]:first-child {
                max-width: inherit;
            }
}

@media screen and (max-width: 1536px){
        /* HP */
            /* NOT LOGGED */

            html body .top-entry-new.reversed .top-entry .scheda {
                height: calc(68vh - 3.75em);
                min-height: 68vh !important;
                max-height: 750px;
            }

            html body .top-entry-new.reversed .top-entry .scheda .square-mask{ 
                height: 125%;
                width: 125%;
                left: -28%;
                transform-origin: left top;
                right: 0;
                top: -3.75em;
                border-radius: 0;
                border-top-left-radius: 0;
                overflow: visible;
                transform: translateX(0);
            }
            
            html body .top-entry-new.reversed .top-entry .scheda .square-mask img{
                border-radius: 100%;
                border-top-right-radius: 100%;
                border-top-left-radius: 0;
            }
            
        /* / NOT LOGGED */

        /* LOGGED  .isLogged */
            html body .top-entry-new.reversed .top-entry.isLogged .scheda {
                height: calc(56vh - 3.75em);
                min-height: 56vh !important;
                max-height: 750px;
            }

            html body .top-entry-new.reversed .top-entry.isLogged .scheda .square-mask{ 
                height: 125%;
                width: 125%;
                left: -28%;
                transform-origin: left top;
                right: 0;
                top: -3.75em;
                border-radius: 0;
                border-top-left-radius: 0;
                overflow: visible;
                transform: translateX(0);
            }
            
        /* / LOGGED */

        html body .top-entry-new.reversed .top-entry .scheda > [class^="col-"]:first-child {
                max-width: inherit;
            }
}

@media screen and (max-width: 1366px){
    /* HP */
        /* NOT LOGGED */

        html body .top-entry-new.reversed .top-entry .scheda {
            height: calc(50vh - 3.75em);
            min-height: 50vh !important;
            max-height: 650px;
        }

        html body .top-entry-new.reversed .top-entry .scheda .square-mask{ 
            height: 135%;
            width: 135%;
            left: 0;
            transform-origin: left top;
            right: 0;
            top: -1em;
            border-radius: 0;
            border-top-left-radius: 0;
            overflow: visible;
            transform: translateX(0);
        }
        
        html body .top-entry-new.reversed .top-entry .scheda .square-mask img{
            border-radius: 100%;
            border-top-right-radius: 100%;
        }
        
    /* / NOT LOGGED */

    /* LOGGED  .isLogged */
        html body .top-entry-new.reversed .top-entry.isLogged .scheda {
            height: calc(50vh - 3.75em);
            min-height: 50vh !important;
            max-height: 650px;
        }

        html body .top-entry-new.reversed .top-entry.isLogged .scheda .square-mask{ 
            height: 135%;
            width: 135%;
            left: 0;
            transform-origin: left top;
            right: 0;
            top: -1em;
            border-radius: 0;
            border-top-left-radius: 0;
            overflow: visible;
            transform: translateX(0);
        }
        
    /* / LOGGED */

    html body .top-entry-new.reversed .top-entry .scheda > [class^="col-"]:first-child {
            max-width: inherit;
        }
}

@media screen and (max-width: 1280px){ /* 80em */
    /* HP */
            /* NOT LOGGED */

            html body .top-entry-new.reversed .top-entry .scheda {
                height: calc(70vh - 3.75em);
                min-height: 70vh !important;
                max-height: 630px;
            }

            html body .top-entry-new.reversed .top-entry .scheda .square-mask{ 
                height: 138%;
                width: 138%;
                left: 0;
                transform-origin: left top;
                right: 0;
                top: -1em;
                border-radius: 0;
                border-top-left-radius: 0;
                overflow: visible;
                transform: translateX(0);
            }
            
            html body .top-entry-new.reversed .top-entry .scheda .square-mask img{
                border-radius: 100%;
                border-top-right-radius: 100%;
                border-top-left-radius: 0;
            }
            
        /* / NOT LOGGED */

        /* LOGGED  .isLogged */
            html body .top-entry-new.reversed .top-entry.isLogged .scheda {
                height: calc(53vh - 3.75em);
                min-height: 53vh !important;
                max-height: 630px;
            }

            html body .top-entry-new.reversed .top-entry.isLogged .scheda .square-mask{ 
                height: 138%;
                width: 138%;
                left: 0;
                transform-origin: left top;
                right: 0;
                top: -1em;
                border-radius: 0;
                border-top-left-radius: 0;
                overflow: visible;
                transform: translateX(0);
            }		
            
        /* / LOGGED */

            html body .top-entry-new.reversed .top-entry .scheda > [class^="col-"]:first-child {
                max-width: inherit;
            }
}

@media screen and (max-width: 1120px){ /* 80em */
    /* HP */
            /* NOT LOGGED */

            html body .top-entry-new.reversed .top-entry .scheda {
                height: calc(63vh - 3.75em);
                min-height: 63vh !important;
                max-height: 630px;
            }

            html body .top-entry-new.reversed .top-entry .scheda .square-mask{ 
                height: 122%;
                width: 122%;
                left: 0;
                transform-origin: left top;
                right: 0;
                top: -1em;
                border-radius: 0;
                border-top-left-radius: 0;
                overflow: visible;
                transform: translateX(0);
            }
            
            html body .top-entry-new.reversed .top-entry .scheda .square-mask img{
                border-radius: 100%;
                border-top-right-radius: 100%;
                border-top-left-radius: 0;
            }
            
        /* / NOT LOGGED */

        /* LOGGED  .isLogged */
            html body .top-entry-new.reversed .top-entry.isLogged .scheda {
                height: calc(53vh - 3.75em);
                min-height: 53vh !important;
                max-height: 630px;
            }

            html body .top-entry-new.reversed .top-entry.isLogged .scheda .square-mask{ 
                height: 122%;
                width: 122%;
                left: 0;
                transform-origin: left top;
                right: 0;
                top: -1em;
                border-radius: 0;
                border-top-left-radius: 0;
                overflow: visible;
                transform: translateX(0);
            }		
            
        /* / LOGGED */

            html body .top-entry-new.reversed .top-entry .scheda > [class^="col-"]:first-child {
                max-width: inherit;
            }
}


@media screen and (max-width: 1097px){ /* 64em */
	/* HP */
		/* NOT LOGGED */

            html body .top-entry-new.reversed .top-entry .scheda {
                    height: calc(40vh - 3.75em);
                    min-height: calc(40vh - 3.75em) !important;
                    max-height: calc(40vh - 3.75em);
            }

            html body .top-entry-new.reversed .top-entry .scheda .square-mask{ 
                height: 120%;
                width: 120%;
                left: 0;
                transform-origin: left top;
                right: 0;
                top: -1em;
                border-radius: 0;
                border-top-left-radius: 0;
                overflow: visible;
                transform: translateX(-1em);
            }
            
            html body .top-entry-new.reversed .top-entry .scheda .square-mask img{
                border-radius: 100%;
                border-top-right-radius: 100%;
                border-top-left-radius: 0;
            }
            
        /* / NOT LOGGED */

        /* LOGGED  .isLogged */

            html body .top-entry-new.reversed .top-entry.isLogged .scheda {
                height: calc(40vh - 3.75em);
                min-height: calc(40vh - 3.75em) !important;
                max-height: calc(40vh - 3.75em);
            }

            html body .top-entry-new.reversed .top-entry.isLogged .scheda .square-mask{ 
                height: 120%;
                width: 120%;
                left: 0;
                transform-origin: left top;
                right: 0;
                top: -1em;
                border-radius: 0;
                border-top-left-radius: 0;
                overflow: visible;
                transform: translateX(0);
            }		
            
        /* / LOGGED */

            html body .top-entry-new.reversed .top-entry .scheda > [class^="col-"]:first-child {
                max-width: inherit;
                margin-top: 8%;
            }
}



@media screen and (max-width: 1097px) and (orientation:landscape){ /* 64em */
    
    html body .top-entry-new.reversed .top-entry .scheda h1, 
    html body .top-entry-new.reversed .top-entry .scheda .short-description {
        padding-right: 0;
        min-width: 120%;
    }
    /* HP */
		/* NOT LOGGED */
            html body .top-entry-new.reversed .top-entry .scheda {
                height: calc(65vh - 3.75em);
                min-height: 65vh !important;
                max-height: 610px;
            }

            html body .top-entry-new.reversed .top-entry .scheda .square-mask{ 
                height: 100%;
                width: 100%;
                left: 0;
                transform-origin: left top;
                right: 0;
                top: -1em;
                border-radius: 0;
                border-top-left-radius: 0;
                overflow: visible;
                transform: translateX(17%);
            }
            
            html body .top-entry-new.reversed .top-entry .scheda .square-mask img{
                border-radius: 100%;
                border-top-right-radius: 100%;
                border-top-left-radius: 0;
            }
            
        /* / NOT LOGGED */

        /* LOGGED  .isLogged */

            html body .top-entry-new.reversed .top-entry.isLogged .scheda {
                height: calc(53vh - 3.75em);
                min-height: 53vh !important;
                max-height: 610px;
            }

            html body .top-entry-new.reversed .top-entry.isLogged .scheda .square-mask{ 
                height: 100%;
                width: 100%;
                left: 0;
                transform-origin: left top;
                right: 0;
                top: -1em;
                border-radius: 0;
                border-top-left-radius: 0;
                overflow: visible;
                transform: translateX(17%);
            }		
            
        /* / LOGGED */

        html body .top-entry-new.reversed .top-entry .scheda > [class^="col-"]:first-child {
                max-width: inherit;
            }
}


@media screen and (max-width: 1024px) and (orientation:landscape){ /* 64em */
    
    html body .top-entry-new.reversed .top-entry .scheda h1, 
    html body .top-entry-new.reversed .top-entry .scheda .short-description {
        padding-right: 0;
        min-width: 110%;
    }
    /* HP */
		/* NOT LOGGED */
            html body .top-entry-new.reversed .top-entry .scheda {
                height: calc(43vh - 3.75em);
                min-height: 43vh !important;
                max-height: 565px;
            }

            html body .top-entry-new.reversed .top-entry .scheda .square-mask{ 
                height: 110%;
                width: 110%;
                left: 0;
                transform-origin: left top;
                right: 0;
                top: -5rem;
                border-radius: 0;
                border-top-left-radius: 0;
                overflow: visible;
                transform: translateX(7.5%);
            }
            
            html body .top-entry-new.reversed .top-entry .scheda .square-mask img{
                border-radius: 100%;
                border-top-right-radius: 100%;
                border-top-left-radius: 0;
            }
            
        /* / NOT LOGGED */

        /* LOGGED  .isLogged */

            html body .top-entry-new.reversed .top-entry.isLogged .scheda {
                height: calc(37vh - 3.75em);
                min-height: 37vh !important;
                max-height: 565px;
            }

            html body .top-entry-new.reversed .top-entry.isLogged .scheda .square-mask{ 
                height: 110%;
                width: 110%;
                left: 0;
                transform-origin: left top;
                right: 0;
                top: -5rem;
                border-radius: 0;
                border-top-left-radius: 0;
                overflow: visible;
                transform: translateX(7.5%);
            }		
            
        /* / LOGGED */

            html body .top-entry-new.reversed .top-entry .scheda > [class^="col-"]:first-child {
                max-width: inherit;
            }
}

@media screen and (max-width: 960px) and (orientation:landscape){ /* 56.25 em*/
    
    /* HP */

        html body .top-entry-new.reversed .top-entry .h1{
            padding-top:4vh;
        }
        html body .top-entry-new.reversed .top-entry .short-description {
            padding-right: 10vw;
        }

		/* NOT LOGGED */

            html body .top-entry-new.reversed .top-entry .scheda {
                height: calc(90vh);
                min-height: 90vh !important;
                max-height: 530px;
            }

            html body .top-entry-new.reversed .top-entry .scheda .square-mask{ 
                height: 100%;
                width: 100%;
                left: 0;
                transform-origin: left top;
                right: 0;
                top: -1em;;
                border-radius: 0;
                border-top-left-radius: 0;
                overflow: visible;
            }
            
            html body .top-entry-new.reversed .top-entry .scheda .square-mask img{
                border-radius: 100%;
                border-top-right-radius: 100%;
                border-top-left-radius: 0;
            }
            
        /* / NOT LOGGED */

        /* LOGGED  .isLogged */

            html body .top-entry-new.reversed .top-entry.isLogged .scheda {
                height: calc(90vh);
                min-height: 90vh !important;
                max-height: 530px;
            }

            html body .top-entry-new.reversed .top-entry.isLogged .scheda .square-mask{ 
                height: 100%;
                width: 100%;
                left: 0;
                transform-origin: left top;
                right: 0;
                top: -1em;;
                border-radius: 0;
                border-top-left-radius: 0;
                overflow: visible;
            }		
            
        /* / LOGGED */

            html body .top-entry-new.reversed .top-entry .scheda > [class^="col-"]:first-child {
                max-width: inherit;
            }
}

@media screen and (max-width: 768px){ /* 48em*/
    /* HP */

        html body .top-entry-new.reversed .top-entry .h1{
            padding-top:4vh;
        }

		/* NOT LOGGED */

            html body .top-entry-new.reversed .top-entry .scheda {
                    height: calc(60vh);
                    min-height: 60vh !important;
                    max-height: 530px;
            }

            html body .top-entry-new.reversed .top-entry .scheda .square-mask{ 
                height: 140%;
                width: 140%;
                left: 0;
                transform-origin: left top;
                right: 0;
                top: -1em;
                border-radius: 0;
                border-top-left-radius: 0;
                overflow: visible;
                transform: translateX(0);
            }
            
            .top-entry-new.reversed .top-entry .scheda .square-mask img{
                border-radius: 100%;
                border-top-right-radius: 100%;
                border-top-left-radius: 0;
            }
            
        /* / NOT LOGGED */

        /* LOGGED  .isLogged */

            html body .top-entry-new.reversed .top-entry.isLogged .scheda {
                height: calc(40vh - 3.75em);
                min-height: calc(40vh - 3.75em);
            }

            html body .top-entry-new.reversed .top-entry.isLogged .scheda .square-mask{ 
                height: 140%;
                width: 140%;
                left: 0;
                transform-origin: left top;
                right: 0;
                top: -1em;
                border-radius: 0;
                border-top-left-radius: 0;
                overflow: visible;
                transform: translateX(0);
            }		
            
        /* / LOGGED */

            html body .top-entry-new.reversed .top-entry .scheda > [class^="col-"]:first-child {
                max-width: 70%;
            }
}

@media screen and (max-width: 768px) and (orientation:portrait){ /* 48em */
   
    /* HP */

        html body .top-entry-new.reversed .top-entry .h1{
            padding-top:4vh;
        }

		/* NOT LOGGED */

            html body .top-entry-new.reversed .top-entry .scheda {
                height: calc(33vh);
                min-height: 33vh !important;
                max-height: 540px;
                align-items: flex-end;
            }

            html body .top-entry-new.reversed .top-entry .scheda .square-mask{ 
                height: 130%;
                width: 130%;
                left: 0;
                transform-origin: left top;
                right: 0;
                top: -1em;
                border-radius: 0;
                border-top-left-radius: 0;
                overflow: visible;
                transform: translateX(-6%);
            }
            
            html body .top-entry-new.reversed .top-entry .scheda .square-mask img{
                border-radius: 100%;
                border-top-right-radius: 100%;
                border-top-left-radius: 0;
            }
            
        /* / NOT LOGGED */

        /* LOGGED  .isLogged */

            html body .top-entry-new.reversed .top-entry.isLogged .scheda {
                height: calc(45vh);
                min-height: 45vh !important;
                max-height: 540px;
                align-items: center;
            }

            html body .top-entry-new.reversed .top-entry.isLogged .scheda .square-mask{ 
                height: 130%;
                width: 130%;
                left: 0;
                transform-origin: left top;
                right: 0;
                top: -1em;
                border-radius: 0;
                border-top-left-radius: 0;
                overflow: visible;
                transform: translateX(-6%);
            }		
            
        /* / LOGGED */

            html body .top-entry-new.reversed .top-entry .scheda > [class^="col-"]:first-child {
                max-width: 70%;
                margin-top: 0%;
            }
}

@media screen and (max-width: 768px) and ( orientation:landscape){ /* 48em */

    /* HP */

        html body .top-entry-new.reversed .top-entry .h1{
            padding-top:4vh;
        }

		/* NOT LOGGED */

            html body .top-entry-new.reversed .top-entry .scheda {
                height: calc(80vh - 3.75em);
                min-height: calc(80vh - 3.75em);
                max-height: calc(80vh - 3.75em);
                padding-top: 
                align-items: center;
            }

            html body .top-entry-new.reversed .top-entry .scheda .square-mask{ 
                height: 75%;
                width: 75%;
                left: 0;
                transform-origin: left top;
                right: 0;
                top: -1em;
                border-radius: 0;
                border-top-left-radius: 0;
                overflow: visible;
                transform: translateX(0);
            }
            
            html body .top-entry-new.reversed .top-entry .scheda .square-mask img{
                border-radius: 100%;
                border-top-right-radius: 100%;
                border-top-left-radius: 0;
            }
            
        /* / NOT LOGGED */

        /* LOGGED  .isLogged */

            html body .top-entry-new.reversed .top-entry.isLogged .scheda {
                height: calc(100vh - 3.75em);
                min-height: calc(100vh - 3.75em);
                align-items: center;
            }

            html body .top-entry-new.reversed .top-entry.isLogged .scheda .square-mask{ 
                height: 75%;
                width: 75%;
                left: 0;
                transform-origin: left top;
                right: 0;
                top: -1em;
                border-radius: 0;
                border-top-left-radius: 0;
                overflow: visible;
                transform: translateX(0);
            }		
            
        /* / LOGGED */

            html body .top-entry-new.reversed .top-entry .scheda > [class^="col-"]:first-child {
                max-width: 53%;
                padding-top: 2rem !important;
            }
            html body .top-entry-new.reversed .top-entry .scheda > [class^="col-"]:first-child {
                max-width: 70%;
                margin-top: 25%%;
            }
}


@media screen and (max-width: 680px) and (orientation:portrait){ /*42.5em*/

    #hero-zone .top-entry-new h1 {
        padding: 1.5rem 1.5rem 1.5rem 0;
        background: white;
        display: inline-block;
    }
    html body.isMobile:not(.is-scrolled):not(.is-scrolled-xs) header.main-header {
        background-color: rgba(255,255,255, 1);
        height: 60px;
        transform: all .5s ease;
    }
    html body .top-entry-new.reversed .top-entry .scheda h1, 
    html body .top-entry-new.reversed .top-entry .scheda .short-description {
        max-width: inherit!important;
        padding-right:0;
    }
    /* HP */


		/* NOT LOGGED */

            html body .top-entry-new.reversed .top-entry .scheda {
                height: calc(90vh);
                min-height: calc(90vh)!important;
                max-height: 42.5em;
                margin-bottom: 1rem;
                justify-content: center;
                flex-direction: column;
                flex-wrap: wrap-reverse;
            }

            html body .top-entry-new.reversed .top-entry .scheda .square-mask{ 
                height: 125%;
                width: 125%;
                left: 0;
                transform-origin: left top;
                right: 0;
                top: -1em;
                border-radius: 0;
                border-top-left-radius: 0;
                overflow: visible;
                transform: translateX(0);
            }
            
            html body .top-entry-new.reversed .top-entry .scheda .square-mask img{
                border-radius: 100%;
                border-top-right-radius: 100%;
                border-top-left-radius: 0;
            }
            
        /* / NOT LOGGED */

        /* LOGGED  .isLogged */

            html body .top-entry-new.reversed .top-entry.isLogged .scheda {
                height: calc(90vh);
                min-height: calc(90vh)!important;
                max-height: 42.5em;
                margin-bottom: 1rem;
                align-items: flex-start;
                flex-direction: column;
                flex-wrap: wrap-reverse;
            }

            html body .top-entry-new.reversed .top-entry.isLogged .scheda .square-mask{ 
                height: 125%;
                width: 125%;
                left: 0;
                transform-origin: left top;
                right: 0;
                top: -1em;
                border-radius: 0;
                border-top-left-radius: 0;
                overflow: visible;
                transform: translateX(0);
            }		
            
        /* / LOGGED */

            html body .top-entry-new.reversed .top-entry .scheda > [class^="col-"]:first-child {
                max-width: unset;
                order:2;
                flex:1;
            }
            html body .top-entry-new.reversed .top-entry .scheda > [class^="col-"]:last-child {
                order:1;
                flex:1;
            }
            html body #hero-zone .top-entry-new.reversed .top-entry .scheda p {
                display: block;
                max-width: unset!important;
            }
            html body .top-entry-new.reversed .fx-xs-align-items-center {
                align-items: center; /* LEVARE DA CODEBASE */
            }
}

@media screen and (max-width: 680px) and (orientation:landscape){ /*42.5em*/

  /* HP */
        html body .top-entry-new.reversed .top-entry .scheda h1, 
        html body .top-entry-new.reversed .top-entry .scheda .short-description {
            padding-right: 0;
            min-width: unset;
        }
        html body .top-entry-new.reversed .top-entry .h1{
            padding-top:4vh;
        }

		/* NOT LOGGED */

            html body .top-entry-new.reversed .top-entry .scheda {
                height: calc(100vh);
                min-height: calc(100vh) !important;
                align-items: center;
            }

            html body .top-entry-new.reversed .top-entry .scheda .square-mask{ 
                height: 125%;
                width: 125%;
                left: 0;
                transform-origin: left top;
                right: 0;
                top: -1em;
                border-radius: 0;
                border-top-left-radius: 0;
                overflow: visible;
                transform: translateX(0);
            }
            
            html body .top-entry-new.reversed .top-entry .scheda .square-mask img{
                border-radius: 100%;
                border-top-right-radius: 100%;
                border-top-left-radius: 0;
            }
            
        /* / NOT LOGGED */

        /* LOGGED  .isLogged */

            html body .top-entry-new.reversed .top-entry.isLogged .scheda {
                height: calc(100vh);
                min-height: calc(100vh) !important;
                align-items: center;
            }

            html body .top-entry-new.reversed .top-entry.isLogged .scheda .square-mask{ 
                height: 125%;
                width: 125%;
                left: 0;
                transform-origin: left top;
                right: 0;
                top: -1em;
                border-radius: 0;
                border-top-left-radius: 0;
                overflow: visible;
                transform: translateX(0);
            }		
            
        /* / LOGGED */

            html body .top-entry-new.reversed .top-entry .scheda > [class^="col-"]:first-child {
                max-width: 53%;
                padding-top: 2rem !important;
            }
            html body .top-entry-new.reversed .top-entry .scheda > [class^="col-"]:first-child {
                max-width: 70%;
                margin-top: 0;
            }
}

