/* Component basic layout rules */

h2.widget_title{
	position:relative; 
	background:none;
	border-bottom:1px solid rgba(0,0,0, .07);
	color:inherit;
	display:block;
	font-size:14px;
	font-weight:400;
	min-height:50px;
	line-height:1.1;
	margin:0;
	padding:0 0 1rem 0;
	text-overflow:ellipsis;
	text-transform:uppercase;
	width:100%;
	display: flex;
	align-items: center;
}
.widget-external-link {
	margin-left:auto;
}
h2.widget_title i.fa{
	display:inline-block;
	font-size:20px;
	font-style:normal;
	font-weight:400;
	margin:0;
	padding:0;
	text-align:center;
	width:50px;
}