@media (max-width: 1440px){

}

@media (max-width: 1200px){

}

@media (max-width: 1024px){

}

@media (max-width: 767px){
	.ttcomponent-userProfileComponent .contact-block { margin-bottom:2rem;}
	.ttcomponent-tabsStandard .nav-tabs { text-align:center;}
	.ttcomponent-tabsStandard .nav-tabs li { display:inline-block; float:none;}
	.ttcomponent-tabsStandard .nav-tabs li.active > a,
	.ttcomponent-tabsStandard .nav-tabs li.active > a:hover,
	.ttcomponent-tabsStandard .nav-tabs li.active > a:focus,
	.ttcomponent-tabsStandard .nav-tabs li > a {
		padding:1.5rem .5rem!important;
		font-size:.9rem;
	}
	
	}
