/* Component basic layout rules */



.ttcomponent-userProfileComponent.component-edit .user-profile-component-title i{margin-left: 1rem;}

.ttcomponent-userProfileComponent.component-edit .component-view,
.ttcomponent-userProfileComponent .component-edit{display:none;}
.ttcomponent-userProfileComponent .component-view,
.ttcomponent-userProfileComponent.component-edit .component-edit{display:block;}

.ttcomponent-userProfileComponent.component-edit input.component-edit { text-align: center; display:block; width: 90%; margin: 1rem auto 0; padding:.5rem;}
.ttcomponent-userProfileComponent.component-edit input.component-edit[disabled] { border:0;text-overflow:ellipsis; opacity: .5;}

.ttcomponent-userProfileComponent textarea { width:100%; border:0; border: 1px solid #eee; padding: .5rem;}

.ttcomponent-userProfileComponent.contacts .contact-block{flex:1}
.ttcomponent-userProfileComponent.contacts .social-block > a,
.ttcomponent-userProfileComponent.contacts .social-block > div {margin: 1rem;}
.ttcomponent-userProfileComponent.contacts .social-icon{width: 3rem;height: 3rem;padding: 0.5rem;border-radius: 50%;}

.ttcomponent-userProfileComponent.languages .languages-container{width: 100%;text-align: center;margin-top: 2rem;}
.ttcomponent-userProfileComponent.languages .language-element{background-color:#EEEDEE;padding:0.5rem 1rem;border-radius:3rem;margin:0 1rem}

.ttcomponent-userProfileComponent .user-profile-component-title {padding-bottom: 1rem;}


.ttcomponent-userProfileComponent .user-profile-component-title > span { text-transform: uppercase; display:inline-block;}
.ttcomponent-userProfileComponent .user-profile-component-title > span:first-child { display:none;}
.ttcomponent-userProfileComponent .user-profile-component-title > span:first-child:after{content:''; display:block; margin:1rem auto 0 auto; border-bottom:1px solid #ccc; max-width:80%;}
.ttcomponent-userProfileComponent .user-profile-component-title > span:last-child{position:absolute; right:0;}

.ttcomponent-userProfileComponent .component-view:not(.fal):empty:before{ content:'---';}
.ttcomponent-userProfileComponent .component-view.emptyIcon:not(.fal):empty:before {
	content:'';
	display:block;
	height: 100px;
	width:100%;
	background:red;
}
.ttcomponent-userProfileComponent .contact-label { text-transform:uppercase;}
