/* Component style rules */
.ttcomponent-userProfileComponent.contacts .social-icon.social-fb{background-color: #3b5998;}
.ttcomponent-userProfileComponent.contacts .social-icon.social-tw{background-color: #1DA1F2;}
.ttcomponent-userProfileComponent.contacts .social-icon.social-in{background-color: #0077b5;}
.ttcomponent-userProfileComponent.contacts .social-icon{color: #fff;}