/*======== FORM ========*/

.lf-wrap {
  display: block;
  position: relative;
  padding-left: 24px;
  margin: 16px 0;
  cursor: pointer;
  font-size: prem(10px);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: $black;
  font-weight: normal;
  line-height: 16px;
  text-transform: uppercase;
  &:first-child {
    margin-top: 5px;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  &:hover input ~ .checkmark {
    background-color: rgba($light-gray, .5);
  }

  input:checked ~ .checkmark {
    background-color: $blue;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: transparent;
    border: 1px solid $light-ciano;

  }

  input:checked ~ .checkmark:after {
    display: block;
  }

  &.lf-wrap--radio {
    .checkmark {
      border-radius: 50%;
    }
  }

  &.lf-wrap--check {
    input {
      height: 0;
      width: 0;
    }
  }
}

.actions {
  .btn--transpgreen {
    padding: 5px 10px 5px;
  }
  .btn + .btn {
    margin-left: 10px;
  }
}

input, textarea {
  font-size: prem(10px);
  &::placeholder {
    opacity: .6;
    font-weight: 300;
    font-size: prem(10px);
    text-transform: uppercase;
  }
  &:focus {
    outline: 0;
  }
  color: $gray;
  padding: 5px 5px 4px;
  border: 1px solid $light-ciano;
}
.input-row {
  margin-bottom: 30px;
}
[class^="col-"] {
  textarea {
    width: 100%;
  }
  input {
    width: 100%;
    &[type=radio], &[type=checkbox] {
      width: auto;
    }
  }
  .small-text {
    color: $blue;
  }
}

.select-wrap {
  position: relative;
  line-height: 31px;
  border: 1px solid rgba($blue, .5);
  select {
    color: $blue;
    padding: 4px 5px 4px;
    border: 0;
    width: 100%;
    background: transparent;
    line-height: 31px;
    font-family: $font-family-sans-serif;
    font-weight: normal;
    display: inline-block;
    font-size: prem(12px);
    cursor: pointer;
    &:hover {
      text-decoration: none;
    }
    .dropdown-menu {
      width: 100%;
    }
    &:focus {
      outline: none;
    }
  }
  &::after {
    content: "";
    border: 0;
    background: $white url("../img/chevron-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px;
    height: 90%;
    position: absolute;
    right: 4px;
    top: 2px;
    line-height: 38px;
    background-position-y: center;
  }
}

.input-group {
  position: relative;
  .input-group-addon {
    position: absolute;
    right: 6px;
    top: 20px;
  }
}

.form-control {
  display: block;
  width: 100%;
  height: auto;
  padding: 3px 10px;
  font-size: 12px;
  color: $gray;
  border: 1px solid $light-gray;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
}