// HP

.main-content {
  padding-top: 0;
}

.top-entry {
  .text-wrap {
  }
  .scheda {
    height: 70vh;
    @include media-breakpoint-down(lg) {
      height: 60vh;
    }
    @include media-breakpoint-down(md) {
      //height: 530px;
    }
    @include media-breakpoint-down(sm) {

    }
    & > [class^="col-"] {
      @include media-breakpoint-down(sm) {
        top: 0;
        position: absolute;
        left: 0;
      }
    }
    & > [class^="col-"]:first-child {
      z-index: 2;
      opacity: 1;
      @include media-breakpoint-down(sm) {
        position: static;
      }
    }
    .square-mask {
      position: relative;
      right: 320px;
      top: -20%;
      width: 1100px;
      height: 1100px;
      border-radius: 50%;
      overflow: hidden;
      background-repeat: no-repeat;
      background-size: contain;
      @include media-breakpoint-down(lg) {
        right: 350px;
        top: -15%;
        width: 900px;
        height: 900px;
      }
      @media screen and (max-width: 1200px) {
        right: 350px;
        top: -5%;
        width: 800px;
        height: 800px;
      }
      @include media-breakpoint-down(sm) {
        right: -25%;
        width: 700px;
        height: 700px;
        top: -10%;
      }
      @media screen and (max-width: 400px) {
        right: -25%;
        width: 500px;
        height: 500px;
        top: 0;
      }
      &.reverse {
        right: 370px;
        top: -5%;
        @include media-breakpoint-down(lg) {
          right: 220px;
        }
        @media screen and (max-width: 1200px) {
          right: 320px;
        }
        @media screen and (max-width: 1199px) {
          right: 360px;
        }
        @media screen and (max-width: 979px) {
          right: 445px;
        }
        @include media-breakpoint-down(sm) {
          right: 166px;
          width: 400px;
          height: 400px;
          top: 18%;
        }
      }
    }
    h1 {
      @extend %font-58px;
      @media screen and (min-width: 1000px) {
        max-width: 70vw;
      }
      @media screen and (min-width: 1400px) {
        max-width: 75vw;
      }
    }
  }
  h1 {
    color: $blue;
    line-height: 1;
    margin: 0;
    & + h1 {

    }
  }
  h2 {
    max-width: 730px;
  }
  &.top-entry--events, &.top-entry--community {
    .scheda {
      height: 60vh;
      @include media-breakpoint-down(lg) {
        height: 50vh;
      }
      @include media-breakpoint-down(md) {
        //height: 520px;
      }
      @include media-breakpoint-down(sm) {

      }
    }
  }
  &.top-entry--community {
    position: relative;
    &::before {
      position: absolute;
      width: 500px;
      left: 100%;
      top: 0;
      height: 100%;
      content: "";
      background-color: $white;
    }
  }
}