//== Font size responsive
//

%font-8px {
  font-size: prem(8px);
  @include media-breakpoint-up(md) {
    font-size: prem(8px);
  }
  @include media-breakpoint-up(xl) {
    font-size: prem(8px);
  }
}

%font-10px {
  font-size: prem(10px);
  @include media-breakpoint-up(md) {
    font-size: prem(10px);
  }
  @include media-breakpoint-up(xl) {
    font-size: prem(10px);
  }
}

// ---

%font-12px {
  font-size: prem(12px);
  @include media-breakpoint-up(md) {
    font-size: prem(12px);
  }
  @include media-breakpoint-up(xl) {
    font-size: prem(12px);
  }
}

// ---

%font-13px {
  font-size: prem(13px);
  @include media-breakpoint-up(md) {
    font-size: prem(13px);
  }
  @include media-breakpoint-up(xl) {
    font-size: prem(13px);
  }
}

// ---

%font-14px {
  font-size: prem(13px);
  @include media-breakpoint-up(xl) {
    font-size: prem(14px);
  }
}

// ---

%font-15px {
  font-size: prem(13px);
  @include media-breakpoint-up(lg) {
    font-size: prem(15px);
  }
}

// ---

%font-16px {
  font-size: prem(16px);
  @include media-breakpoint-up(xl) {
    font-size: prem(16px);
  }
}

// ---

%font-18px {
  font-size: prem(15px);
  @include media-breakpoint-up(md) {
    font-size: prem(18px);
  }
  @include media-breakpoint-up(xl) {
    font-size: prem(18px);
  }
}

// ---

%font-20px {
  font-size: prem(16px);
  @include media-breakpoint-up(lg) {
    font-size: prem(17px);
  }
  @include media-breakpoint-up(xl) {
    font-size: prem(20px);
  }
}

// ---

%font-22px {
  font-size: prem(18px);
  @include media-breakpoint-up(lg) {
    font-size: prem(22px);
  }
  @include media-breakpoint-up(xl) {
    font-size: prem(22px);
  }
}

// ---

%font-24px {
  font-size: prem(18px);
  @include media-breakpoint-up(md) {
    font-size: prem(24px);
  }
  @include media-breakpoint-up(xl) {
    font-size: prem(24px);
  }
}

// ---

%font-26px {
  font-size: prem(16px);
  @include media-breakpoint-up(lg) {
    font-size: prem(20px);
  }
  @include media-breakpoint-up(xl) {
    font-size: prem(26px);
  }
}

// ---

%font-28px {
  font-size: prem(16px);
  @include media-breakpoint-up(lg) {
    font-size: prem(20px);
  }
  @include media-breakpoint-up(xl) {
    font-size: prem(28px);
  }
}


// ---

%font-30px {
  font-size: prem(18px);
  @include media-breakpoint-up(md) {
    font-size: prem(20px);
  }
  @include media-breakpoint-up(lg) {
    font-size: prem(24px);
  }
  @include media-breakpoint-up(xl) {
    font-size: prem(30px);
  }
}

// ---

%font-32px {
  font-size: prem(20px);
  @include media-breakpoint-up(md) {
    font-size: prem(30px);
  }
  @include media-breakpoint-up(lg) {
    font-size: prem(32px);
  }
  @include media-breakpoint-up(xl) {
    font-size: prem(32px);
  }
}
%font-32px-small {
  font-size: prem(18px);
  @include media-breakpoint-up(md) {
    font-size: prem(20px);
  }
  @include media-breakpoint-up(lg) {
    font-size: prem(24px);
  }
  @include media-breakpoint-up(xl) {
    font-size: prem(32px);
  }
}

// ---

%font-40px {
  font-size: prem(22px);
  @include media-breakpoint-up(md) {
    font-size: prem(32px);
  }
  @include media-breakpoint-up(xl) {
    font-size: prem(40px);
  }
}

// ---

%font-44px {
  font-size: prem(26px);
  @include media-breakpoint-up(md) {
    font-size: prem(32px);
  }
  @include media-breakpoint-up(lg) {
    font-size: prem(36px);
  }
  @include media-breakpoint-up(xl) {
    font-size: prem(44px);
  }
}

// ---

%font-42px {
  font-size: prem(26px);
  @include media-breakpoint-up(md) {
    font-size: prem(36px);
  }
  @include media-breakpoint-up(lg) {
    font-size: prem(42px);
  }
  @include media-breakpoint-up(xl) {
    font-size: prem(56px);
  }
}

%font-48px {
  font-size: prem(36px);
  @include media-breakpoint-up(md) {
    font-size: prem(38px);
  }
  @include media-breakpoint-up(lg) {
    font-size: prem(48px);
  }
  @include media-breakpoint-up(xl) {
    font-size: prem(48px);
  }
}

// ---

%font-56px {
  font-size: prem(36px);
  @include media-breakpoint-up(md) {
    font-size: prem(46px);
  }
  @media screen and (max-width: 1600px) {
    font-size: prem(56px);
  }
  @media screen and (min-width: 1601px) {
    font-size: prem(56px);
  }
}

// ---

%font-70px {
  font-size: prem(60px);
  @include media-breakpoint-up(md) {
    font-size: prem(65px);
  }
  @include media-breakpoint-up(lg) {
    font-size: prem(70px);
  }
  @include media-breakpoint-up(xl) {
    font-size: prem(70px);
  }
}

// ---

%font-58px {
  font-size: prem(40px);
  @include media-breakpoint-up(md) {
    font-size: prem(56px);
  }
  @media screen and (min-width: 1400px) {
    font-size: prem(62px);
  }
  @include media-breakpoint-up(xl) {
    font-size: prem(72px);
  }
}

// ---

%font-72px {
  font-size: prem(40px);
  @include media-breakpoint-up(md) {
    font-size: prem(56px);
  }
  @include media-breakpoint-up(lg) {
    font-size: prem(72px);
  }
  @include media-breakpoint-up(xl) {
    font-size: prem(72px);
  }
}

%font-90px {
  font-size: prem(60px);
  @include media-breakpoint-up(md) {
    font-size: prem(75px);
  }
  @include media-breakpoint-up(lg) {
    font-size: prem(90px);
  }
  @include media-breakpoint-up(xl) {
    font-size: prem(90px);
  }
}

// ---

%font-104px {
  font-size: prem(64px);
  @include media-breakpoint-up(md) {
    font-size: prem(68px);
  }
  @include media-breakpoint-up(lg) {
    font-size: prem(104px);
  }
  @include media-breakpoint-up(xl) {
    font-size: prem(104px);
  }
}

// ---
