
            html{
                /* overflow-x:hidden; */
             }
             @media screen and (min-width: 1920px){
                 #header header.main-header {
                     min-width: auto;
                     max-width: 1920px;
                 }
             }
             @media screen and (max-width: 1200px){
                 .top-entry .container-fluid {
                     width: 93vw !important;
                 }
             }
 
             @media (min-width: 769px) {
                 body:not(.is-scrolled) [data-color="dark"] .icon:not(.connection-hub-link),
                 body:not(.is-scrolled) [data-color="dark"] .fal:before,
                 body:not(.is-scrolled) [data-color="dark"] .icon:before {
                     color:white !important;
                 }
             }
 
             /* gestione altezza */
             .top-entry .scheda-spacer{
                pointer-events: none;
                visibility: hidden;
                width: 55vw;
                max-width: calc(55vw - 55%);
                max-height: 620px;
                min-height: 220px;
            }
            .top-entry.isLogged .scheda-spacer{
                pointer-events: none;
                visibility: hidden;
                width: 35vw;
                max-width: calc(35vw - 35%);
                max-height: 450px;
                min-height: 220px;
            }
     

             @media screen  and (min-width: 1745px) and (max-width: 1919px){
                .top-entry .scheda-spacer{
                    max-height: 540px;
                    min-height: 220px;
                }
                .top-entry.isLogged .scheda-spacer{
                    max-height: 560px;
                    min-height: 220px;
                } 
             }

             @media screen  and (min-width: 1536px) and (max-width: 1744px){
                .top-entry .scheda-spacer{
                    max-height: 460px;
                    min-height: 220px;
                }
                .top-entry.isLogged .scheda-spacer{
                    max-height: 460px;
                    min-height: 220px;
                } 
             }
             @media screen  and (min-width: 1366px) and (max-width: 1535px){
                .top-entry .scheda-spacer{
                    max-height: 380px;
                    min-height: 220px;
                }
                .top-entry.isLogged .scheda-spacer{
                    max-height: 310px;
                    min-height: 220px;
                } 
             }

             @media screen  and (min-width: 1200px) and (max-width: 1280px){
                .top-entry .scheda-spacer{
                    pointer-events: none;
                    visibility: hidden;
                    width: 55vw;
                    max-width: calc(55vw - 55%);
                    max-height: 360px;
                    min-height: 220px;
                }
                .top-entry.isLogged .scheda-spacer{
                    pointer-events: none;
                    visibility: hidden;
                    width: 35vw;
                    max-width: calc(35vw - 35%);
                    max-height: 400px;
                    min-height: 220px;
                } 
             }

 
             html body .top-entry-new .scheda > [class^="col-"] {
                 position:static!important;
             }
             div[data-color-image="dark"]:before {
                 display:none
             }
 
             .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask {
                 top: -18%;
                 max-width: 52%;
                 min-width: 52%;
                 right: -15px;
                 transform: translateX(10%);
             }
             .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .square-mask {
                 top: -18%;
                 max-width: 45%;
                 min-width: 45%;
                 right: -15px;
                 transform: translateX(10%);
             }
 
             div[data-color-image="dark"] .square-mask-parent{
                 overflow: hidden;
                 position: relative;
                 border-radius:100%;
                 border-top-right-radius: 0;
             }
             @media (min-width: 1025px){
                 .slider-section.slider-section-hp .top-entry-new div[data-color-image="dark"]:before {
                     display:none!important
                 }
             }
 
             div[data-color-image="dark"] .square-mask-parent:before {
                 content: '';
                 display: block;
                 position: absolute;
                 top: 0;
                 left: 0;
                 width: 100%;
                 height: 40%;
                 background: rgb(0,70,173);
                 background: linear-gradient(180deg, rgba(0,70,173,0.8533788515406162) 20%, rgba(0,70,173,0) 100%);
                 z-index: 5;
             }
             .top-entry-new .container-fluid {
                  overflow: visible !important; 
             }
         
             #hero-zone .top-entry-new h1 {
                 display: flex;
                 flex-direction: column;
             }
             #hero-zone .top-entry-new h1 > * {
                 display: block;
             }
             
             #hero-zone .top-entry-new .short-description{
                 padding:0 1.5rem 0 0;
                 background:none;
                 display: block;
             }
             
             #hero-zone .top-entry-new .text-wrap:nth-child(1) {
                display: flex;
                 flex-direction: column;
                 flex-wrap: wrap;
                 align-items: flex-start;
                 max-width:100%;
             }
 
             .slider-section.slider-section-hp .top-entry-new .top-entry .scheda .square-mask img{
                 border-radius: 100%;
                 border-top-right-radius: 0;
             }
 
 
         /* HP */
             html body .top-entry-new .top-entry .scheda h1,
             html body .top-entry-new .top-entry .scheda .short-description {
                 max-width:95%!important;
                 padding-right: 1em;
             }
             
             html body .top-entry-new .top-entry .scheda .short-description p {
             }
             
             /* NOT LOGGED */
 
                 .slider-section.slider-section-hp .top-entry-new .top-entry .scheda {
                     margin-top:70px;
                     height: auto;
                     min-width: inherit;
                     max-height: inherit;
                     min-height: inherit;
                 }
 
                 .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask{ 
                     transform-origin: right top;
                     left: inherit;
                     top: -18%;
                     border-radius: 0;
                     border-top-left-radius: 50%;
                     overflow: visible;
                     position: absolute;
                     right: -15px;
                     transform: translateX(10%);       
                 }
                 
                 .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask img{
                     border-radius: 100%;
                     border-top-right-radius: 0;
                     position: relative;
                 }
                 
             /* / NOT LOGGED */
             
             /* LOGGED  .isLogged */
             
                 html body .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .scheda {
                     margin-top:70px;
                     height: auto;
                     min-width: inherit;
                     max-height: inherit;
                     min-height: inherit;
                 }
 
                 .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .square-mask img{
                     border-radius: 100%;
                     border-top-right-radius: 0;
                     position: relative;
                 }
         
                 
             /* / LOGGED */
 
                 .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                     max-width: inherit;
                     min-width: 50%;
                 }
         /* / HP */
         
 
 
     @media screen and (max-width: 1745px){
         /* HP */
 
             /* NOT LOGGED */
 
                 .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask {
                     top: -18%;
                     max-width: 50%;
                     min-width: 50%;
                     right: -15px;
                     transform: translateX(10%);
                 }
                 
             /* / NOT LOGGED */
 
             /* LOGGED  .isLogged */
                 .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .square-mask {
                     top: -18%;
                     max-width: 45%;
                     min-width: 45%;
                     right: -15px;
                     transform: translateX(10%);
                 }
                 
             /* / LOGGED */
 
                 .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                     max-width: inherit;
                 }
     }
 
     @media screen and (max-width: 1536px){
             /* HP */
                 /* NOT LOGGED */
 
                 .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask {
                     top: -18%;
                     max-width: 53%;
                     min-width: 53%;
                     right: -15px;
                     transform: translateX(10%);
                 }
                 
                 .slider-section.slider-section-hp .top-entry-new .top-entry .scheda .square-mask img{
                     border-radius: 100%;
                     border-top-right-radius: 0;
                 }
                 
             /* / NOT LOGGED */
 
             /* LOGGED  .isLogged */
             .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .square-mask {
                 top: -18%;
                 max-width: 48%;
                 min-width: 48%;
                 right: -15px;
                 transform: translateX(10%);
             }
                 
             /* / LOGGED */
 
                 .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                     max-width: inherit;
                 }
     }
 
     @media screen and (max-width: 1366px){
         /* HP */
             /* NOT LOGGED */
 
             .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask {
                 top: -18%;
                 max-width: 53%;
                 min-width: 53%;
                 right: -15px;
                 transform: translateX(10%);
             }
             
             .slider-section.slider-section-hp .top-entry-new .top-entry .scheda .square-mask img{
                 border-radius: 100%;
                 border-top-right-radius: 0;
             }
             
         /* / NOT LOGGED */
 
         /* LOGGED  .isLogged */
         .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .square-mask {
             top: -18%;
             max-width: 53%;
             min-width: 53%;
             right: -15px;
             transform: translateX(10%);
         }
             
         /* / LOGGED */
 
             .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                 max-width: inherit;
             }
     }
 
     @media screen and (max-width: 1280px){ /* 80em */
         /* HP */
                 /* NOT LOGGED */
 
                 .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask {
                     top: -18%;
                     max-width: 56%;
                     min-width: 56%;
                     right: -15px;
                     transform: translateX(10%);
                 }
                 
                 .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask img {
                     border-radius: 100%;
                     border-top-right-radius: 0;
                     position: relative;
                 }
                 
                 .slider-section.slider-section-hp .top-entry-new .top-entry .scheda .square-mask img{
                     border-radius: 100%;
                     border-top-right-radius: 0;
                 }
                 
             /* / NOT LOGGED */
 
             /* LOGGED  .isLogged */
                 html body .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .scheda {
                     /* height: calc((100vw * 720 / 1920) * .66);
                     min-height: 340px; */
                 }	
                 .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .square-mask {
                     top: -18%;
                     max-width: 53%;
                     min-width: 53%;
                     right: -15px;
                     transform: translateX(10%);
                 }
                 
                 
             /* / LOGGED */
 
                 .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                     max-width: inherit;
                 }
     }
 
     @media screen and (max-width: 1120px){ /* 80em */
         /* HP */
                 /* NOT LOGGED */
 
                 .slider-section.slider-section-hp .top-entry-new .top-entry .scheda {
                     /* height: calc((100vw * 720 / 1920) * .58);
                     min-height: 520px;
                     max-height: calc((100vw * 720 / 1920)); */
                 }
                 
                 .slider-section.slider-section-hp .top-entry-new .top-entry .scheda .square-mask img{
                     border-radius: 100%;
                     border-top-right-radius: 0;
                 }
                 
             /* / NOT LOGGED */
 
             /* LOGGED  .isLogged */
                 html body .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .scheda {
                     /* height: calc((100vw * 640 / 1920) * .58);
                     min-height: calc((100vw * 640 / 1920)); */
                 }	
                 
             /* / LOGGED */
 
                 .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                     max-width: inherit;
                 }
     }
 
 
     @media screen and (max-width: 1097px){ /* 64em */
         /* HP */
             /* NOT LOGGED */
 
                 .slider-section.slider-section-hp .top-entry-new .top-entry .scheda {
                     /* height: calc((100vw * 720 / 1920) * .57);
                     min-height: calc((100vw * 720 / 1920)); */
                 }
 
                 
                 .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask img {
                     border-radius: 100%;
                     border-top-right-radius: 0;
                     position: relative;
                 }
                 
             /* / NOT LOGGED */
 
             /* LOGGED  .isLogged */
 
                 html body .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .scheda {
                     /* height: calc((100vw * 640 / 1920) * .57);
                     min-height: calc((100vw * 640 / 1920)); */
                 }	
                 
             /* / LOGGED */
 
                 .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                     max-width: inherit;
                 }
     }
 
 
     @media screen and (max-width: 1097px) { /* 64em */  
         
         html body .top-entry-new .short-description{
             padding:.75rem .75rem .75rem 0;
             display: block;
         }
 
         html body .top-entry-new .top-entry .scheda h1, 
         html body .top-entry-new .top-entry .scheda .short-description {
             padding-right: 0;
             min-width: 100%;
         }
         /* HP */
             /* NOT LOGGED */
                 .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask {
                     top: -18%;
                     max-width: 53%;
                     min-width: 53%;
                     right: -15px;
                     transform: translateX(10%);
                 }
 
                 .slider-section.slider-section-hp .top-entry-new .top-entry .scheda .square-mask img{
                     border-radius: 100%;
                     border-top-right-radius: 0;
                 }
                 
             /* / NOT LOGGED */
 
             /* LOGGED  .isLogged */
 
                 .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .square-mask {
                     top: -18%;
                     max-width: 53%;
                     min-width: 53%;
                     right: -15px;
                     transform: translateX(10%);
                 }
                 
             /* / LOGGED */
 
                 .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                     max-width: inherit;
                 }
     }
 
     @media screen and (max-width: 1097px) and (orientation:landscape){ /* 64em */
         
         html body .top-entry-new .top-entry .scheda h1, 
         html body .top-entry-new .top-entry .scheda .short-description {
             padding-right: 0;
             /*min-width: 116%;*/
         }
         /* HP */
             /* NOT LOGGED */
                 .slider-section.slider-section-hp .top-entry-new .top-entry .scheda {
                     /* height: calc((100vw * 720 / 1920) * .57);
                     min-height: 400px; */
                 }
 
                 .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .square-mask {
                     top: -15%;
                     max-width: 53%;
                     min-width: 53%;
                     right: -15px;
                     transform: translateX(10%);
                 }     
 
                 .slider-section.slider-section-hp .top-entry-new .top-entry .scheda .square-mask img{
                     border-radius: 100%;
                     border-top-right-radius: 0;
                 }
                 
             /* / NOT LOGGED */
 
             /* LOGGED  .isLogged */
 
                 html body .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .scheda {
                     /* height: calc((100vw * 640 / 1920) * .57);
                     min-height: 400px; */
                 }	
                 
                 .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .square-mask {
                     top: -10%;
                     max-width: 57%;
                     min-width: 57%;
                     right: -15px;
                     transform: translateX(10%);
                 }     
             /* / LOGGED */
 
                 .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                     max-width: inherit;
                 }
     }
 
 
     @media screen and (max-width: 1024px) and (orientation:landscape){ /* 64em */  
 
         .top-entry .scheda-spacer {
             max-height: inherit;
             min-height: inherit;
             }
 
         #hero-zone .top-entry-new .short-description{
             padding:.75rem .75rem 0 0;
             background: rgba(255,255,255,0);
             display: inline-block;
         }
         #hero-zone .top-entry-new .short-description p {
             margin-top:0 !important;
         }
 
         html body .top-entry-new .top-entry .scheda h1, 
         html body .top-entry-new .top-entry .scheda .short-description {
             padding-right: 0;
         }
         /* HP */
             /* NOT LOGGED */
                 .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask {
                     top: -18%;
                     max-width: 57%;
                     min-width: 57%;
                     right: -15px;
                     transform: translateX(10%);
                 }
                 
                 .slider-section.slider-section-hp .top-entry-new .top-entry .scheda .square-mask img{
                     border-radius: 100%;
                     border-top-right-radius: 0;
                 }
                 
             /* / NOT LOGGED */
 
             /* LOGGED  .isLogged */
 
                 .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .square-mask {
                     top: -18%;
                     max-width: 57%;
                     min-width: 57%;
                     right: -15px;
                     transform: translateX(10%);
                 }
                 
             /* / LOGGED */
 
                 .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                     max-width: inherit;
                 }
     }
     @media screen and (max-width: 960px) and (orientation:portrait){ 
 
 }
     @media screen and (max-width: 960px) and (orientation:landscape){ /* 56.25 em*/
         
         /* html body:not(.is-scrolled):not(.is-scrolled-xs) header.main-header {
             background-color: rgba(255,255,255, 1)!important;
             height: 70px;
             transition: all .5s ease;
         }     */
         /* HP */
 
             .top-entry-new .top-entry .h1{
                 padding-top:4vh;
             }
             .top-entry-new .top-entry .short-description {
                 padding-right: 10vw;
             }
 
             /* NOT LOGGED */
 
                 .slider-section.slider-section-hp .top-entry-new .top-entry .scheda {
                     /* height: calc(960px * 720 / 1920);
                     min-height: calc(960px * 720 / 1920); */
                 }
 
                 .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask {
                     transform-origin: right top;
                     left: inherit;
                     top: -18%;
                     border-radius: 0;
                     border-top-left-radius: 50%;
                     overflow: visible;
                     position: absolute;
                     max-width: 55%;
                     min-width: 55%;
                     right: -15px;
                     transform: translateX(10%);
                 }
                 
                 .slider-section.slider-section-hp .top-entry-new .top-entry .scheda .square-mask img{
                     border-radius: 100%;
                     border-top-right-radius: 0;
                 }
                 
             /* / NOT LOGGED */
 
             /* LOGGED  .isLogged */
 
                 html body .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .scheda {
                     /* height: calc(960px * 640 / 1920);
                     min-height: calc(960px * 640 / 1920);
                     align-items: center; */
                 }
                 .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .square-mask {
                     transform-origin: right top;
                     left: inherit;
                     top: -18%;
                     border-radius: 0;
                     border-top-left-radius: 50%;
                     overflow: visible;
                     position: absolute;
                     max-width: 55%;
                     min-width: 55%;
                     right: -15px;
                     transform: translateX(10%);
                 }
                 
             /* / LOGGED */
 
                 .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                     max-width: inherit;
                     min-width: 45%;
                 }
     }
 
     @media screen and (max-width: 840px)  and (min-width: 761px){
         .slider-section.slider-section-hp .top-entry-new .top-entry .scheda {
             align-items:flex-start;
         }
     }
 
     @media screen and (max-width: 768px){ /* 48em*/
         body:not(.is-scrolled) [data-color="dark"] .icon:not(.connection-hub-link), 
         body:not(.is-scrolled) [data-color="dark"] .fal:before, 
         body:not(.is-scrolled) [data-color="dark"] .icon:before {
             color: #0046AD !important;
         }
         /* HP */
 
             .top-entry-new .top-entry .h1{
                 padding-top:4vh;
             }
             
             .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask {
                 top: 0%;
                 max-width: 55%;
                 min-width: 55%;
                 right: -15px;
                 transform: translateX(10%);
             }
 
             /* NOT LOGGED */
 
                 .slider-section.slider-section-hp .top-entry-new .top-entry .scheda {
                     /* height: calc(768px * 720 / 1920);
                     min-height: calc(768px * 720 / 1920); */
                 }     
 
                 .slider-section.slider-section-hp .top-entry-new .top-entry .scheda .square-mask img{
                     border-radius: 100%;
                     border-top-right-radius: 0;
                 }
                 
             /* / NOT LOGGED */
 
             /* LOGGED  .isLogged */
 
                 html body .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .scheda {
                     /* height: calc(768px * 640 / 1920);
                     min-height: calc(768px * 640 / 1920); */
                 }	
                 .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .square-mask {
                     top: 0%;
                     max-width: 55%;
                     min-width: 55%;
                     right: -15px;
                     transform: translateX(10%);
                 }
                 
             /* / LOGGED */
 
                 .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                     max-width: 70%;
                 }
     }
 
     @media screen and (max-width: 768px) and (orientation:portrait){ /* 48em */
         html body:not(.is-scrolled):not(.is-scrolled-xs) header.main-header {
             background-color: rgba(255,255,255, 1)!important;
             height: 70px;
             transition: all .5s ease;
         }
            
         /* HP */
 
             .top-entry-new .top-entry .h1{
                 padding-top:4vh;
             }
 
             /* NOT LOGGED */
 
                 .slider-section.slider-section-hp .top-entry-new .top-entry .scheda {
                     /* height: 445px;
                     min-height: 445px; */
                 }
 
                 .slider-section.slider-section-hp .top-entry-new .top-entry .scheda .square-mask{ 
                     height: 130%;
                     width: 130%;
                     left: 0;
                     transform-origin: right top;
                     right: 0;
                     top: -1em;
                     border-radius: 0;
                     border-top-left-radius: 50%;
                     overflow: visible;
                     transform: translateX(-6%);
                 }
                 
                 .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask img {
                     border-radius: 100%;
                     border-top-right-radius: 0;
                     position: relative;
                 }
                 
             /* / NOT LOGGED */
 
             /* LOGGED  .isLogged */
 
                 html body .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .scheda {
                     /* height: calc(768px * 640 / 1920);
                     min-height: 400px */
                 }	
                 .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .square-mask img {
                     border-radius: 100%;
                     border-top-right-radius: 0;
                     position: relative;
                 }               
             /* / LOGGED */
 
                 .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                     max-width: 80%;
                     margin-top: 0%;
                     min-width: 50%;
                 }
     }
 
     @media screen and (max-width: 768px) and ( orientation:landscape){ /* 48em */
         /* HP */
         html body .top-entry-new .top-entry .scheda h1, 
         html body .top-entry-new .top-entry .scheda .short-description {
             padding-right: 0;
             min-width: inherit;
         }
         .top-entry-new .top-entry .h1{
             padding-top:4vh;
         }
 
         /* NOT LOGGED */
 
             .slider-section.slider-section-hp .top-entry-new .top-entry .scheda {
                 align-items: center;
             }
             .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask {
                 top: 0%;
                 max-width: 60%;
                 min-width: 60%;
                 right: -15px;
                 transform: translateX(10%);
             }
             
             
         /* / NOT LOGGED */
 
         /* LOGGED  .isLogged */
 
             html body .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .scheda {
                 align-items: center;
             }	
             .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .square-mask {
                 top: 15px;
                 max-width: 60%;
                 min-width: 60%;
                 right: -15px;
                 transform: translateX(10%);
             }
             
         /* / LOGGED */
 
             .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                 max-width: 53%;
                 padding-top: 2rem !important;
             }
             .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                 max-width: 70%;
                 margin-top: 0;
             }
     }
 
 
     @media screen and (max-width: 767px) and (orientation:portrait){ /*42.5em*/
 
         #hero-zone .top-entry-new h1 span{
             display: block;
         }
         html body.isMobile:not(.is-scrolled):not(.is-scrolled-xs) header.main-header {
             background-color: rgba(255,255,255, 1);
             height: 60px;
             transition: all .5s ease;
         }
         html body .top-entry-new .top-entry .scheda h1, 
         html body .top-entry-new .top-entry .scheda .short-description {
             max-width: inherit!important;
             padding-right:0;
         }
         .top-entry .scheda-spacer {
             pointer-events: none;
             visibility: hidden;
             width: 100vw;
             max-width: calc(100vw - 29%);
             max-height: 620px;
             min-height: 300px !important;
         }
         .top-entry.isLogged .scheda-spacer {
             pointer-events: none;
             visibility: hidden;
             width: 100vw;
             max-width: calc(100vw - 29%);
             max-height: 620px;
             min-height: 300px !important;
         }
         /* HP */
 
 
             /* NOT LOGGED */
 
                 .slider-section.slider-section-hp .top-entry-new .top-entry .scheda {
                     margin-bottom: 1rem;
                     justify-content: center;
                     flex-direction: column;
                     flex-wrap: wrap-reverse;
                 }
                 .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask {
                     top:15px;
                     max-width: 83%;
                     min-width: 83%;
                     right: -15px;
                     transform: translateX(10%);
                 }               
                 .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask img {
                     top:0;
                 }
                 
             /* / NOT LOGGED */
 
             /* LOGGED  .isLogged */
 
                 html body .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .scheda {
                     margin-bottom: 1rem;
                     align-items: flex-start;
                     flex-direction: column;
                     flex-wrap: wrap-reverse;
                 }	
                 .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .square-mask {
                     top: 15px;
                     max-width: 100%;
                     min-width: 100%;
                     right: -15px;
                     transform: translateX(10%);
                 }    
                 .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .square-mask img {
                     top:0;
                 }
                 
             /* / LOGGED */
 
                 .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                     max-width: inherit;
                     order:2;
                     flex:1;
                 }
                 .top-entry-new .top-entry .scheda > [class^="col-"]:last-child {
                     order:1;
                     flex:1;
                 }
                 html body #hero-zone .top-entry-new .top-entry .scheda p {
                     display: block;
                     max-width: inherit!important;
                 }
                 .top-entry-new .fx-xs-align-items-center {
                     align-items: center; /* LEVARE DA CODEBASE */
                 }
     }
 
     @media screen and (max-width: 767px) and (orientation:landscape){ /*42.5em*/
         html body.isMobile:not(.is-scrolled):not(.is-scrolled-xs) header.main-header {
             background-color: rgba(255,255,255, 1);
             height: 60px;
             transition: all .5s ease;
         }
     /* HP */
             html body .top-entry-new .top-entry .scheda h1, 
             html body .top-entry-new .top-entry .scheda .short-description {
                 padding-right: 0;
                 min-width: inherit;
             }
             .top-entry-new .top-entry .h1{
                 padding-top:4vh;
             }
 
             /* NOT LOGGED */
                 .slider-section.slider-section-hp .top-entry-new .top-entry .scheda {
                 }
                 .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask {
                     top:15px;
                 }
                 
                 
             /* / NOT LOGGED */
 
             /* LOGGED  .isLogged */
 
                 html body .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .scheda {
                 }	
                 .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .square-mask img{
 
                 }
                 
             /* / LOGGED */
 
                 .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                     max-width: 53%;
                     padding-top: 2rem !important;
                 }
                 .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                     max-width: 70%;
                     margin-top: 0;
                 }
     }
 
 
     @media screen and (max-width: 680px) and (orientation:portrait){ /*42.5em*/
 
         html body.isMobile:not(.is-scrolled):not(.is-scrolled-xs) header.main-header {
             background-color: rgba(255,255,255, 1);
             height: 60px;
             transition: all .5s ease;
         }
         html body .top-entry-new .top-entry .scheda h1, 
         html body .top-entry-new .top-entry .scheda .short-description {
             max-width: inherit!important;
             padding-right:0;
         }
         /* HP */
             /* NOT LOGGED */
 
                 .top-entry .scheda-spacer {
                     pointer-events: none;
                     visibility: hidden;
                     width: 100vw;
                     max-width: calc(100vw - 40%);
                     max-height: 620px;
                     min-height: 360px;
                 }
 
                 .slider-section.slider-section-hp .top-entry-new .top-entry .scheda {
                     margin-bottom: 1rem;
                     justify-content: center;
                     flex-direction: column;
                     flex-wrap: wrap-reverse; 
                 }
                 .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask {
                     top:15px;
                 }               
                 .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask img {
                     top:0;
                 }
                 
             /* / NOT LOGGED */
 
             /* LOGGED  .isLogged */
 
                 html body .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .scheda {
                     margin-bottom: 1rem;
                     align-items: flex-start;
                     flex-direction: column;
                     flex-wrap: wrap-reverse;
                 }	
                 .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .square-mask {
                     top:15px;
                 }    
                 .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .square-mask img {
                     top:0;
                 }
                 
             /* / LOGGED */
 
                 .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                     max-width: inherit;
                     order:2;
                     flex:1;
                 }
                 .top-entry-new .top-entry .scheda > [class^="col-"]:last-child {
                     order:1;
                     flex:1;
                 } 
                 html body #hero-zone .top-entry-new .top-entry .scheda p {
                     display: block;
                     max-width: inherit!important;
                 }
                 .top-entry-new .fx-xs-align-items-center {
                     align-items: center; /* LEVARE DA CODEBASE */
                 }
     }
 
     @media screen and (max-width: 680px) and (orientation:landscape){ /*42.5em*/
 
     /* HP */
             html body .top-entry-new .top-entry .scheda h1, 
             html body .top-entry-new .top-entry .scheda .short-description {
                 padding-right: 0;
                 min-width: inherit;
             }
             
             
             .top-entry-new .top-entry .h1{
                 padding-top:4vh;
             }
 
             /* NOT LOGGED */
 
                 .slider-section.slider-section-hp .top-entry-new .top-entry .scheda {
                     align-items: center;
                 }
                 .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask {
 
                 }
                 
                 .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask img{
                 }
                 
             /* / NOT LOGGED */
 
             /* LOGGED  .isLogged */
 
                 html body .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .scheda {
                     height: inherit;
                     min-height: inherit;
                     align-items: center;
                     padding-bottom: 40px;
                 }	
                 .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .square-mask img{
                 }
                 
             /* / LOGGED */
 
                 .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                     max-width: 55%;
                     padding-top: 2rem !important;
                 }
                 .top-entry-new .top-entry .scheda > [class^="col-"]:last-child {
                     min-width: 55%;
                     margin-top: 0;
                 }
     }
 
 
     @media screen and (max-width: 470px) and (orientation:portrait){ /*42.5em*/
 
         html body.isMobile:not(.is-scrolled):not(.is-scrolled-xs) header.main-header {
             background-color: rgba(255,255,255, 1);
             height: 60px;
             transition: all .5s ease;
         }
         html body .top-entry-new .top-entry .scheda h1, 
         html body .top-entry-new .top-entry .scheda .short-description {
             max-width: inherit!important;
             padding-right:0;
         }
         /* HP */
             /* NOT LOGGED */
 
                 .top-entry .scheda-spacer {
                     pointer-events: none;
                     visibility: hidden;
                     width: 100vw;
                     max-width: calc(100vw - 40%);
                     max-height: 620px;
                     min-height: 360px;
                 }
                 .top-entry.isLogged .scheda-spacer {
                     pointer-events: none;
                     visibility: hidden;
                     width: 100vw;
                     max-width: calc(100vw - 40%);
                     max-height: 620px;
                     min-height: 360px;
                 }
                 .slider-section.slider-section-hp .top-entry-new .top-entry .scheda {
                     justify-content: center;
                     flex-direction: column;
                     flex-wrap: wrap-reverse;
                 }
                 .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask {
                     top:0;
                     max-width: 100vw;
                     min-width: 100vw;
                     right: -15px;
                     transform: translateX(10%);
                 }               
                 .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask img {
                     top:0;
                 }
                 
             /* / NOT LOGGED */
 
             /* LOGGED  .isLogged */
 
                 html body .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .scheda {
                     justify-content: center;
                     flex-direction: column;
                     flex-wrap: wrap-reverse;
                 }	
                 .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .square-mask {
                     top:15px;
                     max-width: 100vw;
                     min-width: 100vw;
                     right: -15px;
                     transform: translateX(10%);
                 }    
                 .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .square-mask img {
                     top:0;
                 }
                 
             /* / LOGGED */
 
                 .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                     max-width: inherit;
                     order:2;
                     flex:1;
                 }
                 .top-entry-new .top-entry .scheda > [class^="col-"]:last-child {
                     order:1;
                     flex:1;
                 }
                 html body #hero-zone .top-entry-new .top-entry .scheda p {
                     display: block;
                     max-width: inherit!important;
                 }
                 .top-entry-new .fx-xs-align-items-center {
                     align-items: center; /* LEVARE DA CODEBASE */
                 }
     }
 
     @media screen and (max-width: 470px) and (orientation:landscape){ /*42.5em*/
 
     /* HP */
             html body .top-entry-new .top-entry .scheda h1, 
             html body .top-entry-new .top-entry .scheda .short-description {
                 padding-right: 0;
                 min-width: inherit;
             }
             .top-entry-new .top-entry .h1{
                 padding-top:4vh;
             }
 
             /* NOT LOGGED */
 
                 .slider-section.slider-section-hp .top-entry-new .top-entry .scheda {
                     height: calc(100vh);
                     min-height: calc(100vh) !important;
                     align-items: center;
                 }
                 .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask {
 
                 }
                 
                 .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask img{
                     max-width: 61vw;
                     min-width: 60vw;
                     left: calc(40vw + 25px);
                 }
                 
             /* / NOT LOGGED */
 
             /* LOGGED  .isLogged */
 
                 html body .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .scheda {
                     height: calc(100vh);
                     min-height: calc(100vh) !important;
                     align-items: center;
                 }	
                 .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .square-mask img{
                     max-width: 61vw;
                     min-width: 60vw;
                     left: calc(40vw + 25px);
                 }
                 
             /* / LOGGED */
 
                 .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                     max-width: 53%;
                     padding-top: 2rem !important;
                 }
                 .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                     max-width: 70%;
                     margin-top: 0;
                 }
     }
 
     @media screen and (max-width: 380px) and (orientation:portrait){ /*42.5em*/
 
         html body.isMobile:not(.is-scrolled):not(.is-scrolled-xs) header.main-header {
             background-color: rgba(255,255,255, 1);
             height: 60px;
             transition: all .5s ease;
         }
         html body .top-entry-new .top-entry .scheda h1, 
         html body .top-entry-new .top-entry .scheda .short-description {
             max-width: inherit!important;
         }
         html body .top-entry-new .top-entry .scheda .short-description {
             padding-right: 0 !important;
         }
         /* HP */
             /* NOT LOGGED */
 
                 .top-entry .scheda-spacer {
                     pointer-events: none;
                     visibility: hidden;
                     width: 100vw;
                     max-width: calc(100vw - 40%);
                     max-height: 620px;
                     min-height: 340px;
                 }
                 .top-entry.isLogged .scheda-spacer{
                     pointer-events: none;
                     visibility: hidden;
                     width: 100vw;
                     max-width: calc(100vw - 40%);
                     max-height: 620px;
                     min-height: 340px;
                 }
 
                 .slider-section.slider-section-hp .top-entry-new .top-entry .scheda {
                     margin-bottom: 0;
                     justify-content: center;
                     flex-direction: column;
                     flex-wrap: wrap-reverse;
                 }
                 .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask {
                     top:15px;
                     max-width: 100vw;
                     min-width: 100vw;
                     right: -15px;
                     transform: translateX(10%);
                 }               
                 .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask img {
                     top:0;
                 }
                 
             /* / NOT LOGGED */
 
             /* LOGGED  .isLogged */
 
                 html body .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .scheda {
                     margin-bottom: 0;
                     justify-content: center;
                     flex-direction: column;
                     flex-wrap: wrap-reverse;
                     padding-bottom:40px;
                 }	
                 .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .square-mask {
                     top:15px;
                 }    
                 .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .square-mask img {
                     top:0;
                 }
                 
             /* / LOGGED */
 
                 .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                     max-width: inherit;
                     order:2;
                     flex:1;
                 }
                 .top-entry-new .top-entry .scheda > [class^="col-"]:last-child {
                     order:1;
                     flex:1;
                 }
                 html body #hero-zone .top-entry-new .top-entry .scheda p {
                     display: block;
                     max-width: inherit!important;
                 }
                 .top-entry-new .fx-xs-align-items-center {
                     align-items: center; /* LEVARE DA CODEBASE */
                 }
     }
 
     @media screen and (max-width: 380px) and (orientation:landscape){ /*42.5em*/
 
     /* HP */
             html body .top-entry-new .top-entry .scheda h1, 
             html body .top-entry-new .top-entry .scheda .short-description {
                 padding-right: 0;
                 min-width: inherit;
             }
             .top-entry-new .top-entry .h1{
                 padding-top:4vh;
             }
 
             /* NOT LOGGED */
 
                 .slider-section.slider-section-hp .top-entry-new .top-entry .scheda {
                     height: calc(100vh);
                     min-height: calc(100vh) !important;
                     align-items: center;
                 }
                 .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask {
 
                 }
                 
                 .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask img{
                     max-width: 61vw;
                     min-width: 60vw;
                     left: calc(40vw + 25px);
                 }
                 
             /* / NOT LOGGED */
 
             /* LOGGED  .isLogged */
 
                 html body .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .scheda {
                     height: calc(100vh);
                     min-height: calc(100vh) !important;
                     align-items: center;
                 }	
                 .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .square-mask img{
                     max-width: 61vw;
                     min-width: 60vw;
                     left: calc(40vw + 25px);
                 }
                 
             /* / LOGGED */
 
                 .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                     max-width: 53%;
                     padding-top: 2rem !important;
                 }
                 .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                     max-width: 70%;
                     margin-top: 0;
                 }
     }
     @media screen and (max-width: 340px) and (orientation:portrait){ /*42.5em*/
 
         html body.isMobile:not(.is-scrolled):not(.is-scrolled-xs) header.main-header {
             background-color: rgba(255,255,255, 1);
             height: 60px;
             transition: all .5s ease;
         }
         html body .top-entry-new .top-entry .scheda h1, 
         html body .top-entry-new .top-entry .scheda .short-description {
             max-width: inherit!important;
         }
         html body .top-entry-new .top-entry .scheda .short-description {
             padding-right: 0 !important;
         }
         /* HP */
             /* NOT LOGGED */
 
                 .top-entry .scheda-spacer {
                     pointer-events: none;
                     visibility: hidden;
                     width: 100vw;
                     max-width: calc(100vw - 40%);
                     max-height: 620px;
                     min-height: 280px;
                 }
 
                 .slider-section.slider-section-hp .top-entry-new .top-entry .scheda {
                     margin-bottom: 0;
                     justify-content: center;
                     flex-direction: column;
                     flex-wrap: wrap-reverse;
                 }
                 .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask {
                     top:15px;
                     max-width: 100vw;
                     min-width: 100vw;
                     right: -15px;
                     transform: translateX(10%);
                 }               
                 .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask img {
                     top:0;
                 }
                 
             /* / NOT LOGGED */
 
             /* LOGGED  .isLogged */
 
                 html body .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .scheda {
                     margin-bottom: 0;
                     justify-content: center;
                     flex-direction: column;
                     flex-wrap: wrap-reverse;
                 }	
                 .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .square-mask {
                     top:15px;
                 }    
                 .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .square-mask img {
                     top:0;
                 }
                 
             /* / LOGGED */
 
                 .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                     max-width: inherit;
                     order:2;
                     flex:1;
                 }
                 .top-entry-new .top-entry .scheda > [class^="col-"]:last-child {
                     order:1;
                     flex:1;
                 }
                 html body #hero-zone .top-entry-new .top-entry .scheda p {
                     display: block;
                     max-width: inherit!important;
                 }
                 .top-entry-new .fx-xs-align-items-center {
                     align-items: center; /* LEVARE DA CODEBASE */
                 }
     }
     
     @media screen and (max-width:320px){
         .top-entry.isLogged .scheda-spacer {
             max-height: 280px;
             min-height: 280px;
         }
     } 
 
 
     #hero-zone.slider-section .top-entry .scheda {
         font-size: calc(1rem + 1vw);
     }
     #hero-zone .short-description p {
         font-size: .9em;
     }
     #hero-zone h1 {
         font-size: 2em;
     }
     #hero-zone .m-text h1 {
         font-size: 1.85em;
     }
     #hero-zone .l-text h1 {
         font-size: 1.7em;
     }
     #hero-zone .xl-text h1 {
         font-size: 1.55em;
     }
 
     /* Regole generiche per freccie slider mobile */
     #hero-zone .slick-arrow {
         border-radius:100%;
         background-color: #0046AD;
         color:#fff;
         z-index: 100;
         width: 28px;
         height: 28px;
         box-shadow: 0 0 0 2px rgba(255,255,255, .7);
         top:95%;
     } 
     #hero-zone .slick-arrow.slick-prev:before, #hero-zone .slick-arrow.slick-next:before {
             font-family: 'icomoon';
             font-size: 14px;
             font-weight: 600;
             line-height: 28px;
     }
     #hero-zone .slick-arrow.slick-prev:before { 
         content: "\e93b";
         color:#fff !important;
     }
     #hero-zone .slick-arrow.slick-next:before { 
         content: "\e93c";
         color:#fff !important;
     }
     #hero-zone .slick-arrow.slick-disabled {
         /* display: none !important;*/
         background:#EEF2F8 !important
     }
     #hero-zone .slick-arrow.slick-disabled:before {
         color: rgba(0, 70, 173, .5) !important;
         opacity: 1 !important;
     }
 
     #hero-zone .slick-arrow.slick-arrow.slick-prev {
         left:inherit;
         right: calc(43px + 1rem);
     } 
     #hero-zone .slick-arrow.slick-arrow.slick-next {
         right:15px;
     } 
 
     /* SIZING FIX FOR CIRCLE INSIDE SLIDE */
     section.top-entry {
         font-size: calc(1rem + 2vw);
     }
     
     #hero-zone .widget_padding {
         padding: 0;
     }
     
 
     .square-mask.animated.zoomIn {
         min-width: inherit !important;
     }
 
     @media screen and (min-width: 1201px) {
         .top-entry .square-mask.animated.zoomIn {
             width: 19em !important;
             max-width: 50% !important;
         }
 
         
         .top-entry.isLogged .square-mask.animated.zoomIn {
             width: 16em !important;
             max-width: 50% !important;
         }
     }

     @media screen and (min-width: 1921px) {
         .square-mask.animated.zoomIn {
             width: 16em !important;
             max-width: 50% !important;
         }
     }
 
     @media screen and (max-width:767px) and (min-width:415px) {
         .top-entry .square-mask.animated.zoomIn {
             min-width: 50vw !important;
             max-width: 50% !important;
         }

        .slider-section .top-entry-new .top-entry .scheda-spacer,
        .slider-section .top-entry-new .top-entry.isLogged .scheda-spacer {
                max-height: 400px;
                min-height: 400px;
        }
    }
     @media screen and (max-width:767px) {
         .slider-section.slider-section-hp .top-entry-new .top-entry .scheda {
             margin-top: 30px !important;
         }
     }
 
     @media screen and (max-width:414px) {
         .square-mask.animated.zoomIn {
             min-width: 97vw !important;
         }
         div.top-entry-new .top-entry .scheda-spacer, div.top-entry-new-reversed .top-entry .scheda-spacer {
             min-height: 104vw !important;
             max-height: 104vw !important;
         }
     }
     
 
     .slick-dotted.slick-slider {
         margin-top: 32px;
     }
 
 
 
     /* MIGRATION OVERRIDES */ 
 
     #hero-zone#hero-zone .top-entry .text-wrap.s-text h1 { 
         font-size: 2em;
     }
 
     #hero-zone#hero-zone .top-entry .text-wrap.m-text h1 { 
         font-size: 1.85em;
     }
 
     #hero-zone#hero-zone .top-entry .text-wrap.l-text h1 { 
         font-size: 1.7em;
     }
 
     #hero-zone#hero-zone .top-entry .text-wrap.xl-text h1 { 
         font-size: 1.55em;
     }
 
     @media screen and (max-width: 1097px) and (min-width:769px) and (orientation: landscape) {
         .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .square-mask {
             top: -18%;
         }
     }
     
 
     /* FIX RIGUARDANTI L'HEADER */ 
     @media screen and (max-width: 90em) { 
         header.main-header,
         .is-scrolled header.main-header {
             width: 125%;
         }
     }
 
     @media (max-width: 640px) {
         #header .ttcomponent-navbarUserArea .user_menu.open:after {
             bottom: 0 !important;
         }
     }
 
     @media screen and (max-width: 1200px) { 
         header.main-header,
         .is-scrolled header.main-header {
             transform: scale(1);
             width: 100%;
         }
         header.main-header .desktop-nav:not(.c-nav) {
             display: none;
         }
     }
     
     header.main-header .wrapwidg#connetionHub {
         min-width: inherit !important;
     }
 
     /* FIX MENU */ 
     @media screen and (min-width: 1121px) and (max-width: 1200px) {
         header.main-header .navbar-collapse.in {
             transform: scale(1.5);
             transform-origin: top center;
             margin-left: 10vw;
         }
 
         header.main-header .nav.navbar-nav.list-unstyled.text-center {
             transform: scale(0.8);
             transform-origin: center;
         }
     }
 
     /* FIX SEARCH */ 
     @media screen and (max-width: 767px) and (orientation:portrait){
         header.main-header .list-inline li .notification {
             line-height: 32px;
         }
     }
 
     @media (max-width: 767px) {
         .dropdown.user_menu {height: 60px;width: 35px;padding: 13px 0 0 0;}
         /* fix loggato */
         .dropdown.user_menu.private a.user,
         .dropdown.user_menu.private a.user.tt-component-avatarInitials{ margin-top: 11px!important;}
     }
 