
.standarPage #wrapcontent,
.content #home-wrapcontent,  
.upload #home-wrapcontent,
.bacEventDetails #home-wrapcontent{
    padding-top:80px!important;
}


#disservizioBox {
    margin-left:-15px;
    margin-right:-15px
}

/* GESTIONE IMMAGINE-HEADER COLOR */
@media (min-width: 1025px) {
    div[data-color-image="dark"] {
        position: relative;
        overflow: hidden;
    }
    div[data-color-image="dark"]:before{
        content:'';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width:100%;
        height:40%;
        background: rgb(0,70,173);
        background: linear-gradient(180deg, rgba(0,70,173,0.8533788515406162) 20%, rgba(0,70,173,0) 100%);
    }
    body:not(.is-scrolled) [data-color] .icon,
    body:not(.is-scrolled) [data-color] .fal:before,
    body:not(.is-scrolled) [data-color] .icon:before {
        transition:color .5s ease;
    }

    body:not(.is-scrolled) [data-color="dark"] .icon:not(.connection-hub-link),
    body:not(.is-scrolled) [data-color="dark"] .fal:before,
    body:not(.is-scrolled) [data-color="dark"] .icon:before {
        color:white !important;
    }
}


/* HELPERS */

.widget-padding-row > .widget_padding {
    margin-left:-15px !important;
    margin-right:-15px !important;
}

.container-fluid.container-fluid-after{
	padding:0 4vw;
	background:#fff;
}

.fake-folder {
	overflow: visible!important;
	position: relative;
	padding-top: 4vw !important;
}
.fake-folder > div {
	position: relative;
	z-index: 10;
}
/* 
}*/


.wrapwidg[class*=col-] {

}


.contents_wrapper-row .contents_wrapper {
    margin: 0 -15px;
}

.p-0-column > .container-fluid,
.p-0-column .homeColumn0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
 }

 .pl-0-column-0  .homeColumn0{
    padding-left: 0 !important;
 }
 .pr-0-column-0  .homeColumn0{
    padding-right: 0 !important;
 }
 .pl-0-column-1  .homeColumn1{
    padding-left: 0 !important;
 }
 .pr-0-column-1  .homeColumn1{
    padding-right: 0 !important;
 }

 .child-contents_wrapper-row .contents_wrapper{
     margin-left: -15px;
     margin-right: -15px;
 }

 .btn--white.blue {
     color:#0046AD !important
 }


.lh-1{
    line-height: 1 !important;
}
.lh-2{
    line-height: 2 !important;
}

body {
    font-size:16px;
} 

.overflow-v { 
    overflow:visible!important;
}
.overflow-h {
    overflow:hidden!important;
}
.p-relative { position:relative!important}

h2.widget_title {
    pointer-events: none;
}
/* EXTERNAL NEWS TEMP */

.card.card--news .news-img {
    height:130px;
}
html body .section.vertical-label .column_generico h2.widget_title {
    position: static;
    top: unset;
    left: unset;
    transform: none;
    z-index: unset;;
    width: auto;
    height: auto;
    text-align: left;
    font-size: 2.28rem;
}
.section.nestedDepth2:not(.section-title) {
    display:flex;
    justify-content: space-between;
}
.section.nestedDepth2 .column_generico.homeColumn0{
    padding-left:0;
}
.section.nestedDepth2 .column_generico.homeColumn1{
    padding-right:0;
}

.section.nestedDepth2 .container-fluid{
    padding:0;
}


.wrapwidg[class*=section-]{
    padding:0;
    margin:0;
}
.wrapwidg[class*=section-].container-fluid{
    padding:0;
    margin:0 auto;
}
.wrapwidg[class*=section-] .widget_padding,
.wrapwidg[class*=section-] .widget_title {
    margin:0;
    padding:0;
}
#mainwrap.page-wrap, .page-wrap {

    overflow-x: hidden;
 } 

/*body:not(.homePage) #mainwrap.page-wrap #home-wrapcontent {padding-top:80px;} */
#main > .column_generico.homeColumn0 { 
    padding:0;
}

  
#header header.main-header {
    min-width: 100%;
}
header.main-header .navbar-header button {
    margin-top: 10px;
    padding:0;
}
header li.dropdown,
header li.open {
    position:relative;
}
li.dropdown .menu-standard li
li.open .menu-standard li {
    display:block;
}
#header .navigation-list li.dropdown:hover:after,
#header .navigation-list li.open:after {
    bottom:-20px;
}

#header .navigation-list li.depth-0.active a:nth-child(1){
    position: relative;
}
#header .navigation-list li.depth-0.active > a:nth-child(1):after{
    content: "";
    position: absolute;
    display:inline-block;
    bottom:-.5rem;
    height: 3px;
    border-radius: 5px;
    background-color: #0046AD;
    width:1rem;
    left: calc(50% - .5rem);
}

/* #header .navigation-list li.open .dropdown-menu {
    margin-top:20px;
}*/



@media screen and (min-width: 768px) {
    .desktop-nav.navigation-list li.dropdown > .dropdown-menu {
        box-shadow: none;
        background-color: transparent;
    }

    .desktop-nav.navigation-list li.dropdown > .dropdown-menu > ul {
         background: #0046AD;
         margin-top:12px !important;
         box-shadow: 0 19px 20px -10px rgba(0,70,173,0.30);
     }
     .desktop-nav.navigation-list li.dropdown > .dropdown-menu > div {
        box-shadow: 0 19px 20px -10px rgba(0,70,173,0.30);
     }
     .desktop-nav.navigation-list li.dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu{
          display: block;
          

          -webkit-animation-duration: .3s;
          -webkit-animation-timing-function: ease;
          -webkit-animation-name:menuIn;
          -webkit-animation-iteration-count: 1;
          -webkit-animation-fill-mode: forwards;

          -moz-animation-duration: .3s;
          -moz-animation-timing-function: ease;
          -moz-animation-name:menuIn;
          -moz-animation-iteration-count: 1;
          -moz-animation-fill-mode: forwards;

          -ms-animation-duration: .3s;
          -ms-animation-timing-function: ease;
          -ms-animation-name:menuIn;
          -ms-animation-iteration-count: 1;
          -ms-animation-fill-mode: forwards;

          -o-animation-duration: .3s;
          -o-animation-timing-function: ease;
          -o-animation-name:menuIn;
          -o-animation-iteration-count: 1;
          -o-animation-fill-mode: forwards;

          animation-duration: .3s;
          animation-timing-function: ease;
          animation-name:menuIn;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;


      }

      @-moz-keyframes menuIn {
        from { opacity:0;}
        to   { opacity:1;}
    }
     @-webkit-keyframes menuIn {
        from { opacity:0;}
        to   { opacity:1;}
    }
    @keyframes menuIn {
        from { opacity:0;}
        to   { opacity:1;}
    }

      .desktop-nav.navigation-list li .dropdown-menu{
          margin-top: 0;
      }
      .desktop-nav.navigation-list li .dropdown-toggle{
          margin-bottom: 2px;
      }
      .navbar .dropdown-toggle, .nav-tabs .dropdown-toggle{
          margin-bottom: 0;
      }
  }
  
header.main-header .desktop-nav.navigation-list .menu.menu-standard {
    padding: 0;
    padding-top: 1.4rem;
}

#header .dropdown.user_menu.open{
    position:relative;
    display:block;
}
header.main-header .navbar-collapse ul li a {
    background: transparent;
    padding:0;
}

#header li.dropdown:hover:after,
#header li.open:after {
    content: "";
    position: absolute;
    bottom: 0;
	left: calc(50% - .8rem);
    display: block;     
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 11px;
    border-color: transparent transparent #0046AD transparent;
	opacity:0;
	animation: menuIn .3s ease forwards;
}

#header header.main-header li.dropdown:hover .menu-standard li a,
#header header.main-header li.open .menu-standard li a{
    margin-top:0;
    text-transform: uppercase;
}
header.main-header .list-inline li.dropdown:hover .menu-standard li a {
    padding: 5px 15px;
}

header.main-header .navbar-collapse {
    position: fixed;
    top:0;
    min-height: 100vh;
    padding: 80px 0 40px!important;
    z-index: -1;
}

#header .user_menu.public .dropdown-menu{
    min-width: 50px;
    right: calc(50% - 24px);
    width: 48px;
    padding: 0;
    text-align: center;
}
@media (max-width: 767px){
    #header .user_menu.public .dropdown-menu {
        min-width: 50px;
        right: 16px;
        width: 48px;
        padding: 0;
        text-align: center;
        left: inherit;
    }
    #header header.main-header {
        padding:0 1rem;
    }
}

@media (max-width:420px) {
    header.main-header .logo {max-width: 100px;}
    header .plugin_navigation,
    header .navbar-header {position:relative;z-index: 10;}



}

header.main-header [class*=col] {
    padding-left:0;
    padding-right:0;
}
header.main-header .ttcomponent-navbarUserArea .list-inline li {
    margin-right: 0;
}
header.main-header .ttcomponent-navbarUserArea .list-inline li div.pull-left {
    float:none!important
}


/* NAVBAR */
.main-header .nestedPage.nestedDepth0 .column_generico.homeColumn0 {
    display:flex;
    /* flex-wrap: wrap; iphone 5 si spacca*/ 
    justify-content: space-between;
    align-items: center;
}
.navbar {
    min-height: inherit;
    margin-bottom:0;
}
.navbar li{
    position:relative;
}



/* TITOLI VERTICALI */
.vertical-label h2.widget_title { border:0;}
.vertical-label h2.widget_title .fa {
    display:none;
}

/* TITOLI SECTIONS */
.section-title h2.widget_title { border:0;}
.section-title h2.widget_title .fa {
    display:none;
}

/* SLICK CUSTOM */
.slick-dots li:only-child {display:none;}
.responsive-slick .slick-track {z-index:5; margin-left:inherit; margin-right:inherit;}
.slick-dots li button:before { font-size: 1rem!important;}
.slick-dots li.slick-active button:before {
    color: #0046AD!important;
}
.section--events .widget_padding { min-width:100%;}

.slider-section .contents_wrapper:not(.slick-initialized){
    opacity:0;
} 
.slider-boxed .slick-list{ overflow: hidden !important;}
.slider-boxed .slick-list::before,
.slider-boxed .slick-list::after{ display:none !important;}

.slick-track{ z-index:2;}



.ghost-image-left .slick-wrapper .slick-list::before{
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    background-color: #FFFFFF;
    width: 530px;
    height: 100%;
    background-image: url(_templates/build/img/events-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    z-index: 10;
    left: inherit;
    background-position-x: 154px;
    background-position-y: -40px;
}

/* CERCHIO A SX */
.ghost-image-left div:not(.slick-wrapper).contents_wrapper::after,
.ghost-image-left .slick-wrapper .slick-list::after,
.ghost-image-left  .no_content_message::after {
    content: "";
    position: absolute;
    top: -40px;
    right: 90%;
    background-color: #FFFFFF;
    width: 530px;
    height: 530px;
    border-radius: 50%;
    background-image: url(_templates/build/img/events-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    z-index: -1;
    pointer-events: none;
}


/* CERCHIO A DS */
.ghost-image-right:not(.fake-folder)::before,
.ghost-image-right  .no_content_message::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 90%;
    background-color: #FFFFFF;
    width: 530px;
    height: 530px;
    border-radius: 50%;
    background-image: url(_templates/build/img/events-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    z-index: 1;
    pointer-events: none;
}


.fake-folder.ghost-image-right::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 90%;
    background-color: #FFFFFF;
    width: 530px;
    height: 530px;
    border-radius: 50%;
    background-image: url(_templates/build/img/sede.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    z-index: 1;
    pointer-events: none;
}

.section--news.ghost-image-right.ghost-img-news::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 90%;
    background-color: #FFFFFF;
    width: 530px;
    height: 530px;
    border-radius: 50%;
    background-image: url(_templates/build/img/news-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    z-index: 1;
    pointer-events: none;
}

html body [class*="ghost-image-"].ghost-img-events .contents_wrapper::after{
    background-image: url(_templates/build/img/events-bg.png);
}
html body [class*="ghost-image-"].ghost-img-sede .contents_wrapper::after{
    background-image: url(_templates/build/img/sede.jpg);
    opacity: .3;
}

html body [class*="ghost-image-"].ghost-img-news .contents_wrapper::after{
    background-image: url(_templates/build/img/news-bg.jpg);  
}


.no_content_message{
    background: white;
    position: relative;
    z-index: 20;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:0;
    margin:0;
    font-weight: normal;
    color: #ccc !important;
}

.no_content_message:before{
	content:"\e923";
	font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 6rem;
    display: block;
    margin-bottom: 2rem;
    color: #ccc;
}

.card.group-card[onclick] {
	cursor:pointer;
}

.card-list .card .event-content-wrap .abs {
    position: absolute;
    top: 25px;
    right: 15px;
    height:2.5rem;
}

.card-list .card .event-content-wrap {
    padding: 70px 24px 20px;
    display: flex;
    flex-direction: column;
    height: 60%;
}

.card-list .card .event-content-wrap .data-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.viewall-link{
    position: relative;
    z-index: 10;
    font-weight: 600;
    font-size: 14px;
}




/* PAGINATOR */
.wrappager { 
    padding-top:1rem;
} 

.slick-wrappager li:not(.slick-disabled):not(.slick-hidden) span:before,
.pager a:before{ 
    background-color:#0046AD;
    color:white;
    border-radius:50%;
} 

.pager span{ 
    padding:0;
} 
.pager span:before{ 
    background-color:#EEF2F8;
    color:white;
    border-radius:50%;
    text-align: center;
} 

.pag-center .wrappager, .pag-center .wrappager{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.pag-right .wrappager, .pag-right .wrappager{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.pag-arrows-only .pager li {
    display:none;
}

.pager li#last a:empty {
    display:none !important
}


.slick-wrappager .pager li.next, 
.slick-wrappager .pager li.prev,
.pag-arrows-only .pager li.next, 
.pag-arrows-only .pager li.prev {
    display:block;
}
.slick-wrappager .pager li.next, 
.pag-arrows-only .pager li.next {
    padding-left:1rem;
}


.hp-wrapper.wrapwidg.container-fluid {
    margin:0 auto;
    overflow:inherit;
    
}




/* FOOTER */

#footer #content-edit-bar,
#footer .col-md-1 {
    display:none;
}

#footer [class*=col] {
    padding:0;
}

#footer table td { 
    padding: 0 1rem 0 0;
}

#footer {
    padding-top:3rem;
    border:0;
}

#footer a {
    color:#5D5D5D;
}
#footer  .wrapwidg.plugin_contentDetailWidget {
    padding:10px;
    margin:10px;
}
#footer  .wrapwidg.ttcomponent-contentDetail {
    min-height: inherit;
    padding: 1.125rem 0 0;
    margin:0;  
}

#footer ul {
    margin: 0;
    padding:0;
}
#footer ul li {
    list-style: none;
}
#footer ul li:before {
    display:none;
}

#footer .column_generico:nth-child(1), #footer .column_generico:first-child > * {
    padding:0;
}
#footer h2.widget_title .fa {
    display: none;
}
#footer h2.widget_title {
    color:#0046AD;
    font-family: "Open Sans" , Arial, Helvetica, sans-serif;    
    text-transform: none;
}
.footer-links > div + div a {
    border-left:1px solid #5D5D5D;
    padding-left:1rem;
}


/* EVENT CARDS  */
.card-list .card .event-content-wrap .calendar-el {
    text-align: center;
}
.card .image-wrap{
    position: relative;
    overflow: hidden;
    background-color: #EEF2F8;
} 
.card .image-wrap:before {
    content:'';
    display: block;
    position:absolute;
    width:100%;
    height:100%;
    background: rgba(0,70,173,0.20);
} 

.card.card--event {
    display:flex;
    flex-direction: column;
    justify-self: stretch;
    min-height: 100%;
}

.card-text {
	display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}   

.section--events .slick-track .template-custom {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: auto;
    min-height: 100%;
    -webkit-box-align: center;
    align-items: stretch;
    -webkit-box-pack: stretch;
    justify-content: stretch;
}

.section--events .slick-track {
	/*
    display:flex;
	flex-wrap: wrap;
    */
}


/* NEWS */
    .section--news [id^=lastContents] { position: relative; z-index: 5;}

    .card--news .contents_wrapper > .template-custom * {
        color:white;    
    }

    .card--news .contents_wrapper > .template-custom .data {
        font-family: "Roboto Slab", Georgia, Times, "Times New Roman", serif;
    }
    .card--news .contents_wrapper > .template-custom .news {
        position:relative;
        z-index: 1;
    }
    .card--news .contents_wrapper > .template-custom .news-wrapper {
        padding:20px;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        height: 100%;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
    }
    .card--news .contents_wrapper > .template-custom .news-wrapper::before {
        content: "";
        padding-bottom: 35%;
        display: inline-block;
        vertical-align: top;
    }
    .card--news .contents_wrapper > .template-custom .news-wrapper::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(0,70,173);
        background: -moz-linear-gradient(0deg, rgba(0,70,173,0.8533788515406162) 20%, rgba(0,70,173,0) 100%);
        background: -webkit-linear-gradient(0deg, rgba(0,70,173,0.8533788515406162) 20%, rgba(0,70,173,0) 100%);
        background: linear-gradient(0deg, rgba(0,70,173,0.8533788515406162) 20%, rgba(0,70,173,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0046ad",endColorstr="#0046ad",GradientType=1);
        opacity: 1;
    }

    /* PAGES */
    .card.card--news .link-layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        background: transparent;
        z-index: 99;
    }
    .card--news .contents_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "card-normal-1 card-normal-2" "card-normal-3 card-normal-4";
        grid-gap: 30px;
      }
      .card--news .contents_wrapper > .template-custom:nth-child(1) { grid-area: card-normal-1; }
      
      .card--news .contents_wrapper > .template-custom:nth-child(2) { grid-area: card-normal-2; }
      
      .card--news .contents_wrapper > .template-custom:nth-child(3) { grid-area: card-normal-3; }
      
      .card--news .contents_wrapper > .template-custom:nth-child(4) { grid-area: card-normal-4; }
      
      
      @media all and (-ms-high-contrast:none) {
        .card--news .contents_wrapper {
          display: -ms-grid;
          -ms-grid-columns: 1fr 1fr;
          -ms-grid-rows: 1fr 1fr;
          
        }
      
        .card--news .contents_wrapper > .template-custom:nth-child(1) {
          -ms-grid-row: 1;
          -ms-grid-row-span: 1;
          -ms-grid-column: 1;
          -ms-grid-column-span: 1;
          margin-right: 15px;
          margin-bottom: 15px;
        }
      
        .card--news .contents_wrapper > .template-custom:nth-child(2) {
          -ms-grid-row: 1;
          -ms-grid-row-span: 1;
          -ms-grid-column: 2;
          -ms-grid-column-span: 1;
          margin-left: 15px;
          margin-bottom: 15px;
        }
      
        .card--news .contents_wrapper > .template-custom:nth-child(3) {
          -ms-grid-row: 2;
          -ms-grid-row-span: 1;
          -ms-grid-column: 1;
          -ms-grid-column-span: 1;
          margin-right: 15px;
          margin-top: 15px;
        }
      
        .card--news .contents_wrapper > .template-custom:nth-child(4){
          -ms-grid-row: 2;
          -ms-grid-row-span: 1;
          -ms-grid-column: 2;
          -ms-grid-column-span: 1;
          margin-left: 15px;
          margin-top: 15px;
        }
      
      }


    /* PRIMA PAGINA */
    .card--news .contents_wrapper.page-0 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "card-big card-big card-small-top card-long" "card-big card-big card-small-bottom card-long";
        grid-gap: 30px;
      }
      .card--news .contents_wrapper.page-0 > .template-custom .news-wrapper::before {
        padding-bottom: 70%;
      }
      
      .card--news .contents_wrapper.page-0 > .template-custom:nth-child(1) { grid-area: card-big; }
      .card--news .contents_wrapper.page-0 > .template-custom:nth-child(4) { grid-area: card-long; }
      .card--news .contents_wrapper.page-0 > .template-custom:nth-child(2) { grid-area: card-small-top; }
      .card--news .contents_wrapper.page-0 > .template-custom:nth-child(3) { grid-area: card-small-bottom; }
     

      /* PRIMA PAGINA TABLET */
      @media (max-width:1280px) {
        .card--news .contents_wrapper.page-0 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1.2fr 0.8fr 0.8fr;
            grid-template-areas: "card-big card-big" "card-small-right card-small-left" "card-medium card-medium";
        }
          
          .card--news .contents_wrapper.page-0 > .template-custom:nth-child(1) { grid-area: card-big; height: 420px;}
          
          .card--news .contents_wrapper.page-0 > .template-custom:nth-child(3) { grid-area: card-small-right; height: 320px;}
          
          .card--news .contents_wrapper.page-0 > .template-custom:nth-child(2) { grid-area: card-small-left; height: 320px;}
          
          .card--news .contents_wrapper.page-0 > .template-custom:nth-child(4) { grid-area: card-medium; height: 320px;}
      }
      @media (max-width:1024px) {

        .card--news .contents_wrapper.page-0{
            display: grid;
            grid-template-columns: 1.3fr 0.7fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: "card-big-top card-small-top" "card-big-bottom card-small-bottom";
          }
          
          .card--news .contents_wrapper.page-0 > .template-custom:nth-child(1) { grid-area: card-big-top; height: 320px;}
          .card--news .contents_wrapper.page-0 > .template-custom:nth-child(3) { grid-area: card-small-top; height: 320px;}
          .card--news .contents_wrapper.page-0 > .template-custom:nth-child(2) { grid-area: card-small-bottom; height: 320px;}
          .card--news .contents_wrapper.page-0 > .template-custom:nth-child(4) { grid-area: card-big-bottom; height: 320px;}
      }
      /* PRIMA PAGINA SMARTPHONE - PORTRAIT */
      @media (max-width:768px) {
        .card--news .contents_wrapper.page-0 {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-template-areas: "card-normal-full-1" "card-normal-full-2" "card-normal-full-3" "card-normal-full-4";
            grid-gap: 15px;
          }
          .card--news .contents_wrapper.page-0 > .template-custom:nth-child(1){ grid-area: card-normal-full-1; height: auto;}
          .card--news .contents_wrapper.page-0 > .template-custom:nth-child(2){ grid-area: card-normal-full-2; height: auto;}
          .card--news .contents_wrapper.page-0 > .template-custom:nth-child(3){ grid-area: card-normal-full-3; height: auto;}
          .card--news .contents_wrapper.page-0 > .template-custom:nth-child(4){ grid-area: card-normal-full-4; height: auto;}
      }
      @media (max-width:767px) {
        .card--news .contents_wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-template-areas: "card-normal-full-1" "card-normal-full-2" "card-normal-full-3" "card-normal-full-4";
            grid-gap: 15px;
          }
          .card--news .contents_wrapper > .template-custom:nth-child(1){ grid-area: card-normal-full-1; height: auto;}
          .card--news .contents_wrapper > .template-custom:nth-child(2){ grid-area: card-normal-full-2; height: auto;}
          .card--news .contents_wrapper > .template-custom:nth-child(3){ grid-area: card-normal-full-3; height: auto;}
          .card--news .contents_wrapper > .template-custom:nth-child(4){ grid-area: card-normal-full-4; height: auto;}
      }

    /* IE HACK */
    @media all and (-ms-high-contrast:none) {
        .card--news .contents_wrapper.page-0 {
        display: -ms-grid;
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
        -ms-grid-rows: 1fr 1fr;
        }
    
        .card--news .contents_wrapper.page-0 > .template-custom:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        margin-right: 30px;
        margin-bottom: 0;
        }
    
        .card--news .contents_wrapper.page-0 > .template-custom:nth-child(4) {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 4;
        -ms-grid-column-span: 1;
        margin-left: 30px;
        margin-top: 0;
        }
    
        .card--news .contents_wrapper.page-0 > .template-custom:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        margin-bottom: 15px;
        margin-left: 0;
        }
    
        .card--news .contents_wrapper.page-0 > .template-custom:nth-child(3) {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        margin-top: 15px;
        margin-right: 0;
        }
    
    }

    @media (-ms-high-contrast:none) and (min-width:768px) and (max-width:1280px) {
        .card--news .contents_wrapper.page-0 {
            display: -ms-grid;
            -ms-grid-columns: 1fr 1fr;
            -ms-grid-rows: 1fr 1fr 1fr;
        }
          
          .card--news .contents_wrapper.page-0 > .template-custom:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        margin-bottom: 30px;
        margin-right: 0;
        height: auto;
        }
    
        .card--news .contents_wrapper.page-0 > .template-custom:nth-child(4) {
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        margin-top: 30px;
        margin-left: 0;
        height: auto;
        }
    
        .card--news .contents_wrapper.page-0 > .template-custom:nth-child(2) {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        margin-bottom: 0;
        margin-right:15px;
        height: auto;
        }
    
        .card--news .contents_wrapper.page-0 > .template-custom:nth-child(3) {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        margin-top: 0;
        margin-left:15px;
        height: auto;
        }
      }
      
      /* PRIMA PAGINA SMARTPHONE - PORTRAIT */
      @media (-ms-high-contrast:none) and (max-width:767px) {
        .card--news .contents_wrapper.page-0 {
            display: -ms-grid;
            -ms-grid-columns: 1fr;
            -ms-grid-rows: 1fr 1fr 1fr 1fr;
        }
          
          .card--news .contents_wrapper.page-0 > .template-custom:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        margin-bottom: 30px;
        margin-right: 0;
        height: auto;
        }
    
        .card--news .contents_wrapper.page-0 > .template-custom:nth-child(4) {
        -ms-grid-row: 4;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        margin-top: 30px;
        margin-left: 0;
        height: auto;
        }
    
        .card--news .contents_wrapper.page-0 > .template-custom:nth-child(2) {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        margin-bottom: 0;
        margin-right:15px;
        height: auto;
        }
    
        .card--news .contents_wrapper.page-0 > .template-custom:nth-child(3) {
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        margin-top: 30px;
        margin-left:0;
        height: auto;
        }
      }



    #header .ttcomponent-navbarUserArea .dropdown-menu li {
        padding: .15rem;
        display: block;
    }


    #header .navbar-notification-container .dropdown-menu{
        min-width: 400px;
    }
    #header .header-notification-manager a.btn-dark{
        margin-top:0;
    } 


    /* AVATAR */
    #header .ttcomponent-navbarUserArea .notification_avatar > a{   
        border-radius: 50%;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        color: #0046AD;
        letter-spacing: 1px;
        font-size: 1rem;
    }

    .user.tt-component-avatarInitials{   
        color: white;
        background-color: #0046AD;
        line-height: 32px;
        text-align: center;
    }

    [id^=filterSocialNews]{
        position: absolute;
        top:10px;
        right:0;
    }

    .seeMoreCTA {
        position: absolute;
        top: 12px;
        right: 3px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
    }


    .jssocials-share > a > i{
        display:none!important;
    }
    .borderless {
        border:0!important;
    }

    /* FIX RESPONSIVE COLUMNS */
    @media (max-width:768px){
        /* .column_generico.homeColumn0.lastPBColumn {
            overflow: visible;
            padding: 0;
        } */
        html body .section.vertical-label .column_generico  .nestedPage h2.widget_title {
                font-size:1.7rem;
        } 
        .seeMoreCTA {
            position: absolute;
            top: 36px;
        }

        .section.nestedDepth2 .column_generico.homeColumn1 {
            padding-left:0;
        }
        .card.card--news { 
            
        }
        .card.card--news .news-img {
            display: block;
            width: 30%!important;
            height: 130px!important;
            flex-shrink: 0;
        }
    }

    /* FIX RESPONSIVE COLUMNS */
    @media (max-width:767px){
        .card.card--news { 
            display:block!important;
        }
        .card.card--news .news-img {
            width:100%!important;
            height:130px!important;
        }
    }

    

    
    .share-elm .dropdown-menu {
        min-width: 40px;
        max-width: 40px;
        left: -1rem;
        text-align: center;
        border-radius: 20px;
        bottom:70%;
        top:inherit;
        box-shadow: 0 19px 20px -10px rgba(0,70,173,0.30);
    }
    .share-elm .dropdown-menu .jssocials-shares {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .share-elm .dropdown-menu .jssocials-share {
        margin-right:0!important;
    }   

    .card--event .btn--blue {
        margin-right:-3rem;
    }


    .map {
        border-radius: 0;
        background-color:transparent;
        width: 1800px;
        height: auto;
        min-height: 600px;
        padding: 10vw 4vw;
        position: relative;
        left: 0;
        top: 0;
        display: flex;
        z-index: 9;
    }
    .map-circle {
        border-radius: 0;
        background-color:transparent;
        /*
        width: 1800px;
        */
        height: auto;
        min-height: 600px;
        padding: 2vw 0 8vw 0;
        position: relative;
        left: 0;
        top: 0;
        display: flex;
        z-index: 9;
    }
    .map-circle .container {
        width: 90%;
        margin: 0 0 0 auto; 
    }
    .map:before,
    .map-circle:before {
        content: '';
        border-radius: 50%;
        background-color: #0046AD;
        width: 100%;
        min-height: 600px;
        padding: 50%;
        position: absolute;
        left: 6%;
        bottom: 0;
        display: block;
        z-index: 0;
    }

    .map .navigation {
        position: absolute;
        top: 0;
        left: 15%;
        z-index: 99;
    }
    html body .section--map-community {
        margin-right:inherit!important;
    }
    .map-circle .navigation {
        position:relative;
    }
    .map-circle .slick-list, .map-circle .slick-track {
        /*min-width: 100vw;
        /* calc(85vw - 30px);*/
        padding-bottom:40px;
    }
    .map-circle .slick-track {
        display:flex;
        flex-wrap: wrap;

        align-items: center;
    }
    /*
    .slide-cta {
        min-width: 40%;
    } 
    */

    /* TOPIC LIST */
    .topicsList{
        min-height: 500px;

    } 
    .topicsList .container{

    }
    .topics-wrapper {
        position: relative;
    }

    .topicsList.elm-rounded:before {
        content: '';
        display: block;
        position: absolute;
        width: 170%;
        height: 170%;
        padding-bottom: 170%;
        border-radius: 100%;
        background-color: #EEF2F8;
        top: 0;
        right: 0;
        z-index: -1;
    }
    .topicsList.elm-rounded.following:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        padding-bottom: 100%;
        border-radius: 100%;
        background-color: #EEF2F8;
        top: 0;
        right: 40%;
        z-index: -1;
    } 
    .topicsList #background,
    .topicsList #prova {
        fill:transparent!important;
    }

    .topicsList #mano .st4 {
        fill:#fff;
    }
    
	.topicsList.elm-rounded #governance .st19,
	.topicsList.elm-rounded #marketing .st6,
    .topicsList.elm-rounded #marketing .st7,
    .topicsList.elm-rounded #governance .st15,
    .topicsList.elm-rounded #diversity .cls-1, 
    .topicsList.elm-rounded #diversity .cls-2,
    .topicsList.elm-rounded #fashion .cls-4, 
    .topicsList.elm-rounded #fashion .cls-5,
    .topicsList.elm-rounded #account .st1,
    .topicsList.elm-rounded #mano .st4 {
        fill:#EEF2F8!important;
    }


    .topicsList .el-hover {
        opacity: 0;
        position: absolute;
        pointer-events: none;
        width:100%;
        height:100%;
        top:0;
        left:0;
        background-color:#0046AD;
        color:#fff;
    }

    .topicsList .el.card-block {
        cursor:default; 
    }

    .topicsList .el svg:hover ~ .el-hover {
        pointer-events: initial;
    }

    /* SPONSORS */
    .sponsor-wrapper .contents_wrapper {
        display:flex;
        flex-wrap:wrap;
        align-items: center;
        justify-content: space-between;
    }
    .sponsor img{
        filter: grayscale(1);
        opacity: .7;
    }
    .sponsor:hover img{
        transition: all .3s ease-in-out;
        filter: grayscale(0);
        opacity: 1;
    }
    #benefits .slick-slider .slick-list, #benefits .slick-slider .slick-list .slick-track { 
        min-width:100%!important;
    } 
    #benefits .slick-slider .slick-list .slick-track { 
        display:flex;
        justify-content: center;
    } 

   .filters-bar li.active a {
        color:#0046AD!important;
        font-weight: bold;
    }

    .filters-bar .nav.nav-pills li.active a {
        color:#fff!important;
        font-weight: normal;
    }

    [aria-expanded="false"  ]


    /* MODAL */
    .modal-header {
        border-bottom: 0;
    }
    #cboxOverlay,
    .modal-backdrop {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1040;
        background-color:#0046AD!important;
    }
    #cboxLoadingGraphic,
    #cboxLoadingOverlay,
    #cboxLoadedContent {
        background:#fff!important;;
        padding: 1px;
    }

    #cboxSlideshow, #cboxPrevious, 
    #cboxNext, #cboxClose {
        top: -30px !important;
    }
    .modal-content {
        border-radius: 0;
        border:0;
        box-shadow: 0 0 40px 0 rgba(0,70,173,.3);
    }
    .modal-header .close {
        border:0;
    }
    .modal-backdrop.in {
        filter: alpha(opacity=90);
        opacity: 0.9;
    }

    /*BOOTSTRAP DATETIME PICKER */
    .bootstrap-datetimepicker-widget.dropdown-menu {
        background-color: #0046AD;
        padding:1rem!important;
    }
    
    .bootstrap-datetimepicker-widget .timepicker *, 
    .bootstrap-datetimepicker-widget .datepicker *{
        color:white;
        border:0;
    }
    .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #0046AD!important;
        top: -6px;
        left: 8px;
    }
    .bootstrap-datetimepicker-widget table td.disabled, 
    .bootstrap-datetimepicker-widget table td.disabled:hover {
        background: none;
        color:rgba(255,255,255, .3);
        cursor: not-allowed;
    }
    
    .bootstrap-datetimepicker-widget .day:hover,
    .bootstrap-datetimepicker-widget .day.active {
        color:#0046AD;
        background: rgba(255,255,255, .6);
        border-radius: 4rem;
    }
    
    .bootstrap-datetimepicker-widget .timepicker-picker .minute,
    .bootstrap-datetimepicker-widget .timepicker-picker .btn {
        background:none;
    }
    .bootstrap-datetimepicker-widget table td span:hover,
    .bootstrap-datetimepicker-widget .timepicker-picker .minute:hover,
    .bootstrap-datetimepicker-widget .timepicker-picker a:hover {
        background:none!important;
    }
    .bootstrap-datetimepicker-widget table td.day:hover, 
    .bootstrap-datetimepicker-widget table td.hour:hover, 
    .bootstrap-datetimepicker-widget table td.minute:hover, 
    .bootstrap-datetimepicker-widget table td.second:hover{
        color:#0046AD;
        background: rgba(255,255,255, .6);	
        border-radius: 1.5rem;
    }


    /* DETTAGLIO CHAPTERS TOPICS */

    /* .top-entry.chapter-topic-detail  .scheda .square-mask {
        position: relative;
        right: 70%;
        top: -40%;
        width: 900px;
        height: 900px;
        border-radius: 50%;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: contain;
    }*/

    .groupName .abs {
        transform: scale(1.2);
    }
    .bacTopic.vertical-label h2.widget_title,
    .bacTopic .vertical-label h2.widget_title,
    .bacChapter .vertical-label h2.widget_title {
        font-size: 2rem!important;
    }
    .bacChapter .section--gallery.vertical-label h2.widget_title {
        margin: 2rem 20px 0;
    }
    @media screen and (max-width: 1024px) {
        .bacChapter .section--gallery.vertical-label .filters-bar {
            padding-bottom: 5px
        }
    }

    #chapterTopicCard-container .scheda{
        max-height: 50vh;
    }
    /*
    .top-entry.top-entry--small .top-entry .scheda .square-mask,
    #chapterTopicCard-container .top-entry .scheda .square-mask {
        width: 900px;
        height: 900px;
        margin-top: -20%;
        right: 100%;
    }
    */
    .topic-descritpion > p,
    .chapter-description > p{
        white-space: pre-line;
    }
    /*
    #chapterTopicCard-container .top-entry .scheda .square-mask {
        margin-top: -40%;
    }
    */
    .no-chapters {
        background: url(_templates/build/img/mappa-zero-contents.svg) no-repeat right center;
        background-size:contain;
        min-height: 450px;
    }

    /* TEMP ROLLOVER */
    .card-reveal-info { 
        display: none;
        position: absolute!important;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0,70,173,.9);
        padding:2rem;
        min-height: 300px;
    }
    .card-block:not(.card-block-link) {
        overflow:hidden;
    }
    .topicsList .card-block:not(.card-block-link) {
        overflow:visible;
    }

    .card-block:hover {
        position: relative;
        z-index: 10;
    }
    .card-block:hover .card-reveal-info {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .card-block.card-block-link:hover .card-reveal-info {
        top:50%;
        left:50%;
        transform: translate(-50% , -50%);
        min-width: 320px;
        min-height: 350px;
        box-shadow: 0 5px 35px -18px rgba(0,70,173, .8);
    }
    .card-block.card-block-link:hover .card-reveal-info a[href^="mailto:"] {
        display:flex;
        align-items: center;
    }

    .rounded-link-grid a{
        display:inline-block;
        cursor: pointer !important;
    }
    .rounded-link-grid a *{
        cursor: pointer !important;
    }

    .card-block-link-trigger {
        position: absolute;
        background: #EEF2F8;
        border-radius: 50%;
        padding: 5px;
        top: 5px;
        right: 0;
        color: #0046AD
    }
    .card-block:before {
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        font-size: 4rem;
        color: #0046AD;
        right: 2rem;
        top: 2rem;
    }
    /* IMAGE */
    .card-block.type-image:before {
        content: "\e90d";
    }
    /* DOCUMENT */
    .card-block.type-document:before {
        content: "\e6d8";
    }
    /* VIDEO */
    .card-block.type-video:before {
        content: "\e96a";
    }
    /* LINK */
    .card-block.type-link:before {
        content: "\e9c0";
    }
    .card-block.card-block-link:hover .card-reveal-info a[href^="mailto:"]:before {
         content: "\ea31";
         font-size: 1.3rem;
         font-family: 'icomoon' !important;
         speak: none;
         font-style: normal;
         font-weight: normal;
         font-variant: normal;
         text-transform: none;
         line-height: 1;
         -webkit-font-smoothing: antialiased;
         -moz-osx-font-smoothing: grayscale;
         padding-right: .3rem;
    }

    .card-content-description {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        width: 100%;
    }

    .card-block.card-block-link .card-content-description img {
        max-width: 80px !important;
        height: auto;
    }
    .group-topics .card-content-description {
        box-shadow: 0 5px 35px -18px rgba(0,70,173, .8);
    }
    .white:before {
        color:white !important;
    }

    .e-data > span:nth-child(1){
        display: block;
        margin-right: 12px;
    } 

    .desktop-nav.navigation-list .connection-hub-link + .dropdown-toggle {
        margin-top: 0 !important;
    }

    .connection-hub-link,
    .connection-hub-link:hover {
        color:transparent;
        position: relative;
    }
    .connection-hub-link:before,
    .connection-hub-link:hover:before {
        color:#0046AD;
            position: absolute;
            left: 0;

    }
    
    .cerchio-blu {
        position: relative;
        min-height: 80vw;
    }
    .cerchio-blu::before {
        content: "";
        position: absolute;
        top: -4vw;
        left: -5vw;
        min-width: 80vw;
        min-height: 80vw;
        width: 100%;
        height: 100%;
        background-color: #0046AD;
        border-radius: 50%;
        padding:100% 100% 0 0;
    }
    #filterLibraryALL .filter-free-search-container .remove-filter-free-search::before{
        color:white;
    }
    #filterLibraryALL .filter-free-search-container input {
        background-color: transparent;
        border-bottom-color: white !important;
        color:white;
    }

    #filterLibraryALL ::placeholder{
        color:white !important;
        opacity: 1;
    }
    #filterLibraryALL :-ms-input-placeholder {
        color:white !important;
        opacity: 1;
    }
    #filterLibraryALL ::-ms-input-placeholder {
        color:white !important;
        opacity: 1;
      }

    #filterLibraryALL {
		min-height: 430px;
    }
    
    /* CAREER LINKS */
    
    @media (min-width: 960px) {
        .rounded-link-grid .contents_wrapper{
            display:flex;
            flex-wrap: wrap;
            overflow: visible;
            margin-left: -15px;
            margin-right: -15px;
        }
        .rounded-link-grid .contents_wrapper .template-custom {
            position: relative;
            display: inline-block;
            text-align: center;
            margin: 0 1rem;
            max-width: 30%;
            padding-bottom: 0;
        }
        .rounded-link-grid .contents_wrapper .template-custom img {
            width: 6.5vw;
        }
    
    }

    @media (max-width: 959px){

       #career-block .cerchio-blu::before {
            content: "";
            position: absolute;
            top: 0;
            left: -10vw;
            min-width: 110vw;
            min-height: 110vw;
            width: 100%;
            height: 100%;
            background-color: #0046AD;
            border-radius: 0;
            padding: 100% 100% 0 0;
        }

        .rounded-link-grid a {
            display: flex;
            cursor: pointer !important;
            align-items: center;
            justify-content: start;
        }
        .rounded-link-grid img {
            margin-right:1rem;
        }
        .rounded-link-grid a * {
            text-align:left;
        }
    }
    .rounded-link-grid .contents_wrapper .template-custom img {
        max-width: 10rem;
    }

    .rounded-link-grid .contents_wrapper .template-custom  {
        padding-bottom:2rem;
        min-width: 28%;
        margin-right: 0;
        margin-left: 0;
    }

    .rounded-link-grid .template-custom .card-block > div:first-child {
        display: inline-block;
        position: relative;
    }


    .rounded-link-grid .template-custom{
        position: relative;
        z-index: 0;
    }
    .rounded-link-grid .template-custom:hover{
        z-index: 10;
    }

    .rounded-link-grid.rounded-link-right .contents_wrapper{
        justify-content: flex-end;
    }


    .rounded-link-grid .contents_wrapper .template-custom > div {
        max-width: 100%;
    }

    .frontend-report table.dataTable thead th, 
    .frontend-report table.dataTable thead td,
    .frontend-report table.dataTable.no-footer {
        border:0;
    }

    .frontend-report .report-table.dataTable thead th {background-color: #EEF2F8;}
    .frontend-report .report-table.dataTable thead th,
    .frontend-report .report-table.dataTable thead th a {color:inherit!important; font-size:10px; text-transform: uppercase; padding:1.5rem;}
    

    .frontend-report table.dataTable tbody th, 
    .frontend-report table.dataTable tbody td {
        padding: 16px 18px;
    }
    .frontend-report table.dataTable tbody td {
        font-size:1rem;
    }
    .frontend-report table.dataTable > tbody > tr > td:nth-last-of-type(1){
        text-align: center !important;
    }

    .frontend-report table.dataTable thead [class*=sorting] {
        background-image:none !important;
        position: relative;

    } 
    
    .frontend-report table.dataTable thead [class*=sorting]:before{
        content:"\e93d";
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        right:1rem;
        top:calc(50% - 4px);
    }
    .frontend-report table.dataTable thead .sorting_desc:before{
        content:"\e93a";    
    }
    .frontend-report table.dataTable thead .sorting_asc:before{
        content:"\e939";    
    }

    .frontend-report .table-hover > tbody > tr:hover {
        background-color: rgba(238,242,248, .5);
    }


    .media_gallery_container  .filter-free-search-container input {
        bottom:10px;
    }


    /* Ultimi fix */
    .section.three-dots-section .contents_wrapper .template-custom .top-title .thumb span {
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 50%;
        max-height: none !important;
    }


    #filterEventsPastALL [data-tt-widget-widget="content-favourite"] { opacity:0; pointer-events: none!important;} 


    /* TO MARCO */

    .card--event .other-data .e-data .icon {
        margin-right: 10px;
        font-size: 32px;
    }
    .text--blu,
    .blue:before {
        color: #0046AD !important;
    }

    @media (min-width: 1520px){
        .extrasmall, header.main-header .desktop-nav.navigation-list .menu.menu-standard .btn--white {
                font-size: 0.85rem;
        }

    }





/* MAX-WIDTH-HELPERS */
@media screen and (max-width:960px) {
    html body .sm-max-w-100px {max-width: 100px;}
    html body .sm-max-w-150px {max-width: 150px;}
    html body .sm-max-w-200px {max-width: 200px;}
    html body .sm-max-w-250px {max-width: 250px;}
    html body .sm-max-w-300px  {max-width: 300px;}
    html body .sm-max-w-350px  {max-width: 350px;}
    html body .sm-max-w-400px  {max-width: 400px;}
    html body .sm-max-w-450px  {max-width: 450px;}
    html body .sm-max-w-500px  {max-width: 500px;}
}

/* FIX FAKE FOLDER */


    @media screen and (min-width: 1580px){
        .fake-folder::before {
            content:'';
            display: block;
            width: calc(100% + 8vw + 30px);
            height: 100%;
            left: 50%;
            transform: translateX(-50%);
            top:0;
            background: #fff;
            position: absolute;
            z-index: 0;
        }
    }

/* #HERO-ZONE */

#hero-zone .slick-dots {
    text-align: left!important;
    bottom:0!important;
    z-index: 10;
    margin-left:-8px;
}

.contents_wrapper.slick-container, .contents_wrapper.slick-container .slick-list {
    overflow:visible;
    z-index: 10;
}

#hero-zone:not(.container-fluid) {
    padding:0;
    margin:0;
}

#hero-zone .contents_wrapper,
#hero-zone .slick-list {
    overflow: visible;
}
#hero-zone h1{
    white-space:pre-line;
    /* word-break: break-word; */
    text-shadow: 0 0 40px rgba(255,255,255, 1), 0 0 40px rgba(255,255,255, 1), 0 0 40px rgba(255,255,255, 1);
}

#hero-zone p {
    color:#0046AD;
    line-height: 1.3;
    text-shadow: 0 0 10px rgba(255,255,255, 1), 0 0 10px rgba(255,255,255, 1), 0 0 10px rgba(255,255,255, 1), 0 0 10px rgba(255,255,255, 1), 0 0 20px rgba(255,255,255, 1), 0 0 30px rgba(255,255,255, 1), 0 0 40px rgba(255,255,255, 1);;
    margin-top:1rem;
    max-width: 70%;
}

#hero-zone.slider-reversed p {
    max-width: inherit;
}
.slider-reversed.top-entry .slick-dots{
    width: 50%;
    margin-left: 50%;
}









/* SOME OTHER RESPONSIVE FIXES */

        /* DA MODIFICARE  SU CSS DI MARCO */

        [data-tt-widget-widget="bac/GroupListFulFill"] .ttcomponent-listCards .card-block > .group-card-details {
            margin-bottom:0 !important;
        }
        .top-entry.top-entry--small .top-entry .scheda {
            min-height: 480px;
            max-height: 480px;
        }

        #header.main-header {
            min-width: 100%;
        }

        @media screen and (min-width:420px){
            .top-entry.slider-reversed#hero-zone .slick-dots {
                width: 100%;
                display: flex !important;
                justify-content: flex-start!important;
            }
        }

        @media screen and (max-width: 767px) {
            html body .card-block svg{
                max-width:90px!important;
            }
            html body .topics-list .topicsList .mb-3 > div {
                width: 100%;
                margin: 0;
            }
            
        }

        

/* HERO ZONE RESPONSIVE FIXES */

        @media screen and (min-width: 1301px){
                    
            /* NOT LOGGED RULES && FIRST LEVEL PAGES */

                /* SCHEDA */

                    html body .top-entry:not(.top-entry--small) .top-entry .scheda {
                        height: 60vh;
                        min-height: inherit;
                        max-height: inherit;
                    }

                    html body .top-entry.top-entry--small .top-entry .scheda .square-mask {
                        width: calc(45% * 1.2);
                        padding-bottom: calc(45% * 1.2);
                    }


            /* LOGGED */
            
                /* SCHEDA */

                    html body .slider-section.slider-section-hp .top-entry.isLogged .scheda {
                        height: 60vh;
                        max-height: 500px;
                    }

                    html body .top-entry:not(.top-entry--small) .top-entry.isLogged  .scheda {
                        height: 50vh;
                        min-height: 440px ;
                        max-height: 440px;
                    } 

                /* OBLO */
                    .slider-section.slider-section-hp .top-entry.isLogged .scheda .square-mask {
                        right: -33%;
                        top: -20%;
                        width: calc(60% * 1.2);
                        padding-bottom: calc(60% * 1.2);
                    }

        }   

        @media screen and (max-width: 1300px) {
             
            /* NOT LOGGED RULES && FIRST LEVEL PAGES */

                /* SCHEDA */
                    .slider-section.slider-section-hp .top-entry .scheda {
                        height: 45vh;
                    }

                /* OBLO 2° LIVELLO */
                    .top-entry.top-entry--small .top-entry .scheda .square-mask {
                        right: -27%;
                    }

        }

        @media screen and (max-width: 1200px){

            /* NOT LOGGED RULES && FIRST LEVEL PAGES */
                
                /* SCHEDA */
                    html body .slider-section.slider-section-hp .top-entry .scheda,
                    html body .top-entry .scheda {
                        height: 30vh;
                        min-height: 480px;
                        max-height: 480px;
                    }
                    .top-entry.top-entry--small .top-entry .scheda {
                        min-height: 480px;
                        max-height: 480px;
                    }

                /* OBLO */
                    html body .slider-section.slider-section-hp .top-entry .scheda .square-mask {
                        right: -30%;
                        top: -10%;
                    }

                /* OBLO 2° LIVELLO */
                    .top-entry.top-entry--small .top-entry .scheda .square-mask {
                        right: -20%;
                        top:-15%;
                        width: calc(50% * 1.2);
                        padding-bottom: calc(50% * 1.2);
                    }

                /* TITOLO */
                    html body .top-entry .scheda h1 {
                        margin-top: 0;
                    }
                    .top-entry .scheda h1 {
                        max-width: 40vw;
                    }

                /* HEADER */
                    html body.isMobile:not(.is-scrolled):not(.is-scrolled-xs) header.main-header {
                        background-color: transparent;
                    }
        }

        @media screen and (max-width: 1100px){

            .ghost-image-left .slick-wrapper .slick-list::before {
                display:none!important;
            }

            /* NOT LOGGED RULES && FIRST LEVEL PAGES */
            
                /* SCHEDA */

                /* OBLO */
                    html body .slider-section.slider-section-hp .top-entry .scheda .square-mask {
                        width: calc(80% * 1.2);
                        padding-bottom: calc(80% * 1.2);
                        right: -40%;
                        top: -10%;
                    }
                    
                /* OBLO 2° LIVELLO */
                    .top-entry.top-entry--small .top-entry .scheda .square-mask {
                        right: -20%;
                    }
                    
                /* TITOLO */
                    .top-entry.slider-reversed .text-wrap {
                        max-width: 45vw;
                        margin-left: -30px;
                    }
                    .top-entry .scheda h1 {
                        max-width: 50vw;
                    }

        /* LOGGED RULES */

                /* OBLO */
                    .slider-section.slider-section-hp .top-entry.isLogged .scheda .square-mask {
                        width: calc(80% * 1.2);
                        padding-bottom: calc(80% * 1.2);
                        right: -40%;
                        top: -10%;
                    }
        }

        @media screen and (max-width: 1024px){

             /* NOT LOGGED RULES && FIRST LEVEL PAGES */

                /* SCHEDA */


                /* OBLO 2° LIVELLO */
                    html  body .top-entry.top-entry--small .top-entry .scheda .square-mask {
                        right: -20%;
                        top:10%;
                        width: calc(50% * 1.2);
                        padding-bottom: calc(50% * 1.2);
                    }
        }

        @media screen and (max-width: 860px) {

            .top-entry.top-entry--small .top-entry .scheda.align-items-center {
                align-items: center !important;
            }

            /* NOT LOGGED RULES && FIRST LEVEL PAGES */

                /* SCHEDA */
                    html body .top-entry .scheda.align-items-center {
                        align-items: center;
                    }
                    html  body .top-entry.top-entry--small .top-entry .scheda {
                        min-height: 350px;
                        max-height: 350px;
                    }
                
                /* OBLO */
                    html body .slider-section.slider-section-hp .top-entry .scheda .square-mask {
                        right: -45vw;
                        top: -5%;
                        width: 100%;
                        padding-bottom: 100%;
                    }

                    html body .top-entry.slider-reversed .row-flex.scheda .square-mask {
                        width: calc(60% * 1.2);
                        padding-bottom: calc(60% * 1.2);
                        top: -20%;
                   } 

                /* OBLO 2° LIVELLO */
                    .top-entry.top-entry--small .top-entry .scheda .square-mask {
                        right: -22%;
                        width: calc(60% * 1.2);
                        padding-bottom: calc(60% * 1.2);
                    }                   

                /* TITOLO */
                    .top-entry .scheda h1 {
                        max-width: inherit;
                    }


                /* OTHER */
                .sm-text-center {
                    text-align: center;
                }
                .top-entry.slider-reversed#hero-zone .slick-dotted.slick-slider {
                    margin-bottom:0;
                }
                .top-entry.slider-reversed#hero-zone .slick-dots {
                    width: 100%;
                    display: flex !important;
                    justify-content: center !important;
                    background: white;
                    padding: 1.5rem 0;
                    margin: 0 -15px;
                    width: 100%;
                }

        }


        @media screen and (max-width: 860px) and (orientation:landscape){

            /* NOT LOGGED RULES && FIRST LEVEL PAGES */

                /* SCHEDA */
                    html body .top-entry .scheda {
                        height: 30vh;
                        min-height: 300px;
                        max-height: 300px;
                    }

                /* OBLO */
                    html body .slider-section.slider-section-hp .top-entry .scheda .square-mask {
                        right: -25%;
                        top: -20%;
                    }

                /* TITOLO */
                .top-entry.slider-reversed .text-wrap {
                    margin-left:inherit;
                }
        }


        /* TABLET PORTRAIT && SMARTPHONE */

        @media screen and (max-width: 768px) and (orientation:landscape){

             /* NOT LOGGED RULES && FIRST LEVEL PAGES */

                /* SCHEDA */
                
                    html body .slider-section.slider-section-hp .top-entry .scheda, html body .top-entry .scheda {
                        height: 30vh;
                        min-height: 300px;
                        max-height: 300px;
                    }
                    
                     html body .top-entry .scheda > [class^="col-"] {
                        top: inherit;
                        position: absolute;
                        left: 0;
                    }

                /* OBLO */
                    html body  .slider-section.slider-section-hp .top-entry .scheda .square-mask {
                        right: -45vw;
                        top: -32px;
                        width: 100%;
                        padding-bottom: 100%;
                    }
                    /* REVERSED  OBLO */
                    html body  .top-entry.slider-reversed .row-flex.scheda .square-mask {
                        left:inherit;
                        left: -30%;
                        top: 20%;
                        width: 100%;
                        padding-bottom: 100%;
                    }

        }

        @media screen and (max-width: 768px) and (orientation:portrait){

            /* NOT LOGGED RULES && FIRST LEVEL PAGES */

                /* SCHEDA */
                html body .slider-section.slider-section-hp .top-entry .scheda, html body .top-entry .scheda {
                    height: 40vh;
                    min-height: 440px;
                    max-height: 440px;
                }

                /* OBLO */
                    html body  .top-entry.slider-reversed .row-flex.scheda .square-mask {
                        left: -30%;
                        right: inherit;
                        top: -20%;
                        width: calc(65% * 1.2);
                        padding-bottom: calc(65% * 1.2);
                    }

                
                /* TITOLO */
                    html body .top-entry .text-wrap.m-text h1 {
                        font-size: 2.5rem;
                    }

                    .top-entry.slider-reversed .text-wrap {
                        margin-left:2rem;
                    }

        }

        /* STMARTPHONE UNDER 768px */

        @media screen and (max-width: 767px){

            html body .top-entry.top-entry--small .top-entry .scheda > [class^="col-"]:first-child .text-wrap {
                max-width: 70%;
            }
        }

        @media screen and (max-width: 767px) and (orientation:landscape){

            /* NOT LOGGED RULES && FIRST LEVEL PAGES */

               /* SCHEDA */
               
                   html body .slider-section.slider-section-hp .top-entry .scheda, html body .top-entry .scheda {
                       height: 30vh;
                       min-height: 300px;
                       max-height: 300px;
                   }
                   
                    html body .top-entry .scheda > [class^="col-"] {
                       top: inherit;
                       position: absolute;
                       left: 45%;
                       max-width: 80%;
                   }

               /* OBLO */
                   html body  .slider-section.slider-section-hp .top-entry .scheda .square-mask {
                       right: -45vw;
                       top: -32px;
                       width: 100%;
                       padding-bottom: 100%;
                   }

                /* REVERSED  OBLO */
                   html body  .top-entry.slider-reversed .row-flex.scheda .square-mask {
                       left: -20%;
                       top: -15%;
                       width: calc(50% * 1.2);
                       padding-bottom: calc(50% * 1.2);
                   }

                /* TITOLO */
                html body .top-entry.top-entry--small .top-entry .scheda > [class^="col-"]:first-child .text-wrap {
                    max-width: 80%
                }

       }

        @media screen and (max-width: 767px) and (orientation:portrait){

            /* NOT LOGGED RULES && FIRST LEVEL PAGES */

                /* SCHEDA */
                    html body .top-entry .scheda > [class^="col-"] {
                        top: inherit;
                        position: absolute;
                        left: 0;
                    }
                /* OBLO */
                    html body  .slider-section.slider-section-hp .top-entry .scheda .square-mask {
                        right: -85vw;
                        top: -32px;
                        width: 170%;
                        padding-bottom: 170%;
                    }
                    html body .top-entry.slider-reversed .row-flex.scheda .square-mask {
                        left: -130px;
                        right: inherit;
                        top: 15%;
                        width: 400px;
                        height: 400px;
                        padding-bottom: inherit;
                    }
                /* OBLO 2° LIVELLO */
                    html body .top-entry.top-entry--small .top-entry .scheda .square-mask {
                        position: absolute;
                        right: -40%;
                        top: 13%;
                        width: calc(80% * 1.2);
                        padding-bottom: calc(80% * 1.2);
                        border-radius: 50%;
                        overflow: hidden;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }

                /* TITOLO */
                    html body .top-entry .text-wrap.m-text h1 {
                        font-size: 2.5rem;
                    }
                    html body .top-entry .scheda.align-items-center {
                        top: 6rem;
                    }
                    html body .top-entry.slider-reversed .text-wrap {
                        padding: 0;
                        margin-left: 24vw;
                        max-width: 75vw;
                    }
                    html body .top-entry.top-entry--small .top-entry .scheda > [class^="col-"]:first-child .text-wrap {
                        max-width: 70%
                    }
                    html body #hero-zone .top-entry .scheda p {
                        display: block;
                        max-width: inherit;
                    }
        }