@media (max-width: 1200px){

}
@media (max-width: 1024px){

}

@media (max-width: 767px){
	
	/* GESTIONE SIDEBAR  */
	#home-wrapcontent.hasRightColumn > .wrapcontent_padding {
		display:flex;
		flex-direction:column;
	}
	#home-wrapcontent.hasRightColumn #rightSidebar { 
		order:1; padding:0
	}
	#home-wrapcontent.hasRightColumn #main { 
		order:2;
	}
		
	/* SIDEBAR MENU MOBILE */
	
	body:not(.fixedHeader) #leftSidebar, body:not(.fixedHeader) #rightSidebar { position:relative; z-index:100!important;}
	
	.open .sidebar-mobile-trigger {position:absolute; right:0; z-index:100;}
	#rightSidebar .sidebar-mobile-trigger { float:right;}
	
	.ttcomponent-sidenavbarbar-mobile-trigger { position:relative;}
	
	.ttcomponent-sidenavbar.navbar .ttcomponent-sidenavbarbar-mobile-trigger { top:1.5rem; left:1rem; z-index:15;}
	.ttcomponent-sidenavbarbar-mobile-trigger .btn {
		background:white;
		padding:0;
	}
	.ttcomponent-sidenavbar.navbar {
		position: fixed;
		pointer-events:none;
		left: 0;
		top: 0;
		background: #f5f8fa;
		width: 100%;
		height: 100%;
		overflow: auto;
		padding-bottom: 18px;
		opacity:0;
		transition:all .3s ease-in-out;
		z-index: 1000;

	}
	.ttcomponent-sidenavbar.navbar .navbar-nav {
		height:100%;
		overflow:auto;
		padding-right:1rem;
	}
	.ttcomponent-sidenavbar.navbar.open {
		pointer-events:inherit;
		opacity:1;
	}
}
