/* Component style rules */

.sidenav-component {
	/* background:none;*/
	border-color:transparent;
	/* 	padding:0; */
}


.ttcomponent-sidenavbar.navbar .nav.navbar-nav .fa {
	font-size: 13px;
}
.ttcomponent-sidenavbar.navbar .nav.navbar-nav li a {
	color:inherit;
}

.ttcomponent-sidenavbar.navbar .nav.navbar-nav li.depth-0 > a {
	border-bottom:1px solid #D3E0E9; 
	text-transform:uppercase;
}
