/* Component basic layout rules */

.sidenav-component > .widget_padding {
	padding-top:0;
}

.sidenav-component .panel-collapse > ul  {
	margin-bottom:20px;
}
.ttcomponent-sidenavbar.navbar li {
	list-style:none;
	width:100%;
}

.ttcomponent-sidenavbar.navbar li.active > div > a {
	font-weight:bold;
}

.ttcomponent-sidenavbar.navbar .nav.navbar-nav {
	width:100%;
	margin:0;
	padding:0;
}
.ttcomponent-sidenavbar.navbar ul {
	padding-left:0;
}

.ttcomponent-sidenavbar.navbar li, 
.ttcomponent-sidenavbar.navbar li ul > li {
	width:100%;	
}

.ttcomponent-sidenavbar.navbar li ul > li {

}
.ttcomponent-sidenavbar.navbar .nav.navbar-nav li a {
	display:inline-block;
	padding-top:10px;
	padding-bottom:10px;
}
.ttcomponent-sidenavbar.navbar .nav.navbar-nav li a:hover,
 .ttcomponent-sidenavbar.navbar .nav.navbar-nav li a:focus,
 .ttcomponent-sidenavbar.navbar .nav.navbar-nav li a:active{
	background:none;
}

.ttcomponent-sidenavbar.navbar .nav.navbar-nav li.depth-0 > a {
	font-size:17px;
	font-weight:bold;
	width:100%;
	border-bottom:1px solid #ccc; 
	text-align:left;
}

.ttcomponent-sidenavbar.navbar .nav.navbar-nav li a[data-toggle="collapse"][aria-expanded="true"] > span:before {
	content:'\f077'
	
}
.ttcomponent-sidenavbar.navbar .nav.navbar-nav li.depth-1 a {
	font-size:16px;
}
.ttcomponent-sidenavbar.navbar .nav.navbar-nav li.depth-2 a {
	font-size:15px;
}
.ttcomponent-sidenavbar.navbar .nav.navbar-nav li.depth-3 a {
	font-size:14px;
}