html,
body {
    padding: 0;
    margin: 0;
}

.invisible {
    visibility: hidden;
}

.canvas_div {
    max-width: 1000px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.form>img {
    max-width: 1000px;
    margin: 0;
    width: 100%;
    height: auto;
}

.form,
.form>img {
    pointer-events: none;
}

body,
body *,
body *:focus,
.container-pointer *,
.container-pointer *:focus {
    outline: none;
    box-shadow: none;
}

#imageView {
    height: auto;
    width: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
}

canvas {
    display: block;
}

.container-pointer:hover {
    transition: cursor .5s ease-in-out;
    cursor: url(images/pointer_1.cur) 16 16, pointer;
}

.container-pointer:active {
    transition: cursor .5s ease-in-out;
    cursor: url(images/pointer-active.cur) 16 16, pointer;
}


/*TEST*/