
            html body .top-entry .scheda > [class^="col-"] {
                position:static!important;
            }
            div[data-color-image="dark"]:before {
                display:none
            }
            div[data-color-image="dark"] .square-mask-parent{
                overflow: hidden;
                position: relative;
                border-radius:100%;
                border-top-right-radius: 0;
            }
            div[data-color-image="dark"] .square-mask-parent:before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 40%;
                background: rgb(0,70,173);
                background: linear-gradient(180deg, rgba(0,70,173,0.8533788515406162) 20%, rgba(0,70,173,0) 100%);
                z-index: 5;
            }

        
            #hero-zone .top-entry-new h1 {
                padding: 1.5rem 1.5rem 0 0;
                background: white;
                display: inline-block;
            }
            #hero-zone .top-entry-new .short-description{
                padding:0 1.5rem 1.5rem 0;
                background: white;
                display: inline-block;
            }
            
            #hero-zone .top-entry-new .text-wrap:nth-child(1) {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
            }

            body.isMobile:not(.is-scrolled):not(.is-scrolled-xs) [data-color="dark"] .icon:not(.connection-hub-link), 
            body.isMobile:not(.is-scrolled):not(.is-scrolled-xs)  [data-color="dark"] .fal:before, 
            body.isMobile:not(.is-scrolled):not(.is-scrolled-xs)  [data-color="dark"] .icon:before {
                color: white !important; 
            }


        /* HP */
            html body .top-entry-new .top-entry .scheda h1,
            html body .top-entry-new .top-entry .scheda .short-description {
                max-width:95%!important;
                padding-right: 1em;
            }
            
            html body .top-entry-new .top-entry .scheda .short-description p {
                font-size: 1.8rem;
                line-height: 1.2;
            }
            
            /* NOT LOGGED */

                .slider-section.slider-section-hp .top-entry-new .top-entry .scheda {
                    height: 720px;
                    min-height: 720px;
                }

                .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask{ 
                    left: unset;
                    transform-origin: right top;
                    right: 0;
                    top: -3.75em;
                    border-radius: 0;
                    border-top-left-radius: 50%;
                    overflow: visible;
                    position:absolute;            
                }
                
                .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask img{
                    border-radius: 100%;
                    border-top-right-radius: 0;
                    position: relative;
                    min-width: 120%;
                    right: 5%;
                }
                
            /* / NOT LOGGED */
            
            /* LOGGED  .isLogged */
            
                html body .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .scheda {
                    height: 640px;
                    min-height: 640px;
                }
                .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .square-mask{ 
                    left: unset;
                    transform-origin: right top;
                    right: 0;
                    top: -3.75em;
                    border-radius: 0;
                    border-top-left-radius: 50%;
                    overflow: visible;
                    position:absolute;            
                }

                .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .square-mask img{
                    border-radius: 100%;
                    border-top-right-radius: 0;
                    position: relative;
                    min-width: 120%;
                    right: 5%;
                }
        
                
            /* / LOGGED */

                .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                    max-width: inherit;
                }
            
        /* / HP */
        


    @media screen and (max-width: 1745px){
        /* HP */
            /* NOT LOGGED */

                .slider-section.slider-section-hp .top-entry-new .top-entry .scheda {
                    height: calc((100vw * 720 / 1920) * .98);
                    min-height: calc((100vw * 720 / 1920));
                }
                
                .slider-section.slider-section-hp .top-entry-new .top-entry .scheda .square-mask img{
                    border-radius: 100%;
                    border-top-right-radius: 0;
                }
                
            /* / NOT LOGGED */

            /* LOGGED  .isLogged */
                html body .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .scheda {
                    height: calc((100vw * 720 / 1920) * .98);
                    min-height: calc((100vw * 720 / 1920));
                }
        
                
            /* / LOGGED */

                .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                    max-width: inherit;
                }
    }

    @media screen and (max-width: 1536px){
            /* HP */
                /* NOT LOGGED */

                .slider-section.slider-section-hp .top-entry-new .top-entry .scheda {
                    height: calc((100vw * 720 / 1920) * .8);
                    min-height: calc((100vw * 720 / 1920));
                }
                
                .slider-section.slider-section-hp .top-entry-new .top-entry .scheda .square-mask img{
                    border-radius: 100%;
                    border-top-right-radius: 0;
                }
                
            /* / NOT LOGGED */

            /* LOGGED  .isLogged */
                html body .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .scheda {
                    height: calc((100vw * 640 / 1920) * .8);
                    min-height: calc((100vw * 640 / 1920));
                }
                
            /* / LOGGED */

                .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                    max-width: inherit;
                }
    }

    @media screen and (max-width: 1366px){
        /* HP */
            /* NOT LOGGED */

            .slider-section.slider-section-hp .top-entry-new .top-entry .scheda {
                height: calc((100vw * 720 / 1920) * .71);
                min-height: calc((100vw * 720 / 1920));
            }
            
            .slider-section.slider-section-hp .top-entry-new .top-entry .scheda .square-mask img{
                border-radius: 100%;
                border-top-right-radius: 0;
            }
            
        /* / NOT LOGGED */

        /* LOGGED  .isLogged */
            html body .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .scheda {
                height: calc((100vw * 640 / 1920) * .71);
                min-height: calc((100vw * 640 / 1920));
            }
            
        /* / LOGGED */

            .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                max-width: inherit;
            }
    }

    @media screen and (max-width: 1280px){ /* 80em */
        /* HP */
                /* NOT LOGGED */

                .slider-section.slider-section-hp .top-entry-new .top-entry .scheda {
                    height: calc((100vw * 720 / 1920) * .66);
                    min-height: 570px;
                    max-height: calc((100vw * 720 / 1920));
                    
                }
                .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask img {
                    border-radius: 100%;
                    border-top-right-radius: 0;
                    position: relative;
                    min-width: 120%;
                    right: 5%;
                }
                
                .slider-section.slider-section-hp .top-entry-new .top-entry .scheda .square-mask img{
                    border-radius: 100%;
                    border-top-right-radius: 0;
                }
                
            /* / NOT LOGGED */

            /* LOGGED  .isLogged */
                html body .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .scheda {
                    height: calc((100vw * 640 / 1920) * .66);
                    min-height: calc((100vw * 640 / 1920));
                }	
                
            /* / LOGGED */

                .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                    max-width: inherit;
                }
    }

    @media screen and (max-width: 1120px){ /* 80em */
        /* HP */
                /* NOT LOGGED */

                .slider-section.slider-section-hp .top-entry-new .top-entry .scheda {
                    height: calc((100vw * 720 / 1920) * .58);
                    min-height: 520px;
                    max-height: calc((100vw * 720 / 1920));
                }
                
                .slider-section.slider-section-hp .top-entry-new .top-entry .scheda .square-mask img{
                    border-radius: 100%;
                    border-top-right-radius: 0;
                }
                
            /* / NOT LOGGED */

            /* LOGGED  .isLogged */
                html body .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .scheda {
                    height: calc((100vw * 640 / 1920) * .58);
                    min-height: calc((100vw * 640 / 1920));
                }	
                
            /* / LOGGED */

                .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                    max-width: inherit;
                }
    }


    @media screen and (max-width: 1097px){ /* 64em */
        /* HP */
            /* NOT LOGGED */

                .slider-section.slider-section-hp .top-entry-new .top-entry .scheda {
                    height: calc((100vw * 720 / 1920) * .57);
                    min-height: calc((100vw * 720 / 1920));
                }

                
                .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask img {
                    border-radius: 100%;
                    border-top-right-radius: 0;
                    position: relative;
                    min-width: 100%;
                    left: 15%;
                }
                
            /* / NOT LOGGED */

            /* LOGGED  .isLogged */

                html body .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .scheda {
                    height: calc((100vw * 640 / 1920) * .57);
                    min-height: calc((100vw * 640 / 1920));
                }	
                
            /* / LOGGED */

                .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                    max-width: inherit;
                    margin-top: 8%;
                }
    }



    @media screen and (max-width: 1097px) and (orientation:landscape){ /* 64em */
        
        html body .top-entry-new .top-entry .scheda h1, 
        html body .top-entry-new .top-entry .scheda .short-description {
            padding-right: 0;
            min-width: 116%;
        }
        /* HP */
            /* NOT LOGGED */
                .slider-section.slider-section-hp .top-entry-new .top-entry .scheda {
                    height: calc((100vw * 720 / 1920) * .57);
                    min-height: calc((100vw * 720 / 1920));
                }
                
                .slider-section.slider-section-hp .top-entry-new .top-entry .scheda .square-mask img{
                    border-radius: 100%;
                    border-top-right-radius: 0;
                }
                
            /* / NOT LOGGED */

            /* LOGGED  .isLogged */

                html body .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .scheda {
                    height: calc((100vw * 640 / 1920) * .57);
                    min-height: calc((100vw * 640 / 1920));
                }	
                
            /* / LOGGED */

                .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                    max-width: inherit;
                }
    }


    @media screen and (max-width: 1024px) and (orientation:landscape){ /* 64em */
        

        #hero-zone .top-entry-new h1 {
            padding: 1.5rem 1.5rem 1.5rem 0;
            background: white;
            display: inline-block;
        }
        #hero-zone .top-entry-new .short-description{
            padding:1.5rem 1.5rem 1.5rem 0;
            background: white;
            display: inline-block;
        }

        html body .top-entry-new .top-entry .scheda h1, 
        html body .top-entry-new .top-entry .scheda .short-description {
            padding-right: 0;
            min-width: 110%;
        }
        /* HP */
            /* NOT LOGGED */
                .slider-section.slider-section-hp .top-entry-new .top-entry .scheda {
                    height: calc((100vw * 720 / 1920) * .53);
                    min-height: calc((100vw * 720 / 1920));
                }
                
                .slider-section.slider-section-hp .top-entry-new .top-entry .scheda .square-mask img{
                    border-radius: 100%;
                    border-top-right-radius: 0;
                }
                
            /* / NOT LOGGED */

            /* LOGGED  .isLogged */

                html body .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .scheda {
                    height: calc((100vw * 640 / 1920) * .53);
                    min-height: calc((100vw * 640 / 1920));
                }	
                
            /* / LOGGED */

                .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                    max-width: inherit;
                }
    }

    @media screen and (max-width: 960px) and (orientation:landscape){ /* 56.25 em*/
        
        /* HP */

            .top-entry-new .top-entry .h1{
                padding-top:4vh;
            }
            .top-entry-new .top-entry .short-description {
                padding-right: 10vw;
            }

            /* NOT LOGGED */

                .slider-section.slider-section-hp .top-entry-new .top-entry .scheda {
                    height: calc(960px * 720 / 1920);
                    min-height: calc(960px * 720 / 1920);
                }
                
                .slider-section.slider-section-hp .top-entry-new .top-entry .scheda .square-mask img{
                    border-radius: 100%;
                    border-top-right-radius: 0;
                }
                
            /* / NOT LOGGED */

            /* LOGGED  .isLogged */

                html body .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .scheda {
                    height: calc(960px * 640 / 1920);
                    min-height: calc(960px * 640 / 1920);
                }
                
            /* / LOGGED */

                .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                    max-width: inherit;
                }
    }

    @media screen and (max-width: 768px){ /* 48em*/
        /* HP */

            .top-entry-new .top-entry .h1{
                padding-top:4vh;
            }

            /* NOT LOGGED */

                .slider-section.slider-section-hp .top-entry-new .top-entry .scheda {
                    height: calc(768px * 720 / 1920);
                    min-height: calc(768px * 720 / 1920);
                }     

                .slider-section.slider-section-hp .top-entry-new .top-entry .scheda .square-mask img{
                    border-radius: 100%;
                    border-top-right-radius: 0;
                }
                
            /* / NOT LOGGED */

            /* LOGGED  .isLogged */

                html body .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .scheda {
                    height: calc(768px * 640 / 1920);
                    min-height: calc(768px * 640 / 1920);
                }	
                
            /* / LOGGED */

                .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                    max-width: 70%;
                }
    }

    @media screen and (max-width: 768px) and (orientation:portrait){ /* 48em */
    
        body.isMobile:not(.is-scrolled):not(.is-scrolled-xs) [data-color="dark"] .icon:not(.connection-hub-link), 
        body.isMobile:not(.is-scrolled):not(.is-scrolled-xs) [data-color="dark"] .fal:before, 
        body.isMobile:not(.is-scrolled):not(.is-scrolled-xs) [data-color="dark"] .icon:before{
            color: rgb(0,70,173) !important;
        }
        /* HP */

            .top-entry-new .top-entry .h1{
                padding-top:4vh;
            }

            /* NOT LOGGED */

                .slider-section.slider-section-hp .top-entry-new .top-entry .scheda {
                    height: 445px;
                    min-height: 445px;
                    align-items: flex-end;
                }

                .slider-section.slider-section-hp .top-entry-new .top-entry .scheda .square-mask{ 
                    height: 130%;
                    width: 130%;
                    left: 0;
                    transform-origin: right top;
                    right: 0;
                    top: -1em;
                    border-radius: 0;
                    border-top-left-radius: 50%;
                    overflow: visible;
                    transform: translateX(-6%);
                }
                
                .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask img {
                    border-radius: 100%;
                    border-top-right-radius: 0;
                    position: relative;
                    min-width: 120%;
                    left: -5%;
                }
                
            /* / NOT LOGGED */

            /* LOGGED  .isLogged */

                html body .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .scheda {
                    height: calc(768px * 640 / 1920);
                    min-height: calc(768px * 640 / 1920);
                }	
                .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .square-mask img {
                    border-radius: 100%;
                    border-top-right-radius: 0;
                    position: relative;
                    min-width: 120%;
                    left: -5%;
                }               
            /* / LOGGED */

                .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                    max-width: 80%;
                    margin-top: 0%;
                    min-width: 50%;
                }
    }

    @media screen and (max-width: 768px) and ( orientation:landscape){ /* 48em */
        /* HP */
        html body .top-entry-new .top-entry .scheda h1, 
        html body .top-entry-new .top-entry .scheda .short-description {
            padding-right: 0;
            min-width: unset;
        }
        .top-entry-new .top-entry .h1{
            padding-top:4vh;
        }

        /* NOT LOGGED */

            .slider-section.slider-section-hp .top-entry-new .top-entry .scheda {
                height: calc(100vh);
                min-height: calc(100vh) !important;
                align-items: center;
            }
            .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask {

            }
            
            /* .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask img{
                max-width: 61vw;
                min-width: 60vw;
                left: calc(40vw + 25px);
            }*/
            
        /* / NOT LOGGED */

        /* LOGGED  .isLogged */

            html body .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .scheda {
                height: calc(100vh);
                min-height: calc(100vh) !important;
                align-items: center;
            }	
            .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .square-mask img{
                max-width: 61vw;
                min-width: 60vw;
                left: calc(40vw + 25px);
            }
            
        /* / LOGGED */

            .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                max-width: 53%;
                padding-top: 2rem !important;
            }
            .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                max-width: 70%;
                margin-top: 0;
            }
    }


    @media screen and (max-width: 767px) and (orientation:portrait){ /*42.5em*/

        #hero-zone .top-entry-new h1 {
            padding: 1.5rem 1.5rem 1.5rem 0;
            background: white;
            display: inline-block;
        }
        html body.isMobile:not(.is-scrolled):not(.is-scrolled-xs) header.main-header {
            background-color: rgba(255,255,255, 1);
            height: 60px;
            transition: all .5s ease;
        }
        html body .top-entry-new .top-entry .scheda h1, 
        html body .top-entry-new .top-entry .scheda .short-description {
            max-width: inherit!important;
            padding-right:0;
        }
        /* HP */


            /* NOT LOGGED */

                .slider-section.slider-section-hp .top-entry-new .top-entry .scheda {
                    height: calc(90vh);
                    min-height: calc(90vh);
                    margin-bottom: 1rem;
                    justify-content: center;
                    flex-direction: column;
                    flex-wrap: wrap-reverse;
                }
                .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask {
                    top:0;
                }               
                .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask img {
                    top:0;
                    left:5%;
                    min-width: 110%;
                }
                
            /* / NOT LOGGED */

            /* LOGGED  .isLogged */

                html body .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .scheda {
                    height: calc(90vh);
                    min-height: calc(90vh);
                    margin-bottom: 1rem;
                    align-items: flex-start;
                    flex-direction: column;
                    flex-wrap: wrap-reverse;
                }	
                .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .square-mask {
                    top:0;
                }    
                .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .square-mask img {
                    top:0;
                    left:5%;
                    min-width: 110%;
                }
                
            /* / LOGGED */

                .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                    max-width: unset;
                    order:2;
                    flex:1;
                }
                .top-entry-new .top-entry .scheda > [class^="col-"]:last-child {
                    order:1;
                    flex:1;
                }
                html body #hero-zone .top-entry-new .top-entry .scheda p {
                    display: block;
                    max-width: unset!important;
                }
                .top-entry-new .fx-xs-align-items-center {
                    align-items: center; /* LEVARE DA CODEBASE */
                }
    }

    @media screen and (max-width: 767px) and (orientation:landscape){ /*42.5em*/

    /* HP */
            html body .top-entry-new .top-entry .scheda h1, 
            html body .top-entry-new .top-entry .scheda .short-description {
                padding-right: 0;
                min-width: unset;
            }
            .top-entry-new .top-entry .h1{
                padding-top:4vh;
            }

            /* NOT LOGGED */

                .slider-section.slider-section-hp .top-entry-new .top-entry .scheda {
                    height: 445px;
                    min-height: 445px;
                    align-items: flex-end;
                }
                .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask {
                    max-width:70%;
                }
                
                
            /* / NOT LOGGED */

            /* LOGGED  .isLogged */

                html body .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .scheda {
                    height: calc(100vh);
                    min-height: calc(100vh) !important;
                    align-items: center;
                }	
                .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .square-mask img{
                    max-width: 61vw;
                    min-width: 60vw;
                    left: calc(40vw + 25px);
                }
                
            /* / LOGGED */

                .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                    max-width: 53%;
                    padding-top: 2rem !important;
                }
                .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                    max-width: 70%;
                    margin-top: 0;
                }
    }


    @media screen and (max-width: 680px) and (orientation:portrait){ /*42.5em*/

        #hero-zone .top-entry-new h1 {
            padding: 1.5rem 1.5rem 1.5rem 0;
            background: white;
            display: inline-block;
        }
        html body.isMobile:not(.is-scrolled):not(.is-scrolled-xs) header.main-header {
            background-color: rgba(255,255,255, 1);
            height: 60px;
            transition: all .5s ease;
        }
        html body .top-entry-new .top-entry .scheda h1, 
        html body .top-entry-new .top-entry .scheda .short-description {
            max-width: inherit!important;
            padding-right:0;
        }
        /* HP */
            /* NOT LOGGED */

                .slider-section.slider-section-hp .top-entry-new .top-entry .scheda {
                    height: calc(90vh);
                    min-height: calc(90vh);
                    margin-bottom: 1rem;
                    justify-content: center;
                    flex-direction: column;
                    flex-wrap: wrap-reverse;
                }
                .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask {
                    top:0;
                }               
                .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask img {
                    top:0;
                    left:5%;
                    min-width: 110%;
                }
                
            /* / NOT LOGGED */

            /* LOGGED  .isLogged */

                html body .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .scheda {
                    height: calc(90vh);
                    min-height: calc(90vh);
                    margin-bottom: 1rem;
                    align-items: flex-start;
                    flex-direction: column;
                    flex-wrap: wrap-reverse;
                }	
                .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .square-mask {
                    top:0;
                }    
                .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .square-mask img {
                    top:0;
                    left:5%;
                    min-width: 110%;
                }
                
            /* / LOGGED */

                .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                    max-width: unset;
                    order:2;
                    flex:1;
                }
                .top-entry-new .top-entry .scheda > [class^="col-"]:last-child {
                    order:1;
                    flex:1;
                }
                html body #hero-zone .top-entry-new .top-entry .scheda p {
                    display: block;
                    max-width: unset!important;
                }
                .top-entry-new .fx-xs-align-items-center {
                    align-items: center; /* LEVARE DA CODEBASE */
                }
    }

    @media screen and (max-width: 680px) and (orientation:landscape){ /*42.5em*/

    /* HP */
            html body .top-entry-new .top-entry .scheda h1, 
            html body .top-entry-new .top-entry .scheda .short-description {
                padding-right: 0;
                min-width: unset;
            }
            html body .top-entry-new .top-entry .scheda .short-description p{
                font-size:1.3rem !important;
            }
            
            
            .top-entry-new .top-entry .h1{
                padding-top:4vh;
            }

            /* NOT LOGGED */

                .slider-section.slider-section-hp .top-entry-new .top-entry .scheda {
                    height: calc(100vh);
                    min-height: calc(100vh) !important;
                    align-items: center;
                }
                .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask {

                }
                
                .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask img{
                    max-width: 61vw;
                    min-width: 60vw;
                    left: calc(40vw + 25px);
                }
                
            /* / NOT LOGGED */

            /* LOGGED  .isLogged */

                html body .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .scheda {
                    height: calc(100vh);
                    min-height: calc(100vh) !important;
                    align-items: center;
                }	
                .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .square-mask img{
                    max-width: 61vw;
                    min-width: 60vw;
                    left: calc(40vw + 25px);
                }
                
            /* / LOGGED */

                .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                    max-width: 53%;
                    padding-top: 2rem !important;
                }
                .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                    max-width: 70%;
                    margin-top: 0;
                }
    }




    @media screen and (max-width: 470px) and (orientation:portrait){ /*42.5em*/

        #hero-zone .top-entry-new h1 {
            padding: 1.5rem 1.5rem 1.5rem 0;
            background: white;
            display: inline-block;
        }
        html body.isMobile:not(.is-scrolled):not(.is-scrolled-xs) header.main-header {
            background-color: rgba(255,255,255, 1);
            height: 60px;
            transition: all .5s ease;
        }
        html body .top-entry-new .top-entry .scheda h1, 
        html body .top-entry-new .top-entry .scheda .short-description {
            max-width: inherit!important;
            padding-right:0;
        }
        /* HP */
            /* NOT LOGGED */

                .slider-section.slider-section-hp .top-entry-new .top-entry .scheda {
                    height: 100vh;
                    min-height: 700px;
                    margin-bottom: -60px;
                    justify-content: center;
                    flex-direction: column;
                    flex-wrap: wrap-reverse;
                }
                .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask {
                    top:0;
                }               
                .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask img {
                    top:0;
                    left:5%;
                    min-width: 110%;
                }
                
            /* / NOT LOGGED */

            /* LOGGED  .isLogged */

                html body .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .scheda {
                    height: 760px;
                    min-height: 760px;;
                    margin-bottom: -60px;
                    justify-content: center;
                    flex-direction: column;
                    flex-wrap: wrap-reverse;
                }	
                .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .square-mask {
                    top:0;
                }    
                .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .square-mask img {
                    top:0;
                    left:5%;
                    min-width: 110%;
                }
                
            /* / LOGGED */

                .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                    max-width: unset;
                    order:2;
                    flex:1;
                }
                .top-entry-new .top-entry .scheda > [class^="col-"]:last-child {
                    order:1;
                    flex:1;
                }
                html body #hero-zone .top-entry-new .top-entry .scheda p {
                    display: block;
                    max-width: unset!important;
                }
                .top-entry-new .fx-xs-align-items-center {
                    align-items: center; /* LEVARE DA CODEBASE */
                }
    }

    @media screen and (max-width: 470px) and (orientation:landscape){ /*42.5em*/

    /* HP */
            html body .top-entry-new .top-entry .scheda h1, 
            html body .top-entry-new .top-entry .scheda .short-description {
                padding-right: 0;
                min-width: unset;
            }
            .top-entry-new .top-entry .h1{
                padding-top:4vh;
            }

            /* NOT LOGGED */

                .slider-section.slider-section-hp .top-entry-new .top-entry .scheda {
                    height: calc(100vh);
                    min-height: calc(100vh) !important;
                    align-items: center;
                }
                .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask {

                }
                
                .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask img{
                    max-width: 61vw;
                    min-width: 60vw;
                    left: calc(40vw + 25px);
                }
                
            /* / NOT LOGGED */

            /* LOGGED  .isLogged */

                html body .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .scheda {
                    height: calc(100vh);
                    min-height: calc(100vh) !important;
                    align-items: center;
                }	
                .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .square-mask img{
                    max-width: 61vw;
                    min-width: 60vw;
                    left: calc(40vw + 25px);
                }
                
            /* / LOGGED */

                .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                    max-width: 53%;
                    padding-top: 2rem !important;
                }
                .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                    max-width: 70%;
                    margin-top: 0;
                }
    }

    @media screen and (max-width: 340px) and (orientation:portrait){ /*42.5em*/

        #hero-zone .top-entry-new h1 {
            padding: 1.5rem 1.5rem 1.5rem 0;
            background: white;
            display: inline-block;
        }
        html body.isMobile:not(.is-scrolled):not(.is-scrolled-xs) header.main-header {
            background-color: rgba(255,255,255, 1);
            height: 60px;
            transition: all .5s ease;
        }
        html body .top-entry-new .top-entry .scheda h1, 
        html body .top-entry-new .top-entry .scheda .short-description {
            max-width: inherit!important;
        }
        html body .top-entry-new .top-entry .scheda .short-description {
            padding-right: 0 !important;
        }
        /* HP */
            /* NOT LOGGED */

                .slider-section.slider-section-hp .top-entry-new .top-entry .scheda {
                    height: 100vh;
                    min-height: 580px;
                    margin-bottom: 40px;
                    justify-content: center;
                    flex-direction: column;
                    flex-wrap: wrap-reverse;
                }
                .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask {
                    top:0;
                }               
                .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask img {
                    top:0;
                    left:5%;
                    min-width: 110%;
                }
                
            /* / NOT LOGGED */

            /* LOGGED  .isLogged */

                html body .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .scheda {
                    height: 760px;
                    min-height: 760px;;
                    margin-bottom: -60px;
                    justify-content: center;
                    flex-direction: column;
                    flex-wrap: wrap-reverse;
                }	
                .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .square-mask {
                    top:0;
                }    
                .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .square-mask img {
                    top:0;
                    left:5%;
                    min-width: 110%;
                }
                
            /* / LOGGED */

                .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                    max-width: unset;
                    order:2;
                    flex:1;
                }
                .top-entry-new .top-entry .scheda > [class^="col-"]:last-child {
                    order:1;
                    flex:1;
                }
                html body #hero-zone .top-entry-new .top-entry .scheda p {
                    display: block;
                    max-width: unset!important;
                }
                .top-entry-new .fx-xs-align-items-center {
                    align-items: center; /* LEVARE DA CODEBASE */
                }
    }

    @media screen and (max-width: 340px) and (orientation:landscape){ /*42.5em*/

    /* HP */
            html body .top-entry-new .top-entry .scheda h1, 
            html body .top-entry-new .top-entry .scheda .short-description {
                padding-right: 0;
                min-width: unset;
            }
            .top-entry-new .top-entry .h1{
                padding-top:4vh;
            }

            /* NOT LOGGED */

                .slider-section.slider-section-hp .top-entry-new .top-entry .scheda {
                    height: calc(100vh);
                    min-height: calc(100vh) !important;
                    align-items: center;
                }
                .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask {

                }
                
                .slider-section.slider-section-hp .top-entry-new .top-entry .square-mask img{
                    max-width: 61vw;
                    min-width: 60vw;
                    left: calc(40vw + 25px);
                }
                
            /* / NOT LOGGED */

            /* LOGGED  .isLogged */

                html body .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .scheda {
                    height: calc(100vh);
                    min-height: calc(100vh) !important;
                    align-items: center;
                }	
                .slider-section.slider-section-hp .top-entry-new .top-entry.isLogged .square-mask img{
                    max-width: 61vw;
                    min-width: 60vw;
                    left: calc(40vw + 25px);
                }
                
            /* / LOGGED */

                .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                    max-width: 53%;
                    padding-top: 2rem !important;
                }
                .top-entry-new .top-entry .scheda > [class^="col-"]:first-child {
                    max-width: 70%;
                    margin-top: 0;
                }
    }

    

