@media (max-width: 1440px){
	.ttcomponent-coverImageText {
	}
	.ttcomponent-userProfileCoverImage .esquire-message {
		padding-top: 4rem;
		padding-bottom: 5rem;
	}
}

@media (max-width: 1200px){

}

@media (max-width: 1024px){

}

@media (max-width: 767px){
	.ttcomponent-userProfileCoverImage .esquire-message-container {
		max-height:inherit;
	}
	.ttcomponent-userProfileCoverImage .esquire-message {
		padding-top: 4rem;
		padding-bottom: 3rem;
		max-width: calc(100vw - 3rem);
		
	}
	.ttcomponent-userProfileCoverImage .cover_action {
		bottom: 0;
		margin-top:1rem;
	}

}
