/* Component style rules */

.ttcomponent-userProfileCoverImage .esquire{color:#fff;}

.ttcomponent-userProfileCoverImage .esquire-message h2{color:#fff;}
.ttcomponent-userProfileCoverImage .esquire-message h3{color:#fff;}
.ttcomponent-userProfileCoverImage .esquire.dark{background:#000;}


.ttcomponent-userProfileCoverImage .mentions-input-box .mentions div{color:#FFF!important;}
.ttcomponent-userProfileCoverImage .esquire_row .esquire .esquire-message-container{color:#fff;}
.ttcomponent-userProfileCoverImage .esquire_row .esquire-message h2{color:#fff;}
.ttcomponent-userProfileCoverImage .user-email a{ font-weight:bolder;}

.ttcomponent-userProfileCoverImage .coverContainer {background-repeat: no-repeat;background-size:cover;background-position: center center;}
.ttcomponent-userProfileCoverImage .buttons-container {position:absolute; z-index: 2010; right: 0;}
.ttcomponent-userProfileCoverImage .buttons-container > * {color: #3b3b3b}
