@charset "UTF-8";
/* CSS Document */


@media (min-width: 1400px){
	.container {
		width: 81vw;
		max-width: 1568px;
	}
}

@media (max-width: 1024px) and (min-width:769px){
	.container {
		width:auto;
	}
	.navbar-nav > li > a > span[class^=windicon-arrow]::before {
		margin-right: 0;
	}
	h1 { font-size:1.6rem;}
	h3 { font-size:1.5rem;}
	.panel-body-40 {
		padding:20px;
	}
	.panel-body-l-r-40 {
		padding-left:20px;
		padding-right:20px;
	}
	.category-slider .slick-slide.video-grid-item:hover {
		-webkit-transform: scale(1);
		    -ms-transform: scale(1);
		        transform: scale(1);
	}
	.dropdown.open .dropdown-menu h4 { font-size:98%;}
	.dropdown.open .dropdown-menu h5 > a { font-size:80%;}
	.dropdown.open .dropdown-menu li > a { font-size:80%;}
	.navbar-nav > li > a > span[class^=windicon-arrow]::before {
		margin-right: -15px;
	}
}

@media (max-width: 992px) and (min-width: 561px) {
	.collapse.navbar-collapse .nav.navbar-nav > li > a {
		padding-top:20px;
		padding-bottom:20px;
	}
}



@media (max-width: 768px) and (min-width: 561px) {
	.container {
		width:auto;
	}

	.navbar-nav > li > a > span[class^=windicon-arrow]::before {
		display: none;
	}
}

@media (max-width: 767px){
	
/* BOOTSTRAP CLASS OVERRIDES */
	.well-lg { padding:20px 0;}
	.well-grid, .well-grid { padding:20px 0 0 0;}
	
	
/* Navigation Bar & Megamenu*/
	.nav > li { display:inline-block;}
	.nav > li > a {display:block;}
	.nav:not(.nav-tools) > li{ 
		width:49%;
		float:left;
	}
	.navbar-nav > li > a > span[class^=windicon-arrow]::before {
		margin-right: -15px;
	}
	.nav > li:active, .nav > li:hover, .nav > li:focus  {
		z-index: 100;

	}
	header .dropdown .dropdown-menu li a {
		font-size:90%;
	}
	header .dropdown .dropdown-menu .row .row {
		margin:0;
	}
	
	.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
		max-height: 100vh!important;
		width:100vw;
		padding:20px 0;
	}
	.dropdown .dropdown-menu { display:none; -webkit-transform-origin:top center; -ms-transform-origin:top center; transform-origin:top center;}
	.dropdown.open .dropdown-menu {
		display: block;
    	max-height: inherit!important;
		width: 100vw;
		left: 0!important;
		overflow-y:auto;
		margin-left:0;
	}
	
	.dropdown.search-dropdown.open .dropdown-menu, 
	.dropdown.profile-dropdown.open .dropdown-menu {
		position: fixed;
		min-width: 100vw;
		height: auto;
		left: 0;
		top: 70px;
	}
	.dropdown.profile-dropdown.open .dropdown-menu {

	}
	.dropdown .dropdown-menu .row [class^='col-'] .row [class^='col-']{
		padding-left:0;
		padding-right:0;
	}
/*	.dropdown .dropdown-menu h4 {
		font-size: .8rem;
	}
	.profile-dropdown h4{ border:none!important; margin:0;}
	.dropdown .dropdown-menu h5, .dropdown .dropdown-menu ul{
		font-size:.7rem;
		padding:inherit;
	}*/
	.navbar .dropdown-fixed {
		position: absolute;
		padding-right: 20px;
	}
	.navbar li:nth-child(even) .dropdown-fixed {
		margin-left:-49vw!important;
	} 

	
	
	.panel-body-40 {
		padding:20px;
	}
	.panel-body-l-r-40 {
		padding-left:20px;
		padding-right:20px;
	}
	
/* FONT SIZES */
	.fz-36{
		font-size: 1.585rem!important;
    	line-height: 1.1;
	}
	
/* NEWS GRID */
	.news-grid { display:block;}
	.news-grid-item.item-big { height: 50vh; overflow: hidden;}
	.news-grid-item.item-big img {height: 100%; max-width:inherit;}
	
	.blocks-l-bordered > div + div { border-top: 1px solid rgba(0,0,0, .1); border-left: 0;}
}

.blocks-l-bordered > div + div

@media (max-width: 480px){
	
}