@charset "UTF-8";
/* CSS Document */


:root {
	font-size:16px;
}

h1, h2, h3, h4, h5 { font-family: 'proxima_nova_altbold'; line-height: 1.3}

h2, .h2 {
    font-size: 1.625rem;
}

a:visited { color:inherit;}
a, a:hover { text-decoration: none;}


html {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
	height:100%;
}

html body {
    font-size: 16px;
    font-family: 'Proxima Nova';
    padding-top: 70px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
	height:100%;
	
}

main { min-height:100%; width: 100vw;}


footer {
	background-color:#F4F4F4; 
	position:relative;
	z-index: 0;
}

/* TT OVERRIDES */
body .wrapwidg.plugin_contentUpload, 
body .bg-white { border:0;}
#header {
    min-height: 59px;
    background: #fff;
    -webkit-box-shadow: none;
            box-shadow: none;
    min-width: 0;
    width: 100%;
}

/* PAGINATORE */

.container .wrappager { padding-top:1.5rem; padding-bottom:1.5rem;}
.container ul.pager { overflow:hidden; text-align:left; }
.container ul.pager li { position:relative; display:inline-block;}
.container ul.pager li a { 
 color:inherit;
}
.container ul.pager li a.on{
	font-family: 'proxima_nova_altbold';
}
.container ul.pager li + li { border-left:1px solid #ccc;}
.container ul.pager li a, 
.container ul.pager li a.on,
.container ul.pager li a:hover,
.container ul.pager li a:active {
  font-size:1.2rem;
  width:40px;
  height:1.4rem;
  line-height:1.4rem;
  background:none;
}

.container ul.pager li.next, 
.container ul.pager li.prev {
	 float:none!important;

}
.container ul.pager li.next > a:before,
.container ul.pager li.prev > a:before { 
  font-size:1rem;  	
  width:40px;
 	height:1.4rem;
 	line-height:1.4rem;
}


/* OVVERIDE DEV_RULES */
.level_2.col-xs-3 {
	padding:0;
}

li.page {
	padding-left:0; padding-right:0;
}
/* BOOTSTRAP CLASS OVERRIDES */

a:hover, a:focus {
    color: #0D1F2D;
}
a:hover ::before, a:focus ::before {
    color: #0D1F2D;
}
.d-flex.row:after, .d-flex.row:before{
  display: none;
}
 .well-lg{
    padding: 40px 24px;
    border-radius: 0;
	 
}
 .well-grid{
    padding: 48px 24px 16px 24px;
}

.panel-body-20 {
	padding:20px;
}
.panel-body-30 {
	padding:30px;
}
.panel-body-40 {
	padding:2vw;
}
.panel-body-l-r-40 {
	padding-left:40px;
	padding-right:40px;
}

.modal.in {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	height: 100vh;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	max-width: calc(100% - 20px);
}
.modal-content {
	border-radius: 0;
}
.modal-dialog, .modal-body {
	max-width: 100%;
}

/* BUTTONS */
h2 a, h3 a, h4 a, h5 a {text-decoration: none!important; font-weight: bold!important; font-family: 'proxima_nova_altbold';}

.btn{	
	padding: 10px 16px;
	font-size: 0.8125rem;
	font-weight: 500;
	font-family: 'proxima_nova_altbold';
	
}
.btn:active, .btn.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow:none;
    box-shadow: none;
}

.btn-xs{	
	padding: 5px 8px;
	font-size: 0.6125rem;
	font-weight: bold;
}

.dropdown-menu .btn-dark, .dropdown-menu a.btn-dark {	
	color:#87888A;
}
.dropdown-menu .btn-dark:active,
.dropdown-menu .btn-dark:hover, 
.dropdown-menu a.btn-dark:active,
.dropdown-menu a.btn-dark:hover {	
}
.btn-dark, a.btn-dark {	
	color:#4A4A4A;
}
.btn-dark:hover {	
	-webkit-transform: translateY(-1px);
	    -ms-transform: translateY(-1px);
	        transform: translateY(-1px);
}
header .dropdown .dropdown-menu li a.btn-default,
.btn-default,
.btn.btn-default{
	border-radius: 50px;
	color:#fff!important;
	border:0;
	
	
}
.btn-default [class*=windicon-]::before { color:white!important;}
.btn-circle{
	border-radius: 100%;
	color:#fff;
	border:0;
	padding:0;
	width:60px;
	height: 60px;
	text-align: center;
	
}
.btn-bottom-fixed {
	position: fixed;
	right:15px;
	bottom: 15px;
}

.btn-white { 
	border-radius: 50px;
	background: #fff;
	border:0;
}
/* END BOOTSTRAP CLASS OVERRIDES */

/* SOME SHADOWS RULES */
.shadow-big {
	-webkit-box-shadow: 0 0 34px 0 rgba(0,0,0,.2);
	box-shadow: 0 0 34px 0 rgba(0,0,0,.2);
}
/* END SOME SHADOWS RULES */




* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.transitioned-all-ease { -webkit-transition:all .3s ease-in-out; -o-transition:all .3s ease-in-out; transition:all .3s ease-in-out;}

	.text-overflow{
	width: auto;
	max-width: 90%;
	display:inline-block;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: middle;
	margin-top:-3px;
}

.overflow-hidden { overflow:hidden;}

/* CUSTOM BORDERS  */
.b-0 { border:none!important;}
/* CUSTOM MARGINS */
.m-0{margin:0;}
.m-t-0{margin-top:0;}
.m-b-0{margin-bottom:0;}
.m-l-0{margin-left:0;}
.m-r-0{margin-right:0;}

.m-t-1 { margin-top:1rem;}
.m-t-2 { margin-top:2rem;}
.m-t-3 { margin-top:3rem;}
.m-t-4 { margin-top:4rem;}
.m-t-5 { margin-top:5rem;}
.m-t-6 { margin-top:6rem;}

.m-b-1 { margin-bottom:1rem;}
.m-b-2 { margin-bottom:2rem;}
.m-b-3 { margin-bottom:3rem;}
.m-b-4 { margin-bottom:4rem;}

.m-r-1 { margin-right:1rem;}
.m-r-2 { margin-right:2rem;}
.m-r-3 { margin-right:3rem;}
.m-r-4 { margin-right:4rem;}


/* CUSTOM PADDINGS */
.p-0{padding:0;}
.p-t-0{padding-top:0;}
.p-b-0{padding-bottom:0;}
.p-l-0{padding-left:0;}
.p-r-0{padding-right:0;}

.p-t-1 { padding-top:1rem;}
.p-t-2 { padding-top:2rem;}
.p-t-3 { padding-top:3rem;}
.p-t-4 { padding-top:4rem;}

.p-b-1 { padding-bottom:1rem;}
.p-b-2 { padding-bottom:2rem;}
.p-b-3 { padding-bottom:3rem;}
.p-b-4 { padding-bottom:4rem;}


.p-l-1 { padding-left:1rem;}
.p-l-2 { padding-left:2rem;}
.p-l-3 { padding-left:3rem;}
.p-l-4 { padding-left:4rem;}

.p-r-1 { padding-right:1rem;}
.p-r-2 { padding-right:2rem;}
.p-r-3 { padding-right:3rem;}
.p-r-4 { padding-right:4rem;}


/* COLORS */
.bg-white {
	background-color: #fff;
}
.bg-grigio-01 {
    background-color: #F4F4F4!important
}
.bg-grigio-02 {
	background-color:#F2F2F2!important
}
.bg-grigio-03 {
	background-color:#4A4A4A!important
}
.bg-grigio-04 {
	background-color:#FAFAFA!important
}
.bg-grigio-05 {
	background-color:#EBEBEB!important
}
.bg-grigio-06 {
	background-color:#333!important
}

.color-dark, .btn-dark, a.color-dark, a.btn-dark {	
	color:#4A4A4A;
}
.color-light, .btn-light {	
	color:#fff;
}

.section-title, .color-orange, .color-orange * {
}

/* OPACITY */
.opacity-1 { opacity:.1;}
.opacity-2 { opacity:.2;}
.opacity-5 { opacity:.5;}

.pos-relative {
	position: relative;
}
.pos-absolute {
	position: absolute;
}
.z-0 {
	z-index: 0;
}
.z-10 {
	z-index: 10;
}


/* SVG IMAGES */
img[src$='.svg'] {
	display:block;
	min-width: 60px;
	height: auto;
}

/* BORDERS  */
.bordered-top {
	border-top: 1px solid #ccc;
}
.bordered-bottom {
	border-bottom: 1px solid #ccc;
}
/* LINE HEIGTS */

	.lh-1-0, .lh-1-0 *  {line-height: 1!important;}
	.lh-1-1, .lh-1-1 *  {line-height: 1.1!important;}
	.lh-1-2, .lh-1-2 *  {line-height: 1.2!important;}
	.lh-1-3, .lh-1-3 *  {line-height: 1.3!important;}
	.lh-1-4, .lh-1-4 *  {line-height: 1.4!important;}
	.lh-1-5, .lh-1-5 *  {line-height: 1.5!important;}
	.lh-2, .lh-2 *  {line-height: 2;}


/* FONT WIGHTS */
	.fw-light{
		 font-family: 'proxima_nova_ltthin';
	}

	.fw-bold{
			font-family: 'proxima_nova_altbold';
	}

/* FONT SIZES */

	.fz-850, .fz-850 {
		font-size: .850rem!important;
	}
	.fz-950, .fz-950 p {
		font-size: .950rem!important;
	}
	.fz-11 {
		font-size: 0.6875rem!important;
	}
	.fz-12 {
		font-size: 0.75rem!important;
	}
	.fz-13 {
		font-size: 0.8125rem!important;
	}
	.fz-14 {
		font-size: 0.875rem!important;
	}
	.fz-15 {
		font-size: 0.9375rem!important;
	}
	.fz-16 {
		font-size: 1rem!important;
	}
	.fz-18 {
		/* font-size: 1.125rem; */
		font-size: 1.125rem!important;
	}
	.fz-20 {
		/* font-size: 20px; */
		font-size: 1.250rem!important;
	}
	.fz-22 {
		/* /* font-size: 22px; */
		font-size: 1.375rem!important;
	}
	.fz-24 {
		/* font-size: 24px*/
		font-size: 1.500rem!important;
	}
	.fz-26 {
		/*font-size: 26px;*/
		font-size: 1.625rem!important;
	}
	.fz-28 {
		/* font-size: 28px; */
		font-size: 1.750rem!important;
	}
	.fz-30 {
		/*font-size: 30px;*/
		font-size: 1.875rem!important;
	}
	.fz-32 {
		/*font-size: 32px;*/
		font-size: 2.000rem!important;
	}
	.fz-34 {
		/* font-size: 34px; */
		font-size: 2.125rem!important;
	}
	.fz-36 {
		/*font-size: 36px;*/
		font-size: 2.250rem!important;
	}
	.fz-38 {
		/*font-size: 38px;*/
		font-size: 2.375rem!important;
	}
	.fz-40 {
		/*font-size: 40px;*/
		font-size: 2.500rem!important;
	}
	.fz-42 {
		/*font-size: 42px;*/
		font-size: 2.625rem!important;
	}
	.fz-44 {
		/*font-size: 44px;*/
		font-size: 2.750rem!important;
	}
	.fz-46 {
		/*font-size: 46px;*/
		font-size: 2.875rem!important;
	}
	.fz-48 {
		/*font-size: 48px;*/
		font-size: 3.000rem!important;
	}
	.fz-60 {
		/* font-size: 60px;*/
		font-size: 3.750rem!important;
	}
	.fz-70 {
		/* font-size: 70px; */
		font-size: 4.375rem!important;
	}

/* Responsive Font-sizes */

/* FONT_WEIGHTS */
.fw-bold {
	font-family: 'proxima_nova_altbold';
}


/* LAYOUT */
.w-100 {
	width:100%;
}
.h-100 {
	height:100%;
}



.d-block{display: block;}
/* FLEX */
.d-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.d-flex-column{ 
	-webkit-box-orient: vertical; 
	-webkit-box-direction: normal; 
	    -ms-flex-direction: column; 
	        flex-direction: column;
}

.equal-height > div {
	-webkit-box-align:stretch;
	    -ms-flex-align:stretch;
	        align-items:stretch;
	
}

.align-top{
	-ms-flex-item-align: start;
	    align-self: flex-start;
}
.align-bottom {
	-ms-flex-item-align: end;
	    align-self: flex-end;
		-webkit-box-flex:1;
		    -ms-flex:1;
		        flex:1;
}
.align-items-center {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center
}


.item .edit.pull-right,
li.page .direct-upload{
 -webkit-transform:scale(0);
     -ms-transform:scale(0);
         transform:scale(0);
 -webkit-transition:-webkit-transform .3s ease-in-out;
 transition:-webkit-transform .3s ease-in-out;
 -o-transition:transform .3s ease-in-out;
 transition:transform .3s ease-in-out;
 transition:transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
 border-radius: 30px;
 width:30px;
 height:30px;
 background: #333;
 color:white;
 text-align:center;
 line-height:30px;
 position: absolute;
 right:-15px;
 z-index:10;
 
}

.item:hover .edit.pull-right,
li.page:hover .direct-upload { 
	-webkit-transform:scale(1); 
	    -ms-transform:scale(1); 
	        transform:scale(1);
}
.edit.pull-right:hover, 
.edit.pull-right:hover i:before,
 li.page:hover .direct-upload{  
 color:white!important;
}



/* NEWS GRID */

	.news-grid {
		position: relative;
		width: 100%;
		height: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start
	}
	.news-grid [class^="col-"] {
		padding: 0;
	}
	.news-grid-item {
		overflow: hidden;
		/* margin: 3px; */
		position: relative;
		border:3px solid #F4F4F4;
		background-color: rgba(0,0,0, .1)
	}

	.news-grid-image:before{
		content:'';
		display: block;
		position: absolute;
		width:100%;
		height: 100%;
		bottom:0;
		left: 0;
		z-index: 0;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100;Neutral+Density */ /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
		background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)),to(rgba(0,0,0,0.65)));
		background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */		
	}
	.news-grid-image:after{
		content:'';
		display: block;
		position: absolute;
		width:100%;
		height: 100%;
		bottom:0;
		left: 0;
		z-index: 1;
	}

	.news-grid-info{
		position: absolute;
		bottom:0;
		left: 0;
		padding: 20px;
		color:white;
		z-index: 10;
		color:#fff;
	}	
	.news-grid-info .news-grid-info-data{
		margin:5px 0;
		text-transform: uppercase;
		text-shadow: 0 0 24px rgba(0,0,0,.5);
		font-family: 'Proxima Nova';
		color:#fff;
	}
	.news-grid-info .news-grid-info-titolo{
		margin:5px 0;
		text-transform: uppercase;
		text-shadow: 0 0 24px rgba(0,0,0,.5);
		font-family: 'proxima_nova_altbold';
		line-height: 1.1;
		color:#fff;
	}
	.news-grid-info .news-grid-info-descrizione{
		margin:5px 0;
		text-shadow: 0 0 24px rgba(0,0,0,.5);
		font-family: 'proxima_nova_ltthin';
	}
	.news-grid-item .news-grid-image:before,
	.news-grid-item .news-grid-image:after{
		-webkit-transition: all .5s ease-in-out;
		-o-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
	}
	
	.news-grid-item.item-big img{
		min-width: 100.75%;
	}
	.news-grid-item:not(.item-big) .news-grid-info p{
		overflow: hidden;
 		-webkit-transition: all.5s ease-in-out;
 		-o-transition: all.5s ease-in-out;
 		transition: all.5s ease-in-out;
		max-height: 0;
	}
	.news-grid-item:hover .news-grid-image:after{
		background: rgba(41,47,54,.9);
	}
	.news-grid-item .news-grid-image{
		-webkit-transition: -webkit-transform .5s ease-in-out;
		transition: -webkit-transform .5s ease-in-out;
		-o-transition: transform .5s ease-in-out;
		transition: transform .5s ease-in-out;
		transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
	}
	.news-grid-item:hover .news-grid-image{
		-webkit-transform: scale(1.3);
		    -ms-transform: scale(1.3);
		        transform: scale(1.3)
	}
	.news-grid-item:not(.item-big):hover .news-grid-info p{
		max-height: 200px;
	}
	

/* VIDEO GRID */

	.video-grid {
		position: relative;
		width: 100%;
		height: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start
	}
	.video-grid [class^="col-"] {
		padding: 0;
	}
	.video-grid-item {
		overflow: hidden;
		/* margin: 3px; */
		position: relative;
		border:3px solid #4A4A4A;
		background-color: rgba(0,0,0, .1);
		padding:0;
	}

	.video-list .video-grid-image img { max-height: 33%; }
	.video-grid-item.item-big { border-bottom:0!important;}
	.video-grid-item.item-big .video-grid-info{
		padding:40px;
	}
	.video-grid-info{
		position: absolute;
		bottom:0;
		left: 0;
		padding: 20px;
		color:white;
		z-index: 10;
		width:100%;
	}	
	.video-grid-info:before{
		content:'';
		display: block;
		position: absolute;
		width:100%;
		height: 100%;
		bottom:0;
		left: 0;
		z-index: 0;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100;Neutral+Density */ /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
		background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)),to(rgba(0,0,0,0.65)));
		background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */		
	}
	.video-grid-info .video-grid-info-data{
		margin:5px 0;
		text-transform: uppercase;
		text-shadow: 0 0 24px rgba(0,0,0,.5);
		font-family: 'Proxima Nova';
		position: relative;
		z-index: 5
	}
	.video-grid-info .video-grid-info-titolo{
		margin:5px 0;
		text-transform: uppercase;
		text-shadow: 0 0 24px rgba(0,0,0,.5);
		font-family: 'proxima_nova_altbold';
		position: relative;
		z-index: 5;
		color:#fff;
	}
	.video-grid-info .video-grid-info-descrizione{
		margin:5px 0;
		text-shadow: 0 0 24px rgba(0,0,0,.5);
		font-family: 'proxima_nova_ltthin';
	}

	
	.video-grid-item.item-big img{
		min-width: 100.75%;
	}

	.video-grid-item:not(.item-big) .video-grid-info p{
		overflow: hidden;
 		-webkit-transition: all.5s ease-in-out;
 		-o-transition: all.5s ease-in-out;
 		transition: all.5s ease-in-out;
		max-height: 0;
	}

	.video-grid-item:not(.item-big):hover .video-grid-info p{
		max-height: 200px;
	}
	.video-grid .animated.delay-1{
		-webkit-animation-delay: .1s;
		        animation-delay: .1s;
	}
	.video-grid .animated.delay-2{
		-webkit-animation-delay: .2s;
		        animation-delay: .2s;
	}
	.video-grid .animated.delay-3{
		-webkit-animation-delay: .3s;
		        animation-delay: .3s;
	}
	.video-grid .animated.delay-4{
		-webkit-animation-delay: .4s;
		        animation-delay: .4s;
	}
	.video-grid .animated.delay-5{
		-webkit-animation-delay: .5s;
		        animation-delay: .5s;
	}
	.video-grid .animated.delay-6{
		-webkit-animation-delay: .6s;
		        animation-delay: .6s;
	}


/* DETTAGLIO CONTENUTO */

	.content-detail {
		position: relative;
		width: 100%;
		height: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start
	}
	.content-detail [class^="col-"] {
		padding: 0;
	}
	.content-detail-item {
		overflow: hidden;
		/* margin: 3px; */
		position: relative;
		background-color: rgba(0,0,0, .1)
	}

	.content-detail-image:before{
		content:'';
		display: block;
		position: absolute;
		width:100%;
		height: 100%;
		bottom:0;
		left: 0;
		z-index: 0;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100;Neutral+Density */ /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
		background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)),to(rgba(0,0,0,0.65)));
		background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */		
	}
	.content-detail-image:after{
		content:'';
		display: block;
		position: absolute;
		width:100%;
		height: 100%;
		bottom:0;
		left: 0;
		z-index: 1;
	}

	.content-detail-info{
		position: absolute;
		bottom:0;
		left: 0;
		color:white;
		z-index: 10;
	}	
	.content-detail-info .content-detail-info-data{
		margin:5px 0;
		text-transform: uppercase;
		text-shadow: 0 0 24px rgba(0,0,0,.5);
		font-family: 'Proxima Nova';
	}
	.content-detail-info .content-detail-info-titolo{
		margin:5px 0;
		text-transform: uppercase;
		text-shadow: 0 0 24px rgba(0,0,0,.5);
		font-family: 'proxima_nova_altbold';
	}
	.content-detail-info .content-detail-info-descrizione{
		margin:5px 0;
		text-shadow: 0 0 24px rgba(0,0,0,.5);
		font-family: 'proxima_nova_ltthin';
	}
	.content-detail-item .content-detail-image:before,
	.content-detail-item .content-detail-image:after{
		-webkit-transition: all .5s ease-in-out;
		-o-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
	}
	
	.content-detail-item.item-big img{
		min-width: 100.75%;
	}
	.content-detail-item:not(.item-big) .content-detail-info p{
		overflow: hidden;
 		-webkit-transition: all.5s ease-in-out;
 		-o-transition: all.5s ease-in-out;
 		transition: all.5s ease-in-out;
		max-height: 0;
	}
	.content-detail-item:hover .content-detail-image:after{
		background: rgba(41,47,54,.9);
	}
	.content-detail-item .content-detail-image{
		-webkit-transition: -webkit-transform .5s ease-in-out;
		transition: -webkit-transform .5s ease-in-out;
		-o-transition: transform .5s ease-in-out;
		transition: transform .5s ease-in-out;
		transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
	}
	.content-detail-item:hover .content-detail-image{
		-webkit-transform: scale(1.3);
		    -ms-transform: scale(1.3);
		        transform: scale(1.3)
	}
	.content-detail-item:not(.item-big):hover .content-detail-info p{
		max-height: 200px;
	}
/* Navigation Bar & Megamenu*/

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: -15px;
    padding: 0 10px;
    margin-top: 0; 
    margin-bottom: 0; 
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    min-height: 70px;
}
.navbar-right { float:right;}
.navbar-toggle .icon-bar{
	background: #ccc
}
.navbar-toggle[aria-expanded=true] .icon-bar{
}

.navbar-collapse[aria-expanded=true] { position: relative;}
.navbar-collapse[aria-expanded=true]:before {
	content:'';
	position:absolute;
	top:-5px;
	left: 0;
	display:block;
	width: 100%;
	border-top:1px solid #FAFAFA;
	height: 5px;
	-webkit-box-shadow: 0 0px 36px 0 rgba(0,0,0,.2);
	box-shadow: 0 0px 36px 0 rgba(0,0,0,.2);
}
nav.navbar { 
	-webkit-box-shadow: 0 0 34px 0 rgba(0,0,0,.2);
	box-shadow: 0 0 34px 0 rgba(0,0,0,.2);
	border:0;
	
}
.navbar-brand>img {
    display: block;
    height: 42px;
}
.navbar {
	
	
}
.navbar-brand {
    float: left;
    padding: 15px 30px 15px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 70px;
}


.navbar-nav > li > a {
	display:block;
	text-align: center;
	text-transform: uppercase;
	padding: 10px 2vw;
	color:#4A4A4A;
}


.navbar-nav.nav-tools, .navbar-nav.nav-tools > li{ 
	min-height: 70px;
	margin:0;
	float:left;
}
.navbar-nav.nav-tools > li > a {
	display:inline-block;
	text-align: center;
	text-transform: uppercase;
	padding: 10px .5rem;
	color:#4A4A4A;
	min-height: 70px;
	vertical-align: middle;
}
.navbar-nav.nav-tools > li > a > span[class^='windicon-'] {
	position: relative;
	line-height: 2.1;
}

.navbar-nav.nav-tools .badge.custom {
	position: absolute;
	top:15px;
	right: 0;
	-webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.5);
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.5);
	min-width: 24px;
}
.navbar-nav.nav-tools .badge {
	padding:4px 8px;
	border-radius: 30px;
	min-width:24px;
}


.navbar-nav > li > a > span {
	font-size: .65rem;
}
.navbar-nav > li > a > span[class^=windicon-arrow]::before {
	font-size: 1.1rem;
	vertical-align: middle;
	color:#333;
	display: inline-block;
	-webkit-transition: -webkit-transform .3s ease;
	transition: -webkit-transform .3s ease;
	-o-transition: transform .3s ease;
	transition: transform .3s ease;
	transition: transform .3s ease, -webkit-transform .3s ease;
	-webkit-transform-origin:center center;
	    -ms-transform-origin:center center;
	        transform-origin:center center;
	margin-right: -20px;
}
.navbar-nav > li.open a span[class^=windicon-arrow]::before {
	-webkit-transform:rotate(180deg);
	    -ms-transform:rotate(180deg);
	        transform:rotate(180deg);
}
.navbar-nav > li .windicon-wrapper {
	position:relative;
	display: block;
	width: 30px;
	height: 30px;
	text-align: center;
	margin:0 auto;
	
}
.navbar-nav > li .windicon-wrapper > span::before{
	position:absolute;
	top:0;
	left: calc(50% - 15px);
	bottom:0;
	font-size: 1.75rem;
	width:100%;
	height: 100%;
}
.windicon-wrapper > span[class*='part-01']::before{
	color: #87888A;
	}
.windicon-wrapper > span[class*='part-02']::before{
	}
li.open .windicon-wrapper > span[class*='part-01']::before{
}
.navbar-nav > li > a > img {
	display: block;
	margin: 0 auto 3px auto;
	height: 32px;
	width:auto;
}

.navbar .dropdown-fixed {
	width:100%;
	position: fixed;
	top:70px;
	left: 0;
	height: 0;
	padding: 0;
	background: #F4F4F4;
}
.dropdown.open .dropdown-fixed {
	padding: 20px 0 60px 0;
	z-index: 10;
	height: auto;
} 
.nav>li>a:hover, .nav>li>a:focus,
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	background-color: transparent;
}
.dropdown.open > a {}

.dropdown.open > a:before{
	content:'';
	display:block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 16px 16px 16px;
	border-color: transparent transparent #F4F4F4 transparent;
	position: absolute;
	left:calc(50% - 16px);
	z-index: 10;
	bottom:-20px;
	opacity:0;
  	-webkit-animation: arrowUp .5s ease forwards;
  	animation: arrowUp .5s ease forwards;
  	-webkit-animation-delay: .2s;
  	animation-delay: .2s;	
	
}

@-webkit-keyframes arrowUp {
  from {
	bottom:-20px;
	opacity:0;
  }

  to {
	bottom:-4px;
	opacity:1;
  }
}
@keyframes arrowUp {
  from {
	bottom:-20px;
	opacity:0;
  }

  to {
	bottom:-4px;
	opacity:1;
  }
}
header .dropdown .dropdown-menu { background: #F2F2F2!important; border:0;}
header .dropdown .dropdown-menu li a { color: #87888A; line-height: 2; text-decoration: none;}
header .dropdown .dropdown-menu li a:hover {}
header .dropdown .dropdown-menu h4{ border-bottom: 1px solid #D5D5D5; padding-bottom: 7px;}
header .dropdown .dropdown-menu h5{color: #87888A}
header .dropdown .dropdown-menu {
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
    -webkit-box-shadow: 0 9px 24px rgba(0,0,0,0.175);
    box-shadow: 0 9px 24px rgba(0,0,0,0.175);
}

header .dropdown.open > .dropdown-menu {
    max-height: inherit;
	height:auto;
	margin-bottom:60px;
    opacity: 1;
	border-radius:0;
	min-width: 320px;
}
.dropdown-profile .media{
 overflow:visible;
}
header .dropdown .dropdown-profile.dropdown-menu h4 {border:none;}

.dropdown-profile .media #impersonification {
		margin: 0 -15px;
  padding: 15px;
}
.dropdown-profile .notification-item { padding:10px; }
.dropdown-profile .media-left.notification_avatar > img { width: 30px; height:auto;}


/* CONTENT BLOCKS */
.boxed-blocks .item { padding-bottom:3rem;}
.blocks-l-bordered > div + div {
	border-left:1px solid rgba(0,0,0, .1)
}
.content-blocks .item { padding-bottom: 24px;}



/* FLASH NEWS */
#flash-news * { color:white; text-decoration: none}
#flash-news  .data { padding-right:10px; font-family: 'proxima_nova_ltthin';}
#flash-news {
 overflow: hidden;
 position: relative;
}
#flash-news li {
 border-right:1px solid rgba(255,255,255, .5);
 display: inline-block;
 height: 100%;
 margin: 0;
 padding: 0 2rem;
 text-align: center;
}
#flash-news li a {
	display:inline-block;
	vertical-align: middle;
	
}
#flash-news li a span.text-overflow{
	width: auto;
	max-width: 280px;
	display:inline-block;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: middle;
	margin-top:-3px;
	font-family: 'proxima_nova_altbold';
}
#flash-news li:hover a{
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
 0%   { /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%); 		
 }
 100% { /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%); 
 }
}


/* BREADCRUMB */
.breadcrumb > li:first-child::before {content:'Sei in: '; font-family: 'Proxima Nova'!important;}
.breadcrumb > li > a { color:inherit;}
.breadcrumb > li.active { font-family: 'proxima_nova_altbold'!important;}
/* SIDEBAR */
.sidebar-trigger { z-index: 0; }

.ui-sidebar-bottom-right {
	width:380px;
	max-width: 100vw;
	position: fixed;
	height: calc(100% - 70px);
	left: inherit;
	right: 0;
	top:70px;
	-webkit-transition: -webkit-transform .3s ease-in-out;
	transition: -webkit-transform .3s ease-in-out;
	-o-transition: transform .3s ease-in-out;
	transition: transform .3s ease-in-out;
	transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
	z-index:10;
}
.ui-sidebar-bottom-right:not(.open) {
	-webkit-transform: translateX(400px);
	    -ms-transform: translateX(400px);
	        transform: translateX(400px);
}


/* RIPPLE EFFECTS */
.btn-default:active, .btn-default.active, .open >.dropdown-toggle.btn-default,
.btn-default:hover, .btn-default:active, .btn-default:focus{
    color: #fff!important;
    border: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
	outline: none!important;
}
.btn-default {
	position: relative;
	z-index: 0;
}
.btn-default.ripple::before {
  border-radius: 60px;
  content: '';
  display: block;
  height: 100%;
  opacity: 0.2;
  position: absolute;
  width: 100%;
  z-index: -1;
  top:0;
  left:0;
}

.btn-default:active::before {
  -webkit-animation: ripple .6s ease infinite;
          animation: ripple .6s ease infinite;
}

@-webkit-keyframes ripple {
  to {
    -webkit-transform: scaleX(1.4) scaleY(1.8);
            transform: scaleX(1.4) scaleY(1.8);
    opacity: 0;
  }
}

@keyframes ripple {
  to {
    -webkit-transform: scaleX(1.4) scaleY(2);
            transform: scaleX(1.4) scaleY(2);
    opacity: 0;
  }
}


/* CONTINOUS RIPPLE */
.breaking-news-active button:after {
  content:''; 
  display:block;
  position:absolute;
  left:1.6rem;
  top:1.6rem;
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  -webkit-animation: continous-ripple 0.7s linear infinite;
          animation: continous-ripple 0.7s linear infinite;
  z-index: -1;
}

@-webkit-keyframes continous-ripple {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(244, 129, 53 , 0.3), 0 0 0 .5rem rgba(244, 129, 53 , 0.3), 0 0 0 1.5rem rgba(244, 129, 53 , 0.3), 0 0 0 2.5rem rgba(244, 129, 53 , 0.3);
            box-shadow: 0 0 0 0 rgba(244, 129, 53 , 0.3), 0 0 0 .5rem rgba(244, 129, 53 , 0.3), 0 0 0 1.5rem rgba(244, 129, 53 , 0.3), 0 0 0 2.5rem rgba(244, 129, 53 , 0.3);
  }
  100% {
    -webkit-box-shadow: 0 0 0 .5rem rgba(244, 129, 53 , 0.3), 0 0 0 1.5rem rgba(244, 129, 53 , 0.3), 0 0 0 2.5rem rgba(244, 129, 53 , 0.3), 0 0 0 3.5rem rgba(244, 129, 53 , 0);
            box-shadow: 0 0 0 .5rem rgba(244, 129, 53 , 0.3), 0 0 0 1.5rem rgba(244, 129, 53 , 0.3), 0 0 0 2.5rem rgba(244, 129, 53 , 0.3), 0 0 0 3.5rem rgba(244, 129, 53 , 0);
  }
}

@keyframes continous-ripple {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(244, 129, 53 , 0.3), 0 0 0 .5rem rgba(244, 129, 53 , 0.3), 0 0 0 1.5rem rgba(244, 129, 53 , 0.3), 0 0 0 2.5rem rgba(244, 129, 53 , 0.3);
            box-shadow: 0 0 0 0 rgba(244, 129, 53 , 0.3), 0 0 0 .5rem rgba(244, 129, 53 , 0.3), 0 0 0 1.5rem rgba(244, 129, 53 , 0.3), 0 0 0 2.5rem rgba(244, 129, 53 , 0.3);
  }
  100% {
    -webkit-box-shadow: 0 0 0 .5rem rgba(244, 129, 53 , 0.3), 0 0 0 1.5rem rgba(244, 129, 53 , 0.3), 0 0 0 2.5rem rgba(244, 129, 53 , 0.3), 0 0 0 3.5rem rgba(244, 129, 53 , 0);
            box-shadow: 0 0 0 .5rem rgba(244, 129, 53 , 0.3), 0 0 0 1.5rem rgba(244, 129, 53 , 0.3), 0 0 0 2.5rem rgba(244, 129, 53 , 0.3), 0 0 0 3.5rem rgba(244, 129, 53 , 0);
  }
}

/* TABS */
.nav-tabs.nav-justified > li,
.nav-tabs.nav-justified > li > a {	
	outline: none!important;
	color:inherit!important
}

.nav-tabs.nav-justified > li > a { 
	border-radius: 0;
	padding:15px;
	font-size: 0.9375rem;
	border:0;
	color:inherit;
	-webkit-transition: background-color .2s ease-in-out;
	-o-transition: background-color .2s ease-in-out;
	transition: background-color .2s ease-in-out;
}
.nav-tabs.nav-justified > li.active > a {
	font-family: 'proxima_nova_altbold';
	position: relative;
}
.nav-tabs.nav-justified > li > a:before {
	content:'';
	display: block;
	position: absolute;
	height: 5px;
	width: 100%;
	background-color: transparent;
	top:0;
	left:0;
	-webkit-transform: scale(0);
	    -ms-transform: scale(0);
	        transform: scale(0);
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	-webkit-transform-origin: center bottom;
	    -ms-transform-origin: center bottom;
	        transform-origin: center bottom;
}

.nav-tabs.nav-justified > li.active > a:before {
	-webkit-transform: scale(1);
	    -ms-transform: scale(1);
	        transform: scale(1);
}
.nav-tabs.nav-justified > li:not(.active):hover > a {
	background-color: rgba(255,255,255, .4)
}
.nav-tabs.nav-justified > li:not(.active):hover > a:before {
	background-color: rgba(0,0,0, .2);
	-webkit-transform: scale(1);
	    -ms-transform: scale(1);
	        transform: scale(1);
}


/* VIDEO PAGE */
.video-close {float:right; top: 90px; right:20px; }
.goto-video-detail { width:100%; height: 100%; position: fixed; top:0; left: 0;}


.category-slider { margin-left:30px;}
.category-slider .slick-slide{ width: 320px;}


.category-pagination li {
	overflow:hidden;
	text-indent: -900px;
	width:3rem;
	height:5px;
	background: white;
	margin:0 2px;
}

/* customizing slick for video */
.category-slider .slick-list { overflow:visible!important;}
 
.category-slider .slick-slide.video-grid-item {
	position: relative;
	z-index: 0;
	-webkit-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	border-color: transparent
}
.category-slider .slick-slide.video-grid-item:hover {
	-webkit-transform: scale(1.3);
	    -ms-transform: scale(1.3);
	        transform: scale(1.3);
	z-index: 10
}

.category-slider .slick-arrow { opacity: 0; -webkit-transition: opacity .3s ease; -o-transition: opacity .3s ease; transition: opacity .3s ease; z-index: 15;}
.category-slider:hover .slick-arrow { opacity: 1}
.category-slider .slick-next {right: 25px;}
.category-slider .slick-prev{left: 10px;}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
	
}
.category-menu-wrapper {position:fixed; bottom: 0;}


/* SEARCH DROPDOWN */
header .search-dropdown.open .dropdown-menu { max-height:inherit;}
header .search-dropdown.open .dropdown-menu .container { min-height:300px; }
header .search-dropdown.open .dropdown-menu.open .dropdown-menu{ opacity:1;}

.profile-dropdown .dropdown-menu{ min-width:300px;}
.profile-dropdown .user-avatar { min-width: 56px; margin-right:15px;}
header .dropdown .profile-dropdown.dropdown-menu h4 { border:0; margin:0; padding:0;}




/*user avatar */
.small-user-avatar, .small-user-avatar span  { display: inline-block; vertical-align: middle; line-height: 2;}
.small-user-avatar img{
	width: 40px;
	min-width: inherit;
	height: auto;
	margin-right: 10px;
}


/* BOOTSTRAP PANEL CUSTOMIZATION */
.panel-group {
}
.panel-default {
    border: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
}
.panel-default>.panel-heading {
    color: inherit;
    background-color: transparent;
	border-bottom: 1px solid #ddd;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
	border-top-color:transparent;
}
.panel-title > a, .panel-title > small, .panel-title > .small, .panel-title > small > a, .panel-title > .small > a {
}
.panel-title > a {
	display: block;
}
.panel-title > a:before {
	content: "\e908";
	font-family: 'windicons' !important;
	float:right;
	font-size:22px;
}
.panel-title > a[aria-expanded=true]:before {
	content: "\e90b";
	font-family: 'windicons' !important;
	float:right;
	font-size:22px;
}


/* ANIMAZIONI */
.boxed-blocks-animated > div:nth-of-type(1) .item.animated,
.news-grid.grid-animated [class^=col]:nth-of-type(1) .animated{
	-webkit-animation-delay: .2s;
	        animation-delay: .2s
}
.boxed-blocks-animated > div:nth-of-type(2) .item.animated,
.news-grid.grid-animated [class^=col]:nth-of-type(2) .animated{
	-webkit-animation-delay: .4s;
	        animation-delay: .4s
}
.boxed-blocks-animated > div:nth-of-type(3) .item.animated,
.news-grid.grid-animated [class^=col]:nth-of-type(3) .animated{
	-webkit-animation-delay: .6s;
	        animation-delay: .6s
}
.boxed-blocks-animated > div:nth-of-type(4) .item.animated,
.news-grid.grid-animated [class^=col]:nth-of-type(4) .animated{
	-webkit-animation-delay: .8s;
	        animation-delay: .8s
}
.boxed-blocks-animated > div:nth-of-type(5) .item.animated,
.news-grid.grid-animated [class^=col]:nth-of-type(5) .animated{
	-webkit-animation-delay: 1s;
	        animation-delay: 1s
}
.boxed-blocks-animated > div:nth-of-type(6) .item.animated,
.news-grid.grid-animated [class^=col]:nth-of-type(6) .animated{
	-webkit-animation-delay: 1.2s;
	        animation-delay: 1.2s
}
.boxed-blocks-animated > div:nth-of-type(7) .item.animated,
.news-grid.grid-animated [class^=col]:nth-of-type(7) .animated{
	-webkit-animation-delay: 1.4s;
	        animation-delay: 1.4s
}
.boxed-blocks-animated > div:nth-of-type(8) .item.animated,
.news-grid.grid-animated [class^=col]:nth-of-type(8) .animated{
	-webkit-animation-delay: 1.6s;
	        animation-delay: 1.6s
}
.boxed-blocks-animated > div:nth-of-type(9) .item.animated {
	-webkit-animation-delay: 1.8s;
	        animation-delay: 1.8s
}
.boxed-blocks-animated > div:nth-of-type(10) .item.animated {
	-webkit-animation-delay: 2s;
	        animation-delay: 2s
}
.boxed-blocks-animated > div:nth-of-type(11) .item.animated {
	-webkit-animation-delay: 2.2s;
	        animation-delay: 2.2s
}
.boxed-blocks-animated > div:nth-of-type(12) .item.animated {
	-webkit-animation-delay: 2.4s;
	        animation-delay: 2.4s
}
.boxed-blocks-animated > div:nth-of-type(13) .item.animated {
	-webkit-animation-delay: 2.6s;
	        animation-delay: 2.6s
}
.boxed-blocks-animated > div:nth-of-type(14) .item.animated {
	-webkit-animation-delay: 2.8s;
	        animation-delay: 2.8s
}
.boxed-blocks-animated > div:nth-of-type(15) .item.animated {
	-webkit-animation-delay: 3s;
	        animation-delay: 3s
}
.boxed-blocks-animated > div:nth-of-type(16) .item.animated {
	-webkit-animation-delay: 3.2s;
	        animation-delay: 3.2s
}
.boxed-blocks-animated > div:nth-of-type(17) .item.animated {
	-webkit-animation-delay: 3.4s;
	        animation-delay: 3.4s
}
.boxed-blocks-animated > div:nth-of-type(18) .item.animated {
	-webkit-animation-delay: 3.6s;
	        animation-delay: 3.6s
}
.boxed-blocks-animated > div:nth-of-type(19) .item.animated {
	-webkit-animation-delay: 3.8s;
	        animation-delay: 3.8s
}
.boxed-blocks-animated > div:nth-of-type(20) .item.animated {
	-webkit-animation-delay: 4s;
	        animation-delay: 4s
}

.dropdown-menu hr.divider,  
hr.divider {border-top: 1px solid #ccc;}
