@charset "UTF-8";
/* CSS Document */


.container ul.pager li a.on{
 	color:#F48135;
}


.dropdown-menu .btn-dark:active,
.dropdown-menu .btn-dark:hover, 
.dropdown-menu a.btn-dark:active,
.dropdown-menu a.btn-dark:hover {	
	color:#f48135;
}

.btn-dark:hover {	
	color:#f48135;
	-webkit-transform: translateY(-1px);
	    -ms-transform: translateY(-1px);
	        transform: translateY(-1px);
}

header .dropdown .dropdown-menu li a.btn-default,
.btn-default,
.btn.btn-default{
	background: #f48135;
}

.btn-default [class*=windicon-]::before { color:white!important;}
.btn-circle{
	background: #f48135;
}

.btn-white { 
	color: #f48135;
}
.btn-default [class*=windicon-]::before { color:white!important;}
.btn-circle{
	background: #f48135;
}

.btn-white { 
	color: #f48135;
}

.edit.pull-right:hover, 
.edit.pull-right:hover i:before,
 li.page:hover .direct-upload{  
 background: #F48135; 
}

.navbar-toggle[aria-expanded=true] .icon-bar{
	background: #F48135;
}

.navbar-nav.nav-tools .badge.custom {
	background-color: #F48135;
}
.navbar-nav.nav-tools .badge {
	background-color: #F48135;
}

.navbar-nav > li.open a span[class^=windicon-arrow]::before {
	color:#F48135;
}

.windicon-wrapper > span[class*='part-02']::before{
	color: #f48135;
	}
li.open .windicon-wrapper > span[class*='part-01']::before{
	color:#F48135;
}
.dropdown.open > a { color:#F48135;}
header .dropdown .dropdown-menu h4{ color:#F48135;}
#flash-news li:hover a{
	color:#f48135;
}
.btn-default.ripple::before {
  background:#f48135;
}
.breaking-news-active button:after {
  background-color: #F48135;
}
.nav-tabs.nav-justified > li.active > a:before {
	background-color: #f48135;
}
.panel-title > a, .panel-title > small, .panel-title > .small, .panel-title > small > a, .panel-title > .small > a {
    color: #f48135;
}
.section-title, .color-orange, .color-orange * {
    color: #F48135!important;
}

.nav-tabs.nav-justified > li.active > a:before {
    background-color: #f48135;
}
