/* Component basic layout rules */
.tt-componentCardStyle01 {
	border:1px solid red;
}

.tt-componentCardsStyle01 .card-tags {
	justify-content: flex-start;
}

.tt-componentCardsStyle01 .card-tags .ellipsis-more{
	padding-right:0;
	margin-left:auto;
}

.tt-componentCardsStyle01 .tag {
	background-color: transparent;
	padding: .25rem;
	border-radius: 3rem;
	margin: .15rem 0;
	max-width:47%;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.tt-componentCardsStyle01 .tag + .tag {
	background-color: transparent;
	padding: .25rem;
	border-radius: 3rem;
	margin: .15rem 0;
	}
