@font-face {
  font-family: 'cavalieri-icons';
  src:
    url('fonts/cavalieri-icons.ttf?bxf30f') format('truetype'),
    url('fonts/cavalieri-icons.woff?bxf30f') format('woff'),
    url('fonts/cavalieri-icons.svg?bxf30f#cavalieri-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="cavalieri-"], [class*=" cavalieri-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cavalieri-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cavalieri-check-rounded:before {
  content: "\e90b";
}
.cavalieri-accompagnatori:before {
  content: "\e90a";
}
.cavalieri-mail:before {
  content: "\e908";
}
.cavalieri-phone:before {
  content: "\e909";
}
.cavalieri-add:before {
  content: "\e906";
}
.cavalieri-arrow-down:before {
  content: "\e907";
}
.cavalieri-dati:before {
  content: "\e900";
}
.cavalieri-programma-element:before {
  content: "\e901";
}
.cavalieri-programma:before {
  content: "\e902";
}
.cavalieri-calendar:before {
  content: "\e903";
}
.cavalieri-cancel:before {
  content: "\e904";
}
.cavalieri-check:before {
  content: "\e905";
}
