/* Component style rules */

.ttcomponent-groupCoverImageText .esquire{color:#fff;}

.ttcomponent-groupCoverImageText .esquire-message h2{color:#fff;}
.ttcomponent-groupCoverImageText .esquire-message h3{color:#fff;}
.ttcomponent-groupCoverImageText .esquire.dark{background:#000;}


.ttcomponent-groupCoverImageText .mentions-input-box .mentions div{color:#FFF!important;}
.ttcomponent-groupCoverImageText .esquire_row .esquire .esquire-message-container{color:#fff;}
.ttcomponent-groupCoverImageText .esquire_row .esquire-message h2{color:#fff;}
.ttcomponent-groupCoverImageText .user-email a{ font-weight:bolder;}
