/* Component basic layout rules */

.ttcomponent-groupCoverImageText { 
	margin-bottom: -5vh;
	min-height: 40vh;
	z-index: 10;
}
.ttcomponent-groupCoverImageText .esquire{
	-moz-transition:all .3s ease-in;
	-ms-transition:all .3s ease-in;
	-o-transition:all .3s ease-in;
	-webkit-transition:all .3s ease-in;
	height:auto;
	min-height:40vh;
	overflow:hidden;
	padding:0;
	position:relative;
	width:100%;
}
.ttcomponent-groupCoverImageText .esquire-image-container div:before {
    content: '';
    position: absolute;
    pointer-events: none;
    bottom: 0;
    z-index:1;
    display: block;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 16%, rgba(0,0,0,0.5) 99%, rgba(0,0,0,0.5) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 16%,rgba(0,0,0,0.5) 99%,rgba(0,0,0,0.5) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 16%,rgba(0,0,0,0.5) 99%,rgba(0,0,0,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 );
}
.ttcomponent-groupCoverImageText .user .esquire{ 
	overflow:visible;
}
.ttcomponent-groupCoverImageText .esquire .esquire-image-container > div{
	max-width: none; 
	opacity:.2;
	height: 100%; 
	width: 100%; 
	filter: grayscale(100%); 
	position: absolute;
}
.ttcomponent-groupCoverImageText .esquire .esquire-image-container > div:not(.notBlur){
	opacity: .2;
	-webkit-filter: blur(10px) grayscale(100%);
	filter: blur(10px) grayscale(100%); 
}
.ttcomponent-groupCoverImageText .esquire-color-container{
	height:100%;
	min-height:300px;
	opacity:0.45;
}
.ttcomponent-groupCoverImageText .esquire-image-container{
	min-height:100%;
	overflow:hidden;
	text-align:center;
	width:100%; 
	position:absolute; 
	top:0;
}
.ttcomponent-groupCoverImageText .esquire-message{
	height:100%;
	width:100%; 
}
.ttcomponent-groupCoverImageText .esquire-message h2{
	font-family:'Montserrat', sans-serif; 
	font-weight:300;
	line-height:1;
	width:100%;
}
.ttcomponent-groupCoverImageText .esquire-message h3{
	font-family:'Montserrat', sans-serif;
	font-weight:300; 
	font-size:1.5rem;
	line-height:1.3;
}
.ttcomponent-groupCoverImageText .esquire-message-container{
	height:100%;
	min-height:40vh;
	z-index:10; 
	position:relative;
}
.ttcomponent-groupCoverImageText .user .esquire-message-container{
	height:100%;
	min-height:40vh;
	z-index:10; 
	margin:0 auto;
}
.ttcomponent-groupCoverImageText .cover_action {
	position:relative;
	top:inherit;
	right:inherit;
	bottom:-2.5rem;
}


