@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;1,400&display=swap');
#main {
    display: flex;
    justify-content: center;
}

#main #wrapper #logo,
#main #wrapper h1,
#main #wrapper #content {
    display: none;
}

#main #wrapper #board_title {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 48px;
    line-height: 1.2;
    color: #003498;
    margin: 75px 0;
    text-align: center;
}

#main #wrapper .level-0 {
    margin-bottom: 75px;
}

#main #wrapper h3 {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 1.2;
    color: #039bf1;
    margin: 20px 0 50px;
    text-align: center;
    text-transform: uppercase;
}

#main #wrapper .opening {
    text-align: center;
}

#main #wrapper .opening a {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 21px;
    line-height: 1.2;
    color: #003498;
    margin: 10px 0 10px;
}

#main #wrapper .opening .location {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #333333;
    line-height: 50px;
}

#app_body {
    padding-left: 10px;
    padding-right: 10px;
}

#app_body #header .app-title {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 42px;
    line-height: 1.2;
    color: #003498;
    margin: 75px 0 25px;
}

#app_body #header .company-name {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #333333;
}

#app_body #header a {
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
}

#app_body #header .location {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #333333;
}

#app_body #content {
    margin-top: 35px;
}

#app_body #content h3 {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #333333;
    margin-top: 40px;
}

#app_body #content ul {
    padding-left: 20px;
}

#app_body #content p,
#app_body #content li {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #333333;
}

#app_body #content p:last-child {
    margin-top: 40px;
}

#app_body #application {
    margin-top: 50px;
}