/* Component basic layout rules */

.ttcomponent-squaredList .contents_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.ttcomponent-squaredList .template-contentUrl {
	position: relative;
	flex: calc(33% - 10px) 0;
	margin: 5px;
	height:auto;
}

.ttcomponent-squaredList .template-contentUrl::before {
  content: '';
  display: block;
  padding-top: 100%;
  position:absolute;
}

.ttcomponent-squaredList .template-contentUrl > div {
	width:100%;
	display:inline-block;
	padding:0 0 1rem 0;
}
.ttcomponent-squaredList .template-contentUrl > div a {
	max-width:80%;
	display:block;
	margin:0 auto;
}
.ttcomponent-squaredList .template-contentUrl > div a img {
	
}
.ttcomponent-squaredList .template-contentUrl:hover .edit_this { opacity:1; pointer-events: unset;}
.ttcomponent-squaredList .edit_this { opacity:0; pointer-events:none;}
.ttcomponent-squaredList .edit_this i{
	margin-left:0;
}