
<!-- Da inserire dinamicamente: 
	- ID
	- nel parametro style SOLO il valore"background-image"
 -->

<!-- SMALL  -->
<div id="variableHere" class="tt-component-avatarImg avatar-small" style=""></div>

<!-- MEDIUM  -->
<div id="variableHere" class="tt-component-avatarImg avatar-medium" style=""></div>

<!-- LARGE  -->
<div id="variableHere" class="tt-component-avatarImg avatar-large" style=""></div>