﻿/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ @font-face {font-family:"GnuolaneRg-Regular";src:url("gnuolane_rg.eot?") format("eot"),url("gnuolane_rg.woff") format("woff"),url("gnuolane_rg.ttf") format("truetype"),url("gnuolane_rg.svg#GnuolaneRg-Regular") format("svg");font-weight:normal;font-style:normal;}
