@font-face {
  font-family: 'megatrend-icons';
  src:  url('fonts/megatrend-icons.eot?tzralx');
  src:  url('fonts/megatrend-icons.eot?tzralx#iefix') format('embedded-opentype'),
    url('fonts/megatrend-icons.ttf?tzralx') format('truetype'),
    url('fonts/megatrend-icons.woff?tzralx') format('woff'),
    url('fonts/megatrend-icons.svg?tzralx#megatrend-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="megatrend-icon-"], [class*=" megatrend-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'megatrend-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.megatrend-icon-bgf-world-new-energy:before {
  content: "\e91d";
}
.megatrend-icon-bgf-world-healthscience:before {
  content: "\e91e";
}
.megatrend-icon-bgf-world-financial:before {
  content: "\e91f";
}
.megatrend-icon-bgf-world-tecnology:before {
  content: "\e920";
}
.megatrend-icon-bgf:before {
  content: "\e91c";
}
.megatrend-icon-chevron-bottom:before {
  content: "\e917";
}
.megatrend-icon-chevron-left:before {
  content: "\e918";
}
.megatrend-icon-chevron-right:before {
  content: "\e919";
}
.megatrend-icon-chevron-top:before {
  content: "\e91a";
}
.megatrend-icon-close:before {
  content: "\e91b";
}
.megatrend-icon-home:before {
  content: "\e916";
}
.megatrend-icon-addio-auto-as-we-know:before {
  content: "\e900";
}
.megatrend-icon-ageing-population:before {
  content: "\e901";
}
.megatrend-icon-crescita-robot-ai:before {
  content: "\e902";
}
.megatrend-icon-crescita-servizi-health-care:before {
  content: "\e903";
}
.megatrend-icon-data-security:before {
  content: "\e904";
}
.megatrend-icon-digital-security:before {
  content: "\e905";
}
.megatrend-icon-digitalization:before {
  content: "\e906";
}
.megatrend-icon-dispositivi-piu-conessi:before {
  content: "\e907";
}
.megatrend-icon-energia-pulita:before {
  content: "\e908";
}
.megatrend-icon-fintech:before {
  content: "\e909";
}
.megatrend-icon-future-of-transportation:before {
  content: "\e90a";
}
.megatrend-icon-global-brands:before {
  content: "\e90b";
}
.megatrend-icon-healthcare-innovation:before {
  content: "\e90c";
}
.megatrend-icon-new-generation-technology:before {
  content: "\e90d";
}
.megatrend-icon-nutrition:before {
  content: "\e90e";
}
.megatrend-icon-oves-est:before {
  content: "\e90f";
}
.megatrend-icon-soluzione-pensionistiche:before {
  content: "\e910";
}
.megatrend-icon-spesa-sanitaria:before {
  content: "\e911";
}
.megatrend-icon-superamento-proprieta-auto:before {
  content: "\e912";
}
.megatrend-icon-sustainable-energy:before {
  content: "\e913";
}
.megatrend-icon-sviluppo-citta-inteligenti:before {
  content: "\e914";
}
.megatrend-icon-timber-forestry:before {
  content: "\e915";
}
