.filters-bar
    .d-flex.justify-content-between
        ul.list-inline
            li.pl-0
                a.text-uppercase.gray.t-10.open(href="#") Chapters
            li
                a(class=(filtered === true ? "text-uppercase gray t-10 open active" : 'text-uppercase gray t-10 open') href="#") Topics
            li
                a.text-uppercase.gray.t-10.open(href="#") Career
            li
                a.text-uppercase.gray.t-10.open(href="#") Global events
        ul.list-inline
            li
                a(href="javascript:;")
                    span.icon.icon-magnifier.gray
            li
                a.ancor-panel.collapsed(href="javascript:;" data-toggle="collapse" data-target="#"+idFiltersBar aria-expanded="false" aria-controls=""+idFiltersBar)
                    span(class=(filtered === true ? "icon icon-equalizer blue" : 'icon icon-equalizer gray'))
    if (filtered === true)
        hr.mt-2
        .d-flex
            .f-col
                b.t-10.open.gray.text-uppercase Chapter groups
                .panel
                    label.lf-wrap.lf-wrap--check
                        | Amsterdam
                        input(type='checkbox', checked='checked')
                        span.checkmark

    div(id=""+idFiltersBar class="collapse")
        .filters-panel
            form
                fieldset
                    .d-flex
                        .f-col
                            b.t-10.open.gray.text-uppercase Date
                            .d-flex.formDateGroup
                                .formDateA.input-group.date
                                    input.form-control(type='text' placeholder="from now to")
                                    span.input-group-addon
                                        span.icon.icon-calendar
                                .formDateB.input-group.date
                                    input.form-control(type='text' placeholder="to date")
                                    span.input-group-addon
                                        span.icon.icon-calendar

                        .f-col
                            b.t-10.open.gray.text-uppercase Chapter groups
                            input(type="text" placeholder="Filter by name")
                            .panel.scroll-panel
                                label.lf-wrap.lf-wrap--check
                                    | Amsterdam
                                    input(type='checkbox', checked='checked')
                                    span.checkmark
                                label.lf-wrap.lf-wrap--check
                                    | Athens
                                    input(type='checkbox')
                                    span.checkmark
                                label.lf-wrap.lf-wrap--check
                                    | Barcelona
                                    input(type='checkbox')
                                    span.checkmark
                                label.lf-wrap.lf-wrap--check
                                    | Belgrade
                                    input(type='checkbox')
                                    span.checkmark
                                label.lf-wrap.lf-wrap--check
                                    | Berlin
                                    input(type='checkbox')
                                    span.checkmark
                                label.lf-wrap.lf-wrap--check
                                    | Boston
                                    input(type='checkbox')
                                    span.checkmark
                                label.lf-wrap.lf-wrap--check
                                    | Budapest
                                    input(type='checkbox')
                                    span.checkmark
                                label.lf-wrap.lf-wrap--check
                                    | Belgrade
                                    input(type='checkbox')
                                    span.checkmark
                                label.lf-wrap.lf-wrap--check
                                    | Berlin
                                    input(type='checkbox')
                                    span.checkmark
                                label.lf-wrap.lf-wrap--check
                                    | Boston
                                    input(type='checkbox')
                                    span.checkmark
                                label.lf-wrap.lf-wrap--check
                                    | Budapest
                                    input(type='checkbox')
                                    span.checkmark
                            label.lf-wrap.lf-wrap--check
                                | Select all
                                input(type='checkbox')
                                span.checkmark


                        .f-col
                            b.t-10.open.gray.text-uppercase Format
                            input(type="text" placeholder="Filter by name")
                            .panel.scroll-panel
                                label.lf-wrap.lf-wrap--check
                                    | Dinner speech
                                    input(type='checkbox')
                                    span.checkmark
                                label.lf-wrap.lf-wrap--check
                                    | energizer breackfast
                                    input(type='checkbox')
                                    span.checkmark
                                label.lf-wrap.lf-wrap--check
                                    | c-movement
                                    input(type='checkbox', checked='checked')
                                    span.checkmark
                                label.lf-wrap.lf-wrap--check
                                    | christmas party
                                    input(type='checkbox')
                                    span.checkmark
                                label.lf-wrap.lf-wrap--check
                                    | reunion
                                    input(type='checkbox')
                                    span.checkmark
                                label.lf-wrap.lf-wrap--check
                                    | webinar
                                    input(type='checkbox')
                                    span.checkmark
                                label.lf-wrap.lf-wrap--check
                                    | global conference
                                    input(type='checkbox')
                                    span.checkmark
                                label.lf-wrap.lf-wrap--check
                                    | Dinner speech
                                    input(type='checkbox', checked='checked')
                                    span.checkmark
                                label.lf-wrap.lf-wrap--check
                                    | energizer breackfast
                                    input(type='checkbox')
                                    span.checkmark
                                label.lf-wrap.lf-wrap--check
                                    | c-movement
                                    input(type='checkbox')
                                    span.checkmark
                                label.lf-wrap.lf-wrap--check
                                    | christmas party
                                    input(type='checkbox')
                                    span.checkmark
                                label.lf-wrap.lf-wrap--check
                                    | reunion
                                    input(type='checkbox')
                                    span.checkmark
                                label.lf-wrap.lf-wrap--check
                                    | webinar
                                    input(type='checkbox')
                                    span.checkmark
                                label.lf-wrap.lf-wrap--check
                                    | global conference
                                    input(type='checkbox')
                                    span.checkmark
                            label.lf-wrap.lf-wrap--check
                                | Select all
                                input(type='checkbox')
                                span.checkmark

                        .f-col
                            b.t-10.open.gray.text-uppercase Topic groups
                            .panel.panel-flex
                                label.lf-wrap.lf-wrap--check
                                    | Dinner speech
                                    input(type='checkbox')
                                    span.checkmark
                                label.lf-wrap.lf-wrap--check
                                    | energizer breackfast
                                    input(type='checkbox')
                                    span.checkmark
                                label.lf-wrap.lf-wrap--check
                                    | c-movement
                                    input(type='checkbox', checked='checked')
                                    span.checkmark
                                label.lf-wrap.lf-wrap--check
                                    | christmas party
                                    input(type='checkbox')
                                    span.checkmark
                                label.lf-wrap.lf-wrap--check
                                    | reunion
                                    input(type='checkbox')
                                    span.checkmark
                                label.lf-wrap.lf-wrap--check
                                    | webinar
                                    input(type='checkbox')
                                    span.checkmark
                                label.lf-wrap.lf-wrap--check
                                    | global conference
                                    input(type='checkbox')
                                    span.checkmark
                                label.lf-wrap.lf-wrap--check
                                    | Dinner speech
                                    input(type='checkbox', checked='checked')
                                    span.checkmark
                                label.lf-wrap.lf-wrap--check
                                    | energizer breackfast
                                    input(type='checkbox')
                                    span.checkmark
                                label.lf-wrap.lf-wrap--check
                                    | c-movement
                                    input(type='checkbox')
                                    span.checkmark
                                label.lf-wrap.lf-wrap--check
                                    | christmas party
                                    input(type='checkbox')
                                    span.checkmark
                                label.lf-wrap.lf-wrap--check
                                    | reunion
                                    input(type='checkbox')
                                    span.checkmark
                                label.lf-wrap.lf-wrap--check
                                    | webinar
                                    input(type='checkbox')
                                    span.checkmark
                                label.lf-wrap.lf-wrap--check
                                    | global conference
                                    input(type='checkbox')
                                    span.checkmark
                            label.lf-wrap.lf-wrap--check
                                | Select all
                                input(type='checkbox')
                                span.checkmark

            ul.actions.list-inline.pull-right
                li
                    a.medium.text-uppercase(href="javascript:;") cancel
                li
                    a.btn.btn--transp.btn--small.text-uppercase(href="javascript:;") Filter
