section.section.section--map-community.bg--white
    .map
        .navigation
            .d-flex.align-items-center
                span.t-90.white.pr-1 70
                span.t-32.white Wordlwide
                    br
                    | Chapters
            a.text-uppercase.medium.white.viewallmap(href="#") View all
            a.text-uppercase.medium.white.backToWorld.backmap.hide(href="javascript:;")
                span.icon.icon-arrow-back.pr-1
                | Back
            a.text-uppercase.medium.white.backToContinent.backmap.hide(href="javascript:;")
                span.icon.icon-arrow-back.pr-1
                | Back

        .map-layer.map-layer--world
        .map-layer.map-layer--continent.hidden
        .map-layer.map-layer--country.hidden