section.section.section--events.mb-2
    h2.blue Past Events
    include filters-bar
    .slick-wrapper.mlr--2
        .paginate-slick.card-list.ifIsVisible
            - var n = 0;
            while n < 2

                .card.card--news
                    .row.row-no-gutters.row-flex
                        .col-xs-12.col-sm-6.col-md-4.col-lg-3.md-mb-2
                            include cards/single-event
                        .col-xs-12.col-sm-6.col-md-4.col-lg-3.md-mb-2
                            include cards/single-event
                        .col-xs-12.col-sm-6.col-md-4.col-lg-3
                            include cards/single-event
                        .col-xs-12.col-sm-6.col-md-4.col-lg-3
                            include cards/single-event
                        .col-xs-12.col-sm-6.col-md-4.col-lg-3.md-mb-2
                            include cards/single-event
                        .col-xs-12.col-sm-6.col-md-4.col-lg-3.md-mb-2
                            include cards/single-event
                        .col-xs-12.col-sm-6.col-md-4.col-lg-3
                            include cards/single-event
                        .col-xs-12.col-sm-6.col-md-4.col-lg-3
                            include cards/single-event

                - n++
    .cardsnav
        ul.list-inline.d-flex.justify-content-center
            li.news-prev
                span.icon.icon-chevron-sx
            li.slick-pages
            li.news-next
                span.icon.icon-chevron-dx

