/* Component basic layout rules */

.ttcomponent-userProfileAvatarWithDonut {
	position:relative;
	z-index:1070;
}
.ttcomponent-userProfileCoverImage .modal {
	z-index:1080;
}
.ttcomponent-userProfileAvatarWithDonut .donut-chart {
	width: 170px;
	height: 170px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	position: relative;
	border-radius: 50%;
}
.ttcomponent-userProfileAvatarWithDonut [data-tt-widget-component=fileUploader]{
	position:relative;
	z-index:10;
}
.ttcomponent-userProfileAvatarWithDonut .donut-value div{
	display:inline-block;
	border-radius:1.2rem;
	min-width:3rem;
}




@keyframes spin {
	to {
		transform: rotate(180deg);
	}
}

@keyframes background {
	50% {
		background-color: currentColor;
	}
}

.ttcomponent-userProfileAvatarWithDonut .donut-chart::after {
	content: '';
	position: absolute;
	width: 95%;
	height: 95%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	border-radius: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

}
.ttcomponent-userProfileAvatarWithDonut .donut-chart::before {
	content: '';
	position: absolute;
	display: block;
	background-color: inherit;
	height: 100%;
	width: 50%;
	bottom: 0;
	right: 0;
	border-radius: 0 100% 100% 0 / 50%;
	transform: rotate(0);
	transform-origin: 0 50%;
	animation: 50s spin infinite linear, 100s background infinite step-end;
	animation-play-state: paused;
	animation-delay: inherit;
}
.ttcomponent-userProfileAvatarWithDonut .avatar-container { position:relative;}
.ttcomponent-userProfileAvatarWithDonut .avatar-img{
	width:150px;
	height:150px;
	border-radius:50%;
	margin:0 auto;
	background-size: cover;
}



.ttcomponent-userProfileAvatarWithDonut svg {
	position:absolute;
	top:0;
	left:0;
	width:180px;
	height:180px
}

.ttcomponent-userProfileAvatarWithDonut .donut{
	position:absolute;
	width:180px;
	height:180px;
	top:-15px;
	left:-15px;
}

.ttcomponent-userProfileAvatarWithDonut .donut-data-value {
	transform: rotate(270deg);
	transform-origin: center;
	transition: all 1s ease-in-out;
}

.ttcomponent-userProfileAvatarWithDonut .donut_value{
	position:absolute;
	display:flex;
	justify-content:center;
	align-items:center;
	font-weight:bold;
	width:300px;
	height:300px;
	font-size:80px;
	font-family:arial;
}
.c-value { display:inline-block; min-width:2rem;}



