@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?e48p1v');
  src:  url('fonts/icomoon.eot?e48p1v#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?e48p1v') format('truetype'),
    url('fonts/icomoon.woff?e48p1v') format('woff'),
    url('fonts/icomoon.svg?e48p1v#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bgf-world-financials:before {
  content: "\e91d";
}
.icon-bgf-world-healthscience:before {
  content: "\e91e";
}
.icon-bgf-world-new-energy:before {
  content: "\e91f";
}
.icon-bgf-world-tecnology:before {
  content: "\e920";
}
.icon-bgf:before {
  content: "\e91c";
}
.icon-chevron-bottom:before {
  content: "\e917";
}
.icon-chevron-left:before {
  content: "\e918";
}
.icon-chevron-right:before {
  content: "\e919";
}
.icon-chevron-top:before {
  content: "\e91a";
}
.icon-close:before {
  content: "\e91b";
}
.icon-home:before {
  content: "\e916";
}
.icon-addio-auto-as-we-know:before {
  content: "\e900";
}
.icon-ageing-population:before {
  content: "\e901";
}
.icon-crescita-robot-ai:before {
  content: "\e902";
}
.icon-crescita-servizi-health-care:before {
  content: "\e903";
}
.icon-data-security:before {
  content: "\e904";
}
.icon-digital-security:before {
  content: "\e905";
}
.icon-digitalization:before {
  content: "\e906";
}
.icon-dispositivi-piu-conessi:before {
  content: "\e907";
}
.icon-energia-pulita:before {
  content: "\e908";
}
.icon-fintech:before {
  content: "\e909";
}
.icon-future-of-transportation:before {
  content: "\e90a";
}
.icon-global-brands:before {
  content: "\e90b";
}
.icon-healthcare-innovation:before {
  content: "\e90c";
}
.icon-new-generation-technology:before {
  content: "\e90d";
}
.icon-nutrition:before {
  content: "\e90e";
}
.icon-oves-est:before {
  content: "\e90f";
}
.icon-soluzione-pensionistiche:before {
  content: "\e910";
}
.icon-spesa-sanitaria:before {
  content: "\e911";
}
.icon-superamento-proprieta-auto:before {
  content: "\e912";
}
.icon-sustainable-energy:before {
  content: "\e913";
}
.icon-sviluppo-citta-inteligenti:before {
  content: "\e914";
}
.icon-timber-forestry:before {
  content: "\e915";
}
