/* Component basic layout rules */


.ttcomponent-tabsStandard {
	
}
.ttcomponent-tabsStandard .nav-tabs.user-profile-tabs {
	border:0;
}
.ttcomponent-tabsStandard li > a {
	border: 0;
	border-radius: 0;
	position: relative;
	font-weight: bold;
	color: inherit;
	padding: 2rem 1.5rem;
}

.ttcomponent-tabsStandard .nav-tabs>li>a, 
.ttcomponent-tabsStandard .nav-tabs>li>a:hover, 
.ttcomponent-tabsStandard .nav-tabs>li>a:focus{
	border:0!important;
}
.ttcomponent-tabsStandard .nav-tabs > li.active > a, 
.ttcomponent-tabsStandard .nav-tabs > li.active > a:hover, 
.ttcomponent-tabsStandard .nav-tabs > li.active > a:focus {
	color: inherit;
	background-color: #fff;
	border: 0;
	border-bottom-color: transparent;
	cursor: default;
}

.ttcomponent-tabsStandard .nav-tabs > li > a:after{
	content:'';
	display:block; 
	position:absolute;
	bottom:-2px;
	left:0;	
	height:5px;
	width:100%;
	border-radius:10px;
	transform: scale(0);
	transition:transform .3s ease-in-out;
}

.ttcomponent-tabsStandard .nav-tabs > li.active > a:after{
	transform: scale(1);
}

.ttcomponent-tabsStandard .nav-tabs > li > a:hover{
	background: none;
}