.chat-msg-bubble {border: 1px solid #ccc; padding: 5px 1.5em; border-radius: 1.3em; max-width: 90%; margin-bottom: 16px;}
.right .chat-msg-bubble {float: right;}
.chat-msg-date {height: 20px;}
.left .chat-msg-bubble {float: left;}
.bot-claim-wrapper .bot-logo {width: 135px; display: inline-block; border-right: 1px solid #fff; vertical-align: middle; padding-right: 20px; height: 70px;}
.bot-claim-wrapper .bot-claim {display: inline-block; vertical-align: middle; color: #fff; margin-left: 20px;}
.bot-claim p {font-size: 26px; line-height: 26px; padding: 0px; margin: 0px;}
.bot-claim-wrapper {position: absolute; bottom: 60px;}
.body-bot-intro {min-height: 650px; color:#fff;height: calc(100vh - 140px);}
.bot-claim-wrapper img {margin-top: -22px;}
.chatbot li {border: none;}
.chatbot-name {border-bottom: 1px dotted #B3A9A9; margin-bottom: 16px;}
.chatbot-name img.img-circle {float: left; margin-right: 16px;}
.chatbot-name {height: 70px;}
.chatbot {height: 60vh;}
.chatbot-name img.img-circle {float: left; margin-right: 20px;}
.chat-img.pull-right {margin-left:1rem;}
.chatbot-name {height: 70px;}
body.baebot #home-wrapcontent {padding-top: 0px;}
.left .search-preview-box {float: left;}
.search-preview-box {width: 150px; border: 1px solid #ccc; border-radius: 1.3em; margin-right: 16px; margin-top: 16px;}
.search-preview-box img {border-radius: 1.3em 1.3em 0 0;}
a.search-preview-title {text-align: center; width: 100%; display: block; line-height: 30px; color: #777777;}
a.search-preview-action {text-align: center;line-height: 30px;background: #ed8b00;color: #fff;padding: 6px 16px;border-radius: 1.3em;}
.search-preview-collection {clear: left;}
.msg-actions {width: 100%; display: block; text-align: center; padding: 10px 0;}
.search-preview-list {clear: both; border: 1px solid #ccc; border-radius: 1.3em; height: auto; width: auto; float: left; padding: 16px;}
.search-preview-list .search-preview-box {width: auto; border: none; float: none; margin: 0;}
.search-preview-list .msg-actions {width: auto; display: inline-block;}
.search-preview-box .preview-title {display: inline-block;}
.search-preview-box img+.preview-title {width: 100%; text-align: center;}
[data-tt-widget-widget='chatbot'] *::focus { outline:none;}
[data-tt-widget-widget='chatbot'] .btn:focus {outline:none!important;}
[data-tt-widget-widget='chatbot'] {position: fixed;max-height: 90vh;bottom:0;right:30px;width:100vw;max-width: 380px;z-index:1000;overflow:visible;font-size:15px;}
.chatbot-opened-body {
	overflow:hidden;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00c9c1+0,00a9c9+100 */
    background: #00c9c1; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #00c9c1 0%, #00a9c9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #00c9c1 0%,#00a9c9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #00c9c1 0%,#00a9c9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c9c1', endColorstr='#00a9c9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */    
    -webkit-box-shadow: 0 0 48px 0 rgba(0,0,0,.2);
	box-shadow: 0 0 48px 0 rgba(0,0,0,.2);
}
.flydot-chatbot {background:#00C9C1;}
.flydot-new-content {background:#0097EB;}
.chatbot-close button {opacity:.5;}
.chatbot-close button:hover, .chatbot-close button:active,.chatbot-close button:focus {background:transparent;outline:none;opacity:1;} 
.chatbot-close .icon-close {color:#fff;}
[data-tt-widget-widget='chatbot'] .chatbot > li{padding:0 20px;margin-bottom:0;}
ul[data-chatbot-messages] {position:relative;width:100%;padding:20px 0!important;padding-bottom: 20px!important;min-height:50vh;z-index:5;}
[data-tt-widget-widget='chatbot'] .left .chat-msg-bubble,
[data-tt-widget-widget='chatbot'] .left .search-preview-box {border: 0;padding: 1em;border-radius: 10px;max-width: 100%;margin-bottom: 10px;background-color:#fff;   overflow:hidden;}
[data-tt-widget-widget='chatbot'] .right .chat-msg-bubble,[data-tt-widget-widget='chatbot'] .right .search-preview-box{border:0;padding:1em;border-radius:10px;max-width:86%;margin-bottom:10px;background-color:#fff;overflow:hidden;}
[data-tt-widget-widget='chatbot'] .chat-msg-bubble + .search-preview-collection > .search-preview-box{margin-top:-8px;}
.chatbot li.left .chat-body{margin-left:48px;}
[data-tt-widget-widget='chatbot'] .left .chat-msg-bubble{border-top-left-radius:0;}
[data-tt-widget-widget='chatbot'] .right .chat-msg-bubble{border-top-right-radius:0;background:rgba(255,255,255,.8);}
[data-tt-widget-widget='chatbot'] .right .chat-body{margin-right:0!important;}
.chat-msg-date{margin-bottom:5px;}
.chat-msg-date small.text-muted{color:#fff;}
[data-tt-widget-widget='chatbot'] .right .chat-msg-date small.text-muted{color:rgba(255,255,255,.5);}
[data-tt-widget-widget='chatbot'] .chat-msg-wrapper img{width:32px;}
[data-tt-widget-widget='chatbot'] .search-preview-collection .search-preview-box a > img{width:32px;}
[data-tt-widget-widget='chatbot'] .chatbot-close{position:relative;z-index:15;}
[data-tt-widget-widget='chatbot'] .chatbot-name{position:relative;z-index:10;color:#fff;padding:20px 20px;margin:0;height:auto;border-bottom:1px solid rgba(255,255,255,.3);-webkit-box-shadow:0 0 16px 0 rgba(0,0,0,.2);box-shadow:0 0 16px 0 rgba(0,0,0,.2);overflow:hidden;}
[data-tt-widget-widget='chatbot'] .chatbot-name span{display:block;line-height:45px;}
[data-tt-widget-widget='chatbot'] .chatbot-name .avatar-subtitle{font-size:.85em;color:rgba(255,255,255,.7);line-height:1.3;padding-bottom:10px;}
.chatbot li .chat-body p{line-height:1.3;}
[data-tt-widget-widget='chatbot'] .chatbot-min-name{padding:20px;color:#fff;cursor:pointer;}
[data-tt-widget-widget='chatbot'] .chatbot-name img{width:48px;display:block;}
[data-tt-widget-widget='chatbot'] .input-group{position:relative;bottom:0;width:100%;right:0;left:0;height:55px;background:white;z-index:10;padding:10px;}
[data-tt-widget-widget='chatbot'] .chat-msg-bubble .btn-group{width:100%;margin:10px 0;}
.search-preview-collection{display:block;border-radius:0;overflow:hidden;margin:0 -16px;width:calc(100%+32px);padding:0;}
.search-preview-collection .search-preview-box { display:block; float:none; width:100%; margin:0; max-width:inherit; padding: 5px 20px;}
.search-preview-link { margin-top: 20px;}
.search-preview-collection .search-preview-box a .search-preview-link { margin-top: 0px;}
.search-preview-collection .search-preview-box + .search-preview-box .preview-title { margin-top: 20px;}
.search-preview-collection .search-preview-box a { display:block; border-radius:0; margin:0 -20px; width: calc(100% + 40px); padding: 0 20px;}
.search-preview-collection .search-preview-box a > div{font-weight: bold; color:#0081C9;}
.search-preview-collection .preview-title { margin:0; padding:0;}
.chat-msg-date .animated { -webkit-animation-duration: .2s; animation-duration: .2s;}
.fromTopLeft { -webkit-transform-origin: top left; -ms-transform-origin: top left; transform-origin: top left; -webkit-animation-duration:.5s; animation-duration:.5s;}
.fromTopRight { -webkit-transform-origin: top right; -ms-transform-origin: top right; transform-origin: top right; -webkit-animation-duration:.5s; animation-duration:.5s;}
.fromBottomLeft {-webkit-transform-origin: bottom left; -ms-transform-origin: bottom left; transform-origin: bottom left; -webkit-animation-duration:.5s; animation-duration:.5s;}
.delay-1 { -webkit-animation-delay: .5s; animation-delay: .5s;}
[data-tt-widget-widget='chatbot'] .chat-msg-bubble .btn-group-justified { border-top:1px solid #ccc; width:calc(100% + 40px); margin-left: -20px; margin-right: -20px; margin-bottom:-20px;}
[data-tt-widget-widget='chatbot'] .chat-msg-bubble .btn-group-justified button { padding:20px;}
.bot-answer-indicator {padding:20px; color:#fff;}
.bot-answer-indicator img{ display:block; float:left; max-width:32px; margin-right:16px; }
.bot-answer-indicator span{ display:block; }
.bot-answer-indicator .chat-msg-bubble { display:inline-block; margin-top:1.5em; border-top-left-radius: 0px; padding:5px 10px; max-width:50px; overflow:hidden; white-space:nowrap; background:white;}
.btn.btn-chat-help {background:transparent; color:inherit; }
div#wave{position:relative;text-align:center;width:100%;height:100%;margin-left:auto;margin-right:auto;}
div#wave .dot{display:inline-block;width:6px;height:6px;border-radius:50%;margin-right:-1px;background:#0081C9;animation:wave 1.3s linear infinite;}
div#wave .dot:nth-child(2){animation-delay:-1.1s;}
div#wave .dot:nth-child(3){animation-delay:-.9s;}

@keyframes wave {
  0%, 60%, 100% {
    transform: initial;
  }
  30% {
    transform: translateY(-7px);
  }
}

.search-preview-collection > .search-preview-box > a > img{margin-right:10px;vertical-align:middle;border-radius:0;}
.search-preview-collection > .search-preview-box > a > img + span{display:inline-block;max-width:calc(100%-65px);vertical-align:middle;}
.search-preview-collection > .search-preview-box > a > span{font-weight:bold;display:block;color:#0081C9;line-height:1.2;font-size:14px;background:url(../graphic/svg/ico_freccia.svg) no-repeat right center;}
.chat-msg-bubble > p + .search-preview-collection > .search-preview-box:first-child { padding-top:20px;}
[data-tt-widget-widget='chatbot'] .left .search-preview-collection .chat-msg-bubble, 
[data-tt-widget-widget='chatbot'] .left .search-preview-collection  .search-preview-box { margin-bottom:0;}
.search-preview-collection .search-preview-box + .search-preview-box .preview-title{margin-top:0;}
.btn-chat-microphone{display:inline-block;}
.visible-xs btn-chat-send{display:inline-block;}
.btn-chat-help{display:inline-block;}
[data-tt-widget-widget='chatbot'] .chatbot-help{position:absolute;height:calc(100%-60px);left:0;top:0;right:30px;width:100%;z-index:100;border-top-left-radius:20px;overflow:hidden;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00b7e6+0,0081c9+99 */
	background: #50e0de;
	background: -webkit-linear-gradient(top, #50e0de 0%,#39b1c6 99%);
	background: -webkit-gradient(linear, left top, left bottom, from(#50e0de),color-stop(99%, #39b1c6));
	background: -o-linear-gradient(top, #50e0de 0%,#39b1c6 99%);
	background: linear-gradient(to bottom, #50e0de 0%,#39b1c6 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7e6', endColorstr='#0081c9',GradientType=0 );
	-webkit-box-shadow: 0 0 48px 0 rgba(0,0,0,.2);
	box-shadow: 0 0 48px 0 rgba(0,0,0,.2);
font-size:15px;
color:white;
}
.chatbot-help-page-1, .chatbot-help-page-2 { padding:40px; padding-left: 0px;}
.chatbot-help .slick-list.draggable {width: 90%; left: 10%;}
.chatbot-help .slick-next {right: 0px!important;}
.chatbot-help .slick-next:hover {cursor: pointer;}
.chatbot-help .slick-prev {left: 0px!important;}
.chatbot-help .slick-prev:hover {cursor: pointer;}
.chatbot-help .slick-prev:before, .chatbot-help .slick-next:before {color:#fff!important; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);}
[data-tt-widget-widget='chatbot'] [class*='btn-chat-']{width:40px;height:40px;background:none;padding:0;}
.chat-tools .col-md-4 .input-group-btn{text-align:right;}
.chat-tools input[type=text]{border:0;box-shadow:none;}
[data-tt-widget-widget='chatbot'] [class*='btn-chat-']{box-shadow:none!important;}
[data-tt-widget-widget='chatbot'] [class*='btn-chat-'] svg{width:30px;height:auto;fill:#9B9B9B;display:block;margin:auto;box-shadow:none!important;}
[data-tt-widget-widget='chatbot'] [class*='btn-chat-']:hover svg,[data-tt-widget-widget='chatbot'] [class*='btn-chat-']:active svg{fill:#0081C9;}
.text-center [src$='.svg']{margin:20px auto;}
[class^='chatbot-help-page-']{height:100%;overflow-y:auto;}
.text-center img.bot-avatar{width:120px;}
.chatbot-help .slick-dots{bottom:25px;}
.chatbot-help .slick-dots li button:before{font-size:12px;line-height:20px;}
.chatbot-help .slick-dots li.slick-active button:before{color:white!important;}
[data-tt-widget-widget='chatbot'] [class*='btn-chat-']{width:40px;height:40px;background:none;padding:0;}
.chat-tools .col-md-4 .input-group-btn{text-align:right;}
.chat-tools input[type=text]{border:0;box-shadow:none;}
button.btn.btn-default.btn-chat-microphone {background: none;}
.bot-input [class*='btn-chat-']{ box-shadow:none!important;}
.bot-input [class*='btn-chat-'] svg {width:30px; height:auto; fill:#fff; display:block; margin:auto; box-shadow:none!important;}
.bot-input [class*='btn-chat-']:hover svg, .bot-input [class*='btn-chat-']:active svg{ fill:#0081C9;}
.bot-input [class*='btn-chat-']{width:40px; height:40px; background:none; padding:0;}
.bot-input .btn:focus {outline: none!important;}
.bot-input input.form-control.input-sm[data-tt-form-chatbot] {border: none; border-bottom: 1px solid #fff; box-shadow: none; background: none; color: #fff;}
.bot-input input.form-control.input-sm[data-tt-form-chatbot]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */color: #ffffff70; opacity: 1; /* Firefox */}
.bot-input input.form-control.input-sm[data-tt-form-chatbot]:-ms-input-placeholder { /* Internet Explorer 10-11 */color: #ffffff70;}
.bot-input input.form-control.input-sm[data-tt-form-chatbot]::-ms-input-placeholder { /* Microsoft Edge */color: #ffffff70;}
.bot-ext-header {margin-bottom: 80px; margin-top: 40px;}
.body-bot-intro h1 {font-size: 80px;}
.body-bot-intro h3 {font-size: 50px;}
.bot-suggestions {font-size: 21px; padding-bottom: 23px;}
.bot-suggestions .bot-suggestion {padding-bottom: 16px;}
.bot-intro .bot-input>div {padding-left: 0px; margin-left: 0px;}
.btn-chat-microphone.active svg,.btn-chat-microphone.active:hover svg{background:#0081C9;fill:#fff;border-radius:50%;}
.btn-chat-microphone.active:after{content:'';display:block;position:absolute;left:1.7rem;top:1.7rem;background-color:#0081C9;width:.5rem;height:.5rem;border-radius:50%;-webkit-animation:continous-ripple .7s linear infinite;animation:continous-ripple .7s linear infinite;z-index:-1;}

@-webkit-keyframes continous-ripple {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 129, 201 , 0.3), 0 0 0 .5rem rgba(0, 129, 201 , 0.3), 0 0 0 1.5rem rgba(0, 129, 201 , 0.3), 0 0 0 2.5rem rgba(0, 129, 201 , 0.3);
            box-shadow: 0 0 0 0 rgba(0, 129, 201 , 0.3), 0 0 0 .5rem rgba(0, 129, 201 , 0.3), 0 0 0 1.5rem rgba(0, 129, 201 , 0.3), 0 0 0 2.5rem rgba(0, 129, 201 , 0.3);
  }
  100% {
    -webkit-box-shadow: 0 0 0 .5rem rgba(20, 129, 201 , 0.3), 0 0 0 1.5rem rgba(0, 129, 201 , 0.3), 0 0 0 2.5rem rgba(0, 129, 201 , 0.3), 0 0 0 3.5rem rgba(0, 129, 201 , 0);
            box-shadow: 0 0 0 .5rem rgba(0, 129, 201 , 0.3), 0 0 0 1.5rem rgba(0, 129, 201 , 0.3), 0 0 0 2.5rem rgba(0, 129, 201 , 0.3), 0 0 0 3.5rem rgba(0, 129, 201 , 0);
  }
}

@keyframes continous-ripple {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 129, 201 , 0.3), 0 0 0 .5rem rgba(0, 129, 201 , 0.3), 0 0 0 1.5rem rgba(0, 129, 201 , 0.3), 0 0 0 2.5rem rgba(0, 129, 201 , 0.3);
            box-shadow: 0 0 0 0 rgba(0, 129, 201 , 0.3), 0 0 0 .5rem rgba(0, 129, 201 , 0.3), 0 0 0 1.5rem rgba(0, 129, 201 , 0.3), 0 0 0 2.5rem rgba(0, 129, 201 , 0.3);
  }
  100% {
    -webkit-box-shadow: 0 0 0 .5rem rgba(0, 129, 201 , 0.3), 0 0 0 1.5rem rgba(0, 129, 201 , 0.3), 0 0 0 2.5rem rgba(0, 129, 201 , 0.3), 0 0 0 3.5rem rgba(0, 129, 201 , 0);
            box-shadow: 0 0 0 .5rem rgba(0, 129, 201 , 0.3), 0 0 0 1.5rem rgba(0, 129, 201 , 0.3), 0 0 0 2.5rem rgba(0, 129, 201 , 0.3), 0 0 0 3.5rem rgba(0, 129, 201 , 0);
  }
}
[data-tt-widget-widget='chatbot'] .chat-msg-bubble .btn-group button,[data-tt-widget-widget='chatbot'] .chat-msg-bubble .btn-group .btn,[data-tt-widget-widget='chatbot'] .chat-msg-bubble .btn-group .btn-default{border-radius:0;border:none;background:none;color:#0081C9;font-family:avenir_bold!important;text-transform:uppercase;}
[data-tt-widget-widget='chatbot'] .chat-msg-bubble .btn-group + .btn-group button,[data-tt-widget-widget='chatbot'] .chat-msg-bubble .btn-group + .btn-group .btn,[data-tt-widget-widget='chatbot'] .chat-msg-bubble .btn-group + .btn-group .btn-default{border-left:1px solid #ccc;}
[data-tt-widget-widget='chatbot'] .chat-msg-bubble .btn-group button:hover,[data-tt-widget-widget='chatbot'] .chat-msg-bubble .btn-group .btn:hover,[data-tt-widget-widget='chatbot'] .chat-msg-bubble .btn-group .btn-default:hover{background:#E8E8E8;}
[data-tt-widget-widget='chatbot'] .search-preview-collection .search-preview-box{display:inline-block;width:100%;vertical-align:middle;}
[data-tt-widget-widget='chatbot'] .chat-msg-wrapper img{width:32px;}
[data-tt-widget-widget='chatbot'] .search-preview-collection .search-preview-box a > img{width:32px;}
[data-tt-widget-widget='chatbot'] .search-preview-collection .search-preview-box > img{display:inline-block;margin-right:10px;}
.search-preview-collection .search-preview-box .msg-actions{display:block;width:auto;margin:-10px 20px 0;float:right;}
.search-preview-collection .search-preview-box .msg-actions a.search-preview-action{display:inline-block;padding:0 10px;background:none;border-radius:4px;border:1px solid #ccc;color:#09c0d1!important;font-family:avenir_bold!important;}
.search-preview-collection .search-preview-box .msg-actions a.search-preview-action:hover,.search-preview-collection .search-preview-box .msg-actions a.search-preview-action:active,.search-preview-collection .search-preview-box .msg-actions a.search-preview-action:focus{background:#E8E8E8;}
.chatbot-min-name img{width:40px;display:block;float:left;margin-right:20px;}
.custom-icon{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg);font-size:1.5em;vertical-align:middle;margin-top:-10px;}
.related_box{text-align:center;margin:45px;}
.related_box .rel_box_link{display:block;margin:10px 0;}
.rel_box_desc{line-height:29px;padding:25px;}
.bot_feedback {background: linear-gradient(to bottom, rgba(0,183,230,1) 0%,rgba(0,129,201,1) 99%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7e6', endColorstr='#0081c9',GradientType=0 ); -webkit-box-shadow: 0 0 48px 0 rgba(0,0,0,.2); box-shadow: 0 0 48px 0 rgba(0,0,0,.2); color: #fff; position: absolute; width: 100%; margin: 0px; padding: 0px; height: 50px; cursor: pointer;}
.landing .column_generico.homeColumn0 .wrapwidg.chatbot-feedback {border: 1px solid #D4D4D4; border-radius: 5px; background: #fff; padding: 0 0 10px 0; min-height: 50px;}
.chatbot-feedback .wrapper {padding-top: 70px;}
.chatbot-feedback .btn-orange {float: right;} 
.chatbot-feedback .list-unstyled.comments {clear: both; padding-top: 6px;}
.bot_feedback img {width: 30px; display: inline-block; margin: 7px 5px 8px 15px; vertical-align: middle;}
.bot_feedback span {display: inline-block; vertical-align: middle; font-size: 24px; font-weight: bold;}
.bot_feedback .icon-down {margin: 8px 15px 0 0; font-size: 30px;}
.landing .column_generico.homeColumn0 .wrapwidg.chatbot-invite {    display: block;
    background: linear-gradient(to bottom, rgba(0,183,230,1) 0%,rgba(0,129,201,1) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7e6', endColorstr='#0081c9',GradientType=0 );
    -webkit-box-shadow: 0 0 48px 0 rgba(0,0,0,.2); box-shadow: 0 0 48px 0 rgba(0,0,0,.2); color: #fff; width: 100%; margin: 0px; padding: 0px;}
.chatbot-how-it-works.wrapwidg {text-align: center;}
.chatbot-how-it-works.wrapwidg .examples_block img {width: 80px; display: block; margin: 0 auto; margin-top: 25px;}
.chatbot-how-it-works.wrapwidg .examples_block {text-align: center;}
.chatbot-how-it-works.wrapwidg .examples_block div.row span {margin: 20px 0px 30px 0; display: block;}
.chatbot-how-it-works.wrapwidg .examples_block .icon-phone {margin-top: 25px;font-size: 80px; display: block;}
.chatbot-how-it-works.wrapwidg .examples_block div.row h4 {padding-top: 10px;}
.chatbot-how-it-works.wrapwidg h3 {margin: 80px 0 16px 0;}
.chatbot-how-it-works.wrapwidg .body-block {margin-top: 80px;}
.chatbot-invite .wrapper {position: relative; padding: 10px;}
.chatbot-invite .text {width: 68%; display: inline-block;}
.chatbot-invite .text img {width: 15%; display: inline-block; margin: 7px 5px 8px 15px;vertical-align: middle;}
.chatbot-invite .text span{display: inline-block; width: 75%; vertical-align: middle;}
.chatbot-invite .wrapper .buttons {width: 30%; display: inline-block;  vertical-align: top; text-align: center;}
.chatbot-opened-body {position: absolute;bottom: 45px;width: 100%;right: 95px;}
.flydot-chatbot {color:#fff;margin:0 0 20px 0;float: right;cursor:pointer;display: block;height: 48px;width: 48px;border-radius: 50%;line-height: 48px;text-align: center;color: #fff;font-size: 18px;padding: 0;}
.flydot-new-content {color:#fff !important;margin:0 0 20px 20px;float: right;cursor:pointer;display: block;height: 48px;width: 48px;border-radius: 50%;line-height: 48px;text-align: center;color: #fff;font-size: 18px;padding: 0;}
.chatbot-close button.close {top:10px;right: 10px;position: absolute;border:none;border-radius:0;background: none;}

/* fly effect */
.new-content-flydot, .flydot-chatbot {box-shadow: 0 0 20px rgba(0,0,0,0.2);}
.new-content-flydot:hover, .flydot-chatbot:hover {box-shadow: 0 0 30px rgba(0,0,0,0.3);}