.card.card--news.d-flex
    .news-img.mr-2(style={"background-image":"url('img/news.png');"})
    div.pt-2
        .date.text-uppercase.pb-1 10 gen 2020
        .smalltitle.blue Bocconi Alumni at the Christmas Market
        p.midtext Sed mollis nisl a porta tempus. Vivamus et scelerisque dolor. Proin eu lacus aliquet, tempor felis vel, semper elit. Aenean nec sapien et mauris eleifend congue laoreet vel lacus.