.card.card--news
    .row.row-flex
        .col-xs-12.col-sm-12.col-lg-6.md-mb-2
            .news.tall
                a.link-layer(href="#")
                .image-wrap(style={"background-image":"url('img/campus.jpg');"})
                .text
                    .data
                        b 02
                        | GEN 2020
                    p SDA and Bocconi University on the podium of the best business schools in Europe.
                    p Third place in the Financial Times ranking
        .col-xs-12.col-sm-6.col-lg-3
            .news
                a.link-layer(href="#")
                .image-wrap(style={"background-image":"url('img/campus2.jpg');"})
                .text
                    .data
                        b 02
                        | GEN 2020
                    p Lorem ipsum dolor sit amet adipiscing elit
                    p Nam pellentesque blandit mauris eu sagittis. Pellentesque accumsan eros erat.
            .news
                a.link-layer(href="#")
                .image-wrap(style={"background-image":"url('img/campus2.jpg');"})
                .text
                    .data
                        b 02
                        | GEN 2020
                    p Sed venenatis ex in elit mollis, vitae congue ligula dictum
                    p Ut orci justo, ullamcorper a velit sit amet, dapibus venenatis dolor.
        .col-xs-12.col-sm-6.col-lg-3
            .news.tall.sm-mt-2
                a.link-layer(href="#")
                .image-wrap(style={"background-image":"url('img/sede.jpg');"})
                .text
                    .data
                        b 02
                        | GEN 2020
                    p The new business accelerator by Bocconi University
                    p All Alumni are invited to participate to the first startup call, open until 6 January 2020.