

             html  body .slider-reversed#hero-zone .slider-nav-new-reversed .slick-dots {
                margin-left:10px !important;
                justify-content: flex-start !important;
            }
            

            @media screen and (min-width: 1920px){
                #header header.main-header {
                    min-width: auto;
                    max-width: 1920px;
                }
            }
            @media screen and (max-width: 1200px){
                .container-fluid {
                    width: 93vw !important;
                }
            }

            #hero-zone p {
                font-size: calc(1.5rem + .3vw);
            }
            #hero-zone.slider-reversed .top-entry-new-reversed p {
                   max-width: unset;
            }

            html body .top-entry.slider-reversed .text-wrap {

            }

      
            /* gestione altezza */
            .slider-section .top-entry-new-reversed .top-entry .scheda-spacer{
               pointer-events: none;
               visibility: hidden;
               width: 35vw;
               max-width: calc(35vw - 35%);
               max-height: 560px;
               min-height: 560px;
            }
            .top-entry-new-reversed .top-entry.isLogged .scheda-spacer{
                pointer-events: none;
                visibility: hidden;
                width: 35vw;
                max-width: calc(35vw - 35%);
                max-height: 560px;
                min-height: 560px;
            }

            html body .top-entry-new-reversed .scheda > [class^="col-"] {
                position:static!important;
            }
            div[data-color-image="dark"]:before {
                display:none
            }

            html body .slider-section .top-entry-new-reversed .top-entry .square-mask {
               top: -18%;
               max-width: 48%;
               min-width: 48%;
               left: -1%;
               right: unset;
               transform: translateX(-5%);
            }
            html body .slider-section .top-entry-new-reversed .top-entry.isLogged .square-mask {
                top: -18%;
                max-width: 48%;
                min-width: 48%;
                left: -1%;
                right: unset;
                transform: translateX(-5%);
            }

            div[data-color-image="dark"] .square-mask-parent{
                overflow: hidden;
                position: relative;
                border-radius:100%;
                border-top-right-radius: 0;
            }
            @media (min-width: 1025px){
                .slider-section .top-entry-new-reversed div[data-color-image="dark"]:before {
                    display:none!important
                }
            }
            html body .slider-section .top-entry-new-reversed div[data-color-image="light"] .square-mask-parent,
            html body .slider-section .top-entry-new-reversed div[data-color-image="dark"] .square-mask-parent {
               overflow: hidden;
               position: relative;
               border-radius: 100%;
               border-top-right-radius: 0;
           }
            html body .slider-section .top-entry-new-reversed div[data-color-image="light"] .square-mask-parent:before,
            html body .slider-section .top-entry-new-reversed div[data-color-image="dark"] .square-mask-parent:before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 40%;
                background: rgb(238,242,248);
                background: linear-gradient(180deg, rgba(238,242,248,0.8533788515406162) 20%, rgba(238,242,248,0) 100%);
                z-index: 5;
            }
            .top-entry-new-reversed .container-fluid {
                 overflow: visible !important; 
            }
        
            #hero-zone .top-entry-new-reversed h1 {
                display: flex;
                flex-direction: column;
            }
            #hero-zone .top-entry-new-reversed h1 > * {
                display: block;
            }
            
            #hero-zone .top-entry-new-reversed .short-description{
                padding:0 1.5rem 0 0;
                background:none;
                display: block;
            }
            
            #hero-zone .top-entry-new-reversed .text-wrap:nth-child(1) {
               display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: flex-start;
                margin-top:0;
                min-width: calc(100% - 2rem);
            }

            .slider-section .top-entry-new-reversed .top-entry .scheda .square-mask img{
                border-radius: 100%;
                border-top-right-radius: 0;
            }


        /* HP */
            html body .top-entry-new-reversed .top-entry .scheda h1,
            html body .top-entry-new-reversed .top-entry .scheda .short-description {
                max-width:unset!important;
                padding-right:0;
            }
            
            html body .top-entry-new-reversed .top-entry .scheda .short-description p {
            }
            
            /* NOT LOGGED */

                html body .slider-section .top-entry-new-reversed .top-entry .scheda {
                    margin-top:70px;
                    height: auto;
                    min-width: unset;
                    max-height: unset;
                    min-height: unset;
                }

                html body .slider-section .top-entry-new-reversed .top-entry .square-mask{ 
                    transform-origin: left top;
                    left: -1%;
                    top: -18%;
                    border-radius: 0;
                    border-top-left-radius: 50%;
                    overflow: visible;
                    position: absolute;
                    right: unset;
                    transform: translateX(-5%);       
                }
                
                html body .slider-section .top-entry-new-reversed .top-entry .square-mask img{
                    border-radius: 100%;
                    border-top-right-radius: 0;
                    position: relative;
                }
                
            /* / NOT LOGGED */
            
            /* LOGGED  .isLogged */
            
                html body .slider-section .top-entry-new-reversed .top-entry.isLogged .scheda {
                    margin-top:70px;
                    height: auto;
                    min-width: unset;
                    max-height: unset;
                    min-height: unset;
                }
                html body .slider-section .top-entry-new-reversed .top-entry.isLogged .square-mask{ 
                   transform-origin: left top;
                   left: -1%;
                   top: -18%;
                   border-radius: 0;
                   border-top-left-radius: 50%;
                   overflow: visible;
                   position: absolute;
                   right: unset;
                   transform: translateX(-5%);       
               }

                html body .slider-section .top-entry-new-reversed .top-entry.isLogged .square-mask img{
                    border-radius: 100%;
                    border-top-right-radius: 0;
                    position: relative;
                }
        
                
            /* / LOGGED */

               html body .top-entry-new-reversed .top-entry .scheda > [class^="col-"]:first-child {
                    max-width: inherit;
                    /* min-width: 47%;*/
                }
        /* / HP */
        


    @media screen and (max-width: 1745px){
        /* HP */

            /* NOT LOGGED */

                .slider-section .top-entry-new-reversed .top-entry .square-mask {
                    top: -18%;
                    max-width: 45%;
                    min-width: 45%;
                    left: -1%;
                    transform: translateX(-5%);
                }
                
            /* / NOT LOGGED */

            /* LOGGED  .isLogged */
                .slider-section .top-entry-new-reversed .top-entry.isLogged .square-mask {
                    top: -18%;
                    max-width: 45%;
                    min-width: 45%;
                    left: -15px;
                    right:unset;
                    transform: translateX(-5%);
                }
                
            /* / LOGGED */

                .top-entry-new-reversed .top-entry .scheda > [class^="col-"]:first-child {
                    max-width: inherit;
                }
    }

    @media screen and (max-width: 1536px){
            /* HP */
                /* NOT LOGGED */

                html body .slider-section .top-entry-new-reversed .top-entry .scheda {
                   margin-top: 0;
               }
                .slider-section .top-entry-new-reversed .top-entry .square-mask {
                    top: -18%;
                    max-width: 53%;
                    min-width: 53%;
                    left: -15px;
                    right: unset;
                    transform: translateX(-5%);
                }
                
                .slider-section .top-entry-new-reversed .top-entry .scheda .square-mask img{
                    border-radius: 100%;
                    border-top-right-radius: 0;
                }
                
            /* / NOT LOGGED */

            /* LOGGED  .isLogged */
            html body .slider-section .top-entry-new-reversed .top-entry.isLogged .scheda {
               margin-top: 0;
           }
            .slider-section .top-entry-new-reversed .top-entry.isLogged .square-mask {
                top: -18%;
                max-width: 48%;
                min-width: 48%;
                left: -15px;
                right: unset;
                transform: translateX(-5%);
            }
                
            /* / LOGGED */

                .top-entry-new-reversed .top-entry .scheda > [class^="col-"]:first-child {
                    max-width: inherit;
                }
    }

    @media screen and (max-width: 1366px){
        /* HP */
            /* NOT LOGGED */
            html body .slider-section .top-entry-new-reversed .top-entry .scheda {
                margin-top: 0;
            }

            .slider-section .top-entry-new-reversed .top-entry .scheda-spacer {
               pointer-events: none;
               visibility: hidden;
               width: 35vw;
               max-width: calc(35vw - 35%);
               max-height: 460px;
               min-height: 460px;
            }

            .slider-section .top-entry-new-reversed .top-entry .square-mask {
                top: -18%;
                max-width: 57%;
                min-width: 57%;
                left: -15px;
                right: unset;
                transform: translateX(-5%);
            }
            
            .slider-section .top-entry-new-reversed .top-entry .scheda .square-mask img{
                border-radius: 100%;
                border-top-right-radius: 0;
            }
            
        /* / NOT LOGGED */

        /* LOGGED  .isLogged */
        .slider-section .top-entry-new-reversed .top-entry .scheda-spacer {
           pointer-events: none;
           visibility: hidden;
           width: 35vw;
           max-width: calc(35vw - 35%);
           max-height: 460px;
           min-height: 460px;
        }
        html body .slider-section .top-entry-new-reversed .top-entry.isLogged .scheda {
           margin-top: 0;
       }
        .slider-section .top-entry-new-reversed .top-entry.isLogged .square-mask {
            top: -18%;
            max-width: 57%;
            min-width: 57%;
            left: -15px;
            right: unset;
            transform: translateX(-5%);
        }
            
        /* / LOGGED */

            .top-entry-new-reversed .top-entry .scheda > [class^="col-"]:first-child {
                max-width: inherit;
            }
    }

    @media screen and (max-width: 1280px){ /* 80em */
        /* HP */
                /* NOT LOGGED */
                html body .slider-section .top-entry-new-reversed .top-entry .scheda {
                   max-height: 380px;
                   min-height: 380px;
                }	 
                .slider-section .top-entry-new-reversed .top-entry .square-mask {
                   top: -18%;
                   max-width: 48%;
                   min-width: 48%;
                   left: -1%;
                   transform: translateX(-5%);
               }
                
                .slider-section .top-entry-new-reversed .top-entry .square-mask img {
                    border-radius: 100%;
                    border-top-right-radius: 0;
                    position: relative;
                }
                
                .slider-section .top-entry-new-reversed .top-entry .scheda .square-mask img{
                    border-radius: 100%;
                    border-top-right-radius: 0;
                }
                
            /* / NOT LOGGED */

            /* LOGGED  .isLogged */
                html body .slider-section .top-entry-new-reversed .top-entry.isLogged .scheda {
                   max-height: 380px;
                   min-height: 380px;
                }	
                .slider-section .top-entry-new-reversed .top-entry.isLogged .square-mask {
                    top: -18%;
                    max-width: 48%;
                    min-width: 48%;
                    left: -1%;
                    transform: translateX(-5%);
                }
                
                
            /* / LOGGED */

                .top-entry-new-reversed .top-entry .scheda > [class^="col-"]:first-child {
                    max-width: inherit;
                }
    }

    @media screen and (max-width: 1120px){ /* 80em */
        /* HP */
                /* NOT LOGGED */

                .slider-section .top-entry-new-reversed .top-entry .scheda {
                    /* height: calc((100vw * 720 / 1920) * .58);
                    min-height: 520px;
                    max-height: calc((100vw * 720 / 1920)); */
                }
                
                .slider-section .top-entry-new-reversed .top-entry .scheda .square-mask img{
                    border-radius: 100%;
                    border-top-right-radius: 0;
                }
                
            /* / NOT LOGGED */

            /* LOGGED  .isLogged */
                html body .slider-section .top-entry-new-reversed .top-entry.isLogged .scheda {
                    /* height: calc((100vw * 640 / 1920) * .58);
                    min-height: calc((100vw * 640 / 1920)); */
                }	
                
            /* / LOGGED */

                .top-entry-new-reversed .top-entry .scheda > [class^="col-"]:first-child {
                    max-width: inherit;
                }
    }


    @media screen and (max-width: 1097px){ /* 64em */
        /* HP */
            /* NOT LOGGED */

                .slider-section .top-entry-new-reversed .top-entry .scheda {
                    /* height: calc((100vw * 720 / 1920) * .57);
                    min-height: calc((100vw * 720 / 1920)); */
                }

                
                .slider-section .top-entry-new-reversed .top-entry .square-mask img {
                    border-radius: 100%;
                    border-top-right-radius: 0;
                    position: relative;
                }
                
            /* / NOT LOGGED */

            /* LOGGED  .isLogged */

                html body .slider-section .top-entry-new-reversed .top-entry.isLogged .scheda {
                    /* height: calc((100vw * 640 / 1920) * .57);
                    min-height: calc((100vw * 640 / 1920)); */
                }	
                
            /* / LOGGED */

                .top-entry-new-reversed .top-entry .scheda > [class^="col-"]:first-child {
                    max-width: inherit;
                }
    }


    @media screen and (max-width: 1097px) { /* 64em */  
        
        html body .top-entry-new-reversed .short-description{
            padding:.75rem .75rem .75rem 0;
            display: block;
        }

        html body .top-entry-new-reversed .top-entry .scheda h1, 
        html body .top-entry-new-reversed .top-entry .scheda .short-description {
            padding-right: 0;
            min-width: 100%;
        }
        /* HP */
            /* NOT LOGGED */
                .slider-section .top-entry-new-reversed .top-entry .square-mask {
                    top: -18%;
                    max-width: 53%;
                    min-width: 53%;
                    left: -15px;
                    right:unset;
                    transform: translateX(-5%);
                }

                .slider-section .top-entry-new-reversed .top-entry .scheda .square-mask img{
                    border-radius: 100%;
                    border-top-right-radius: 0;
                }
                
            /* / NOT LOGGED */

            /* LOGGED  .isLogged */

                .slider-section .top-entry-new-reversed .top-entry.isLogged .square-mask {
                    top: -18%;
                    max-width: 53%;
                    min-width: 53%;
                    left: -15px;
                    right:unset;
                    transform: translateX(-5%);
                }
                
            /* / LOGGED */

                .top-entry-new-reversed .top-entry .scheda > [class^="col-"]:first-child {
                    max-width: inherit;
                }
    }

    @media screen and (max-width: 1097px) and (orientation: landscape){ /* 64em */
        
        html body .top-entry-new-reversed .top-entry .scheda h1, 
        html body .top-entry-new-reversed .top-entry .scheda .short-description {
            padding-right: 0;
            /*min-width: 116%;*/
        }
        /* HP */
            /* NOT LOGGED */
                .slider-section .top-entry-new-reversed .top-entry .scheda {
                    /* height: calc((100vw * 720 / 1920) * .57);
                    min-height: 400px; */
                }

                .slider-section .top-entry-new-reversed .top-entry.isLogged .square-mask {
                    top: -15%;
                    max-width: 53%;
                    min-width: 53%;
                    left: -15px;
                    right:unset;
                    transform: translateX(-5%);
                }     

                .slider-section .top-entry-new-reversed .top-entry .scheda .square-mask img{
                    border-radius: 100%;
                    border-top-right-radius: 0;
                }
                
            /* / NOT LOGGED */

            /* LOGGED  .isLogged */

                html body .slider-section .top-entry-new-reversed .top-entry.isLogged .scheda {
                    /* height: calc((100vw * 640 / 1920) * .57);
                    min-height: 400px; */
                }	
                
                .slider-section .top-entry-new-reversed .top-entry.isLogged .square-mask {
                    top: -10%;
                    max-width: 57%;
                    min-width: 57%;
                    left: -15px;
                    right:unset;
                    transform: translateX(-5%);
                }     
            /* / LOGGED */

                .top-entry-new-reversed .top-entry .scheda > [class^="col-"]:first-child {
                    max-width: inherit;
                }
    }


    @media screen and (max-width: 1024px) and (orientation:landscape){ /* 64em */  

       .slider-section .top-entry-new-reversed .top-entry .scheda-spacer {
            max-height: unset;
            min-height: unset;
            }

        #hero-zone .top-entry-new-reversed .short-description{
            padding:.75rem .75rem 0 0;
            background: rgba(255,255,255,0);
            display: inline-block;
        }
        #hero-zone .top-entry-new-reversed .short-description p {
            margin-top:0 !important;
            font-size: 1.5rem;
        }

        html body .top-entry-new-reversed .top-entry .scheda h1, 
        html body .top-entry-new-reversed .top-entry .scheda .short-description {
            padding-right: 0;
        }
        /* HP */
            /* NOT LOGGED */
                .slider-section .top-entry-new-reversed .top-entry .square-mask {
                    top: -18%;
                    max-width: 57%;
                    min-width: 57%;
                    left: -1%;
                    transform: translateX(-5%);
                }
                
                .slider-section .top-entry-new-reversed .top-entry .scheda .square-mask img{
                    border-radius: 100%;
                    border-top-right-radius: 0;
                }
                
            /* / NOT LOGGED */

            /* LOGGED  .isLogged */

                .slider-section .top-entry-new-reversed .top-entry.isLogged .square-mask {
                    top: -18%;
                    max-width: 57%;
                    min-width: 57%;
                    left: -1%;
                    transform: translateX(-5%);
                }
                
            /* / LOGGED */

                .top-entry-new-reversed .top-entry .scheda > [class^="col-"]:first-child {
                    max-width: inherit;
                }
    }

    @media screen and (max-width: 960px) and (orientation:landscape){ /* 56.25 em*/
        
        html body:not(.is-scrolled):not(.is-scrolled-xs) header.main-header {
            background-color: rgba(255,255,255, 1)!important;
            height: 70px;
            transition: all .5s ease;
        }    
        /* HP */

            .top-entry-new-reversed .top-entry .h1{
                padding-top:4vh;
            }
            .top-entry-new-reversed .top-entry .short-description {
                padding-right: 10vw;
            }

            /* NOT LOGGED */

               html body .slider-section .top-entry-new-reversed .top-entry .scheda {
                   margin-top:70px;
               }

                .slider-section .top-entry-new-reversed .top-entry .square-mask {
                    transform-origin: left top;
                    left: unset;
                    top: 0;
                    border-radius: 0;
                    border-top-left-radius: 50%;
                    overflow: visible;
                    position: absolute;
                    max-width: 55%;
                    min-width: 55%;
                    left: -5%;
                    transform: translateX(-5%);
                }
                
                .slider-section .top-entry-new-reversed .top-entry .scheda .square-mask img{
                    border-radius: 100%;
                    border-top-right-radius: 0;
                }
                
            /* / NOT LOGGED */

            /* LOGGED  .isLogged */

                html body .slider-section .top-entry-new-reversed .top-entry.isLogged .scheda {
                   margin-top:70px;
                }
                html body .slider-section .top-entry-new-reversed .top-entry.isLogged .square-mask {
                    transform-origin: left top;
                    left: unset;
                    top: 0;
                    border-radius: 0;
                    border-top-left-radius: 50%;
                    overflow: visible;
                    position: absolute;
                    max-width: 55%;
                    min-width: 55%;
                    left: -5%;
                    transform: translateX(-5%);
                }
                
            /* / LOGGED */

               html body .top-entry-new-reversed .top-entry .scheda > [class^="col-"]:first-child {
                    max-width: inherit;
                    min-width: 45%;
                }
    }

    @media screen and (max-width: 840px) and (min-width: 761px) and (orientation: landscape){
        .slider-section .top-entry-new-reversed .top-entry .scheda {
            align-items:flex-start;
        }
    }

    @media screen and (max-width: 768px){ /* 48em*/
        body:not(.is-scrolled) [data-color="dark"] .icon:not(.connection-hub-link), 
        body:not(.is-scrolled) [data-color="dark"] .fal:before, 
        body:not(.is-scrolled) [data-color="dark"] .icon:before {
            color: #0046AD !important;
        }
        /* HP */

            .top-entry-new-reversed .top-entry .h1{
                padding-top:4vh;
                font-size:2.3rem;
            }
            
            .slider-section .top-entry-new-reversed .top-entry .square-mask {
                top: 0%;
                max-width: 55%;
                min-width: 55%;
                left: -1%;
                transform: translateX(-5%);
            }

            /* NOT LOGGED */

                .slider-section .top-entry-new-reversed .top-entry .scheda {
                    /* height: calc(768px * 720 / 1920);
                    min-height: calc(768px * 720 / 1920); */
                }     

                .slider-section .top-entry-new-reversed .top-entry .scheda .square-mask img{
                    border-radius: 100%;
                    border-top-right-radius: 0;
                }
                
            /* / NOT LOGGED */

            /* LOGGED  .isLogged */

                html body .slider-section .top-entry-new-reversed .top-entry.isLogged .scheda {
                    /* height: calc(768px * 640 / 1920);
                    min-height: calc(768px * 640 / 1920); */
                }	
                .slider-section .top-entry-new-reversed .top-entry.isLogged .square-mask {
                    top: 0%;
                    max-width: 55%;
                    min-width: 55%;
                    left: -1%;
                    transform: translateX(-5%);
                }
                
            /* / LOGGED */

                .top-entry-new-reversed .top-entry .scheda > [class^="col-"]:first-child {
                    max-width: 70%;
                }
    }

    @media screen and (max-width: 768px) and (orientation:portrait){ /* 48em */
        html body:not(.is-scrolled):not(.is-scrolled-xs) header.main-header {
            background-color: rgba(255,255,255, 1)!important;
            height: 70px;
            transition: all .5s ease;
        }
           
        /* HP */

            .top-entry-new-reversed .top-entry .h1{
                padding-top:4vh;
            }

            /* NOT LOGGED */

               html body .slider-section .top-entry-new-reversed .top-entry .scheda {
                   height: auto;
                   min-height: inherit;
                   max-height: inherit;
                   padding-bottom: 40px;
                }

               html body .slider-section .top-entry-new-reversed .top-entry .scheda .square-mask{ 
                    height: 130%;
                    width: 130%;
                    left: 0;
                    transform-origin: left top;
                    right: unset;
                    top: -1em;
                    border-radius: 0;
                    border-top-left-radius: 50%;
                    overflow: visible;
                    transform: translateX(-6%);
                }
                
                .slider-section .top-entry-new-reversed .top-entry .square-mask img {
                    border-radius: 100%;
                    border-top-right-radius: 0;
                    position: relative;
                }
                
            /* / NOT LOGGED */

            /* LOGGED  .isLogged */

               html body .slider-section .top-entry-new-reversed .top-entry.isLogged .scheda {
                   height: auto;
                   min-height: inherit;
                   max-height: inherit;
                   padding-bottom: 40px;
               }	

               html body .slider-section .top-entry-new-reversed .top-entry.isLogged .square-mask img {
                    border-radius: 100%;
                    border-top-right-radius: 0;
                    position: relative;
                }               
            /* / LOGGED */

                .top-entry-new-reversed .top-entry .scheda > [class^="col-"]:first-child {
                    max-width: 80%;
                    margin-top: 0%;
                    min-width: 50%;
                }
    }

    @media screen and (max-width: 768px) and ( orientation:landscape){ /* 48em */
        /* HP */
        html body .top-entry-new-reversed .top-entry .scheda h1, 
        html body .top-entry-new-reversed .top-entry .scheda .short-description {
            padding-right: 0;
            min-width: unset;
        }
        .top-entry-new-reversed .top-entry .h1{
            padding-top:4vh;
        }


        /* NOT LOGGED */
           .slider-section .top-entry-new-reversed .top-entry .scheda-spacer {
               max-height: 340px;
               min-height: 340px;
           }

           html body .slider-section .top-entry-new-reversed .top-entry .scheda {
                align-items: center;
                margin-top:0;
            }
            .slider-section .top-entry-new-reversed .top-entry .square-mask {
                top: 0%;
                max-width: 60%;
                min-width: 60%;
                left: -1%;
                transform: translateX(-5%);
            }
            
            
        /* / NOT LOGGED */

        /* LOGGED  .isLogged */

            html body .slider-section .top-entry-new-reversed .top-entry.isLogged .scheda {
                align-items: center;
                margin-top:0;
            }	

            .slider-section .top-entry-new-reversed .top-entry.isLogged .scheda-spacer {
               max-height: 340px;
               min-height: 340px;
           }

            .slider-section .top-entry-new-reversed .top-entry.isLogged .square-mask {
                top: 15px;
                max-width: 60%;
                min-width: 60%;
                left: -1%;
                transform: translateX(-5%);
            }
            
        /* / LOGGED */

            .top-entry-new-reversed .top-entry .scheda > [class^="col-"]:first-child {
                max-width: 53%;
                padding-top: 2rem !important;
            }
            .top-entry-new-reversed .top-entry .scheda > [class^="col-"]:first-child {
                max-width: 70%;
                margin-top: 0;
            }
    }


    @media screen and (max-width: 767px) and (orientation:portrait){ /*42.5em*/

        #hero-zone .top-entry-new-reversed h1 span{
            display: block;
        }

        html body #hero-zone .top-entry-new-reversed .top-entry .text-wrap{
           padding: 0;
           margin-left: 2rem;
           min-width: calc(100% - 4rem);
       }
        html body.isMobile:not(.is-scrolled):not(.is-scrolled-xs) header.main-header {
            background-color: rgba(255,255,255, 1);
            height: 60px;
            transition: all .5s ease;
        }
        html body .top-entry-new-reversed .top-entry .scheda h1, 
        html body .top-entry-new-reversed .top-entry .scheda .short-description {
            max-width: inherit!important;
            padding-right:0;
        }
        .top-entry-new-reversed .top-entry .scheda-spacer {
            pointer-events: none;
            visibility: hidden;
            width: 100vw;
            max-width: calc(100vw - 29%);
            max-height: 720px;
            min-height: 680px;
        }
        .top-entry-new-reversed .top-entry.isLogged .scheda-spacer {
            pointer-events: none;
            visibility: hidden;
            width: 100vw;
            max-width: calc(100vw - 29%);
            max-height: 720px;
            min-height: 680px;
        }
        /* HP */


            /* NOT LOGGED */

                .slider-section .top-entry-new-reversed .top-entry .scheda {
                    margin-bottom: 1rem;
                    justify-content: center;
                    flex-direction: column;
                    
                }
                .slider-section .top-entry-new-reversed .top-entry .square-mask {
                    top:0;
                    max-width: 83%;
                    min-width: 83%;
                    left: -1%;
                    transform: translateX(-5%);
                }               
                .slider-section .top-entry-new-reversed .top-entry .square-mask img {
                    top:0;
                }
                
            /* / NOT LOGGED */

            /* LOGGED  .isLogged */

                html body .slider-section .top-entry-new-reversed .top-entry.isLogged .scheda {
                    margin-bottom: 1rem;
                    align-items: flex-start;
                    flex-direction: column;
                    
                }	
                html body .slider-section .top-entry-new-reversed .top-entry.isLogged .square-mask {
                    top: 0;
                    max-width: 100%;
                    min-width: 100%;
                    left: -1%;
                    transform: translateX(-5%);
                }    
                .slider-section .top-entry-new-reversed .top-entry.isLogged .square-mask img {
                    top:0;
                }
                
            /* / LOGGED */

                .top-entry-new-reversed .top-entry .scheda > [class^="col-"]:first-child {
                    max-width: unset;
                    /* order:2;
                    flex:1; */
                }
                .top-entry-new-reversed .top-entry .scheda > [class^="col-"]:last-child {
                    /* order:1;
                    flex:1; */
                }
                html body #hero-zone .top-entry-new-reversed .top-entry .scheda p {
                    display: block;
                    max-width: unset!important;
                }
                .top-entry-new-reversed .fx-xs-align-items-center {
                    align-items: center; /* LEVARE DA CODEBASE */
                }
    }

    @media screen and (max-width: 767px) and (orientation:landscape){ /*42.5em*/
        html body.isMobile:not(.is-scrolled):not(.is-scrolled-xs) header.main-header {
            background-color: rgba(255,255,255, 1);
            height: 60px;
            transition: all .5s ease;
        }
    /* HP */
            html body .top-entry-new-reversed .top-entry .scheda h1, 
            html body .top-entry-new-reversed .top-entry .scheda .short-description {
                padding-right: 0;
                min-width: unset;
            }
            .top-entry-new-reversed .top-entry .h1{
                padding-top:4vh;
            }

            /* NOT LOGGED */
                .slider-section .top-entry-new-reversed .top-entry .scheda {
                   margin-top: 0;
                   height: auto;
                   min-width: unset;
                   max-height: unset;
                   min-height: unset;
                }
                html body .slider-section .top-entry-new-reversed .top-entry .square-mask{
                    top:15px;
                }
                
                
            /* / NOT LOGGED */

            /* LOGGED  .isLogged */

                html body .slider-section .top-entry-new-reversed .top-entry.isLogged .scheda {
                   margin-top: 0;
                   height: auto;
                   min-width: unset;
                   max-height: unset;
                   min-height: unset;
                }	
                html body .slider-section .top-entry-new-reversed .top-entry .square-mask{
                   top:15px;
               }
                
            /* / LOGGED */

                .top-entry-new-reversed .top-entry .scheda > [class^="col-"]:first-child {
                    max-width: 53%;
                    padding-top: 2rem !important;
                }
                .top-entry-new-reversed .top-entry .scheda > [class^="col-"]:first-child {
                    max-width: 70%;
                    margin-top: 0;
                }
    }


    @media screen and (max-width: 680px) and (orientation:portrait){ /*42.5em*/

        html body.isMobile:not(.is-scrolled):not(.is-scrolled-xs) header.main-header {
            background-color: rgba(255,255,255, 1);
            height: 60px;
            transition: all .5s ease;
        }
        html body .top-entry-new-reversed .top-entry .scheda h1, 
        html body .top-entry-new-reversed .top-entry .scheda .short-description {
            max-width: inherit!important;
            padding-right:0;
        }
        /* HP */
            /* NOT LOGGED */

               .slider-section .top-entry-new-reversed .top-entry .scheda-spacer {
                    pointer-events: none;
                    visibility: hidden;
                    width: 100vw;
                    max-width: calc(100vw - 40%);
                    max-height: 620px;
                    min-height: 620px;
                }

                .slider-section .top-entry-new-reversed .top-entry .scheda {
                    margin-bottom: 1rem;
                    justify-content: center;
                    flex-direction: column;
                     
                }
                html body .slider-section .top-entry-new-reversed .top-entry .square-mask {
                   top: 15px;
                   max-width: 100%;
                   min-width: 100%;
                   left: -1%;
                   right: unset;
                   transform: translateX(-5%);
               }  

                .slider-section .top-entry-new-reversed .top-entry .square-mask img {
                    top:0;
                }
                
            /* / NOT LOGGED */

            /* LOGGED  .isLogged */

                html body .slider-section .top-entry-new-reversed .top-entry.isLogged .scheda {
                    margin-bottom: 1rem;
                    align-items: flex-start;
                    flex-direction: column;
                    
                }	
                .slider-section .top-entry-new-reversed .top-entry.isLogged .scheda-spacer {
                   pointer-events: none;
                   visibility: hidden;
                   width: 100vw;
                   max-width: calc(100vw - 40%);
                   max-height: 620px;
                   min-height: 620px;
               }
               html body .slider-section .top-entry-new-reversed .top-entry.isLogged .square-mask {
                   top: 15px;
                   max-width: 100%;
                   min-width: 100%;
                   left: -1%;
                   right: unset;
                   transform: translateX(-5%);
               } 
                .slider-section .top-entry-new-reversed .top-entry.isLogged .square-mask img {
                    top:0;
                }
                
            /* / LOGGED */

                .top-entry-new-reversed .top-entry .scheda > [class^="col-"]:first-child {
                    max-width: unset;
                    /* order:2;
                    flex:1; */
                }
                .top-entry-new-reversed .top-entry .scheda > [class^="col-"]:last-child {
                    /* order:1;
                    flex:1; */
                } 
                html body #hero-zone .top-entry-new-reversed .top-entry .scheda p {
                    display: block;
                    max-width: unset!important;
                }
                .top-entry-new-reversed .fx-xs-align-items-center {
                    align-items: center; /* LEVARE DA CODEBASE */
                }
    }

    @media screen and (max-width: 680px) and (orientation:landscape){ /*42.5em*/

    /* HP */
            html body .top-entry-new-reversed .top-entry .scheda h1, 
            html body .top-entry-new-reversed .top-entry .scheda .short-description {
                padding-right: 0;
                min-width: unset;
            }
            html body .top-entry-new-reversed .top-entry .scheda .short-description p{
                font-size:1.3rem !important;
            }
            
            
            .top-entry-new-reversed .top-entry .h1{
                padding-top:4vh;
            }

            /* NOT LOGGED */

                .slider-section .top-entry-new-reversed .top-entry .scheda {
                    align-items: center;
                }
                html body .slider-section .top-entry-new-reversed .top-entry .square-mask {
                   top: 15px;
                   max-width: 45%;
                   min-width: 45%;
                   left: -1%;
                   right: unset;
                   transform: translateX(-5%);
               } 
                
                .slider-section .top-entry-new-reversed .top-entry .square-mask img{
                }
                
            /* / NOT LOGGED */

            /* LOGGED  .isLogged */
                html body .slider-section .top-entry-new-reversed .top-entry.isLogged .scheda {
                    height: calc(100vh);
                    min-height: calc(100vh);
                    align-items: center;
                }	
                html body .slider-section .top-entry-new-reversed .top-entry.isLogged .square-mask {
                   top: 15px;
                   max-width: 45%;
                   min-width: 45%;
                   left: -1%;
                   right: unset;
                   transform: translateX(-5%);
               } 
                .slider-section .top-entry-new-reversed .top-entry.isLogged .square-mask img{
                }
                
            /* / LOGGED */

                .top-entry-new-reversed .top-entry .scheda > [class^="col-"]:first-child {
                    max-width: 55%;
                    padding-top: 2rem !important;
                }
                .top-entry-new-reversed .top-entry .scheda > [class^="col-"]:last-child {
                    min-width: 55%;
                    margin-top: 0;
                }
    }


    @media screen and (max-width: 520px) and (orientation:portrait){ /*42.5em*/

        html body.isMobile:not(.is-scrolled):not(.is-scrolled-xs) header.main-header {
            background-color: rgba(255,255,255, 1);
            height: 60px;
            transition: all .5s ease;
        }
        html body .top-entry-new-reversed .top-entry .scheda h1, 
        html body .top-entry-new-reversed .top-entry .scheda .short-description {
            max-width: inherit!important;
            padding-right:0;
        }
        /* HP */
            /* NOT LOGGED */

               html body .slider-section .top-entry-new-reversed .top-entry .scheda-spacer {
                    pointer-events: none;
                    visibility: hidden;
                    width: 100vw;
                    max-width: calc(100vw - 40%);
                    max-height: 520px;
                    min-height: 480px;
                }
                
                html body .slider-section .top-entry-new-reversed .top-entry.isLogged .scheda-spacer {
                    pointer-events: none;
                    visibility: hidden;
                    width: 100vw;
                    max-width: calc(100vw - 40%);
                    max-height: 520px;
                    min-height: 480px;

                }
                html body .slider-section .top-entry-new-reversed .top-entry .scheda {
                    justify-content: center;
                    flex-direction: column;
                    
                }
                html body .slider-section .top-entry-new-reversed .top-entry .square-mask {
                    top:0;
                    max-width: 100vw;
                    min-width: 100vw;
                    left: -1%;
                    transform: translateX(-5%);
                }               
                html body .slider-section .top-entry-new-reversed .top-entry .square-mask img {
                    top:0;
                }
                
            /* / NOT LOGGED */

            /* LOGGED  .isLogged */

                html body .slider-section .top-entry-new-reversed .top-entry.isLogged .scheda {
                    justify-content: center;
                    flex-direction: column;
                    
                }	
                html body .slider-section .top-entry-new-reversed .top-entry.isLogged .square-mask {
                    top:15px;
                    max-width: 100vw;
                    min-width: 100vw;
                    left: -1%;
                    transform: translateX(-5%);
                }    
                html body .slider-section .top-entry-new-reversed .top-entry.isLogged .square-mask img {
                    top:0;
                }
                
            /* / LOGGED */

                .top-entry-new-reversed .top-entry .scheda > [class^="col-"]:first-child {
                    max-width: unset;
                    /* order:2;
                    flex:1; */
                }
                .top-entry-new-reversed .top-entry .scheda > [class^="col-"]:last-child {
                    /* order:1;
                    flex:1; */
                }
                html body #hero-zone .top-entry-new-reversed .top-entry .scheda p {
                    display: block;
                    max-width: unset!important;
                }
                .top-entry-new-reversed .fx-xs-align-items-center {
                    align-items: center; /* LEVARE DA CODEBASE */
                }
    }

    @media screen and (max-width: 520px) and (orientation:landscape){ /*42.5em*/

    /* HP */
            html body .top-entry-new-reversed .top-entry .scheda h1, 
            html body .top-entry-new-reversed .top-entry .scheda .short-description {
                padding-right: 0;
                min-width: unset;
            }
            .top-entry-new-reversed .top-entry .h1{
                padding-top:4vh;
            }

            /* NOT LOGGED */

                .slider-section .top-entry-new-reversed .top-entry .scheda {
                    height: calc(100vh);
                    min-height: calc(100vh) !important;
                    align-items: center;
                }
                .slider-section .top-entry-new-reversed .top-entry .square-mask {

                }
                
                .slider-section .top-entry-new-reversed .top-entry .square-mask img{
                    max-width: 61vw;
                    min-width: 60vw;
                    left: calc(40vw + 25px);
                }
                
            /* / NOT LOGGED */

            /* LOGGED  .isLogged */

                html body .slider-section .top-entry-new-reversed .top-entry.isLogged .scheda {
                    height: calc(100vh);
                    min-height: calc(100vh) !important;
                    align-items: center;
                }	
                .slider-section .top-entry-new-reversed .top-entry.isLogged .square-mask img{
                    max-width: 61vw;
                    min-width: 60vw;
                    left: calc(40vw + 25px);
                }
                
            /* / LOGGED */

                .top-entry-new-reversed .top-entry .scheda > [class^="col-"]:first-child {
                    max-width: 53%;
                    padding-top: 2rem !important;
                }
                .top-entry-new-reversed .top-entry .scheda > [class^="col-"]:first-child {
                    max-width: 70%;
                    margin-top: 0;
                }
    }

    @media screen and (max-width: 470px) and (orientation:portrait){ /*42.5em*/

       html body.isMobile:not(.is-scrolled):not(.is-scrolled-xs) header.main-header {
           background-color: rgba(255,255,255, 1);
           height: 60px;
           transition: all .5s ease;
       }
       html body .top-entry-new-reversed .top-entry .scheda h1, 
       html body .top-entry-new-reversed .top-entry .scheda .short-description {
           max-width: inherit!important;
           padding-right:0;
       }
       /* HP */
           /* NOT LOGGED */

              html body .slider-section .top-entry-new-reversed .top-entry .scheda-spacer {
                   pointer-events: none;
                   visibility: hidden;
                   width: 100vw;
                   max-width: calc(100vw - 40%);
                   max-height: 520px;
                   min-height: 430px;
               }
               
               html body .slider-section .top-entry-new-reversed .top-entry.isLogged .scheda-spacer {
                   pointer-events: none;
                   visibility: hidden;
                   width: 100vw;
                   max-width: calc(100vw - 40%);
                   max-height: 520px;
                   min-height: 430px;

               }
               html body .slider-section .top-entry-new-reversed .top-entry .scheda {
                   justify-content: center;
                   flex-direction: column;
                   
               }
               html body .slider-section .top-entry-new-reversed .top-entry .square-mask {
                   top:0;
                   max-width: 97vw;
                   min-width: 97vw;
                   left: -1%;
                   transform: translateX(-5%);
               }               
               html body .slider-section .top-entry-new-reversed .top-entry .square-mask img {
                   top:0;
               }
               
           /* / NOT LOGGED */

           /* LOGGED  .isLogged */

               html body .slider-section .top-entry-new-reversed .top-entry.isLogged .scheda {
                   justify-content: center;
                   flex-direction: column;
                   
               }	
               html body .slider-section .top-entry-new-reversed .top-entry.isLogged .square-mask {
                   top:15px;
                   max-width: 97vw;
                   min-width: 97vw;
                   left: -1%;
                   transform: translateX(-5%);
               }    
               html body .slider-section .top-entry-new-reversed .top-entry.isLogged .square-mask img {
                   top:0;
               }
               
           /* / LOGGED */

               .top-entry-new-reversed .top-entry .scheda > [class^="col-"]:first-child {
                   max-width: unset;
                   /* order:2;
                   flex:1; */
               }
               .top-entry-new-reversed .top-entry .scheda > [class^="col-"]:last-child {
                   /* order:1;
                   flex:1; */
               }
               html body #hero-zone .top-entry-new-reversed .top-entry .scheda p {
                   display: block;
                   max-width: unset!important;
               }
               .top-entry-new-reversed .fx-xs-align-items-center {
                   align-items: center; /* LEVARE DA CODEBASE */
               }
   }

   @media screen and (max-width: 470px) and (orientation:landscape){ /*42.5em*/

   /* HP */
           html body .top-entry-new-reversed .top-entry .scheda h1, 
           html body .top-entry-new-reversed .top-entry .scheda .short-description {
               padding-right: 0;
               min-width: unset;
           }
           .top-entry-new-reversed .top-entry .h1{
               padding-top:4vh;
           }

           /* NOT LOGGED */

               .slider-section .top-entry-new-reversed .top-entry .scheda {
                   height: calc(100vh);
                   min-height: calc(100vh) !important;
                   align-items: center;
               }
               .slider-section .top-entry-new-reversed .top-entry .square-mask {

               }
               
               .slider-section .top-entry-new-reversed .top-entry .square-mask img{
                   max-width: 61vw;
                   min-width: 60vw;
                   left: calc(40vw + 25px);
               }
               
           /* / NOT LOGGED */

           /* LOGGED  .isLogged */

               html body .slider-section .top-entry-new-reversed .top-entry.isLogged .scheda {
                   height: calc(100vh);
                   min-height: calc(100vh) !important;
                   align-items: center;
               }	
               .slider-section .top-entry-new-reversed .top-entry.isLogged .square-mask img{
                   max-width: 61vw;
                   min-width: 60vw;
                   left: calc(40vw + 25px);
               }
               
           /* / LOGGED */

               .top-entry-new-reversed .top-entry .scheda > [class^="col-"]:first-child {
                   max-width: 53%;
                   padding-top: 2rem !important;
               }
               .top-entry-new-reversed .top-entry .scheda > [class^="col-"]:first-child {
                   max-width: 70%;
                   margin-top: 0;
               }
   }

    @media screen and (max-width: 380px) and (orientation:portrait){ /*42.5em*/

        html body.isMobile:not(.is-scrolled):not(.is-scrolled-xs) header.main-header {
            background-color: rgba(255,255,255, 1);
            height: 60px;
            transition: all .5s ease;
        }
        html body .top-entry-new-reversed .top-entry .scheda h1, 
        html body .top-entry-new-reversed .top-entry .scheda .short-description {
            max-width: inherit!important;
        }
        html body .top-entry-new-reversed .top-entry .scheda .short-description {
        }
        /* HP */
            /* NOT LOGGED */

               html body .slider-section .top-entry-new-reversed .top-entry .scheda-spacer {
                    pointer-events: none;
                    visibility: hidden;
                    width: 100vw;
                    max-width: calc(100vw - 40%);
                    max-height: 420px;
                    min-height: 400px;
                }
                html body .slider-section .top-entry-new-reversed .top-entry.isLogged .scheda-spacer{
                    pointer-events: none;
                    visibility: hidden;
                    width: 100vw;
                    max-width: calc(100vw - 40%);
                    max-height: 420px;
                    min-height: 400px;
                }

                html body .slider-section .top-entry-new-reversed .top-entry .scheda {
                    margin-bottom: 0;
                    justify-content: center;
                    flex-direction: column;
                    
                }
                html body .slider-section .top-entry-new-reversed .top-entry .square-mask {
                    top:15px;
                    max-width: 100vw;
                    min-width: 100vw;
                    left: -1%;
                    transform: translateX(-5%);
                }               
                html body .slider-section .top-entry-new-reversed .top-entry .square-mask img {
                    top:0;
                }
                
            /* / NOT LOGGED */

            /* LOGGED  .isLogged */

                html body .slider-section .top-entry-new-reversed .top-entry.isLogged .scheda {
                    margin-bottom: 0;
                    justify-content: center;
                    flex-direction: column; 
                }	
                html body .slider-section .top-entry-new-reversed .top-entry.isLogged .square-mask {
                    top:15px;
                }    
                html body .slider-section .top-entry-new-reversed .top-entry.isLogged .square-mask img {
                    top:0;
                }
                
            /* / LOGGED */

               html body .top-entry-new-reversed .top-entry .scheda > [class^="col-"]:first-child {
                    max-width: unset;
                    /* order:2;
                    flex:1; */
                }
                html body .top-entry-new-reversed .top-entry .scheda > [class^="col-"]:last-child {
                    /* order:1;
                    flex:1; */
                }
                html body #hero-zone .top-entry-new-reversed .top-entry .scheda p {
                    display: block;
                    max-width: unset!important;
                }
                html body .top-entry-new-reversed .fx-xs-align-items-center {
                    align-items: center; /* LEVARE DA CODEBASE */
                }
    }

    @media screen and (max-width: 380px) and (orientation:landscape){ /*42.5em*/

    /* HP */
            html body .top-entry-new-reversed .top-entry .scheda h1, 
            html body .top-entry-new-reversed .top-entry .scheda .short-description {
                padding-right: 0;
                min-width: unset;
            }
            .top-entry-new-reversed .top-entry .h1{
                padding-top:4vh;
            }

            /* NOT LOGGED */

                .slider-section .top-entry-new-reversed .top-entry .scheda {
                    height: calc(100vh);
                    min-height: calc(100vh) !important;
                    align-items: center;
                }
                .slider-section .top-entry-new-reversed .top-entry .square-mask {

                }
                
                .slider-section .top-entry-new-reversed .top-entry .square-mask img{
                    max-width: 61vw;
                    min-width: 60vw;
                    left: calc(40vw + 25px);
                }
                
            /* / NOT LOGGED */

            /* LOGGED  .isLogged */

                html body .slider-section .top-entry-new-reversed .top-entry.isLogged .scheda {
                    height: calc(100vh);
                    min-height: calc(100vh) !important;
                    align-items: center;
                }	
                .slider-section .top-entry-new-reversed .top-entry.isLogged .square-mask img{
                    max-width: 61vw;
                    min-width: 60vw;
                    left: calc(40vw + 25px);
                }
                
            /* / LOGGED */

                .top-entry-new-reversed .top-entry .scheda > [class^="col-"]:first-child {
                    max-width: 53%;
                    padding-top: 2rem !important;
                }
                .top-entry-new-reversed .top-entry .scheda > [class^="col-"]:first-child {
                    max-width: 70%;
                    margin-top: 0;
                }
    }
    @media screen and (max-width: 340px) and (orientation:portrait){ /*42.5em*/

        html body.isMobile:not(.is-scrolled):not(.is-scrolled-xs) header.main-header {
            background-color: rgba(255,255,255, 1);
            height: 60px;
            transition: all .5s ease;
        }
        html body .top-entry-new-reversed .top-entry .scheda h1, 
        html body .top-entry-new-reversed .top-entry .scheda .short-description {
            max-width: inherit!important;
        }
        html body .top-entry-new-reversed .top-entry .scheda .short-description {
            padding-right: 0 !important;
        }
        /* HP */
            /* NOT LOGGED */

               .slider-section .top-entry-new-reversed .top-entry .scheda-spacer {
                    pointer-events: none;
                    visibility: hidden;
                    width: 100vw;
                    max-width: calc(100vw - 40%);
                    max-height: 620px;
                    min-height: 280px;
                }

                .slider-section .top-entry-new-reversed .top-entry .scheda {
                    margin-bottom: 0;
                    justify-content: center;
                    flex-direction: column;
                    
                }
                .slider-section .top-entry-new-reversed .top-entry .square-mask {
                    top:15px;
                    max-width: 100vw;
                    min-width: 100vw;
                    left: -1%;
                    transform: translateX(-5%);
                }               
                .slider-section .top-entry-new-reversed .top-entry .square-mask img {
                    top:0;
                }
                
            /* / NOT LOGGED */

            /* LOGGED  .isLogged */

                html body .slider-section .top-entry-new-reversed .top-entry.isLogged .scheda {
                    margin-bottom: 0;
                    justify-content: center;
                    flex-direction: column;
                    
                }	
                .slider-section .top-entry-new-reversed .top-entry.isLogged .square-mask {
                    top:15px;
                }    
                .slider-section .top-entry-new-reversed .top-entry.isLogged .square-mask img {
                    top:0;
                }
                
            /* / LOGGED */

                .top-entry-new-reversed .top-entry .scheda > [class^="col-"]:first-child {
                    max-width: unset;
                    /* order:2;
                    flex:1; */
                }
                .top-entry-new-reversed .top-entry .scheda > [class^="col-"]:last-child {
                    /* order:1;
                    flex:1; */
                }
                html body #hero-zone .top-entry-new-reversed .top-entry .scheda p {
                    display: block;
                    max-width: unset!important;
                }
                .top-entry-new-reversed .fx-xs-align-items-center {
                    align-items: center; /* LEVARE DA CODEBASE */
                }
    }
    
    @media screen and (max-width:340px) and (orientation:portrait){
       html body .slider-section .top-entry-new-reversed .top-entry .scheda-spacer,
       html body .slider-section .top-entry-new-reversed .top-entry.isLogged .scheda-spacer {
            max-height: 360px;
            min-height: 360px;
       }
    }


    @media screen and (min-width: 768px) {
        .top-entry-new-reversed .text-wrap {
            margin-left: 0px !important;
        }
    }

