@font-face {
  font-family: 'windicons';
  src:
    url('fonts/windicons.ttf?xd0h6d') format('truetype'),
    url('fonts/windicons.woff?xd0h6d') format('woff'),
    url('fonts/windicons.svg?xd0h6d#windicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="windicon-"], [class*=" windicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'windicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.windicon-dots-horizontal:before {
  content: "\e921";
}
.windicon-cog:before {
  content: "\e91c";
}
.windicon-share:before {
  content: "\e91d";
}
.windicon-star:before {
  content: "\e91e";
}
.windicon-thumbs-up:before {
  content: "\e91f";
}
.windicon-download:before {
  content: "\e920";
}
.windicon-breaking-news:before {
  content: "\e91a";
}
.windicon-close:before {
  content: "\e91b";
}
.windicon-contenuti-urgenti-part-01:before {
  content: "\e918";
}
.windicon-contenuti-urgenti-part-02:before {
  content: "\e919";
}
.windicon-cliente-nuovo-part-01:before {
  content: "\e90c";
}
.windicon-cliente-nuovo-part-02:before {
  content: "\e90d";
}
.windicon-cliente-part-01:before {
  content: "\e90e";
}
.windicon-cliente-part-02:before {
  content: "\e90f";
}
.windicon-community-part-01:before {
  content: "\e910";
}
.windicon-community-part-02:before {
  content: "\e911";
}
.windicon-news-part-01:before {
  content: "\e912";
}
.windicon-news-part-02:before {
  content: "\e913";
}
.windicon-strumenti-part-01:before {
  content: "\e914";
}
.windicon-strumenti-part-02:before {
  content: "\e915";
}
.windicon-terminali-part-01:before {
  content: "\e916";
}
.windicon-terminali-part-02:before {
  content: "\e917";
}
.windicon-arrow-bottom:before {
  content: "\e908";
}
.windicon-arrow-left:before {
  content: "\e909";
}
.windicon-arrow-right:before {
  content: "\e90a";
}
.windicon-arrow-top:before {
  content: "\e90b";
}
.windicon-cliente-nuovo:before {
  content: "\e900";
}
.windicon-cliente:before {
  content: "\e901";
}
.windicon-community:before {
  content: "\e902";
}
.windicon-news:before {
  content: "\e903";
}
.windicon-search:before {
  content: "\e904";
}
.windicon-strumenti:before {
  content: "\e905";
}
.windicon-terminali:before {
  content: "\e906";
}
.windicon-user-badge:before {
  content: "\e907";
}
