/* Component basic layout rules */
	
#ContentDetailElements {
	position:relative;
	z-index:10;
	
}
.ttcomponent-contentDetail .content-description h2{
	font-family:'Montserrat', sans-serif; 
	font-weight:300;
	line-height:1;
	margin:0;
	padding:0;
	width:100%; 
}
.ttcomponent-contentDetail .content-description h3{
	font-family:'Montserrat', sans-serif;
	font-size:1.5em;
	font-weight:300;
	line-height:1.3;
	margin:1em 0 0;
	padding:0;
}
.wrapwidg.ttcomponent-contentDetail{
	min-height: 250px;
	padding-top: 2.5rem;
	padding-bottom: 2rem;
}

.content_details .actions { text-align:left;}
.content_details .actions > div > span,
.content_details .actions > div > a > span{
	display:inline-block;
	padding: .25rem 0; 
}
.content_details .actions-elements { text-align:center;}
.content_details .actions-elements button.btn:not(.btn-default) { background:none; }
.content_details .editing button.btn { background:none;}
