@media (max-width: 1200px){
	
}
@media (max-width: 1024px){
	.content_details .actions-elements {
		text-align:left;
	}
	.wrapwidg.ttcomponent-contentDetail {
		padding-top: 1rem;
	}
}

@media (max-width: 767px){
	
}