/* Component style rules */

/* .col-md-1.actions:before { */
/*     content: ''; */
/*     display: block; */
/*     position: absolute; */
/*     top: 0; */
/*     left: -1rem; */
/*     width: 5px; */
/*     height: 100%; */
/*     background: rgba(58,135,208, 1); */
/* } */