:root{ 
    /* Tavolozza corporate */
    --White-bg-color: #ffffff;
	--White-text-color: #ffffff;
	
	--Color01-bg-color:#FAF7F5;
	--Color01-text-color:#FAF7F5;

    --Kummel-Light-bg-color:#F6F0EB;

	--Kummel-bg-color: #A1330A; 
    --Kummel-text-color: #A1330A; 

    --Valsesia-bg-color: #237E74;
    --Valsesia-text-color:#237E74 ;

    --GreyDark-bg-color: #4A4A4A;
    --GreyDark-text-color: #4A4A4A;

	--disabled-color: #d1d1d1;
	--grey-color:#ccc;
	--dark-grey-color:#333;
    
    --loroPiana-font-base: 'Lato', sans-serif;
	
    font-size:16px;
}

body {
    font-family: var(--loroPiana-font-base);
    background-color: var(--Kummel-Light-bg-color);  
}






.cover-image {
    position: relative;
}
.cover-image.overlap-left {
    transform: translateX(-20%);
    width:120%;
}


/* CUSTOM CONTAINER */
    /* Custom container for slick */
    .container-custom {
        padding-left: 0;
        padding-right: 0;
      }

      @media (min-width:375px){
        .container-custom {
          margin-right: 0;
          margin-left: calc(50vw - 170px);
        }
      }  
      @media (min-width:576px){
        .container-custom {
          margin-right: 0;
          margin-left: calc(50vw - 270px);
        }
      }
  
      @media (min-width:768px){
        .container-custom {
          margin-right: 0;
          margin-left: calc(50vw - 360px);
        }
      }
  
      @media (min-width:992px){
        .container-custom {
          margin-right: 0;
          margin-left: calc(50vw - 480px);
        }
      }
  
      @media (min-width:1200px){
        .container-custom {
          margin-right: 0;
          margin-left: calc(50vw - 570px);
        }
      }

/* PAPER EFFECTS */
.strappato-white-01 {
    position:relative;
    background-color: var(--White-bg-color);
    overflow: visible;
}
.strappato-white-01:before {   
    content: '';
    display: block; 
    background-image: url(images/strappato-white-01.svg);
    background-color: var(--Kummel-Light-bg-color);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    height:1rem;
}
.strappato-white-01:after {   
    content: '';
    display: block; 
    background-image: url(images/strappato-white-01.svg);
    background-color: var(--Kummel-Light-bg-color);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height:1rem;
}

/* text colors */
	.c-kummel {color: var(--Kummel-text-color)}


/* WIDTH & HEIGHT */
    .w-100 { width:100%;}
    .h-100 { height:100%;}

    /* POSITIONS */
    .p-relative{ position: relative!important;}
    .p-absolute{ position: absolute!important;}
    .p-static{ position: static!important;}


/* CUSTOM MARGINS  */

	html body .custom-margin-10 { margin:10px;}
	html body .m-0 { margin:0!important;}
	html body .mt-0 { margin-top:0!important;}
	html body .mr-0 { margin-right:0!important;}
	html body .mb-0 { margin-bottom:0!important;}
	html body .ml-0 { margin-left:0!important;}

	html body .m-0_5 { margin:.5rem!important;}
	html body .m-1 { margin:1rem!important;}
	html body .m-2 { margin:2rem!important;}
	html body .m-3 { margin:3rem!important;}

	html body .m-0_5 { margin:.5rem!important;}
	html body .m-1 { margin:1rem!important;}
	html body .m-1_5 { margin:1.5rem!important;}
	html body .m-2 { margin:2rem!important;}
	html body .m-2_5 { margin:2.5rem!important;}
	html body .m-3 { margin:3rem!important;}

	html body .ml-0_5 { margin-left:.5rem!important;}
	html body .ml-0_5 {margin-left:-.5rem!important;}
	html body .ml-1 { margin-left:1rem!important;}
	html body .ml-1_5 { margin-left:1.5rem!important;}
	html body .ml-2 { margin-left:2rem!important;}
	html body .ml-2_5 { margin-left:2.5rem!important;}
	html body .ml-3 { margin-left:3rem!important;}

	html body .mt-0_5 { margin-top:.5rem!important;}
	html body .mt-1 { margin-top:1rem!important;}
	html body .pt-1_5 { margin-top:1.5rem!important;}
	html body .mt-2 { margin-top:2rem!important;}
	html body .mt-2_5 { margin-top:2.5rem!important;}
	html body .mt-3 { margin-top:3rem!important;}

	html body .mr-0_5 { margin-right:.5rem!important;}
	html body .mr-1 { margin-right:1rem!important;}
	html body .mr-1_5 { margin-right:1.5rem!important;}
	html body .mr-2 { margin-right:2rem!important;}
	html body .mr-2_5 { margin-right:2.5rem!important;}
	html body .mr-3 { margin-right:3rem!important;}

	html body .mb-0_5 { margin-bottom:.5rem!important;}
	html body .mb-1 { margin-bottom:1rem!important;}
	html body .mb-1_5 { margin-bottom:1.5rem;}
	html body .mb-2 { margin-bottom:2rem!important;}
	html body .mb-2_5 { margin-bottom:2.5rem!important;}
	html body .mb-3 { margin-bottom:3rem!important;}


	/* CUSTOM PADDINGS */
	html body .p-0 { padding:0!important;}
	html body .pt-0 {padding-top:0!important;}
	html body .pr-0 {padding-right:0!important;}
	html body .pb-0 {padding-bottom:0!important;}
	html body .pl-0 {padding-left:0!important;}

	html body .p-0_5 { padding:.5rem!important;}
	html body .p-1 { padding:1rem!important;}
	html body .p-1_5 { padding:1.5rem!important;}
	html body .p-2 { padding:2rem!important;}
	html body .p-2_5 { padding:2.5rem!important;}
	html body .p-3 { padding:3rem!important;}

	html body .pl-0_5 { padding-left:.5rem!important;}
	html body .pl-1 { padding-left:1rem!important;}
	html body .pl-1_5 { padding-left:1.5rem!important;}
	html body .pl-2 { padding-left:2rem!important;}
	html body .pl-2_5 { padding-left:2.5rem!important;}
	html body .pl-3 { padding-left:3rem!important;}

	html body .pt-0_5 { padding-top:.5rem!important;}
	html body .pt-1 { padding-top:1rem!important;}
	html body .pt-1_5 { padding-top:1.5rem!important;}
	html body .pt-2 { padding-top:2rem!important;}
	html body .pt-2_5 { padding-top:2.5rem!important;}
	html body .pt-3 { padding-top:3rem!important;}

	html body .pr-0_5 { padding-right:.5rem!important;}
	html body .pr-1 { padding-right:1rem!important;}
	html body .pr-1_5 { padding-right:1.5rem!important;}
	html body .pr-2 { padding-right:2rem!important;}
	html body .pr-2_5 { padding-right:2.5rem!important;}
	html body .pr-3 { padding-right:3rem!important;}

	html body .pb-0_5 { padding-bottom:.5rem!important;}
	html body .pb-1 { padding-bottom:1rem!important;}
	html body .pb-1_5 { padding-bottom:1.5rem!important;}
	html body .pb-2 { padding-bottom:2rem!important;}
	html body .pb-2_5 { padding-bottom:2.5rem!important;}
	html body .pb-3 { padding-bottom:3rem!important;}



/* LETTER-SPACING -HELPER */
    .ls-1 {
        letter-spacing: 1px;
    }
    .ls-2 {
        letter-spacing: 2px;
    }  
/* FONT-WEIGHT-HELPER */

	.fw-bold{
		font-family:var(--loroPiana-font-base);
		font-weight:700;
	}
	.fw-light{
		font-family:var(--loroPiana-font-base);
		font-weight: 300;
	}
	.fw-regular{
		font-family:var(--loroPiana-font-base);
		font-weight: 400
	}
	.fw-black{
		font-family:var(--loroPiana-font-base);
		font-weight: 900
	}


/* FONT-SIZE-HELPER */

	.fz-750, .fz-750 p {
		font-size: .750rem!important;
	}
	 .fz-850, .fz-850 p {
		font-size: .850rem!important;
	}
	 .fz-950, .fz-950 p {
		font-size: .950rem!important;
	}
	 .fz-8 {
		font-size: 0.5rem!important;
	}
	 .fz-9 {
		font-size: 0.5625rem!important;
	}
	 .fz-10 {
		font-size: 0.6875rem!important;
	}
	 .fz-11 {
		font-size: 0.6875rem!important;
	}
	 .fz-12 {
		font-size: 0.75rem!important;
	}
	 .fz-13 {
		font-size: 0.8125rem!important;
	}
	 .fz-14 {
		font-size: 0.875rem!important;
	}
	 .fz-15 {
		font-size: 0.9375rem!important;
	}
	 .fz-16 {
		font-size: 1rem!important;
	}
	 .fz-17 {
		font-size: 1.0625rem!important;
	}
	 .fz-18 {
		/* font-size: 1.125rem;
		*/
		font-size: 1.125rem!important;
	}
	 .fz-19 {
		/* font-size: 1.1875rem;
		*/
		font-size: 1.1875rem!important;
	}
	 .fz-20 {
		/* font-size: 20px;
		*/
		font-size: 1.250rem!important;
	}
	 .fz-22 {
		/*
		/* font-size: 22px;
		*/
		font-size: 1.375rem!important;
	}
	 .fz-24 {
		/* font-size: 24px*/
		font-size: 1.500rem!important;
	}
	 .fz-26 {
		/*font-size: 26px;
		*/
		font-size: 1.625rem!important;
	}
	 .fz-27 {
		/*font-size: 27px;
		*/
		font-size: 1.6875rem!important;
	}
	 .fz-28 {
		/* font-size: 28px;
		*/
		font-size: 1.750rem!important;
	}
	 .fz-30 {
		/*font-size: 30px;
		*/
		font-size: 1.875rem!important;
	}
	 .fz-32 {
		/*font-size: 32px;
		*/
		font-size: 2.000rem!important;
	}

	 .fz-34 {
		/* font-size: 34px;
		*/
		font-size: 2.125rem!important;
	}
	 .fz-36 {
		/*font-size: 36px;
		*/
		font-size: 2.250rem!important;
	}
	 .fz-38 {
		/*font-size: 38px;
		*/
		font-size: 2.375rem!important;
	}
	 .fz-40 {
		/*font-size: 40px;
		*/
		font-size: 2.500rem!important;
	}
	 .fz-42 {
		/*font-size: 42px;
		*/
		font-size: 2.625rem!important;
	}
	 .fz-44 {
		/*font-size: 44px;
		*/
		font-size: 2.750rem!important;
	}
	 .fz-46 {
		/*font-size: 46px;
		*/
		font-size: 2.875rem!important;
	}
	 .fz-48 {
		/*font-size: 48px;
		*/
		font-size: 3.000rem!important;
	}
	 .fz-50 {
		/* font-size: 50px;
		*/
		font-size: 3.125rem!important;
	}
	 .fz-56 {
		/* font-size: 56px;
		*/
		font-size: 3.5rem!important;
	}
	 .fz-60 {
		/* font-size: 60px;
		*/
		font-size: 3.750rem!important;
	}
	 .fz-64 {
		/* font-size: 64px;
		*/
		font-size: 4.250rem!important;
	}
	 .fz-70 {
		/* font-size: 70px;
		*/
		font-size: 4.375rem!important;
	}
	.fz-80 {
		/* font-size: 80px;
		*/
		font-size: 5rem!important;
	}

/* IMAGES DATA-POSITION */

[data-position="left-center"] {
	background-position: left center!important;
}
[data-position="left-bottom"] {
	background-position: left bottom!important;
}
[data-position="right-top"] {
	background-position: right top!important;
}
[data-position="right-center"] {
	background-position: right center!important;
}
[data-position="right-bottom"] {
	background-position: right bottom!important;
}

[data-position="center-top"] {
	background-position:top center!important;
}
[data-position="default-image-position"], [data-position="center-center"], [data-current-view="original"] [data-position] {
	background-position:center center!important;
}
[data-position="center-bottom"] {
	background-position:center bottom!important;
}


		
/* RESPONSIVE */

@media (max-width: 768px){


/* RESIZE FONTS */

	.fz-30 {
		/*font-size: 30px;
		*/
		font-size: calc(1.875rem - .70rem)!important;
	}
	 .fz-32 {
		/*font-size: 32px;
		*/
		font-size: calc(2.000rem - .70rem)!important;
	}

	 .fz-34 {
		/* font-size: 34px;
		*/
		font-size: calc(2.125rem - .70rem)!important;
	}
	 .fz-36 {
		/*font-size: 36px;
		*/
		font-size: calc(2.250rem - .70rem)!important;
	}
	 .fz-38 {
		/*font-size: 38px;
		*/
		font-size: calc(2.375rem - .70rem)!important;
	}
	 .fz-40 {
		/*font-size: 40px;
		*/
		font-size: calc(2.500rem - .70rem)!important;
	}
	 .fz-42 {
		/*font-size: 42px;
		*/
		font-size: calc(2.625rem - .70rem)!important;
	}
	 .fz-44 {
		/*font-size: 44px;
		*/
		font-size: calc(2.750rem - .70rem)!important;
	}
	 .fz-46 {
		/*font-size: 46px;
		*/
		font-size: calc(2.875rem - .70rem)!important;
	}
	 .fz-48 {
		/*font-size: 48px;
		*/
		font-size: calc(3.000rem - .70rem)!important;
	}
	 .fz-50 {
		/* font-size: 50px;
		*/
		font-size: calc(3.125rem - .70rem)!important;
	}
	 .fz-56 {
		/* font-size: 56px;
		*/
		font-size: calc(3.5rem - .70rem)!important;
	}
	 .fz-60 {
		/* font-size: 60px;
		*/
		font-size: calc(3.750rem - .70rem)!important;
	}
	 .fz-64 {
		/* font-size: 64px;
		*/
		font-size: calc(4.250rem - .70rem)!important;
	}
	 .fz-70 {
		/* font-size: 70px;
		*/
		font-size: calc(4.375rem - .70rem)!important;
	}
	.fz-80 {
		/* font-size: 80px;
		*/
		font-size: calc(5rem - .70rem)!important;
	}
}